<div id="footer">
  <div class="container">
    <div class="footer_info">
      <p>Created by the <a href="https://cdrh.unl.edu">Center for Digital Research in the Humanities</a> with funding from the <a href="https://www.fordfoundation.org/">Ford Foundation</a> and the <a href="https://www.mellon.org/">Mellon Foundation</a>. </p>
      <div class="row">
        <div class="col-md-6 footer_logo footer_logo_ford">
           <a href="https://www.fordfoundation.org/" alt="Ford Foundation Logo" rel="external"><%= image_tag 'template/ford_logo_white.svg' %></a>
        </div>
        <div class="col-md-6 footer_logo">
           <a href="https://www.mellon.org/" alt="Mellon Foundation Logo" rel="external"><%= image_tag 'template/footer_logo_mellon.png' %></a>
        </div>
        <div class="col-md-offset-3 col-md-6 footer_logo">
           <a href="https://www.unl.edu/" alt="University of Nebraska-Lincoln Logo" rel="external"><%= image_tag 'template/NUNL.png' %></a>
        </div>
      </div>
    </div><!-- /footer_info -->
  </div> <!-- /container -->
</div><!-- /footer -->
