<ul class="internal_nav_tabs nav">
  <li class="<%= active?(inthenews_about_path) %>">
    <%= link_to "About", inthenews_about_path %>
  </li>
  <li class="<%= active?(inthenews_about_credits_path) %>">
    <%= link_to "Credits", inthenews_about_credits_path %>
  </li>
</ul>

