<div class="browse_categories">
  <% @facets["topics"].each_with_index do |(decade, count), index| %>

    <% class_no = (index+1)%4 + 1 %>
    <%= link_to prefix_path("search_path", { f: ["topics|#{decade}"] }), class: "display_callout display_callout_#{class_no}" do %>
      <%= decade %> <span class="badge badge-decade"><%= count["num"] %></span>
    <% end %>
  <% end %>
</div>
