<%# expecting the following variables

  header - description of what we're displaying
  collection - a hash of labels => count
  default_params - hash of params necessary for this view
    for example: poet page might always have person_id: 1
  query_param - a parameter that will be assigned in the link
  path - link helper path

%>

<h3><%= header %></h3>

<% if collection.blank? %>
  No <%= header.downcase %>
<% else %>
  <ul>
    <%# provide a handy way to view all results at once %>
    <li>
      <%= link_to "All #{header.downcase} results",
        send(path, default_params) %>
    </li>

    <% collection.each do |value, count| %>
      <li>
        <%= link_complex_li_item(value, count, path, query_param, default_params: default_params) %>
      </li>
    <% end %>
  </ul>
<% end %>
