<%# expects
    facet: the facet and query param in question
      like "topics" or "creator.name"
%>

<table>
  <tbody>
    <% collection = @facets[facet] %>
    <% collection.each do |label, count| %>
      <% label = "Unknown" if label.nil? %>
      <% url = prefix_path("search_path", { "f" => ["#{facet}|#{label}"] }) %>
      <tr>
        <td class="index_name"><%= link_to label, url %></td>
        <td class="index_spacer">
          <%= link_to url do %>
            <span></span>
          <% end %>
        </td>
        <td class="index_num"><%= link_to count["num"], url %></td>
      </tr>
    <% end %>
  </tbody>
</table>
