<%# expects
  label
%>

<%= form_with(url: prefix_path("search_path"), method: "get", local: true) do %>
  <%= label_tag(:q, label) %>
  <div class="input-group">
    <%= text_field_tag(:q, nil, class: "form-control", placeholder: "Search for...") %>
    <span class="input-group-btn">
      <%= submit_tag("Search", class: "btn btn-default") %>
    </span>
  </div>
<% end %>
