<%#
  expecting the following variables:

  item - single subject of current associations
  assoc - the active record association
  path - link helper path as symbol or string
%>

<% if item.send(assoc).present? %>
  <ul>
    <% item.send(assoc).each do |assoc_rec| %>
      <li>
        <%= link_simple_li_item(assoc_rec, path) %>
      </li>
    <% end %>
  </ul>
<% end %>
