<%#
  expecting the following variables:

  item - single subject of current associations
  label - header value
  assoc - the active record association
  path - link helper path as symbol or string
%>

<% if item.send(assoc).present? %>

  <h3><%= label %></h3>
  <ul>
    <% item.send(assoc).each do |assoc_rec| %>
      <li>
        <%= link_simple_li_item(assoc_rec, path) %>
      </li>
    <% end %>
  </ul>

<% end %>
