<h1 class="sectiontitle"><%= t "inthenews.title" %></h1>

<%= render "inthenews/top_include" %>

<h2>About</h2>

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et erat eu sem imperdiet euismod. Nulla eget elit quis ante eleifend pulvinar. Sed venenatis lorem id turpis accumsan sagittis. Integer at ante commodo, hendrerit metus luctus, fringilla lectus. Sed eu odio porttitor, ornare ligula fermentum, consequat ex. Suspendisse auctor lorem ut aliquet tempus. Vestibulum eu elit porta, dapibus felis sed, semper tellus. Quisque fermentum velit lorem, non volutpat enim facilisis sit amet. Etiam faucibus est eu urna commodo congue. Vivamus ornare sollicitudin felis. Aenean maximus velit pretium felis congue pharetra. Aliquam erat volutpat. Integer varius nibh et leo finibus dignissim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

<p> Vestibulum maximus tempor mi at vulputate. Sed non enim non ex luctus rhoncus ac ornare nulla. Suspendisse viverra massa nulla. Morbi commodo mi sed vestibulum tempus. Morbi accumsan odio in velit fringilla, vel molestie erat vehicula. Donec justo lorem, scelerisque eget varius et, consectetur sed dui. Ut efficitur facilisis turpis vel eleifend. Donec sed tortor turpis. Donec consequat ac lacus vitae posuere. Integer molestie euismod urna ac efficitur. In porttitor sodales lacus.</p>

<p> Maecenas id pulvinar tortor, ac tristique risus. Integer nec arcu non sem pretium placerat nec at orci. Praesent purus nisi, dignissim mattis lectus et, pellentesque ullamcorper lacus. Fusce auctor efficitur ornare. In et faucibus justo, non rutrum nulla. Vestibulum quis mollis dui, quis gravida arcu. Morbi mi mi, laoreet vitae dui ac, venenatis tincidunt magna. </p>
