<%= render_overridable "partials", "inthenews_title" %>

<h2 class="inthenews_head">Credits</h2>

<%= render "inthenews/about_nav" %>

<h4>Research Assistants</h4>
<ul>
	<li>Susie Rand. University of Nebraska.</li>
	<li>Claire Jimenez. University of Nebraska.</li>
</ul>

<h4>Contributors</h4>
<ul>
	<li>Jamaica Baldwin. University of Nebraska. Commentaries. 2020</li>
	<li>Saddiq Dzukogi. University of Nebraska. Commentaries. 2020</li>
	<li>Olufunke Ogundimu. University of Nebraska. Commentaries. 2020</li>
	<li>Jessica Poli. University of Nebraska. Commentaries. 2020</li>
	<li>Zainab Saleh. University of Nebraska. Commentaries. 2020</li>
</ul>
