<%= render_overridable "partials", "inthenews_title" %>

<h2>About</h2>

<p>The African Poetry in the News database will provide access to digitized Africana and news publications,  and will index news articles, interviews, images, reviews and any references to African poetics in African and British Newspapers.  The database will allow researchers to examine how depictions of African poetry in the news media have influenced and shaped perceptions of what African poetry is in the 21st century.  It will also facilitate and support current research relating to Poetry and Revolution, Race and Poetry, and Poetry and Migration as it relates to the African continent and cultures.</p>

<p>This first section of the African Poets and Poetry in the News <em>A survey of African Poetry in the London Times, Sunday Times, Financial Times, and the Times Literary Supplement 1865-1985</em>, provides an initial exploration of the  news, photographs, correspondence, speeches, events, obituaries, and other items printed in the UK Times news publications from 1865-1985.</p>
