<h1 class="sectiontitle"><%= t "inthenews.title" %></h1>

<%= render "inthenews/top_include" %>

<h2>Execution of Activist Ken Saro-Wiwa</h2>
<h3>Event Country:City:Date</h3>

<div class="row">
  <div class="col-md-7">
    <p><strong>Commentary:</strong> Ken Saro-Wiwa, Nigerian writer, activist and television producer  was executed by the military regime of General Sani Abacha  in Nigeria.  He devoted his life to fighting for the rights of the Ogoni  people , speaking out against the military regime and the Royal Dutch Shelll company for their involvement in the environmental damage to the Ogonilands and Rivers State. Soyinka's book "The Open Sore of a Continent"  explores the history of African through  the pivotal events that culminated in establishing  of General Sani Abacha and explores the history of Africa</p>

    <p><strong>Citation:</strong> "All the Trouble in the World." Financial Times, 2 Nov. 1996, p. XVI. Gale Primary Sources  Database.  http://link.galegroup.com/apps/doc/HS2305174558/GDCS?u=linc74325&sid=GDCS&xid=8b631052. Accessed 29 June 2019.</p>

    <div class="row">
      <div class="col-md-6">
        <h3>Access Details:</h3>
        <ul>
          <li>Database Holders or Print Holdings Locations</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3>Relationships</h3>

        <ul>
          <li>Dr. Mairi J. Blacklings</li>
          <li>U'Tamsi</li>
          <li>Awooner</li>
          <li>Marechera</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="well">
      <p><strong>All the  Trouble in the World - Dr. Mairi J. Blackings Comments on a bold exploration of the turmoil in Africa</strong> Excerpt</p>
    </div>
  </div>

</div>
