<h1>The African Poets and Poetry in the News</h1>

<p>Coming soon</p>

<p><strong>African Poets and Poetry in the News</strong> is a database of news articles and artifacts that are related to African poets and poetry. This digital project augments existing work on the history of African poetry and preserves news articles, interviews, images, reviews and any references to African poetry in major historical African Newspapers and also in British (colonial) Newspapers from 1865- 1985.</p>
 
<p><strong>African Poetry in the Mother Country: A Survey of African Poetry in the London Times, Sunday Times, the Financial Times and the Times Literary Supplement: 1865-1985</strong></p>

<p>The first section of African Poets and Poetry in the News gathers together documents and artifacts that offer an insightful view of how African poetry was portrayed through colonial British news from 1865-1985.</p>






