<h1 class="sectiontitle"><%= t "inthenews.title" %></h1>

<%= render "inthenews/top_include" %>

<h2>Arts Council Awards for Two Playwrights</h2>
<h3>Event Country:City:Date</h3>

<div class="row">
  <div class="col-md-7">

    <p><strong>Commentary:</strong> Lord Goodman, chairma of the Arts COucil is to present awards of £500 each to two playwights today. Wole Soyinka and Tom Stoppard are the first writer sto recceive the John Whiting Award, which is given tot British or Commonwelath playwrights for a play or plays, either read in script form or seen in production during the year, which show a new and distinctive development in dramatic writing
    </p>

    <p><strong>Citation:</strong> "Arts Council Awards for Two Playwrights." Financial Times, 30 June 1967, p. 26. Financial TimesHistorical Archive, http://link.galegroup.com/apps/doc/HS2302880646/GDCS?u=linc74325&sid=GDCS&xid=f0f260bf. Accessed 29 June 2019.</p>

    <div class="row">
      <div class="col-md-6">

        <h3>Access Details:</h3>
        <ul>
          <li>Gale Primary Source Database</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3>Relationships</h3>

        <ul>
          <li>Tom Stoppard</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="well">
      <p><strong>Arts Council Awards for two playwrights</strong></p>

      <p>Excerpt of the article</p>
    </div>
  </div>
</div>
