<h1>The African Poets and Poetry in the News</h1>

<%= render "inthenews/top_include" %>

<h2>News</h2>

<div class="row">
  <div class="col-md-5">
    
    <label for="exampleInput">Search News</label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->

    <p><br/>Select a news format to see the distribution of poetry news around the continent. Search by decade by sliding the timeline to see the distribution of poetry news publications in regions of Africa during that time period.</p>

    <!-- <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        News Format <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Book Review</a></li>
        <li><a href="#">Critical Article</a></li>
        <li><a href="#">Obituary</a></li>
        <li><a href="#">Event Announcement</a></li>
        <li><a href="#">Advertisement</a></li>
        <li><a href="#">Radio/TV Schedule</a></li>
        <li><a href="#">Published Poem</a></li>
        <li><a href="#">News Article</a></li>
      </ul>
    </div> -->

     <ul class="timeslider">
      <li>1864</li>
      <li>1920</li>
      <li>1900</li>
      <li>1940</li>
      <li>1960</li>
      <li>1980</li>
      <li>2000</li>
    </ul>
    <p>Search by decade by sliding the timeline.</p>

    <p><strong>Example Event Page</strong></p>
    <ul>
      <li><%= link_to "Arts Council Awards for Two Playwrights", inthenews_item001_path %></li>
    </ul>

  </div>

  <div class="col-md-5">
    <%= render "partials/map_africa" %>
  </div>

  <div class="col-md-2 inthenews_sidebar">
    <h3>News Format</h3>

    <ul>
      <li>Book Review (18)</li>
        <li>Critical Article (20)</li>
        <li>Obituary (32)</li>
        <li>Event Announcement (17)</li>
        <li>Advertisement (28)</li>
        <li>Radio/TV Schedule (12)</li>
        <li>Published Poem (55)</li>
        <li>News Article (32)</li>
    </ul>
  </div>
</div>






