<h1 class="sectiontitle"><%= t "inthenews.title" %></h1>

<%= render "inthenews/top_include" %>

<h2>Relationships</h2>

<div class="row">
  <div class="col-md-5">
    <p>Explanation of how to search and how to interpret the visualization</p>

    <!-- search box  -->
  </div>

  <div class="col-md-5">
    <p>Image</p>
    <p>Network diagram showing connections between all persons in the database</p>

  </div>

  <div class="col-md-2">
    <div class="well">
      Citations
    </div>
  </div>
</div>
