<h1>The African Poets and Poetry in the News</h1>

<%= render "inthenews/top_include" %>

 <h1 class="item_title">Wole Soyinka</h1>
  <h2 class="item_subtitle">
      Alternate names: Akinwande Oluwole Babatunde Soyinka
  </h2>
  <h3>Nigeria, Abeokuta. 1934</h3>

  <p><%= link_to "Go to Author Page", inthenews_wolesoyinkamain_path %></p>

  <h4>Political Events</h4>

  <ul>
    <li>The Execution of Activist Ken Saro-Wiwa</li>
    <li>Western Nigeria Regional Elections</li>
    <li>Take Over of the Western Nigeria Broadcasting Studio</li>
  </ul>
