<h1 class="sectiontitle"><%= t "inthenews.title" %></h1>

<%= render "inthenews/top_include" %>

 <h1 class="item_title">Wole Soyinka</h1>
  <h2 class="item_subtitle">
      Alternate names: Akinwande Oluwole Babatunde Soyinka
  </h2>
  <h3>Nigeria, Abeokuta. 1934</h3>

 <div class="row">
  <div class="col-md-7">
    <p>Soyinka took an active role in Nigeria's political history and its struggle for independence from Great Britain. In 1965, he seized the Western Nigeria Broadcasting Service studio and broadcast a demand for the cancellation of the Western Nigeria Regional Elections. In 1967, during the Nigerian Civil War, he was arrested by the federal government of General Yakubu Gowon and put in solitary confinement for two years.[5] [Cite and Link to Wikepedia Bio]
    </p>
    <div class="row">
      <div class="col-md-6">
        <h3>In the News</h3>

        <ul>
          <li>Book Reviews (2)</li>
          <li>Critical Articles (18)</li>
          <li>Event (5)</li>
          <li>Announcements (1)</li>
          <li>Published Poems(12)</li>
          <li>News Reports (5)</li>
          <li>Interviews(3)</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3>Events</h3>

        <ul>
          <li><strong><%= link_to "Political Events", inthenews_wolesoyinkaevents_path %></strong> (7)</li>
          <li>Professional Events(4)</li>
          <li>Social Events (6)</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <p class="well">Network Diagram showing the relationship with other Nigerian Poets, Mentioned Poets and Mentioned other.</p>

    <div class="row">
      <div class="col-md-6">
        <h3>Relationships</h3>

        <ul>
          <li>Dr. Mairi J. Blacklings</li>
          <li>U'Tamsi</li>
          <li>Awooner</li>
          <li>Marechera</li>
          <li>Breytonbach</li>
          <li>Rimbaud</li>
        </ul>
      </div>
    </div>
  </div>
</div>
