<h1 class="sectiontitle"><%= t "inthenews.title" %></h1>

<h2>Works - Not sure what this page should look like if we want it</h2>

<div class="row">

  <div class="col-md-5">
  
    <label for="exampleInput">Search Works (coming soon)</label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
    <%= link_to "Browse All Works", inthenews_search_works_path %>
  </div>
</div>
