<% if !params["f"].try(:any?) { |param| param.include?("spatial.short_name") } %>
  <%= search_result_item_field(locals[:item], "keywords", "Education") %>
  <%# note: below field needs to be parsed further %>

  <% if locals[:item]["subjects"] %>
    <div class="search_result_field">
      <% count = locals[:item]["subjects"].count %>
      News Items: <span><%= count %></span>
    </div>
  <% end %>
<% end %>
