<h2><%= t "about.title", default: "About" %></h2>

<%# t "about.contents_html" %>

<p>
Donec in ligula id orci ultrices porttitor vulputate fermentum risus. Morbi sit amet tristique tortor. Quisque ipsum metus, laoreet non orci id, convallis ultricies tellus. Aenean sed pellentesque est, finibus aliquam diam. Fusce mattis semper nulla, et lobortis justo euismod quis. Aenean sed sapien risus. Vivamus auctor ante erat. Nullam metus lectus, condimentum sed tristique sed, efficitur tempus augue. Donec cursus nibh tellus, et vestibulum sem malesuada vitae. Maecenas dapibus mattis tortor, egestas eleifend enim sollicitudin non. Nulla imperdiet arcu quis diam vestibulum, vel ultrices nisi posuere. Aliquam erat volutpat. Pellentesque mattis urna eu enim interdum, quis volutpat dolor tempus. Vivamus ante sem, lobortis aliquam sapien egestas, luctus euismod ex.
</p>
<p>
Phasellus non augue a sapien condimentum sodales a sit amet felis. Praesent tristique turpis augue. Aliquam facilisis non tellus a molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis felis ex, cursus at malesuada ac, auctor eu odio. Donec rhoncus purus a aliquam semper. Quisque pellentesque arcu sed sem facilisis, ac blandit tellus pharetra. Phasellus sed ante ac lacus venenatis suscipit at vitae metus. Fusce molestie posuere erat vel interdum.
</p>
<p>
Nullam sit amet turpis quis ipsum cursus mattis quis ac odio. Praesent suscipit malesuada nisl sit amet finibus. Vestibulum a tellus ac turpis fringilla vestibulum in sit amet nulla. Integer efficitur magna eget enim suscipit varius. Nunc orci velit, laoreet quis rhoncus nec, fringilla at velit. Vestibulum eu augue in turpis fringilla gravida vel nec tellus. Donec a ipsum lectus. Sed sit amet euismod felis. Aliquam sapien arcu, egestas eu laoreet vel, ultricies eget metus. Donec sit amet urna placerat, volutpat sapien sit amet, varius leo.
</p>
<p>
Vivamus rutrum libero vel leo porta posuere. Morbi tincidunt imperdiet aliquet. Integer pulvinar nulla non elit commodo, vitae pellentesque enim ultricies. Morbi faucibus felis ut magna rhoncus finibus. Proin facilisis, purus et accumsan faucibus, mi leo sagittis turpis, ac tincidunt quam nisi non magna. Nam nibh ex, ornare eget mauris ac, accumsan elementum quam. Nam mi nibh, placerat eu egestas vel, venenatis eget ligula.
</p>
