<h2>
    <p>The Life, Times, and Works: Digital Bibliographies</p>
</h2>

<p>General Introduction</p>
<p>“The Life, Times, and Works: Digital Critical Bibliographies of African Poets” are bibliographies on the works of some of Africa’s major poets. These bibliographies consist of primary sources and the work of scholars from around the world. The current project is designed in the spirit of the work of the African Poetry Book Fund, which seeks to develop mechanisms and practices that fill major gaps in the study and positionality of African poetry in the wider world. Each bibliography is created so as to ensure that a comprehensive and fully consolidated accounting of a select cluster of major African poets, most of whom would not have had such treatment of their work made available to scholars and writers, exists in an accessible and consistent space. The researchers augmented their own research with crowd-sourcing (through the use of a public “researchathon” for each poet) to create these bibliographies.</p>
<%= button_to "\"The Life, Times, and Works: Digital Bibliographies\"", "https://www.cdrh.reclaim.hosting/scalar/apdp/digital-bibliographies/index?t=1674844325855", :method => "get", :class => "btn btn-success" %>
