<h1>Digital Humanities Grant</h1>

<p>The <em>African Poetry Digital Portal Project</em> funded by a grant from the Andrew Mellon Foundation invites proposals from scholars and researchers for the <strong>African Poetry Digital Humanities Grant</strong>. These grants support Digital Humanities research in African Poetry. Applicants are encouraged to make use of the resources of the Portal, and in so doing expand the impact of the Portal in the broader community of African Digital Humanities Scholarship. Given the multifaceted nature of African poetry in terms of regional variance, performative elements, archival and textual complexity and range, and the work of African poetry within the fabric of contemporary and historical societies, proposals should take advantage of the range of possibilities afforded to a scholar in the field of Digital Humanities. To be considered, projects must use digital research methods or encompass scholarship that applies computing technologies in humanistic inquiry. Most importantly, African Poetry must be at the center of the research. </p>

<%#
<p><strong>Call for Proposals</strong></p> 
<p><strong>Deadline: June 16, 2023</strong></p>
<p><a class="btn btn-primary" rel="nofollow" href="https://africanpoetrybookfund.submittable.com/submit/1f81cf2c-b1af-439e-815e-74a595795718/african-poetry-digital-portal-digital-humanities-grant" role="button">Open Call Information and Application</a></p>

%>

<h2>First Humanities Grant Awarded to Dr. Ama Bemma Adwetewa-Badu</h2>

<p>The first APDP Digital Huamnities Grant was awarded (for 2022-2023) to Dr. Ama Bemma Adwetewa-Badu.  Her project: <em>Network Poetics: The Big World of African Little Magazines</em> is a work in progress.</p>

<h3>Project Abstract</h3>
<p>"Network Poetics: The Big World of African Little Magazines" examines African little magazines and turn the names, locations, and works of the poets, artists, and writers into metadata. This metadata will then be visualized through a network model to highlight the expansive nature of African little magazines. By visualizing the data, this project aims to examine how poetry took flight beyond the specificity of regionalism through the vehicle of the little magazine. In so doing, we aim to highlight the ways in which print culture has been a driving force for Black literary practices on the continent and throughout the diaspora. Researchers and users of the network model will be able to manipulate the visuals in order to answer key questions regarding national identity, language, translation, gender, and cultural themes that arise in the study of little magazines.</p>

<div class="dhgrant_image">
  <%= image_tag "https://user-images.githubusercontent.com/2342978/239352780-9a371ed7-9eba-41e2-8a64-81603994519f.jpg" %>
</div>

<h3>About Dr. Ama Bemma Adwetewa-Badu</h3>
<p>Dr. Ama Bemma Adwetewa-Badu is an Assistant Professor of Black Diasporic Literature and African Literatures in English at Washington University in St. Louis. Her research and teaching focus on topics including contemporary poetry, comparative approaches to Afro-diasporic culture and literature, cultural studies, digital literary cultures, and the digital humanities.</p>
<p><%= link_to "Read more about Dr. Adwetewa-Badu", "https://artsci.wustl.edu/faculty-staff/ama-bemma-adwetewa-badu" %></p>

