<h1>Digital Humanities Grant</h1>

<p>The <em>African Poetry Digital Portal Project</em>, funded by a grant from the Andrew Mellon Foundation, invites proposals from scholars and researchers for the <strong>African Poetry Digital Humanities Grant</strong>. These grants support Digital Humanities research in African Poetry.</p>

<p>Applicants are encouraged to make use of the resources of the Portal, and in so doing expand the impact of the Portal in the broader community of African Digital Humanities Scholarship. Given the multifaceted nature of African poetry in terms of regional variance, performative elements, archival and textual complexity and range, and the work of African poetry within the fabric of contemporary and historical societies, proposals should take advantage of the range of possibilities afforded to a scholar in the field of Digital Humanities. To be considered, projects must use digital research methods or encompass scholarship that applies computing technologies in humanistic inquiry. Most importantly, African Poetry must be at the center of the research. </p>

<p><%= link_to "Digital Humanities Projects", dhprojects_path, class: "btn btn-primary" %></p>

<%#
<h2 class="sectiontitle pt-3">Call for Proposals</h3> 
<p><strong>Deadline: June 16, 2023</strong></p>
<p><a class="btn btn-primary" rel="nofollow" href="https://africanpoetrybookfund.submittable.com/submit/1f81cf2c-b1af-439e-815e-74a595795718/african-poetry-digital-portal-digital-humanities-grant" role="button">Open Call Information and Application</a></p>
%>

<h2 class="sectiontitle pt-3">News and Announcements</h2>

<h3>Call for Proposals: African Poetry Digital Humanities Grants</h3>

<p>May, 2023</p>

<p>The African Poetry Digital Portal Project funded by a grant from the Andrew Mellon Foundation invites proposals from scholars and researchers for the African Poetry Digital Humanities Grant. These grants support Digital Humanities research in African Poetry.</p>

<p class="pb-1"><a href="https://africanpoetrybf.unl.edu/call-for-proposals-african-poetry-digital-humanities-grants/">2023 Call for Proposals</a></p>

<h3>First Digital Humanities Grant Awarded to Dr. Ama Bemma Adwetewa-Badu</h3>

<p>January, 2023</p>

<p>The first African Poetry Digital Humanities Grant was awarded (for 2022-2023) to Dr. Ama Bemma Adwetewa-Badu. Her project: Network Poetics: The Big World of African Little Magazines is a work in progress.</p>

<p class="pb-1"><%= link_to "Digital Humanities Projects", dhprojects_path %></p>

<h3>Call for Grant Proposals: African Poetry Digital Portal</h3>

<p>May, 2022</p>

<p>The African Poetry Digital Portal Project funded by a grant from the Andrew Mellon Foundation invites proposals from scholars and researchers for the African Poetry Digital Humanities Grant.  These grants support Digital Humanities research in African Poetry.</p>

<p class="pb-1"><a href="https://africanpoetrybf.unl.edu/call-for-grant-proposals-african-poetry-digital-portal/">2022 Call for Proposals</a></p>
