<h1>Digital Humanities Projects</h1>

<p>The <em>African Poetry Digital Portal Project</em>, funded by a grant from the Andrew Mellon Foundation, invites proposals from scholars and researchers for the <strong>African Poetry Digital Humanities Grant</strong>. These grants support Digital Humanities research in African Poetry.</p>

<p><%= link_to "About the African Poety Digital Humanities Grant", dhgrant_path, class: "btn btn-primary" %></p>

<div class="dh-projects">
  
  <h2 class="sectiontitle pt-3">Network Poetics: The Big World of African Little Magazines</h2>
  
  <p><strong>Dr. Ama Bemma Adwetewa-Badu</strong></p>
  
  <h3>Project Abstract</h3>
  
  <p>“Network Poetics: The Big World of African Little Magazines” examines African little magazines and turn the names, locations, and works of the poets, artists, and writers into metadata. This metadata will then be visualized through a network model to highlight the expansive nature of African little magazines. By visualizing the data, this project aims to examine how poetry took flight beyond the specificity of regionalism through the vehicle of the little magazine. In so doing, we aim to highlight the ways in which print culture has been a driving force for Black literary practices on the continent and throughout the diaspora. Researchers and users of the network model will be able to manipulate the visuals in order to answer key questions regarding national identity, language, translation, gender, and cultural themes that arise in the study of little magazines.</p>
  
  <div class="clearfix">
    <%= image_tag "dhprojects/ama-bemma-adwetewaw-badu.jpg", class: "dh-scholar-image", alt: "Dr. Ama Bemma Adwetewa-Badu" %>
    <h3 class="mt-2">About Dr. Ama Bemma Adwetewa-Badu</h3>
  
    <p>Dr. Ama Bemma Adwetewa-Badu is an Assistant Professor of Black Diasporic Literature and African Literatures in English at Washington University in St. Louis. Her research and teaching focus on topics including contemporary poetry, comparative approaches to Afro-diasporic culture and literature, cultural studies, digital literary cultures, and the digital humanities.</p>
    
    <p><a draggable="false" href="https://artsci.wustl.edu/faculty-staff/ama-bemma-adwetewa-badu">Read more about Dr. Adwetewa-Badu</a></p>
  </div>
  
  <div class="clearfix">
    <h2 class="sectiontitle pt-3">Kente and Kinship: Mapping the Engagement of Ghanaian Poets with African Descendants of Slavery in the United States through Poetry</h2>
    
    <p><strong>Myesha Jemison</strong>, PhD student, University of Cambridge</p>
    
    <h3>Project Abstract</h3>
    
    <p>The relationship between Africa and its diaspora is often centered around two major movements: 1) forced trans-Atlantic enslavement beginning in the early 1600s and 2) refugee and voluntary migration from the mid-1900s to contemporary times. In both periods, concepts of identity and kinship are integral. Historically, colonizers destroyed their captives’ sense of identity and kinship during the slave trade. Contemporarily, diasporans and Africans have sought to reconstruct their identities in relation to one another while also redefining notions of kinship. Through a geographical lens, this research project aims to explore how Ghanaian poets relate to diaspora and kinship in their poetry, as well as through their own travels. In this work, the term diasporans is scoped narrowly to focus on African Americans in the United States who are descendants of the trans-Atlantic slave trade.</p>
    
    <%= image_tag "dhprojects/myesha-jemison.jpg", class: "dh-scholar-image", alt: "Myesha Jemison" %>

    <h3>About Myesha Jemison</h3>
    
    <p>Myesha is a researcher, writer and creative based in the Department of History and Philosophy of Science at the University of Cambridge. She is also a graduate student fellow at the Leverhulme Centre for the Future of Intelligence. Myesha’s current doctoral research examines the use of digital technologies in sub-Saharan Africa, showing that the influence of media manipulation and fake news in elections in Nigeria, Kenya and South Africa have raised significant concerns about data privacy, surveillance, digital media, AI, and the rights and policies associated with each of these issues. On the one hand her project examines the ways that Africa has become a testing ground for technologies developed by cybersecurity and surveillance firms in China, Britain, Israel and other nations. On the other hand it analyses the critical policy issues this has raised, with African nations questioning EU models of digital governance.</p>
  </div>
    
  
  <div class="clearfix">
    <h2 class="sectiontitle pt-3">Kiswahili COVID-19 Pandemic Poetry in Digital Media in Kenya</h2>
    
    <p><strong>Dr. Kenneth Simala</strong></p>
    
    <h3>Project Abstract</h3>
    
    <p>This project investigates Kiswahili COVID-19 pandemic poetry in digital media in Kenya. The project examines the relationship between Kiswahili COVID-19 poetry in digital media and Kenyan society by situating the pandemic within its political, social, historical, ethical and cultural contexts. While the history of pandemics in Africa is reflected in poetry in different languages, and whereas pandemic poetry is an important epidemiological trope in times of crisis, humanities scholars have not explicitly theorized the evolution of Kiswahili COVID-19 pandemic poetry in digital media. The philosophical basis for the study is that Kiswahili COVID-19 poetry in digital media is an analogue by which meanings and significance of pandemics can be understood, constructed, reframed and re-appropriated to enact and capture lived realities and signify particular ways of sense making. It is argued that although COVID-19 poetry in Kiswahili is a new sub-genre, it is helping Kenyans comprehend encounter and experience with the pandemic.</p>
    
    <%= image_tag "dhprojects/kenneth-simala.jpg", class: "dh-scholar-image", alt: "Dr. Kenneth Simala" %>
    
    <h3>About Dr. Kenneth Simala</h3>
    
    <p>Dr. Kenneth Simala teaches Kiswahili at Masinde Muliro University in Kakamega, Kenya.</p>
  </div>
</div>