
<p class="lead home_para"><strong>The African Poetry Digital Portal</strong> is a project of the <a href="about_africanpoetrybookfund">African Poetry Book Fund</a>. The Portal  is a resource for the study of the history of African Poetry providing access to biographical information, artifacts, news, video recording, images and documents related to African poetry from antiquity to the present. It will also feature specially curated digital projects on various aspects of African poetry. </p>

</div>

<div class="home_illustration">
  <div class="container">
  </div>
</div>

<div class="container">

<div class="row home_callout_links">
  <%= link_to contemporarypoets_home_path do %>
    <div class="col-sm-6 home_callout home_callout_1">
      <p>Index of Contemporary African Poets</p>
    </div>
  <% end %>
  <%= link_to inthenews_home_path do %>
    <div class="col-sm-6 home_callout home_callout_2">
      <p>African Poets and Poetry in the News</p>
    </div>
  <% end %>
</div>

<p class="lead home_para">The first two sections of the portal—<a href="index_contemporarypoets">The Index of Contemporary African Poets</a> and <a href="inthenews">The African Poets and Poetry in the News</a> have been developed with the support of the <a href="https://www.fordfoundation.org/">Ford Foundation</a> and the <a href="https://www.fordfoundation.org/">Center for Digital Research in the Humanities</a> at the <a href="https://www.unl.edu/">University of Nebraska, Lincoln</a>.</p>

<p class="home_para"><%= link_to "Image Credit", about_homeabout_path(anchor: "splash_page_image") %><br/>
<a href="http://victorehi.com/">Victor Ehikhamenora</a>.  "Front of Card" 
</p>








