<script>
 
var countrylookup = {};

countrylookup = {
  "Algeria": "DZ",
  "Angola": "AO",
  "Benin": "BJ",
  "Botswana": "BW",
  "Burkina Faso": "BF",
  "Burundi": "BI",
  "Cameroon": "CM",
  "Central Africa": "CF",
  "Chad": "TD",
  "Congo (Brazzaville)": "CG",
  "Congo, Democratic Republic Of": "CD",
  "Cote d’Ivoire": "CI",
  "Djibouti": "DJ",
  "Egypt": "EG",
  "Equatorial Guinea": "GQ",
  "Eritrea": "ER",
  "Ethiopia": "ET",
  "Gabon": "GA",
  "Ghana": "GH",
  "Guinea": "GN",
  "Guinea-Bissau": "GW",
  "Kenya": "KE",
  "Lesotho": "LS",
  "Liberia": "LR",
  "Libya": "LY",
  "Madagascar": "MG",
  "Malawi": "MW",
  "Mali": "ML",
  "Mauritania": "MR",
  "Morocco": "MA",
  "Mozambique": "MZ",
  "Namibia": "NA",
  "Niger": "NE",
  "Nigeria": "NG",
  "Rwanda": "RW",
  "Senegal": "SN",
  "Sierra Leone": "SL",
  "Somalia": "SO",
  "South Africa": "ZA",
  "Sudan": "SD",
  "Swaziland": "SZ",
  "Tanzania": "TZ",
  "The Gambia": "GM",
  "Togo": "TG",
  "Tunisia": "TN",
  "Uganda": "UG",
  "Western Sahara": "EH",
  "Zambia": "ZM",
  "Zimbabwe": "ZW",
  "Cape Verde": "CV",
  "Mauritius": "MU",
  "Réunion": "RE",
  "Saint Helena": "SH-HL",
  "Sao Tome & Principe": "ST",
  "Seychelles": "SC"
};

// Create a version of the lookup where country code is first
var countrylookup_inverse = {};
for (var letter in countrylookup) {
    var code = countrylookup[letter];
    countrylookup_inverse[code] = letter;
}

var urlpiece = "search?f[]=places|"

// Hover over country names and highlight SVG
$(document).ready(function() {
  $(".country").hover(
    function () {
      var urlstring = $(this).text();
      var countrycode = countrylookup[urlstring];
      var lc_countrycode = countrycode.toLowerCase();
      // The following highlights both countries that are paths themselves 
      // and countries that are paths inside groups
      $( "svg path#" + lc_countrycode ).addClass("country_highlight");
      $( "svg #" + lc_countrycode + " path" ).addClass("country_highlight");
    },
    function () {
      var urlstring = $(this).text();
      var countrycode = countrylookup[urlstring];
      var lc_countrycode = countrycode.toLowerCase();
      $( "svg path#" + lc_countrycode ).removeClass("country_highlight");
      $( "svg #" + lc_countrycode + " path" ).removeClass("country_highlight");
    }
  );

  // Highlight country name when hovering over country that is path
  $("svg > g > path").hover(
    function () {
      var countrycode = $(this).attr('id');
      var countrycodematch = countrycode.toUpperCase();
      var countryname = countrylookup_inverse[countrycodematch];
      $(".country:contains(" + countryname + ")").addClass("highlight");
      $(this).addClass("svg_hover");
      // Testing code
      //$( "#testid" ).text(countryname);
      var href = countryname.replace(/ /g, '+');
      var fullurl = urlpiece + href

      window.status = "hello";
  //   }, function () {
  //       window.status = "";

    },
    function () {
      var countrycode = $(this).attr('id');
      var countrycodematch = countrycode.toUpperCase();
      var countryname = countrylookup_inverse[countrycodematch];
      $(".country:contains(" + countryname + ")").removeClass("highlight");
      $(this).removeClass("svg_hover");
    }
  );

  // Highlight country name when hovering over country that is a 
  // path inside a group
  $("svg > g > g").hover(
    function () {
      var countrycode = $(this).attr('id');
      var countrycodematch = countrycode.toUpperCase();
      var countryname = countrylookup_inverse[countrycodematch];
      $(".country:contains(" + countryname + ")").addClass("highlight");
      $(this).children("path").addClass("svg_hover");

      //$( "#testid" ).text(countryname);
    },
    function () {
      var countrycode = $(this).attr('id');
      var countrycodematch = countrycode.toUpperCase();
      var countryname = countrylookup_inverse[countrycodematch];
      $(".country:contains(" + countryname + ")").removeClass("highlight");
      $(this).removeClass("svg_hover");
      $(this).children("path").removeClass("svg_hover");
    }
  );

  $("svg > g > path").click(function() {
    var countrycode = $(this).attr('id');
    var countrycodematch = countrycode.toUpperCase();
    var countryname = countrylookup_inverse[countrycodematch];
    var href = countryname.replace(/ /g, '+');
    var fullurl = urlpiece + href

    window.location = fullurl;  
  });

  $("svg > g > g > path").click(function() {
    var countrycode = $(this).parent("g").attr('id');
    var countrycodematch = countrycode.toUpperCase();
    var countryname = countrylookup_inverse[countrycodematch];
    var href = countryname.replace(/ /g, '+');
    var fullurl = urlpiece + href

    window.location = fullurl;  
  });



// Cody to make things into links
  // $(".box1").click(function(){
  //       window.location = $(this).find("a:first").attr("href");
  //       return false;
  //   });

  //   // Show URL on Mouse Hover
  //   $(".box1").hover(function () {
  //       window.status = $(this).find("a:first").attr("href");
  //   }, function () {
  //       window.status = "";
  //   });

});

</script>

  <div class="row">
    <div class="col-sm-4">
      <ul class="country_list">
        <li class="country">Algeria</li>
        <li class="country">Angola</li>
        <li class="country">Benin</li>
        <li class="country">Botswana</li>
        <li class="country">Burkina Faso</li>
        <li class="country">Burundi</li>
        <li class="country">Cameroon</li>
        <li class="country">Central Africa</li>
        <li class="country">Chad</li>
        <li class="country">Congo (Brazzaville)</li>
        <li class="country">Congo, Democratic Republic Of</li>
        <li class="country">Cote d’Ivoire</li>
        <li class="country">Djibouti</li>
        <li class="country">Egypt</li>
        <li class="country">Equatorial Guinea</li>
        <li class="country">Eritrea</li>
        <li class="country">Ethiopia</li>
        <li class="country">Gabon</li>
        <li class="country">Ghana</li>
        <li class="country">Guinea</li>
        <li class="country">Guinea-Bissau</li>
        <li class="country">Kenya</li>
        <li class="country">Lesotho</li>
        <li class="country">Liberia</li>
        <li class="country">Libya</li>
        <li class="country">Madagascar</li>
        <li class="country">Malawi</li>
        <li class="country">Mali</li>
        <li class="country">Mauritania</li>
        <li class="country">Morocco</li>
        <li class="country">Mozambique</li>
        <li class="country">Namibia</li>
        <li class="country">Niger</li>
        <li class="country">Nigeria</li>
        <li class="country">Rwanda</li>
        <li class="country">Senegal</li>
        <li class="country">Sierra Leone</li>
        <li class="country">Somalia</li>
        <li class="country">South Africa</li>
        <li class="country">Sudan</li>
        <li class="country">Swaziland</li>
        <li class="country">Tanzania</li>
        <li class="country">The Gambia</li>
        <li class="country">Togo</li>
        <li class="country">Tunisia</li>
        <li class="country">Uganda</li>
        <li class="country">Western Sahara</li>
        <li class="country">Zambia</li>
        <li class="country">Zimbabwe</li>
      </ul>
    </div>
    <div class="col-sm-8">
      <%= render "general/map_africa" %>
    </div>
  </div>

  <div id="testid">Test</div>

