<h1 class="sectiontitle"><%= t "index_of_poets.title" %></h1>

<%= render "index_of_poets/about_nav" %>

<h2><%= @title %></h2>

<p>THE INDEX OF POETS is the first phrase of a project to create an enhanced index of African Poetry. This first phase focuses on African poets who have remained alive after 2000. Poets who were no longer living as of the year 2000 are not included in this iteration of the Index. This project limits entries in the index to poets who have published at least one book of poetry (including chapbooks). Self-published publications will be considered as long as they are fairly widely available in libraries, and for sale on digital platforms.</p>

<p>The sorting of the anthology by region and country maps onto the United Nations list of African countries and regions. National boundaries are often shifting, and even regions can be difficult to categorize. As such, this project looks to an external and internationally recognized source. Even so, the work to keep the map updated is also ongoing. Poets are listed by the country with which they primarily identify, to the best of the researchers’ knowledge, which is most often the country of birth.</p>

<p>The Herskovits Library of African Studies has almost 150 listings of African Anthologies. Some are school anthologies, and others are trade books with fairly decent listings of writers and poets. This is a critical source for the Index, and one that we really have not taken full advantage of largely because the primary goal of the first iteration of the index was the selection of quality work for the Anthology of African Poetry where the criteria includes critical standing and representation. This list of anthologies should harvest a necessary list of biographies of African poets who have appeared in anthologies during the period. We have included examples of a few entries that could yield useful results. These anthologies will be consulted as we expand the index. As is predictable, the list is dominated by South African poetry, and Nigerian poetry. The list is dominated by publications produced in the 1970s and 1980s with a few in the 1990s. The contemporary list is modest in comparison.</p>

<p>One of the challenges of identifying African presses that publish African poetry is that there are few of those, and most of those that have emerged are still largely vanity presses that, in some instances, are evolving into more traditional mainstream presses. In other instances, while there are presses emerging, they publish very little poetry and are more focused on fiction and non-fiction. Finally, while some presses do exist, they are difficult to locate, and their catalogues hard to access because of their fairly limited online presence. The few websites that do exist tend to be out of date. As is clear from this list, the bulk of the presses are based on South Africa and remain entirely focused on national literatures as is to be expected. This is a list of publishers of poetry in English. No doubt better lists exist in places like Sudan, Egypt, Tunisia, and Algeria for Arabic language poetry; and in Kenya and Zanzibar for Swahili language poetry. The list of Publishers is wholly sketchy and limited. Many African poets are published outside of Africa. The secondary list identifies just a few presses that have published at least one or two African poets in the US and the UK. None of these presses typically create sub-categories like African Poetry.</p>

<p>Initial research for this project began in the summer of 2016 and is ongoing, as new books are continuously published.</p>


<p>To share corrections or additional information, you may contact
  <a href="mailto:africanpoetrybf@unl.edu">africanpoetrybf@unl.edu</a>.
</p>
