<h1 class="sectiontitle"><%= t "index_of_poets.title" %></h1>

<%= render "index_of_poets/about_nav" %>

<h2><%= @title %></h2>

<p>The Index of Contemporary African Poets represents a comprehensive listing of contemporary African poets who have published full-length books and chapbooks in the last two decades, as well as the names and details of poets who have yet to publish a collection but who have had their work appear in journals and on web spaces. This is an ongoing project that will seek to be constantly up to date in terms of new poets who are emerging, creating a current and accessible Index of African poets writing in the contemporary period. At the same time, the project will seek to expand the index to include poets of each past decade in manageable and relevant increments. The goal is to create an Index of African Poets: Index of African Poets 1990s; Index of African Poets 1980s; Index of African Poets 1970s; Index of African Poets 1960s; Index of African Poets 1950s etc.</p>

<p>Criteria for Inclusion in this first section:</p>

<ul>
	<li>Each poet had at least one full-length collection of poems published by a recognized publishing house. While self-published work will not disqualify a poet, it will be considered only under extraordinary circumstances. Similarly, pamphlets and chapbooks will be considered in extraordinary circumstances. </li>
	<li>All work included in the Index is in English. Work already translated into English from another language is eligible for inclusion. </li>
	<li>Priority will be given to those poets who are either still living or can be reasonably regarded as contemporary. </li>
	<li>The editors will understand the term "African" to refer to poets who were born in Africa, who are nationals or residents of an African country, or whose parents are African.</li>
	<li>All poets included should have been alive on or after January 2000. Exceptions will be made for regional representations and other significant factors (gender, sexuality, etc.)</li>
</ul>

<h3>Regions</h3>

<h4>EASTERN AFRICA (Editors: Tsitsi Jaji, Major Jackson)</h4>

<p>Burundi * Comoros * Djibouti * Eritrea * Ethiopia * Kenya * Madagascar * Malawi * Mauritius * Mayotte * Mozambique * Reunion * Rwanda * Seychelles * Somalia * Tanzania, United Republic of * Uganda * Zambia * Zimbabwe</p>

<h4>MIDDLE AFRICA (Editors: Lokangaka Losamba, Tsitsi Jaji)</h4>

<p>Angola * Cameroon * Central African Republic * Chad * Congo (Brazzaville) * Congo, Democratic Republic of the * Equatorial Guinea * Gabon * Sao Tome and Principe</p>

<h4>WESTERN AFRICA (Editors: Helen Yitah, Chris Abani)</h4>

<p>Benin * Burkina Faso * Cape Verde * Cote d'Ivoire (Ivory Coast) * Gambia * Ghana * Guinea * Guinea-Bissau * Liberia * Mali * Mauritania * Niger * Nigeria * Saint Helena * Senegal * Sierra Leone * Togo</p>

<h4>NORTHERN AFRICA (Editors: Matthew Shenoda, Major Jackson)</h4>

<p>Algeria * Egypt * Libyan Arab Jamahiriya * Morocco * South Sudan * Sudan * Tunisia * Western Sahara</p>

<h4>SOUTHERN AFRICA (Editors: Gabeba Baderoon, Bernardine Evaristo)</h4>

<p>Botswana * Lesotho * Namibia * South Africa * Swaziland</p>

<h4>AFRICAN DIASPORA (Editors: Kwame Dawes, Bernardine Evaristo)</h4>

<p>Since Africans now live all over the world, the editors will make every effort to ensure that poets fitting the criteria of "Africa" as outlined below that are eligible for inclusion, are considered.</p>
