<h1 class="sectiontitle"><%= t "index_of_poets.title" %></h1>

<%= render "index_of_poets/about_nav" %>

<h2><%= @title %></h2>

<h3>Web Portals</h3>
<h4>Badilisha Poetry Exchange</h4>
<p>
  <a href="http://badilishapoetry.com/">http://badilishapoetry.com/</a>
</p>

<p>Badilisha Poetry X-Change is both an online audio archive and Pan-African poetry show delivered in radio format. Now the largest online collective of African poets on the planet, Badilisha has showcased and archived over 500 Pan-African poets from 28 different countries. It reflects the myriad of rhythms and rhymes, voices, perspectives and aspirations from all corners of the globe.</p>


<h4>Poetry International Rotterdam</h4>
<p>
  <a href="https://www.poetryinternational.org/pi/countries/en/tile">https://www.poetryinternational.org/pi/countries/en/tile</a>
</p>

<p>For 50 years Poetry International has featured poets from all around the world including many African countries. Their archive contains bios, occasional individual poems in English the translation and Dutch translation of poets who have performed at festival over the years. In some cases, they have done special featured events on African poetry which have added to the list of poets even though they have not attended the festival. Their Festival Archive dates back to 1970 and lists all the visiting poets by country.</p>



<h4>Poetry Translation Center</h4>
<p>
  <a href="https://www.poetrytranslation.org/about">https://www.poetrytranslation.org/about</a>
</p>

<p>The center was established in 2004 and devotes its work to updating this free archival site of poetry translated into English primarily from Latin America, the Middle East, Asia and Africa. The following African countries are represented. This is not a comprehensive e source of African poetry as each entry per country is relatively modest. Nonetheless it is an important source to identify non-English poets from African whose work may have been translated into English. The following countries are listed:</p>

<ul>
  <li>Nigeria</li>
  <li>South Africa</li>
  <li>Somalia</li>
  <li>Cameroon</li>
  <li>Zanzibar</li>
  <li>Tanzania</li>
  <li>Western Sahara</li>
  <li>Mozambique</li>
  <li>Kenya</li>
  <li>Eritrea</li>
  <li>Ethiopia</li>
  <li>Egypt</li>
  <li>Congo</li>
  <li>Cape Verde</li>
</ul>

<h4>African Poetry Review (USA)</h4>
<p>
  <a href="http://african-poetry.blogspot.com/">http://african-poetry.blogspot.com/</a>
</p>

<p>This is an online literary journal that has existed since 2007. It however, seems to have gone silent in 2014. They clearly have a fairly decent index of African poets as they feature “birthdays of note” column listing African poets and links (likely to Wikipedia)</p>


<h4>Universe United Nations of Poetry</h4>
<p>
  <a href="https://urldefense.proofpoint.com/v2/url?u=https-3A__www.universeofpoetry.org_poets.shtml&amp;d=DwMFaQ&amp;c=Cu5g146wZdoqVuKpTNsYHeFX_rg6kWhlkLF8Eft-wwo&amp;r=-6HFjkTtOGltmsC36XBzmQ&amp;m=pAJyPXU8FmuXxcE74LWCutFdiTSOnhia-nSnisKddBE&amp;s=wxCwQBBE9dR-Kz8_A2EXz8DPEZ0SvaG-xXS6KQQosaQ&amp;e=">https://www.universeofpoetry.org/poets.shtml</a>
</p>


<h3>Libraries</h3>

<h4>Melville J. Herskovitz Library of African Studies</h4>

<p>The Herskovits Library is a reliable site for identifying African poetry in the US. The search engine is useful and the holding appears to be fairly up to date as it includes the most recent APBF titles. Its archive of antiquities is also handy, though not for this purpose. It is a useful way to confirm publication records of African poets.</p>

<p>
  <a href="https://search.library.northwestern.edu/primo-explore/search?query=any,contains,dema&amp;tab=default_tab&amp;search_scope=africana_library&amp;vid=AFRINEW&amp;offset=0">https://search.library.northwestern.edu/primo-explore/search?query=any,contains,dema&amp;tab=default_tab&amp;search_scope=africana_library&amp;vid=AFRINEW&amp;offset=0</a>
</p>

<p>Other libraries with significant holdings in African literature include the following:</p>

<ul>
  <li>Boston University African Studies Library</li>
  <li>University of Wisconsin-Madison African Collection</li>
  <li>African Studies Library at Columbia University</li>
  <li>African Studies Centre Leiden</li>
  <li>Cornell University Library John Henrik Clarke Africana Library</li>
  <li>Stanford University Africana Libraries</li>
  <li>UC-Berkeley Africana Library Collections</li>
  <li>Georgetown University Library African Digital Library</li>
  <li>Cambridge University Centre of African Studies Library</li>
</ul>

<h3>African Poetry Anthologies</h3>

<p>The Herskovits Library of African Studies has almost 150 listings of African Anthologies.</p>

<p><em>Zimbolicious: Poetry Anthology</em></p>

<p>Mankon, Bamenda : Langaa Research &amp; Publishing CIG,2016-</p>
<p>Available at Main Library Herskovits Library - 5 East (PR9390.6 .Z56 2016 )</p>

<p><em>We are--- : a poetry anthology</em></p>

<p>Natalia Molebatsi</p>
<p>Johannesburg : Penguin , 2008</p>

<p><em>When the pen is pregnant : a poetry anthology</em></p>

<p>Seleme, Mapheto Confidence, author.</p>
<p>Soshanguve East : Winepress Library Publications Pty Ltd , [2013]</p>

<p><em>3000 years of black poetry; an anthology,</em></p>
<p>Lomax, Alan, 1915-2002, comp.</p>
<p>New York, Dodd, Mead , [1970]</p>

<p><em>Anthology of modern Sudanese poetry.</em> Ahmed, Osman Hassan. (Washington, D.C. : Office of the Cultural Counsellor, Embassy of the Democratic Republic of the Sudan, 1982)</p>

<p><em>120 nuances d’Afrique.</em>L’anthologie du 19ème Printemps des Poètes établie par Bruno Doucey. (Nimrod et Christian Poslaniec)</p>

<p><em>Somehow We Survive: An Anthology of South African Writing</em></p>

<p><em>The Heinemann Book of African Poetry in English</em></p>

<p><em>The Penguin Book of Modern African Poetry</em></p>

<p><em>Where My Brothers Come Home: Poems from Central and Southern Africa</em></p>

<p><em>Reflections: An Anthology of New Works by African Women Poets</em></p>

<p><em>Poems for the Millennium: The University of California Book of North African Literature</em></p>

<p><em>Angry Voices: An Anthology of the Off-Beat New Egyptian Poets</em></p>

<p><em>New Daughters of Africa: An International Anthology of Writing by Women of African Descent</em></p>

<p><em>The Penguin Book of Southern African Verse</em>, ed Stephen Gray (Penguin, 1989)</p>

<p><em>Botsotso: an anthology of contemporary South African poetry</em>, ed Allan Kolski Horwitz &amp; Ken Edwards (Reality Street, 2009)</p>

<p><em>The New African Poetry: An Anthology</em>, ed Tanure Ojaide &amp; Tijan M. Sallah (Lynne Rienner Pub, 1999)</p>

<p><em>Best “New” African Poets 2015 Anthology</em>, ed Tendai R Mwanaka &amp; Daniel da Purifacacao (Langaa RPCIG, 2015)</p>

<p><em>The Heritage of African Poetry</em>, ed Isidore Okpewho (Longman, 1993)</p>

<p><em>State of the Nation: Contemporary Zimbabwean Poetry</em>, ed Tinashe Mushakavanhu &amp; David Nettleingham (Conversation Paperpress, 2009)</p>

<p><em>Home Is Where the Mic Is: 24 Poets of the Page &amp; Stage</em>, ed Mandi Poefficient Vundla &amp; Allan Kolski Horwitz (Botsotso, 2015)</p>

<p><em>Poems from Black Africa</em>, ed Langston Hughes (Indiana UP, 1963)</p>

<p><em>Angry Voices: An Anthology of the Off-Beat New Egyptian Poets</em>, trans/ed Mohamed Enani (Arkansas UP, 2003)</p>

<p><em>Poems from East Africa</em>, ed David Cook &amp; David Rubadiri (Heineman, 1976)</p>

<p><em>FonTomFrom: Contemporary Ghanaian Literature, Theater and Film</em>, ed Kofi Anyidoho &amp; James Gibbs (Rodopi, 2000)</p>

<p><em>Echoes of the Sunbird: An Anthology of Contemporary African Poetry</em>. (Ohio University Center for International Studies, 1993)</p>

<p><em>The Heinemann Book of African Women’s Poetry</em>. (Heinemann, 1995)</p>

<p><em>New African Poetry: An Anthology</em>.(Three Continents, 2000)</p>

<p><em>The Trickster's Tongue: An Anthology of Poetry in Translation from Africa and the African Diaspora, with Introduction, Commentary and Bibliography</em>.Ed. Mark De Brito (Peepal Tree, 2006)</p>

<p><em>Bending The Bow: An Anthology of African Love Poetry</em>. (Southern Illinois University Press, 2009)</p>

<p><em>An Anthology of New Work by African Women Poets</em>. (Lynne Rienner Publishers, 2013)</p>

<p><em>Whispers from Africa: A Poetry Anthology</em>.Ed. Patrick Onyekachukwu Udeh(Raccoon Publishers, 2014)</p>

<p><em>Poetry in Africa: African Literature Today</em>. (James Currey, 2015)</p>

<p><em>Other Worlds Untold: An Anthology of African Poetry</em>. Runesu Chazvemba (Partridge Africa, 2016)</p>

<p><em>Best “New” African Poets 2017 Anthology</em>. Ed. Tendai Rinos Mwanaka, Daniel da Purificação (2017)</p>

<p><em>20.35 Africa: An Anthology of Contemporary Poetry</em>, Brittle Paper</p>

<p><em>BreakBeat Poets Vol. 2: Black Girl Magic</em> (Haymarket Books, 2018)</p>

<p><em>To Breathe Into Another Voice: A South African Anthology of Jazz Poetry</em>. Ed. MoAfrika 'aMokgathi, Ayanda Billie, Gary Cummiskey (Real African Publishers, 2018)</p>


<h3>Publishers</h3>

<h4>English</h4>

<ul>
  <li>AmaBooks (Zimbabwe)</li>
  <li>Afram Publications (Ghana)</li>
  <li>Africa World Press (US)</li>
  <li>African Poetry Book Fund/ Akashic Books/ University of Nebraska Press</li>
  <li>Ayebia Clarke Publishing (UK)</li>
  <li>Beacon Books (Nigeria)</li>
  <li>Black Letter Media</li>
  <li>Botsotso (South Africa)</li>
  <li>Cissus World Press (US)</li>
  <li>Casssava Republic</li>
  <li>Deep South Press (South Africa)</li>
  <li>Dryad Press (South Africa)</li>
  <li>Heinemann Books Penguin Books (South Africa/ Nigeria)</li>
  <li>Impepho Press (South Africa)</li>
  <li>Kachifo (Nigeria)</li>
  <li>Kraft Books (Nigeria)</li>
  <li>LAPA Uitgewers</li>
  <li>Modjaji Books (South Africa)</li>
  <li>Okada Books (Nigeria)</li>
  <li>Ouida Books (Nigeria)</li>
  <li>Parresia Publishers (Nigeria)</li>
  <li>Sevhage Publishers (Nigeria)</li>
  <li>Uhlanga Press (South Africa)</li>
  <li>UNISA (University of South Africa Press)</li>
  <li>WriteHouse Collective (Nigeria)</li>
</ul>

<h4>Francophone</h4>

<ul>
  <li>Editions Akpagnon</li>
  <li>Nouvelles Editions Africaines du Sénégal</li>
  <li>Le bruit des autres</li>
  <li>L'Harmattan (Paris)</li>
  <li>Trois-Rivières(Quebec)</li>
  <li>Alfabarre (Paris)</li>
  <li>Vents d’ailleurs (La Roque-d’Anthéron</li>
  <li>Éditions Bruno Doucey (Paris)</li>
</ul>
