$gray-lightish: #aaa;
$screen-tablet: 720px;

@import "bootstrap-variables";

// temporary, until orchid is changed to not show language link

.language_link {
  display: none;
}


// ------------
// HTML
// ------------

body {
  background-image: image-url("template/funky-lines.png"); 
  height:100%;
}

h2, .h2 {
  font-weight: 100;
}

h1, .h1 {
  font-weight: 900;
}

#body-wrapper {
  display:flex;
  flex-direction:column;
  height:100%;
  min-height: 100vh;
}

#content-wrapper, .home_container {
  background-color: rgba(255,255,255,.7);
  flex-grow:1;
  margin-bottom: 2em;

}

#content-wrapper {
  padding-top: 20px;
}

//overwriting bootstrap default

.nav > li {
  display: inline-block;
}

.lead {
  font-size: 1.3em;
}

.navbar {
  margin-bottom: 0;
}

// ------------
// Site Wide code
// ------------

// Callouts

a .home_callout {
  color: $gray-base;
  font-size: 1.2em;
  text-align: center;
}

.home_callout {
  min-height: 8em;
  background-color: $brand-success;
  p {
    background-color: rgba(255,255,255,.8);
    margin: 1em;
    padding: .5em;
    z-index: 2;
  }
}

.home_callout_1 {
  background-color: $brand-success;
  background-image: image-url("home/stripes-light.png");
  box-shadow: inset 0 0 0 1000px rgba($brand-success,.9);
  &:hover {
    box-shadow: inset 0 0 0 1000px rgba($brand-success,.7);
    p {
      border-bottom: solid 20px $brand-success;
    }
  }
}

.home_callout_2 {
  background-color: $brand-primary;
  background-image: image-url("home/memphis-mini.png");
  box-shadow: inset 0 0 0 1000px rgba($brand-primary,.9);
  &:hover {
    box-shadow: inset 0 0 0 1000px rgba($brand-primary,.7);
    p {
      border-bottom: solid 20px $brand-primary;
    }
  }
}

.home_callout_3 {
  background-color: $brand-warning;
  background-image: image-url("home/tiny-squares.png");
  box-shadow: inset 0 0 0 1000px rgba($brand-warning,.9);
  &:hover {
    box-shadow: inset 0 0 0 1000px rgba($brand-warning,.7);
    p {
      border-bottom: solid 20px $brand-warning;
    }
  }
}

.home_callout_4 {
  background-color: $nav-accent;
  background-image: image-url("home/country-quilt.png");
  box-shadow: inset 0 0 0 1000px rgba($nav-accent,.9);
  &:hover {
    box-shadow: inset 0 0 0 1000px rgba($nav-accent,.7);
    p {
      border-bottom: solid 20px $nav-accent;
    }
  }  
}

.home_callout_5 {
  background-color: $nav-accent;
  background-image: image-url("home/swirl_pattern.png");
  box-shadow: inset 0 0 0 1000px rgba($brand-info,.9);
  &:hover {
    box-shadow: inset 0 0 0 1000px rgba($brand-info,.7);
    p {
      border-bottom: solid 20px $brand-info;
    }
  }
}

// Header

#header {
  text-align: center; 

  a:hover {
    text-decoration: none;
  }
}

.site-title-container {
  background-color: rgba(255,255,255,.6 );
  box-shadow: 0px 0px 14px 0px rgba(255,255,255,.6 );
  line-height: 1em;
  padding: 1em;

  .h1, .h2 {
    margin: 0;
    padding: 0;
  }

$site-title-shadow: darken($brand-info, 30%);
  .site-title {
    font-size: 1.5em;
    text-shadow:
      -4px 4px 0 rgba($site-title-shadow, .2);
  }

  .site-subtitle {
    color: mix($brand-primary, $gray-base, 80%);
    display: block;
    font-size: 1em;
  }
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

// Footer 

#footer {
  background-color: $gray-base;
  color: white;
  margin-bottom:0;
  padding-bottom: 2em;
  text-align: center;
  
  a {
    color: white;
    text-decoration: underline;
  }
  p {
    margin: 1em 0;
  }

}

.footer_logo {
  text-align: center;
   img {
    max-width: 50%;
  }
}

.footer_logo_ford {
 margin: 1em 0;
}

// ------------
// Individual Pages
// ------------

// Author pages

.author_data {
    margin-bottom: 1.8em;
    margin-top: .5em;
  h4 {
    margin-top:-.15em;
  }
}

@media (min-width: $screen-tablet) {
  .author_cathead {
    text-align: right;
  }
}

@media (min-width: $screen-tablet) {
  .author_catdata {
    border-left: 4px solid $gray-lightish;
  }
}

// Item page (currently CAP only)

.item_title {
  text-align: center;
  padding-bottom: 0;
}

.item_subtitle {
  text-align: center;
  margin-top:0;
  padding-top: 0;
  font-size: 1.8em;
}

.browse_div .tab-pane {
  display: flex;
}

.table_geo, .browse_map {
  width: 50%;
}

.metadata {
  margin-top: 40px;
  flex-grow: 1;
}

.poet_metadata_contain {
  display: flex;
}

.poet_image img {
  border: 2px solid #aaa;
  max-height: 400px;
}

// Region/Country map

svg {
  width: 100%;
}

// Country Styling

svg path:nth-child(9n + 1) {
  fill: $brand-primary;
}
svg path:nth-child(9n + 2) {
  
  fill: $nav-accent;
}
svg path:nth-child(9n + 3) {
  fill: $brand-warning;
}
svg path:nth-child(9n + 4) {
  fill: mix($brand-success, #fff, 80%);
}
svg path:nth-child(9n + 5) {
  fill: mix($brand-warning, #fff, 70%);
}
svg path:nth-child(9n + 6) {
  fill: mix($brand-warning, #000, 70%);
}
svg path:nth-child(9n + 7) {
  fill: $brand-success;
}
svg path:nth-child(9n + 8) {
  fill: mix($brand-success, #000, 80%);
}
svg path:nth-child(9n + 9) {
  fill: mix($brand-primary, #000, 75%);
}

svg path#bf {
  fill: mix($nav-accent, #000, 80%);
}

svg #sl path,
svg path#cd {
  fill: $brand-warning;
}

svg #gq path {
  fill: mix($brand-warning, #fff, 70%);
}

svg path#za {
  fill: mix($brand-primary, #000, 75%);
}

svg #ng path {
  fill: $brand-primary;
}

// Styles pulled from Wikipedia SVG

svg path.circle {
  fill-opacity:.5;
  fill: $brand-primary;
  opacity: 0;
  opacity:.5;
  stroke-dasharray:none;
  stroke-opacity:.5;
  stroke-width:10;
  stroke: $brand-primary;
}

// Hide Island countris for now 

#es-cn, #cv, #st, #km, #mu, #sc {
  display: none;
}

// Land

.land {
  stroke-dasharray: none;
  stroke-miterlimit: 3.97446823;
  stroke-opacity: 1;
  stroke-width: 0.6;
  stroke: black;
}

//Styles for coastlines of islands with no borders

.coast {
  stroke-width: 0.3;
}

// Remove european territories (i.e. Madeira, Reunion etc.)
// Hiding these for now

svg path.sh, 
svg path.pt-30, 
svg path.es-cn, 
svg path.yt, 
svg path.re {
  opacity: 0;
}

// African Poets and Poetry in the News

.timeslider {
  background-color: rgba($brand-success,.1);
  border-bottom: solid 2px #aaa;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 1.4em 0 0 0;
  padding: 0;
  li {
    display: inline-block;
    flex-basis: 1;
    margin: 0;
    padding: 0;
  }
}

.inthenews_sidebar {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: .9em;

  }
}

/* TODO this and others like it should only
   be applied to the inthenews section */
.search-results-item {
  border-top: $brand-info solid 2px;
  padding: 8px 0px;
}

// Home Page

.site_home {

  .navbar-default {
    border: none;
  }

  #header {
    background-color: $brand-info;
    background-image: image-url("home/swirl_pattern.png");
    box-shadow: inset 0 0 0 1000px rgba($brand-info,.9);

    .site-subtitle {
      display: none;
    }
  }

  .home_illustration {
    background-image: image-url("home/Portal_Cover_cropped.jpg");
    background-position: top;
    background-size: cover;
    border-left: none;
    border-right: none;
    border: solid 1px $brand-info;
    height: 350px;
    z-index: -1;
  }

  .home_callout_links {
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,1);
    margin-bottom: 20px;
    margin-top: -50px;
  }

  #content-wrapper {
    background-color: transparent;
    margin-bottom: 30px;
  }

  .home_para {
    background-color: rgba(255,255,255,.6 );
    box-shadow: 0px 0px 14px 0px rgba(255,255,255,.6 );
    padding: 20px;
    text-align: center;
  }

  .site-title-container {
    background: none;
    box-shadow: none;

    .site-title {
      color: #fff;
      margin-bottom: 50px;
      margin-top: 20px;
    }
  }
}
