@import "bootstrap-variables";

$gray-lightish: #aaa;
$screen-tablet: 720px;

$headerfont: 'PT Sans Narrow', sans-serif;
$buttonfont: $font-family-sans-serif;

// ------------
// HTML
// ------------

body {
  //background-image: image-url("template/funky-lines.png");
  background-color: #fff; 
  height: 100%;
}

// add link underlines back in, then remove from parts of page
a {
  text-decoration: underline;
  &:hover {
    text-decoration-color: $brand-info;
    text-decoration-thickness: 2px;
  }
}

#header a, #footer a, a.btn, .browse_categories a, .panel a,
.home_callout_links a, .callouts a,  .inthenews_bg_info > a {
  text-decoration: none;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6,
label {
  font-family: $headerfont;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: square;
}

a.btn, .btn, input {
  font-family: $buttonfont;
}

#body-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

#content-wrapper, .home_container {
  background-color: rgba(255,255,255,.7);
  flex-grow: 1;
  margin-bottom: 0;
}

#content-wrapper {
  padding-top: 20px;
}

//overwriting bootstrap default
.nav > li {
  display: inline-block;
}

.lead {
  font-size: 1.3em;
}

#header {
  background-color: $brand-info;
  text-align: center; 

  .site-subtitle {
    display: none;
  }
  
  a:hover {
    text-decoration: none;
  }
}

// --------
// Header
// --------

.site-title-container {
  display: flex;
  padding: 0;
  text-align: right;
  width: 100%; 

  .site-title {
    color: black;
    display: block;
    float: right;
    font-family: "PT Sans Narrow";
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1em;
    margin: 0 -170px 0 0;
    padding: .3em .5em 0 0;
    text-align:  right;
    text-shadow: 0px 0px 4px #FFFFFF, 0px 0px 8px #FFFFFF;
    width: 2.9em;
    z-index: 400;
  }
}

.site-title-container01 { //left box, background transparent to show blue
  flex-grow: 2;
  min-width: 1em;
}

.site-title-container02 { // Where actual site title is
  align-items: center;
  display: flex;
  flex-grow: 0;
  z-index: 400;
  
  h1, .h1 {
    font-size: inherit;
  }
}

.site-title-container03 {
  flex-grow: 0;
  z-index: 300;
}

.site-title-container04 { //right box, background white
  background-color: white;
  display: block;
  flex-grow: 2;
}

.apdp_logo img {
  max-height: 10em;
}

// logo more like their mockup when small, white bigger text when large
@media (min-width: 768px) { 
  .site-title-container .site-title {
    color: white;
    display: block;
    font-size: 3.5em;
    margin: 0 .5em 0 0;
    padding: 0;
    text-align: center;
    text-shadow: none;
    width: auto;
  }
}

// navbar and section navbar
.navbar {
  border: none;
  font-family: $font-family-sans-serif;
  margin-bottom: 0;
  a:hover{
    text-decoration: underline !important;
  }
}

.navbar-main {
  background-color: $gray-light;
}

.navbar-section.navbar {
  min-height: 25px;

  a {
    padding: 5px 10px;
  }
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

// Footer 

#footer {
  background-color: $gray-base;
  color: white;
  margin-bottom:0;
  margin-top: 3em;
  padding-bottom: 2em;
  text-align: center;
  
  a {
    color: white;
    text-decoration: underline;
  }
  p {
    margin: 1em 0;
  }

}

.footer_logo {
  text-align: center;
  img {
    max-width: 50%;
  }
}

.footer_logo_ford {
  margin: 1em 0;
}

// ------------
// Site Wide code
// ------------

// About and DH grant

@media (min-width: $screen-tablet) {
.dhgrant_image {
  max-width: 40%;
  float: right;
  margin: 10px 0 20px 20px;
}
}

// Callouts

a .home_callout {
  color: $gray-base;
  font-size: 1.2em;
  text-align: center;
}

.col-sm-6.home_callout {
  padding: 0;
}

.home_callout {
  
  p {
    align-items: center;
    background-color: $brand-success;
    color: white;
    display: flex;
    font-family: $buttonfont;
    font-size: .9em;
    font-weight: 100;
    justify-content: center;
    line-height: 1.1em;
    margin: .1em .1em .1em .1em;
    min-height: 4em;
    padding: .3em .3em .3em .3em;
    vertical-align: middle;

    &:hover {
      background-color: darken($brand-success, 15%);
    }
  }
}

// Used on Index and CAP page for full width browse option
.home_callout_5_span, .home_callout.home_callout_3 {
  padding-right: 0;
  padding-left: 0;
}

// Changing to be flex base, currently only used on CAP "featured"
.callouts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    width: 33%;
  }
} 

// Generic Callouts (In the news browse, for instance)

$callout-text: black;
$callout-hover: white;

$callout_1_bg: $light-base;
$callout_1_hover: $callout-hover;
$callout_1_text: $callout-text;

$callout_2_bg: mix($light-base, white, 50%);
$callout_2_hover: $callout-hover;
$callout_2_text: $callout-text;

$callout_3_bg: mix($light-base, $gray-base, 90%);
$callout_3_hover: $callout-hover;
$callout_3_text: $callout-text;

$callout_4_bg: mix($light-base, white, 80%);
$callout_4_hover: $callout-hover;
$callout_4_text: $callout-text;


.display_callout_1, .display_callout.browse_all {
  background-color: $callout_1_bg;
  color: $callout_1_text !important;
  &:hover {
    background-color: $callout_1_hover;
  }
}

.display_callout_2 {
  background-color: $callout_2_bg;
  color: $callout_2_text !important;
  &:hover {
    background-color: $callout_2_hover;
  }
}

.display_callout_3 {
  background-color: $callout_3_bg;
  color: $callout_3_text !important;
  &:hover {
    background-color: $callout_3_hover;
  }
}

.display_callout_4 {
  background-color: $callout_4_bg;
  color: $callout_4_text !important;
  &:hover {
    background-color: $callout_4_hover;
  }  
}

.subtle_callout {
  background-color: white;
  border: solid 1px #aaa;
  margin-bottom: 1em;
  overflow: auto;
  padding: .3em 1em;
}

.last_letter_browse .btn {
  border-color: transparent;
  width: 2.4em;
}

.decade_browse .display_callout {
  width: 6em;
}

// ---------
// Map
// ---------

// Region/Country map

svg {
  width: 100%;
}

// Country Styling

svg path:nth-child(9n + 1) {
  fill: $brand-primary;
}
svg path:nth-child(9n + 2) {
  
  fill: $nav-accent;
}
svg path:nth-child(9n + 3) {
  fill: $brand-warning;
}
svg path:nth-child(9n + 4) {
  fill: mix($brand-success, #fff, 80%);
}
svg path:nth-child(9n + 5) {
  fill: mix($brand-warning, #fff, 70%);
}
svg path:nth-child(9n + 6) {
  fill: mix($brand-warning, #000, 70%);
}
svg path:nth-child(9n + 7) {
  fill: $brand-success;
}
svg path:nth-child(9n + 8) {
  fill: mix($brand-success, #000, 80%);
}
svg path:nth-child(9n + 9) {
  fill: mix($brand-primary, #000, 75%);
}

svg path#bf {
  fill: mix($nav-accent, #000, 80%);
}

svg #sl path,
svg path#cd {
  fill: $brand-warning;
}

svg #gq path {
  fill: mix($brand-warning, #fff, 70%);
}

svg path#za {
  fill: mix($brand-primary, #000, 75%);
}

svg #ng path {
  fill: $brand-primary;
}

// Styles pulled from Wikipedia SVG

svg path.circle {
  fill-opacity:.5;
  fill: $brand-primary;
  opacity: 0;
  opacity:.5;
  stroke-dasharray:none;
  stroke-opacity:.5;
  stroke-width:10;
  stroke: $brand-primary;
}

// Hide Island countris for now 

#es-cn, #cv, #st, #km, #mu, #sc {
  display: none;
}

// Land

.land {
  stroke-dasharray: none;
  stroke-miterlimit: 3.97446823;
  stroke-opacity: 1;
  stroke-width: 0.6;
  stroke: black;
}

//Styles for coastlines of islands with no borders

.coast {
  stroke-width: 0.3;
}

// Remove european territories (i.e. Madeira, Reunion etc.)
// Hiding these for now

svg path.sh, 
svg path.pt-30, 
svg path.es-cn, 
svg path.yt, 
svg path.re {
  opacity: 0;
}

// ------------
// Contemporary African Poetry
// ------------

// About pages

.internal_nav_tabs {
  display: block;
  font-family: $font-family-sans-serif;
  margin-bottom: 15px;

  li {
    color: #fff;
    border: 1px solid;
    border-color: #ccc;
    a {
      text-decoration: none;
    }
    &.active a {
      background-color: $brand-primary;
      color: white;
    }
  }
}

// Author pages

.author_data.row {
  margin: 0;
}

.author_data {
    margin-bottom: 1.8em;
    margin-top: .5em;
  h4 {
    margin-top:-.15em;
  }
}

@media (min-width: $screen-tablet) {
  .author_cathead {    
  text-align: right;
 }
 }

@media (min-width: $screen-tablet) {
  .author_catdata {
    border-left: 4px solid $gray-lightish;
  }
}

// Item page (currently CAP only)

.item_title {
  padding-bottom: 0;
}

.item_subtitle {
  font-size: 1.8em;
  margin-top:0;
  padding-top: 0;
}

.browse_div .tab-pane {
  display: flex;
}

.table_geo, .browse_map {
  width: 50%;
}

.metadata {
  flex-grow: 1;
  margin-top: 40px;
}

.poet_altname {
  font-size: 1.8em;
  margin-top: 0;
  padding-top: 0;
}

.poet_metadata_contain {
  // display: flex;
  display: block;

}

.poet_image { 
  display: block;
  float: right;
  margin: 0 0 15px 15px;
  
  img {
    border: 2px solid #aaa;
    max-height: 400px;
    max-width: 100%;
  }
}

// ------------
// In The News
// ------------

// Home Page

.inthenews_background {
  background-color: $brand-primary;
  background-size: cover;
  background: image-url("template/APDP_inthenewsbanner.jpg");
  height: 350px;

  .inthenews_bg_info {
    background-color: rgba(255, 255, 255, 0.5);
    float: right;
    padding: 1em;
    text-align: center;
  }
  .inthenews_bg_info > a {
    display: inline-block;
    width: 50%;
  }
}

@media (min-width: $screen-desktop) {
  .inthenews_background {
    .inthenews_bg_info {
      width: 50%;
    }
  }
}

.inthenews_container {
  margin: 2em 0;
}

//Browse

.browse_categories {
  display: flex;
  flex-wrap: wrap;

  .browse_all {
    width: 100%;
  }

  .display_callout {
    color: #fff;
    flex-grow: 1;
    margin: 1px;
    padding: 1.2em .5em;
    text-align: center;
    font-family: $buttonfont;
  }
}

.badge-decade {
  vertical-align: text-bottom;
}

.timeslider {
  background-color: rgba($brand-success,.1);
  border-bottom: solid 2px #aaa;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 1.4em 0 0 0;
  padding: 0;
  li {
    display: inline-block;
    flex-basis: 1;
    margin: 0;
    padding: 0;
  }
}

.inthenews_sidebar {
  ul {
    font-size: .9em;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}



// Commentaries

.commentary_authors {
  font-size: 1.2em;
}

.commentary_title {
  font-size: 1.5em;
}

.panel-featured {

  .panel-body {
    max-height: 300px;
    overflow: hidden;
    position: relative;
  }

  .panel-body .read-more {
     background-color:#d3dbde;
     bottom: 0;
     left: 0;
     margin: 0;
     padding: 10px 0;
     position: absolute;
     text-align: center;
     width: 100%;
   }
 }

 // News Items

 // news items word cloud
 //   find the size definitions in inthenews_helper.rb

 // Word cloud colors
// https://coolors.co/2fa356-24908c-1e7d9a-1b6d91-155c89

$wcsmallest: #155c89;
$wcsmall: #1b6d91;
$wcmedium: #1e7d9a;
$wclarge: #24908c;
$wclargest: #2fa356;

 .word_cloud {
  font-family: 'Nunito Sans';
  font-size: .8em;
  line-height: 1em;
  text-align: center;

  a.btn {
    background:transparent;
    border: none;
    color: #000;
    line-height: 1em;
    margin: 0 .2em;
    padding: 0;
    text-transform: lowercase; 

    &.cloud-smallest {
      color: $wcsmallest;
      display: none;
    }

    &.cloud-small {
      color: $wcsmall;
      font-size: 1.5em;
    }

    &.cloud-medium {
      color: $wcmedium;
      font-size: 2em;
      line-height: .9em;
    }

    &.cloud-large {
      color: $wclarge;
      font-size: 2.4em;
      line-height: .7em;
    }

    &.cloud-largest {
      color: $wclargest;
      font-size: 3.2em;
      line-height: .6em;
      background-color: transparent;
    }
  }

  a.btn:hover, a.btn:focus {
    color: black;
  }
}

 // Individual pages show more

.more_container {
  background-color: #f2f4f5;
  border-top: solid 2px #d3dbde;
  bottom: 0; 
  left: 0;
  padding: .2em;
  position: absolute;
  text-align: center; 
  width: 100%;
}

.show_more {
  background-color: #d3dbde;
  border-radius: 25px;
  color: black;
  display: inline-block;
  padding: .1em 1em;
}
.show_more:hover {
  background: black;
  color: white;
}

.item_data {
  min-height: 50px;
  padding-bottom: 2em;
  position: relative;
}

.item_data_hide {
  max-height: 140px; 
  overflow: hidden;
}

html[class*="inthenews"] .search-results-item {
  border-top: $brand-info solid 2px;
  padding: 8px 0px;
}

html[class*="inthenews"] .search_result_field > span {
  border-radius: 0;
  border-right: solid 1px #aaa;
  padding-right: .6em;
  padding: 0 7px;
}

html[class*="inthenews"] .search_result_field span:last-of-type {
  border-right: none;
}

// Change look of headlines for In the News section, per Lorna request April 2023
.section_inthenewscommentaries,
.section_inthenewsworks,
.section_inthenewsnewsitems,
.section_inthenewspoets,
.section_inthenewsevents,
.section_inthenews {
  .sectiontitle {
    font-size: 26px;
  }
  
  .inthenews_head,
  .sectiontitle + h1 {
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 1em;
    margin-top: 0;
  }
}

.sectiontitle {
  border-bottom: solid 3px #479BC2;
  padding-bottom: .5em;
  display: block;
  font-size: 34px;
  font-weight: 100;
}

.section_inthenews .sectiontitle {
  border-bottom: none;
}


// ------------
// Home Page
// ------------

.controller_general.action_index { //home page is the combo of these controllers 

  .home_illustration {
    background-image: image-url("home/APDP_homebanner.jpg");
    background-position: top;
    background-size: cover;
    border-left: none;
    border-right: none;
    border: solid 1px $brand-info;
    height: 350px;
    z-index: -1;
  }

  .home_callout_links {
    margin-bottom: 20px;
    margin-top: -50px;
  }

  #content-wrapper {
    background-color: transparent;
    margin-bottom: 0;
  }

  .home_para {
    background-color: rgba(255,255,255,.6 );
    box-shadow: 0px 0px 14px 0px rgba(255,255,255,.6 );
    padding: 20px;
    text-align: center;
  }
}

// Karin's changes

a {
  color: red; 
}
