@import "bootstrap-variables";

$gray-lightish: #aaa;
$screen-tablet: 720px;

// ------------
// HTML
// ------------

body {
  background-image: image-url("template/funky-lines.png"); 
  height:100%;
}

// add link underlines back in, then remove from parts of page
a {
  text-decoration: underline;
  &:hover {
    text-decoration-color: $brand-info;
    text-decoration-thickness: 2px;
  }
}

#header a, #footer a, a.btn, .browse_categories a, .panel a {
  text-decoration: none;
}

h2, .h2 {
  font-weight: 100;
}

h1, .h1 {
  font-weight: 900;
}

#body-wrapper {
  display: flex;
  flex-direction: column;
  height:100%;
  min-height: 100vh;
}

#content-wrapper, .home_container {
  background-color: rgba(255,255,255,.7);
  flex-grow: 1;
  margin-bottom: 0;
}

#content-wrapper {
  padding-top: 20px;
}

#content-wrapper > .container {
  padding-bottom: 5em;
}

//overwriting bootstrap default
.nav > li {
  display: inline-block;
}

.lead {
  font-size: 1.3em;
}

#header {
  background-color: $brand-info;
  box-shadow: inset 0 0 0 1000px rgba($brand-info,.9);
  text-align: center; 

  .site-subtitle {
    display: none;
  }
  
  a:hover {
    text-decoration: none;
  }
}

.site-title-container {
  background: none;
  box-shadow: none;
  line-height: 1em;
  padding: 1em;

  .h1, .h2 {
    margin: 0;
    padding: 0;
  }

  .site-title {
    color: #fff;
    margin-bottom: 50px;
    margin-top: 20px;
  }

$site-title-shadow: darken($brand-info, 30%);
  .site-title {
    font-size: 1.5em;
    text-shadow:
      -4px 4px 0 rgba($site-title-shadow, .2);
  }

  .site-subtitle {
    color: mix($brand-primary, $gray-base, 80%);
    display: block;
    font-size: 1em;
  }
}

// navbar and section navbar
.navbar {
  border: none;
  font-family: $font-family-sans-serif;
  margin-bottom: 0;
  a:hover{
    text-decoration: underline !important;
  }
}

.navbar-main {
  border-top: solid 1px $gray-base;
}

.navbar-section.navbar {
  background-color: $gray-darker;
  min-height: 25px;

  a {
    padding: 5px 10px;
  }
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

// overwriting main bootstrap for subnav
.navbar-section.navbar-inverse .navbar-nav > .active {
  a, a:hover, a:focus {
    background-color: $gray-lighter;
    color: black;
  }
}

// Footer 

#footer {
  background-color: $gray-base;
  color: white;
  margin-bottom:0;
  padding-bottom: 2em;
  text-align: center;
  
  a {
    color: white;
    text-decoration: underline;
  }
  p {
    margin: 1em 0;
  }

}

.footer_logo {
  text-align: center;
   img {
    max-width: 50%;
  }
}

.footer_logo_ford {
 margin: 1em 0;
}

// ------------
// Site Wide code
// ------------

// Callouts

a .home_callout {
  color: $gray-base;
  font-size: 1.2em;
  text-align: center;
}

.home_callout {
  min-height: 8em;
  background-color: $brand-success;
  p {
    background-color: rgba(255,255,255,.8);
    margin: 1em;
    padding: .5em;
    z-index: 2;
  }
}

.home_callout_1 {
  background-color: $brand-success;
  box-shadow: inset 0 0 0 1000px rgba($brand-success,.9);
  &:hover {
    box-shadow: inset 0 0 0 1000px rgba($brand-success,.7);
    p {
      border-bottom: solid 20px $brand-success;
    }
  }
}

.home_callout_2 {
  background-color: $brand-primary;
  box-shadow: inset 0 0 0 1000px rgba($brand-primary,.9);
  &:hover {
    box-shadow: inset 0 0 0 1000px rgba($brand-primary,.7);
    p {
      border-bottom: solid 20px $brand-primary;
    }
  }
}

.home_callout_3 {
  background-color: $brand-warning;
  box-shadow: inset 0 0 0 1000px rgba($brand-warning,.9);
  &:hover {
    box-shadow: inset 0 0 0 1000px rgba($brand-warning,.7);
    p {
      border-bottom: solid 20px $brand-warning;
    }
  }
}

.home_callout_4 {
  background-color: $nav-accent;
  box-shadow: inset 0 0 0 1000px rgba($nav-accent,.9);
  &:hover {
    box-shadow: inset 0 0 0 1000px rgba($nav-accent,.7);
    p {
      border-bottom: solid 20px $nav-accent;
    }
  }  
}

.home_callout_5 {
  background-color: $nav-accent;
  box-shadow: inset 0 0 0 1000px rgba($brand-info,.9);
  &:hover {
    box-shadow: inset 0 0 0 1000px rgba($brand-info,.7);
    p {
      border-bottom: solid 20px $brand-info;
    }
  }
}

// Generic Callouts (In the news browse, for instance)

$callout-text: black;
$callout-hover: white;

$callout_1_bg: $light-base;
$callout_1_hover: $callout-hover;
$callout_1_text: $callout-text;

$callout_2_bg: mix($light-base, white, 50%);
$callout_2_hover: $callout-hover;
$callout_2_text: $callout-text;

$callout_3_bg: mix($light-base, $gray-base, 90%);
$callout_3_hover: $callout-hover;
$callout_3_text: $callout-text;

$callout_4_bg: mix($light-base, white, 80%);
$callout_4_hover: $callout-hover;
$callout_4_text: $callout-text;


.display_callout_1, .display_callout.browse_all {
  background-color: $callout_1_bg;
  color: $callout_1_text !important;
  &:hover {
    background-color: $callout_1_hover;
  }
}

.display_callout_2 {
  background-color: $callout_2_bg;
  color: $callout_2_text !important;
  &:hover {
    background-color: $callout_2_hover;
  }
}

.display_callout_3 {
  background-color: $callout_3_bg;
  color: $callout_3_text !important;
  &:hover {
    background-color: $callout_3_hover;
  }
}

.display_callout_4 {
  background-color: $callout_4_bg;
  color: $callout_4_text !important;
  &:hover {
    background-color: $callout_4_hover;
  }  
}

.subtle_callout {
    background-color: white;
  overflow: auto;
  padding: .3em 1em;
  border: solid 1px #aaa;
  margin-bottom: 1em;

}

// Map

// Region/Country map

svg {
  width: 100%;
}

// Country Styling

svg path:nth-child(9n + 1) {
  fill: $brand-primary;
}
svg path:nth-child(9n + 2) {
  
  fill: $nav-accent;
}
svg path:nth-child(9n + 3) {
  fill: $brand-warning;
}
svg path:nth-child(9n + 4) {
  fill: mix($brand-success, #fff, 80%);
}
svg path:nth-child(9n + 5) {
  fill: mix($brand-warning, #fff, 70%);
}
svg path:nth-child(9n + 6) {
  fill: mix($brand-warning, #000, 70%);
}
svg path:nth-child(9n + 7) {
  fill: $brand-success;
}
svg path:nth-child(9n + 8) {
  fill: mix($brand-success, #000, 80%);
}
svg path:nth-child(9n + 9) {
  fill: mix($brand-primary, #000, 75%);
}

svg path#bf {
  fill: mix($nav-accent, #000, 80%);
}

svg #sl path,
svg path#cd {
  fill: $brand-warning;
}

svg #gq path {
  fill: mix($brand-warning, #fff, 70%);
}

svg path#za {
  fill: mix($brand-primary, #000, 75%);
}

svg #ng path {
  fill: $brand-primary;
}

// Styles pulled from Wikipedia SVG

svg path.circle {
  fill-opacity:.5;
  fill: $brand-primary;
  opacity: 0;
  opacity:.5;
  stroke-dasharray:none;
  stroke-opacity:.5;
  stroke-width:10;
  stroke: $brand-primary;
}

// Hide Island countris for now 

#es-cn, #cv, #st, #km, #mu, #sc {
  display: none;
}

// Land

.land {
  stroke-dasharray: none;
  stroke-miterlimit: 3.97446823;
  stroke-opacity: 1;
  stroke-width: 0.6;
  stroke: black;
}

//Styles for coastlines of islands with no borders

.coast {
  stroke-width: 0.3;
}

// Remove european territories (i.e. Madeira, Reunion etc.)
// Hiding these for now

svg path.sh, 
svg path.pt-30, 
svg path.es-cn, 
svg path.yt, 
svg path.re {
  opacity: 0;
}

// ------------
// Contemporary African Poetry
// ------------

// Author pages

.author_data {
    margin-bottom: 1.8em;
    margin-top: .5em;
  h4 {
    margin-top:-.15em;
  }
}

@media (min-width: $screen-tablet) {
  .author_cathead {
    text-align: right;
  }
}

@media (min-width: $screen-tablet) {
  .author_catdata {
    border-left: 4px solid $gray-lightish;
  }
}

// Item page (currently CAP only)

.item_title {
  text-align: center;
  padding-bottom: 0;
}

.item_subtitle {
  text-align: center;
  margin-top:0;
  padding-top: 0;
  font-size: 1.8em;
}

.browse_div .tab-pane {
  display: flex;
}

.table_geo, .browse_map {
  width: 50%;
}

.metadata {
  margin-top: 40px;
  flex-grow: 1;
}

.poet_metadata_contain {
  display: flex;
}

.poet_image img {
  border: 2px solid #aaa;
  max-height: 400px;
}

// ------------
// In The News
// ------------

//Browse
.browse_categories {
  display: flex;
  flex-wrap: wrap;

  .browse_all {
    width: 100%;
  }

  .display_callout {
    flex-grow: 1;
    padding: 1.2em .5em;
    color: #fff;
    text-align: center;
    margin: 1px;
  }
}

.timeslider {
  background-color: rgba($brand-success,.1);
  border-bottom: solid 2px #aaa;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 1.4em 0 0 0;
  padding: 0;
  li {
    display: inline-block;
    flex-basis: 1;
    margin: 0;
    padding: 0;
  }
}

.inthenews_sidebar {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: .9em;

  }
}

// Commentaries

 .commentary_authors {
  font-size: 1.2em;
 }

 .commentary_title {
  font-size: 1.5em;
 }

.panel-featured {

  .panel-body {
    max-height: 300px;
    overflow: hidden;
    position: relative;
  }

  .panel-body .read-more {
     background-color:#d3dbde;
     bottom: 0;
     left: 0;
     margin: 0;
     padding: 10px 0;
     position: absolute;
     text-align: center;
     width: 100%;
   }
 }

 // Individual pages show more

 .more_container {
  background-color: #f2f4f5;
  border-top: solid 2px #d3dbde;
  bottom: 0; 
  left: 0;
  padding: .2em;
  position: absolute;
  text-align: center; 
  width: 100%;
}
.show_more {
  background-color: #d3dbde;
  border-radius: 25px;
  color: black;
  display: inline-block;
  padding: .1em 1em;

}
.show_more:hover {
  background: black;
  color: white;
}

.item_data {
  min-height: 50px;
  padding-bottom: 2em;
  position: relative;
}

.item_data_hide {
  max-height: 140px; 
  overflow: hidden;
}

/* TODO this and others like it should only
   be applied to the inthenews section */
.search-results-item {
  border-top: $brand-info solid 2px;
  padding: 8px 0px;
}

// ------------
// Home Page
// ------------

.controller_general.action_index { //home page is the combo of these controllers 

  .home_illustration {
    background-image: image-url("home/Portal_Cover_cropped.jpg");
    background-position: top;
    background-size: cover;
    border-left: none;
    border-right: none;
    border: solid 1px $brand-info;
    height: 350px;
    z-index: -1;
  }

  .home_callout_links {
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,1);
    margin-bottom: 20px;
    margin-top: -50px;
  }

  #content-wrapper {
    background-color: transparent;
    margin-bottom: 0;
  }

  .home_para {
    background-color: rgba(255,255,255,.6 );
    box-shadow: 0px 0px 14px 0px rgba(255,255,255,.6 );
    padding: 20px;
    text-align: center;
  }
}
