<% rec = es_to_db_record("Work", item["identifier"]) %>

<% if item["creator"].present? %>
  <% item["creator"].each do |c| %>
    <li>Author: <%= c["name"] %></li>
  <% end %>
<% end %>

<% if item["date_display"] %>
  <li>Year: <%= item["date_display"] %></li>
<% end %>

<% if item["type"] %>
  <li>Type: <%= item["type"] %></li>
<% end %>

<% if item["publisher"] %>
  <li>Publisher: <%= item["publisher"] %></li>
<% end %>

<%# TODO places %>
