<style>
  #regions_map svg path.Middle_Africa, svg g .Middle_Africa {
    fill: #F06A16;
  }
  #regions_map svg path.Northern_Africa, svg g .Northern_Africa {
    fill: #F5CF0A;
  }
  #regions_map svg path.Eastern_Africa, svg g .Eastern_Africa {
    fill: #88b868;
  }
  #regions_map svg path.Southern_Africa, svg g .Southern_Africa {
    fill: #F5CF0A;
  }
  #regions_map svg path.Western_Africa, svg g .Western_Africa {
    fill: #8E0917;
  }
</style>

<script>
var urlpiece = "../search?f[]=keywords|"

$(document).ready(function() {

  function getRegionCodeFromText(text, replace_char="_") {
    return text ? text.replace(" ", replace_char) : null;
  }

  function getRegionCodeFromClass(classes) {
    if (classes) {
      // TODO this will not work if diaspora is somehow represented on the map
      var region = classes.match(/\S*_Africa/g)
      return region ? region[0] : null
    }
  }

  function getRegionTextFromCode(text) {
    return text ? text.replace("_", " ") : null;
  }

  // hover the region words and highlight on map
  $(".region").hover(
    function () {
      var regionCode = getRegionCodeFromText($(this).text());
      // The following highlights both countries that are paths themselves 
      // and countries that are paths inside groups
      $( "svg ." + regionCode).addClass("country_highlight");
      $(this).addClass("element_hover");
    },
    function () {
      var regionCode = getRegionCodeFromText($(this).text());
      $( "svg ." + regionCode).removeClass("country_highlight");
      $(this).removeClass("element_hover");
    }
  );

  // clicking the region links to search
  // but perhaps these should just be links to begin with
  $(".region").click(function() {
    var regionCode = getRegionCodeFromText($(this).text(), "+");
    var fullurl = urlpiece + regionCode;
    window.location = fullurl;  
  });

  // Highlight region name and other countries when hovering over any part of a region
  $("svg > g > path").hover(
    function () {
      var regionCode = getRegionCodeFromClass($(this).attr("class"));
      var regionName = getRegionTextFromCode(regionCode);
      $(".region:contains(" + regionName + ")").addClass("element_hover");
      $("."+regionCode).addClass("svg_hover");
    },
    function () {
      var regionCode = getRegionCodeFromClass($(this).attr("class"));
      var regionName = getRegionTextFromCode(regionCode);
      $(".region:contains(" + regionName + ")").removeClass("element_hover");
      $("."+regionCode).removeClass("svg_hover");
    }
  );

  $("svg > g > g").hover(
    function () {
      var regionCode = getRegionCodeFromClass($(this).attr("class"));
      var regionName = getRegionTextFromCode(regionCode);
      $(".region:contains(" + regionName + ")").addClass("element_hover");
      $(this).addClass("svg_hover");
      $("."+regionCode).addClass("svg_hover");
    },
    function () {
      var regionCode = getRegionCodeFromClass($(this).attr("class"));
      var regionName = getRegionTextFromCode(regionCode);
      $(".region:contains(" + regionName + ")").removeClass("element_hover");
      $(this).removeClass("svg_hover");
      $("."+regionCode).removeClass("svg_hover");
    }
  );

  $("svg > g > path").click(function() {
    var regionName = getRegionCodeFromClass($(this).attr("id"));
    var href = getRegionCodeFromText(regionName, "+");
    var fullurl = urlpiece + href;
    window.location = fullurl;  
  });

  $("svg > g > g > path").click(function() {
    var regionName = getRegionCodeFromClass($(this).attr("id"));
    var href = getRegionCodeFromText(regionName, "+");
    var fullurl = urlpiece + href;
    window.location = fullurl;  
  });
});

</script>

<h1>Browse Poet by Region Map</h1>

<%= render "contemporarypoets/browse_tabs" %>

<p>In Progress</p>

<div class="row">
  <div class="col-sm-4">
    <ul class="country_list">
      <li class="region">Eastern Africa</li>
      <li class="region">Middle Africa</li>
      <li class="region">Northern Africa</li>
      <li class="region">Southern Africa</li>
      <li class="region">Western Africa</li>
    </ul>
  </div>
  <div class="col-sm-8">
    <div id="regions_map">
      <%= render "partials/map_africa" %>
    </div>
  </div>
</div>
