<script>

var countrylookup = <%= JSON.pretty_generate(COUNTRY_CODES).html_safe %>;
var urlpiece = "../search?f[]=places|"

// Hover over country names and highlight SVG
$(document).ready(function() {

  // KE -> Specific list element with the inner text Kenya
  function selectCountryElementByCode(code) {
    var countryName = selectCountryNameByCode(code);
    return $(".country").filter(function() {
      return $(this).text() == countryName;
    });
  }

  // KE -> Kenya
  function selectCountryNameByCode(code) {
    for (var countryName in countrylookup) {
      if (countrylookup[countryName] == code.toUpperCase()) {
        return countryName;
      }
    }
  }

  $(".country").hover(
    function () {
      var countryName = $(this).text();
      var countryCode = countrylookup[countryName].toLowerCase();
      // The following highlights both countries that are paths themselves 
      // and countries that are paths inside groups
      $( "svg path#" + countryCode ).addClass("country_highlight");
      $( "svg #" + countryCode + " path" ).addClass("country_highlight");
      $(this).addClass("element_hover");
    },
    function () {
      var countryName = $(this).text();
      var countryCode = countrylookup[countryName].toLowerCase();
      $( "svg path#" + countryCode ).removeClass("country_highlight");
      $( "svg #" + countryCode + " path" ).removeClass("country_highlight");
      $(this).removeClass("element_hover");
    }
  );

  $(".country").click(function() {
    var countryName = $(this).text();
    var href = countryName.replace(/ /g, '+');
    var fullurl = urlpiece + href;

    window.location = fullurl;  
  });

  // Highlight country name when hovering over country that is path
  $("svg > g > path").hover(
    function () {
      var $country = selectCountryElementByCode($(this).attr("id"));
      $country.addClass("element_hover");
      $(this).addClass("svg_hover");
    },
    function () {
      var $country = selectCountryElementByCode($(this).attr("id"));
      $country.removeClass("element_hover");
      $(this).removeClass("svg_hover");
    }
  );

  // Highlight country name when hovering over country that is a 
  // path inside a group
  $("svg > g > g").hover(
    function () {
      var $country = selectCountryElementByCode($(this).attr("id"));
      $country.addClass("element_hover");
      $(this).children("path").addClass("svg_hover");
    },
    function () {
      var $country = selectCountryElementByCode($(this).attr("id"));
      $country.removeClass("element_hover");
      $(this).removeClass("svg_hover");
      $(this).children("path").removeClass("svg_hover");
    }
  );

  $("svg > g > path").click(function() {
    var countryCode = $(this).attr('id');
    var countryName = selectCountryNameByCode(countryCode);
    var href = countryName.replace(/ /g, '+');
    var fullurl = urlpiece + href

    window.location = fullurl;  
  });

  $("svg > g > g > path").click(function() {
    var countryCode = $(this).parent("g").attr("id");
    var countryName = selectCountryNameByCode(countryCode);
    var href = countryName.replace(/ /g, "+");
    var fullurl = urlpiece + href

    window.location = fullurl;  
  });
});

</script>

<h1>Browse Poet by Country Map</h1>

<%= render "contemporarypoets/browse_tabs" %>

  <div class="row">
    <div class="col-sm-4">
      <ul class="country_list">
        <li class="country">Algeria</li>
        <li class="country">Angola</li>
        <li class="country">Benin</li>
        <li class="country">Botswana</li>
        <li class="country">Burkina Faso</li>
        <li class="country">Burundi</li>
        <li class="country">Cameroon</li>
        <li class="country">Central African Republic</li>
        <li class="country">Chad</li>
        <li class="country">Congo (Brazzaville)</li>
        <li class="country">Congo, Democratic Republic of the</li>
        <li class="country">Cote d’Ivoire (Ivory Coast)</li>
        <li class="country">Djibouti</li>
        <li class="country">Egypt</li>
        <li class="country">Equatorial Guinea</li>
        <li class="country">Eritrea</li>
        <li class="country">Ethiopia</li>
        <li class="country">Gabon</li>
        <li class="country">Gambia, The</li>
        <li class="country">Ghana</li>
        <li class="country">Guinea</li>
        <li class="country">Guinea-Bissau</li>
        <li class="country">Kenya</li>
        <li class="country">Lesotho</li>
        <li class="country">Liberia</li>
        <li class="country">Libya</li>
        <li class="country">Madagascar</li>
        <li class="country">Malawi</li>
        <li class="country">Mali</li>
        <li class="country">Mauritania</li>
        <li class="country">Morocco</li>
        <li class="country">Mozambique</li>
        <li class="country">Namibia</li>
        <li class="country">Niger</li>
        <li class="country">Nigeria</li>
        <li class="country">Rwanda</li>
        <li class="country">Senegal</li>
        <li class="country">Sierra Leone</li>
        <li class="country">Somalia</li>
        <li class="country">South Africa</li>
        <li class="country">Sudan</li>
        <li class="country">Swaziland</li>
        <li class="country">Tanzania</li>
        <li class="country">Togo</li>
        <li class="country">Tunisia</li>
        <li class="country">Uganda</li>
        <li class="country">Western Sahara</li>
        <li class="country">Zambia</li>
        <li class="country">Zimbabwe</li>
      </ul>
    </div>
    <div class="col-sm-8">
      <%= render "partials/map_africa" %>
    </div>
  </div>

 
