<h1>About</h1>
<h2>The African Poetry Book Fund</h2>

<p>The African Poetry Book Fund promotes and advances the development and publication of the poetic arts of Africa through its book series, contests, seminars, public events, and digital initiatives, and seeks to widen and connect the global audience for African poetry. Founded in 2012 by poet Kwame Dawes, with the generous support of philanthropists Laura and Robert F. X. Sillerman, the APBF is led by an editorial team of leading poets and writers and is supported by an international complex of collaborations and partnerships. </p>






