<h1>About</h1>

<%= render "about/about_nav" %>
<h2>Credits</h2>

<h3>Principal Investigators</h3>

<ul>
  <li>Kwame Dawes. Chancellor's Professor of English and Glenna Luschei Editor of Prairie Schooner, UNL</li>
  <li>Lorna Dawes. Associate Professor UNL Libraries</li>
</ul>

<h3>Project Staff</h3>

<ul>
  <li>Paul Clark. Social Media Editor, UNL</li>
  <li>Karin Dalziel. Digital Design & Development Specialist, UNL</li>
  <li>Ella Durham. Design Specialist, UNL</li>
  <li>Jessica Dussault. Programmer, UNL</li>
  <li>Sarita Garcia.  Web Developer, UNL (2021-2023)</li>
  <li>Rezina Habtemariam. Project Manager, UNL</li>
  <li>Wren Lottman. Digital Project Specialist, UNL</li>
  <li>Siwar Masannat. Project Managing Editor, UNL</li>
  <li>Ashley Strosnider. Former Project Editor & Managing Editor Prairie Schooner and the African Poetry Book Fund, UNL</li>
  <li>Greg Tunink. Programmer, UNL</li>
  <li>Laura Weakly. Metadata Encoding Specialist, UNL</li>
</ul>

<h3>Institutional Collaborators</h3>
<ul>
  <li>Jennifer Skinner, Cambridge University</li> 
  <li>Abdulahi Ahmed, Edward Miner, Library of Congress</li> 
  <li>Esmeralda M. Kale, Northwestern University</li> 
  <li>Lucy McCann, Oxford University</li> 
  <li>Nikki Crowster, Mandy Noble, Michal Singer, University of Cape Town</li> 
  <li>Samuel Owusu-Ansah, University of Ghana</li> 
  <li>Patron K. Henekou, University of Lomé</li> 
  <li>Loyd Mbabu, University of Michigan</li> 
</ul>

<h3>Researchers</h3>

<ul>
  <li>Chris Abani. Northwestern University in Chicago, Index for Contemporary African Poetry</li>
  <li>Bernardine Evaristo. Creative Writing at Brunel University London, Index for Contemporary African Poetry</li>
  <li>Tsitsi Jaji. Duke University, Index for Contemporary African Poetry</li>
  <li>Major Jackson. University of Vermont, Index for Contemporary African Poetry</li>
  <li>John Keene. Rutgers University, Index for Contemporary African Poetry</li>
  <li>Lokangaka Losambe. University of Vermont, Index for Contemporary African Poetry</li>
  <li>Matthew Shenoda. Rhode Island School of Design (RISD), Index for Contemporary African Poetry</li>
  <li>Helen Yitah. University of Ghana, Index for Contemporary African Poetry</li>
</ul>

<h3>Graduate Research Assistants, University of Nebraska-Lincoln</h3>
<ul>
  <li>Folasade John, 2023 - 2024</li>
  <li>Claire Jimenz, 2021-2022</li>
  <li>Alina Nguyen, 2023-2024</li>
  <li>Olufunke Ogundimu, 2021 - 2023</li>
  <li>Zainab Omaki, 2022 - 2024</li>
</ul>

<h3>Research Assistants</h3>

<ul>
  <li>Susie Rand. UNL, African Poets and Poetry in the News</li>
  <li>Stephanie Camerone. UNL, Index for Contemporary African Poetry</li>
  <li>Saddiq Dzukogi. UNL, Index for Contemporary African Poetry</li>
  <li>David Henson. UNL, Index for Contemporary African Poetry</li>
  <li>Katie Schmid Henson. UNL, Index for Contemporary African Poetry</li>
  <li>Anna Ralls. Oxford University, Index for Contemporary African Poetry</li> 
</ul>

<h3>Digital Humanities Grant Review Panel</h3>
<ul>
  <li>Gabeba Baderoon. Associate Professor, Women's, Gender and Sexuality Studies, African Studies and Comparative Literature; Pennsylvania State University</li>
  <li>Erin Chambers. Front-End Developer, UNL</li>
  <li>Matt Cohen. Professor of English, UNL</li>
  <li>Kwame Dawes. Chancellor's Professor of English and Glenna Luschei Editor of Prairie Schooner, UNL</li>
  <li>Lorna Dawes. Associate Professor UNL Libraries</li>
  <li>Sarita Garcia. Web Developer, UNL </li>
  <li>Andrew Jewell. Co-Director of the Center for Digital Research in the Humanities, UNL</li>
  <li>Ng'ang'a Wahu-Muchiri. Assistant Professor of English, UNL</li>
  <li>Olufunke Ogundimu. Graduate Research Assistant, UNL</li>
</ul>

<h3>Consultants</h3>

<ul>
  <li>Salome Asega. Technology Fellow, Creativity and Free Expression, Ford Foundation </li>
  <li>Elleke Boehmer. Professor of World Literature in English. University of Oxford</li>
  <li>Mary Ellen Ducey. University Archives & Special Collections Librarian. University of Nebraska - Lincoln</li>
  <li>Andrew Jewell. Co-Director, Center for Digital Research in the Humanities. University of Nebraska - Lincoln</li>
  <li>Margaret Mering. Metadata Librarian, University of Nebraska - Lincoln</li>
  <li>David Scott. Professor of Anthropology & Research Fellow, Columbia University</li> 
</ul>

<h3>African Poetry Book Fund Editorial Board</h3>

<ul>
  <li>Chris Abani. Northwestern University in Chicago</li>
  <li>Gabeba Baderoon. Pennsylvania State University</li>
  <li>Kwame Dawes. University of Nebraska–Lincoln</li>
  <li>Phillippa Yaa de Villiers. University of the Witwastersrand</li>
  <li>Bernardine Evaristo. Creative Writing at Brunel University London</li>
  <li>Aracelis Girmay. Stanford University</li>
  <li>John Keene. Rutgers University</li>
  <li>Matthew Shenoda. Brown University</li>
</ul>
