<h1>About</h1>
<h2>Credits</h2>

<%= render "about/about_nav" %>

<h3>Principal Investigators</h3>

<ul>
  <li>Kwame Dawes. Chancellor's Professor of English and Glenna Luschei Editor of Prairie Schooner, UNL</li>
  <li>Lorna Dawes. Associate Professor UNL Libraries</li>
</ul>

<h3>Project Staff</h3>

<ul>
  <li>Karin Dalziel. Digital Design & Development Specialist, UNL</li>
  <li>Jessica Dussault. Programmer, UNL</li>
  <li>Sarita Garcia. Programmer, UNL</li>
  <li>Ashley Strosnider. Former Project Editor & Managing Editor Prairie Schooner and the African Poetry Book Fund, UNL</li>
  <li>Greg Tunink. Programmer, UNL</li>
  <li>Laura Weakly. Metadata Encoding Specialist, UNL</li>
  
</ul>

<h3>Researchers</h3>

<ul>
  <li>Chris Abani. Northwestern University in Chicago, Index for Contemporary African Poetry</li>
  <li>Bernardine Evaristo. Creative Writing at Brunel University London, Index for Contemporary African Poetry</li>
  <li>Tsitsi Jaji. Duke University, Index for Contemporary African Poetry</li>
  <li>Major Jackson. University of Vermont, Index for Contemporary African Poetry</li>
  <li>John Keene. Rutgers University, Index for Contemporary African Poetry</li>
  <li>Lokangaka Losambe. University of Vermont, Index for Contemporary African Poetry</li>
  <li>Matthew Shenoda. Rhode Island School of Design (RISD), Index for Contemporary African Poetry</li>
  <li>Helen Yitah. University of Ghana, Index for Contemporary African Poetry</li>
</ul>

<h3>Research Assistants</h3>

<ul>
  <li>Susie Rand. UNL, African Poets and Poetry in the News</li>
  <li>Stephanie Camerone. UNL, Index for Contemporary African Poetry</li>
  <li>Saddiq Dzukogi. UNL, Index for Contemporary African Poetry</li>
  <li>David Henson. UNL, Index for Contemporary African Poetry</li>
  <li>Katie Schmid Henson. UNL, Index for Contemporary African Poetry</li>
  <li>Anna Ralls. Oxford University, Index for Contemporary African Poetry</li> 
</ul>

<h3>Consultants</h3>

<ul>
  <li>Salome Asega. Technology Fellow, Creativity and Free Expression, Ford Foundation </li>
  <li>Elleke Boehmer. Professor of World Literature in English. University of Oxford</li>
  <li>David Scott. Professor of Anthropology & Research Fellow, Columbia University</li> 
</ul>

<h3>African Poetry Book Fund Editorial Board</h3>

<ul>
  <li>Chris Abani. Northwestern University in Chicago</li>
  <li>Gabeba Baderoon. Pennsylvania State University</li>
  <li>Kwame Dawes. University of Nebraska–Lincoln</li>
  <li>Phillippa Yaa de Villiers. University of the Witwastersrand</li>
  <li>Bernardine Evaristo. Creative Writing at Brunel University London</li>
  <li>Aracelis Girmay. </li>
  <li>John Keene. Rutgers University</li>
  <li>Matthew Shenoda. Rhode Island School of Design (RISD)</li>
</ul>
