<h1>About</h1>

<%= render "about/about_nav" %>

<p>The African Poetry Digital Portal, in collaboration with the Center for Digital Research in the Humanities at the University of Nebraska, is the newest project of the African Poetry Book Fund. This ongoing project collects and provides access to work produced by and about African poets from antiquity to the present. Major components of the Portal include the Index of Poets and African Poets and Poetry in the News. These sections focus on establishing a comprehensive database of African poets as well as surveying news sources to explore how representations of African poetry in the media have influenced and shaped perceptions of what African poetry is in the 21st century.</p>

<p>The Portal’s current expansion will feature a Collections Hub which will provide digital access to archives and materials on African poetry that are held by institutions worldwide. Another component of the Portal will include digital humanities projects that expand the research and scholarship relating to African poetry. </p>

<p>In increasing access to the creative and intellectual resources of Africa and its Diaspora related to African poetry and poetics, the Portal serves as a resource that engages and connects scholars, thinkers, artists, and communities around the world.  </p>
