<h1>About</h1>
<h2>Credits</h2>

<h3>Image Credits</h3>
<h4>Splash Page Image</h4>
<p>Victor Ehikhamenora.<br/>
  “Front of Card”<br/>
<a href="http://victorehi.com/">http://victorehi.com/</a><br/>
Victor Ehikhamenor is an artist, photographer, and writer born in Udomi-Uwessan, Nigeria. He has exhibited in Nigeria, the United States, Europe, and Asia. Ehikhamenor has been prolific in producing abstract, symbolic and politically motivated works and maintains studios in Nigeria and the United States.</p>

<h3>Principal Investigators</h3>


<h3>Staff</h3>

