<h1>About</h1>
<h2>Credits</h2>

<%= image_tag("home/Victor_Ehikhamenora.jpg", :class => "pull-right") %><h3>Image Credits</h3>
<h4 id="splash_page_image">Splash Page Image</h4>

<p>Victor Ehikhamenora.<br/>
  “Front of Card”<br/>
<a href="http://victorehi.com/">http://victorehi.com/</a><br/>
Victor Ehikhamenor is an artist, photographer, and writer born in Udomi-Uwessan, Nigeria. He has exhibited in Nigeria, the United States, Europe, and Asia. Ehikhamenor has been prolific in producing abstract, symbolic and politically motivated works and maintains studios in Nigeria and the United States.</p>

<h4>Patterns</h4>

Patterns used as backgrounds are from the site "<a href="https://www.toptal.com/designers/subtlepatterns/">Subtle Patterns</a>": <a href="https://www.toptal.com/designers/subtlepatterns/stripes-light/">Stripes Light</a>, <a href="https://www.toptal.com/designers/subtlepatterns/country-quilt/">Country Quilt</a>, <a href="https://www.toptal.com/designers/subtlepatterns/memphis-mini-pattern/">Memphis Mini</a>, <a href="https://www.toptal.com/designers/subtlepatterns/funky-lines/">Funky Lines</a>, and <a href="https://www.toptal.com/designers/subtlepatterns/swirl-2/">Swirl</a>.

<h3>Principal Investigators</h3>


<h3>Technical Staff</h3>

<ul>
  <li><strong>Karin Dalziel</strong>, UNL, Digital Design & Development Specialist</li>
  <li><strong>Jessica Dussault</strong>, UNL, Programmer</li>
  <li><strong>Laura Weakly</strong>, UNL, Metadata Encoding Specialist</li>
  <li><strong>Greg Tunink</strong>, UNL, Programmer</li>
</ul>







