<h1>About</h1>
<h2>Technical Details</h2>

<h3>Technologies</h3>

<ul>
  
  <li>Framework: <a href="http://rubyonrails.org/">Ruby on Rails</a></li>
  <li>Search and Browse functionality: <a href="https://www.elastic.co/">Elasticsearch</a></li>
  <li>Data Handling: <a href="https://github.com/CDRH/datura">CDRH Datura</a></li>
  <li>API: <a href="https://github.com/CDRH/api">CDRH API</a></li>
  <li>Front end website: <a href="https://github.com/CDRH/orchid">CDRH Orchid</a></li>

</ul>

<h3>Data Management Plan</h3>

<p>Research websites created by the Center for Digital Research in the Humanities are maintained by the UNL Libraries on servers purchased by the CDRH. Data is incrementally backed up on multiple redundant servers stored locally and off site in Omaha, Nebraska, housed and managed by the University of Nebraska Medical Center. The codebase and content files are developed in a networked environment and on a development server until ready for production, at which time they are transferred to a production server. Production server files are incrementally backed up regularly, and data and images are also stored on a redundant server. The CDRH is committed to maintaining previously created research sites over the long term. To this end, data is migrated to new servers every few years as needed, and care is taken not to change project URLs (or to add redirects if they must change). Sustainability is a priority for the Center, and it regularly undertakes projects that have potential for long-term development and thorough exploration of humanities issues.</p>


<h3>Sustainability Plan</h3>

<p>The Center for Digital Research in the Humanities recognizes that grants cannot be relied upon to support the entire life cycle of a project. While CDRH staff anticipate applying for future grant funds for a range of initiatives, CDRH staff have sustainability plans in place that will allow for the continued reliability and availability of project sites for the long term. Indeed, sustainability is a key feature of the work proposed in this grant, thereby creating a firm foundation for long-term access and maintainability.</p>

<p>The Center for Digital Research in the Humanities, a joint initiative of the UNL Libraries and the College of Arts & Sciences, is supported through Programs of Excellence monies totaling $6.1 million from 2004–2020 and ongoing annual state funds of an estimated annual $500,000 in positions and operations monies. The University of Nebraska administration has made the Center a priority program of the University, has raised endowment monies for its support, and is beginning a capital campaign for renovated space.</p>
