<h1>Antjie Krog Bibliography</h1>

<%= image_tag "poets/antjie-krog.jpg", alt: "Antjie Krog", class: "bibliography-image" %>

<p>By Zainab Omaki</p>

<p>Created as part of the <%= link_to "African Poetry Digital Portal", home_path %>
 project.</p>

<%# <p><a href="../item/3703">See Antjie Krog‘s entry in the Index of Poets</a>.</p>

<p><a href="../item/12267">See Antjie Krog‘s entry in African Poetry and Poetics in the News</a>.</p> %>

<h2>Table of Contents</h2>

<ul class="toc">
  <li><a href="#KrogTOC1">Introduction </a>
		<ul>
			<li><a href="#bio">Biography</a></li>
		</ul>
	</li>
  <li><a href="#KrogTOC2">Primary Works</a>
    <ul>
      <li><a href="#KrogTOC3">Poetry in English published as Antjie Krog</a></li>
      <li><a href="#KrogTOC4">Poetry in Afrikaans published as Antjie Krog</a></li>
      <li><a href="#KrogTOC5">Poetry in Translation</a></li>
      <li><a href="#KrogTOC6">Creative Prose in English as published as Antjie Krog</a></li>
      <li><a href="#KrogTOC7">Creative Prose in Afrikaans published as Antjie Krog</a></li>
      <li><a href="#KrogTOC8">Creative Prose in Translation</a></li>
      <li><a href="#KrogTOC9">Critical Prose in English as published as Antjie Krog</a></li>
      <li><a href="#KrogTOC10">Critical Prose in Translation</a></li>
      <li><a href="#KrogTOC11">As Editor</a></li>
      <li><a href="#KrogTOC12">Interviews</a></li>
    </ul>
  </li>
  <li><a href="#KrogTOC13">Secondary Sources</a>
    <ul>
      <li><a href="#KrogTOC4">General Overviews in English</a></li>
      <li><a href="#KrogTOC15">Book reviews</a></li>
      <li><a href="#KrogTOC16">Thesis and Dissertations</a></li>
      <li><a href="#KrogTOC17">Secondary Sources in English excluding general overviews and book reviews</a></li>
      <li><a href="#KrogTOC18">Secondary Sources in [other languages] excluding general overviews and book reviews</a>
      </li>
      <li><a href="#KrogTOC19">Secondary Sources, Media</a></li>
    </ul>
  </li>
  <li><a href="#KrogTOC20">Tertiary Sources</a></li>
  <li><a href="#KrogTOC21">Works in Honor</a></li>
  <li><a href="#KrogTOC22">Contributors</a></li>
</ul>

<h2 id="KrogTOC1">Introduction</h2>

<p id="docs-internal-guid-f2ee3392-7fff-7b0d-500d-967ed6115f98">The Antjie Krog bibliography was put together between December 2022 and October 2023. It is modeled after the Kamau Brathwaite Bibliography developed by Kelly Baker Josephs (York College, City University of New York) and Teanu Reid (Yale University) in conjunction with the Caribbean Digital event at Barnard College. The earliest item recorded here is Krog’s inaugural poetry collection Dogter van Jefta published in 1970 and its follow up Januarie Suite published in 1972.  The most recent entries are some of Krog’s critical contributions as an academic, such as the article “Some New Perspectives on the Soweto Uprising: H. M. L. Lentsoane’s Poem ‘Black Wednesday’ (‘Laboraro Le Lesoleso’)” published in Tydskrif Vir Letterkunde (2022) and “Women’s Voices: African Poetry in Motion” which appeared in the Journal for the Study of Religion (2022).  </p>

<p>The bibliography is organized into five main categories: Primary Works, Secondary Sources, Interviews, Tertiary Sources, and Works in Honor of the writer. The Primary Works include Krog’s poetry collections, individual poems available online, her creative prose, including fiction and non-fiction, her children’s books and her work as editor. The secondary sources include general overviews written about Krog’s life and work, book reviews, and critical literature put together about her oeuvre. The interview section documents conversations carried out between Krog and others regarding her work.  And the tertiary sources and works in honor sections catalogue online indexes and databases where Krog’s work is made available and work that honors her extensive literary contributions.  </p>

<p>The section ‘Secondary Sources, excluding general overviews and book reviews’ has the most items in the bibliography as it contains work carried out on Krog’s long poetic career. The sections with the fewest entries are the sections that focus on her creative prose in Afrikaans and critical prose in translation. These areas could use further research alongside general overviews, tertiary sources and works in honor of the author. All the material included was gathered digitally with the assistance of online platforms such as WorldCat, Google Scholar, YouTube, Jstor, Amazon, UNL Library, Poetry International, and Wikipedia. The data in this bibliography has been presented in the MLA citation format for ease of use. </p>

<h3 id="bio">Biography</h3>

<p>1952- date (2023)</p>

<p>Antjie Krog is a South African poet, journalist, and academic. She studied at the University of the Free State, University of Pretoria, and UNISA where she received a Bachelor of Arts (Hons), a masters degree and Teachers Diploma respectively. The author of eleven volumes of poetry as well as three volumes of children’s verse in Afrikaans, she is one of the foremost voices in Afrikaans literature. Her poetry engages with the private and political spheres, exploring subjects of political resistance, gender, and feminist transgression. In addition to her prolific writing career, she has served as the editor and translator for several publications and projects. Her work has also been extensively translated into other languages including English, Dutch, French, Spanish and Italian. She is most well-known for her autobiographical work Country of my Skull which recounts her time reporting on the Truth and Reconciliation Commission following the end of apartheid.</p>

<h2 id="KrogTOC2">Primary Works</h2>

<h3 id="KrogTOC3">Poetry in English Published as Antjie Krog</h3>

<p>Krog, Antjie, and Karen Press. “Four Poems.” World Literature Today, vol. 70, no. 1, 1996, pp. 119–20, https://www.jstor.org/stable/40151874. Accessed 24 Dec. 2022.</p>

<p>———. “Five Poems by Antjie Krog.” The Mail &amp; Guardian, 23 Dec. 1997, <a href="https://mg.co.za/article/1997-12-23-five-poems-by-antjie-krog/">https://mg.co.za/article/1997-12-23-five-poems-by-antjie-krog/</a>.</p>

<p>———. “Country of Grief and Grace.” Literary Responses to Mass Violence by Mazal Holocaust Collection, Brandeis University, 2004, <a href="https://www.librarything.com/work/18038268">https://www.librarything.com/work/18038268</a>.</p>

<p>———. Body Bereft. Johannesburg: Umuzi, 2006. </p>

<p>———. “New Alphabet.” Poetry Foundation, vol. 188, no. 1, 2006, pp. 72–73, https://www.jstor.org/stable/20607390.</p>

<p>———. Down to My Last Skin. Johannesburg: Random House, 2007.</p>

<p>———. “The Unhomely.” Modern Poetry in Translation, vol. 3, no. 10, 2008, https://modernpoetryintranslation.com/poem/the-unhomely/.</p>

<p>———. “Prayer for the Bones.” English Studies in Africa, vol. 52, no. 1, May 2009, pp. 128–32, <a href="https://doi.org/10.1080/00138390903172641">https://doi.org/10.1080/00138390903172641</a>.</p>

<p>Joubert, Marlise. “Antjie Krog - Vertaling in Engels.” Versindaba, 12 Jan. 2012, https://versindaba.co.za/2012/01/12/antjie-krog-vert/.</p>

<p>———. Skinned. Johannesburg: Penguin Random House, 2013.</p>

<p>———. “Three New Poems.” The White Review, Dec. 2013, https://www.thewhitereview.org/poetry/three-new-poems/.</p>

<p>———. Synapse. Translated by Karen Press. Cape Town: Human &amp; Rousseau, 2014.</p>

<p>———. “Manifesto - Parole - How Do I Honour My Union.” New Contrast : South African Literary Journal, vol. 1, 2016.</p>

<p>———. “How Do I Honour My Union.” New England Review, vol. 38, 2017, pp. 8–10, https://www.jstor.org/stable/44841434.</p>

<p>———. “Litany.” European Journal of International Law, vol. 30, no. 3, 2019, p. 1085.</p>

<p>———. “Last Page.” European Journal of International Law, vol. 30, no. 3, 2019, p. 1085.</p>

<p>———. “‘My Beautiful Land’ by Antjie Krog.” Literature Captive, 3 Mar. 2019, https://literaturecaptive.wordpress.com/2019/03/03/my-beautiful-land-by-antjie-krog/.</p>

<p>———. Pillage. Cape Town: Human &amp; Rousseau, 2022.</p>

<p>———. “Miracle.” New England Review (1990-), vol. 38, p. 8, https://www.jstor.org/stable/44841433. Accessed 22 Dec. 2022.</p>

<p>———. “Body Bereft (from collection).” LyriK-Line, <a href="https://www.lyrikline.org/en/poems/body-bereft-5518.%20Accessed%2016%20Jan.%202023">https://www.lyrikline.org/en/poems/body-bereft-5518. Accessed 16 Jan. 2023</a>.</p>

<h3 id="KrogTOC4">Poetry in Afrikaans Published as Antjie Krog</h3>

<p>Krog, Antjie. Dogter van Jefta (Daughter of Jephthah). Cape Town: Human &amp; Rousseau, 1970, https://www.poetryinternational.com/en/poets-poems/article/104-29843_Antjie-Krog.</p>

<p>———. Januarie Suite (january Suite). Cape Town: Human &amp; Rousseau, 1972, https://www.poetryinternational.com/en/poets-poems/article/104-29843_Antjie-Krog. Poetry International.</p>

<p>———. Beminde Antarktika (Beloved Antartica). Cape Town: Human &amp; Rousseau, 1974, https://www.poetryinternational.com/en/poets-poems/article/104-29843_Antjie-Krog. Poetry International.</p>

<p>———. Mannin (Man). Cape Town: Human &amp; Rousseau, 1974, https://www.poetryinternational.com/en/poets-poems/article/104-29843_Antjie-Krog. Poetry International.</p>

<p>———. Eerste Gedigte (First Poems). Cape Town: Human &amp; Rousseau, 1981, https://www.poetryinternational.com/en/poets-poems/article/104-29843_Antjie-Krog. Poetry International.</p>

<p>———. Otter in Bronslaai (Otter in Bronze Salad ). Cape Town: Human &amp; Rousseau, 1981, https://www.poetryinternational.com/en/poets-poems/article/104-29843_Antjie-Krog.</p>

<p>———. Jerusalemgangers (Jerusalemites). Cape Town: Human &amp; Rousseau, 1985, <a href="https://www.poetryinternational.com/en/poets-poems/article/104-29843_Antjie-Krog">https://www.poetryinternational.com/en/poets-poems/article/104-29843_Antjie-Krog</a>.</p>

<p>———. Lady Anne. Cape Town: Taurus, 1989, https://www.poetryinternational.com/en/poets-poems/article/104-29843_Antjie-Krog. Poetry International.</p>

<p>———. Mankepank en ander monsters (Mankepank and other monsters). Cape Town: Maskew Miller Longman, 1985.</p>

<p>———. Voëls van Anderste Vere (Birds of a Different Feather). Cape Town: Buchu Books, 1992.</p>

<p>———. Siklus (Cycle). Cape Town: Human &amp; Rousseau, 1994.</p>

<p>———. Gedigte 1989-1995 (Poems). Pretoria: Hond, 1995, https://www.poetryinternational.com/en/poets-poems/article/104-29843_Antjie-Krog. Poetry International.</p>

<p>———. Losvoor!: ’n versameling van Afrikaanse poësie (Shuter &amp; Shooter). Pietermaritzburg: Shuter &amp; Shooter 1996.</p>

<p>———. Kleur Kom Nooit Alleen Nie (Color Never Comes Alone ). Cape Town: Kwela, 2002, https://www.poetryinternational.com/en/poets-poems/article/104-29843_Antjie-Krog. Poetry International.</p>

<p>———. Met woorde soos met kerse (With Words as With Candles). Cape Town: Kwela Books, 2002.</p>

<p>———. Verweerskrif (Defense Letter). Johannesburg: Umuzi, 2006, https://www.poetryinternational.com/en/poets-poems/article/104-29843_Antjie-Krog. Poetry International. </p>

<p>———. Fynbos Fairies (Fynbos Fairies). 1st ed, Johannesburg: Umuzi, 2007.</p>

<p>———. Mede-Wete (Co-Knowledge). Cape Town: Human &amp; Rousseau, 2014.</p>

<h3 id="KrogTOC5">Poetry in Translation</h3>

<p>———. Om Te Kan Asemhaal (To be able to breathe). Amsterdam: Atlas, 1999.</p>

<p>———. De kleur van je hart (The color of your heart). Translated by Robert Dorsman and Hans Hartman. Amsterdam: Mets en Schilt, 2000.</p>

<p>———. Liederen van Die Blauwkraanvogel (Songs of The Blue Crane). Amsterdam: Uitgeverij Podium, 2003.</p>

<p>———. Kleur Komt Nooit Alleen (Color Never Comes Alone). Amsterdam: Uitgeverij Podium, 2003.</p>

<p>———. Wat de Sterren Zeggen (What the Stars Say). Amsterdam: Uitgeverij Podium, 2004.</p>

<p>———. Lijfkreet (Bodycree). Amsterdam: Uitgeverij Podium, 2006.</p>

<p>———. Hoe Zeg Je Dat (How do you say that). Amsterdam: Podium, 2010.</p>

<p>———. Medeweten (Knowledge). Amsterdam: Podium, 2015.</p>

<p>———. Waar Ik Jou Word (Where I Become You). Amsterdam:  Podium, 2017.</p>

<p>———. Broze Aarde: Een Mis Voor Het Universum (Fragile Earth: A Mass For The Universe). Amsterdam: Uitgeverij Podium, 2020.</p>

<p>Krog, Antjie and Georges Lory. Une syllabe de sang (A syllable of blood.) Bazas: Le temps qu’il fait, 2013.</p>

<p>———. Ni Pillard, Ni Fuyard (Neither Looter, Nor Fugitive). Bazas: Le temps qu’il fai, 2004.</p>

<p>Krog, Antjie, and Denis Thouard. “Chants maritaux suivis de Au nom de l’autre langue (Marriage Songs).” Po&amp;sie, vol. 125, no. 3, 2008, p. 46, https://doi.org/10.3917/poesi.125.0046.</p>

<p>Krog, Antjie and Barbara Jung. Körper, beraubt (Body, Deprived). Berlin: Aufl, Matthes &amp; Seitz, 2014, <a href="https://d-nb.info/1050044487/04">https://d-nb.info/1050044487/04</a>.</p>

<p>Krog, Antjie. Ciało ograbione (Body Looted). Translated by Jerzy Koch. Krak&oacute;w: Wydawnictwo Literackie, 2017.</p>

<h3 id="KrogTOC6">Creative Prose in English Published as Antjie Krog</h3>

<p>Krog, Antjie. Account of a Murder. Translated by Karen Press. Johannesburg: Heinemann, 1997.</p>

<p>———. Country of My Skull:  Guilt, Sorrow, and the Limits of Forgiveness in the New South Africa. Johannesburg: Random House, 1998, https://www.poetryinternational.com/en/poets-poems/article/104-29843_Antjie-Krog. Poetry International.</p>

<p>———. A Change of Tongue. Johannesburg: Penguin: Random House, 2003. <a href="https://www.poetryinternational.com/en/poets-poems/article/104-29843_Antjie-Krog">https://www.poetryinternational.com/en/poets-poems/article/104-29843_Antjie-Krog</a>.</p>

<p>———. “‘I, Me, Me, Mine!’: Autobiographical Fiction and the ‘I.’” English Academy Review, vol. 22, no. 1, 2005, pp. 100–07. https://doi.org/10.1080/10131750485310111.</p>

<p>———. African Love Stories: An Anthology by Ama Ata Aidoo. Edited by Ama Ata Aidoo. Banbury: Ayebia Clarke, 2006. <a href="https://www.librarything.com/work/4851247">https://www.librarything.com/work/4851247</a>.</p>

<p>———. “The Cook, the Stew and the Taster: Writing from Inside, Editing from Outside.” Scrutiny2, vol. 11, no. 2, 2006, pp. 91–96. https://doi.org/10.1080/18125440608566048.</p>

<p>———. “Fact Bordering Fiction and Honesty of ‘I.’” River Teeth, vol. 8, no. 2, 2007, pp. 34–43.</p>

<p>———. Begging to Be Black. Johannesburg: Random House, 2009.</p>

<p>———. Lady Anne: A Verse Chronicle. Lewisburg: Bucknell University Press, 2016. https://search.ebscohost.com/login.aspx?direct=true&amp;scope=site&amp;db=nlebk&amp;db=nlabk&amp;AN=1441715.</p>

<p>———. “Last Word: What Does ‘Hospitality’ Really Mean?” World Policy Journal, vol. 35, no. 1, Apr. 2018, pp. 115–17. <a href="https://muse.jhu.edu/article/689325">https://muse.jhu.edu/article/689325</a>.</p>

<h3 id="KrogTOC7">Creative Prose in Afrikaans Published as Antjie Krog</h3>

<p>Krog, Antjie. Relaas van ’n Moord. Cape Town: Human &amp; Rousseau, 1995. https://www.poetryinternational.com/en/poets-poems/article/104-29843_Antjie-Krog. Poetry International.</p>

<p>———. ’N Ander Tongval. Tafelberg, Tafelberg Publishers, 2005. https://www.poetryinternational.com/en/poets-poems/article/104-29843_Antjie-Krog. Poetry International.</p>

<h3 id="KrogTOC8">Creative Prose in Translation</h3>

<p>Krog, Antjie, and Richard Dorsman. Een Andere Tongval (Another Tongue Trap). Amsterdam: Contact, 2004. https://www.poetryinternational.com/en/poets-poems/poets/poet/102-5372_Krog. Poetry International.</p>

<p>Korg, Antjie, and Dorsman. Niets Liever Dan Zwart (Nothing Better Than Black). Amsterdam: Contact, 2010. https://www.poetryinternational.com/en/poets-poems/poets/poet/102-5372_Krog. Poetry International.</p>

<p>———. Hoe Alles Hier Verandert (How Everything Changes Here). Amsterdam: Uitgeverij Podium, 2018. https://www.poetryinternational.com/en/poets-poems/poets/poet/102-5372_Krog. Poetry International.</p>

<p>———. Quiero Ser Negra (I Want to Be Black). Translated by Amaya Bozal, Visor Distribuciones, S.A., 2021. http://public.eblib.com/choice/PublicFullRecord.aspx?p=6476056.</p>

<h3 id="KrogTOC9">Critical Prose in English Published as Antjie Krog</h3>

<p>Krog, Antjie. A Community Is as Liberated as Its Women: A Critical Look at Women in South African Poetry: A Critical Look at South African Poetry. Mowbay: IDASA, 1989.</p>

<p>———. “The Truth and Reconciliation Commission: A National Ritual?” Missionalia : Southern African Journal of Mission Studies, vol. 26, no. 1, 1998, p. 05, http://journals.co.za/content/mission/26/1/AJA02569507_904.</p>

<p>———. “Andre Du Toit.” South African Journal of Philosophy, vol. 19, no. 4, 2000, pp. 417–18, <a href="https://doi.org/10.1080/02580136.2000.11644287">https://doi.org/10.1080/02580136.2000.11644287</a>.</p>

<p>———. “Dining with the Enemy: (Or the Slaughtering of an Afrikaner Ox).” Prince Claus Fund Journal, 2001.</p>

<p>———. “‘...If It Means He Gets His Humanity Back...’: The Worldview Underpinning the South African Truth and Reconciliation Commission.” Journal of Multicultural Discourse, vol. 30, no. 3, 2008, pp. 204–20.</p>

<p>———. “My Heart Is on My Tongue: The Untranslated Self in a Translated World: The Untranslated Self in a Translated Self.” Journal of Analytical Psychology, vol. 53, no. 2, 2008, pp. 225–39, <a href="https://doi.org/10.1111/j.1468-5922.2008.00718.x">https://doi.org/10.1111/j.1468-5922.2008.00718.x</a>.</p>

<p>———. “‘This Thing Called Reconciliation...’ - Forgiveness as Part of an Interconnectedness-Towards-Wholeness.” South African Journal of Philosophy = Suid-Afrikaanse Tydskrif Vir Wysbegeerte, vol. 27, no. 4, 2008, p. 353, <a href="http://journals.co.za/content/sajop/27/4/EJC96050">http://journals.co.za/content/sajop/27/4/EJC96050</a>.</p>

<p>———. There Was This Goat: Investigating the Truth Commission Testimony of Notrose Nobomvu Konile. University of KwaZulu-Natal Press, 2009.</p>

<p>Krog, Antjie, and Nosisi Mpolweni. “Archived Voices: Refiguring Three Women’s Testimonies Delivered to the South African Truth and Reconciliation Commission.” Tulsa Studies in Women’s Literature, vol. 28, no. 2, 2009, pp. 357–74, <a href="https://www.jstor.org/stable/40783424">https://www.jstor.org/stable/40783424</a>.</p>

<p>———. “What the Hell Is Penelope Doing in Winnie’s Story?” English in Africa, vol. 36, no. 1, 2009, pp. 55–60, https://www.jstor.org/stable/40239123.</p>

<p>Krog, Antjie. “Die Verkleurmannetjie(s) Op Shaka: ’n Vergelyking Tussen D. J. Opperman En Thomas Mofolo.” Tydskrif Vir Letterkunde, vol. 47, no. 2, 2010, <a href="http://www.scielo.org.za/scielo.php?script=sci_arttext&amp;pid=S0041-476X2010000200001&amp;lng=en&amp;tlng=en">http://www.scielo.org.za/scielo.php?script=sci_arttext&amp;pid=S0041-476X2010000200001&amp;lng=en&amp;tlng=en</a>.</p>

<p>Krog, Antjie, and Rosalind Morris. “Translation as Reconciliation: A Conversation about Politics, Translation, and Multilingualism in South Africa.” The Translator as Mediator of Cultures, edited by Humphrey Tonkin and Maria Esposito Frank, John Benjamins Publishing Company, 2010, pp. 17–36, <a href="https://benjamins.com/catalog/wlp.3.04kro">https://benjamins.com/catalog/wlp.3.04kro</a>.</p>

<p>———. “De La Rey Is New Ancestor of Afrikaner Youth.” Ilha Do Desterro, vol. 61, 2011, pp. 029–36.</p>

<p>———. Where I Become You. Sun Press, 2011, http://192.168.2.15/.</p>

<p>———. “Soccer Steps in Where Politics Fail to Create a New Vocabulary.” Ilha Do Desterro, vol. 61, 2011, pp. 189–98.</p>

<p>———. Conditional Tense: Memory and Vocabulary after the South African Truth and Reconciliation Commission. Seagull Books, 2013, <a href="http://bvbr.bib-bvb.de:8991/F?func=service&amp;doc_library=BVB01&amp;local_base=BVB01&amp;doc_number=027083865&amp;line_number=0001&amp;func_code=DB_RECORDS&amp;service_type=MEDIA">http://bvbr.bib-bvb.de:8991/F?func=service&amp;doc_library=BVB01&amp;local_base=BVB01&amp;doc_number=027083865&amp;line_number=0001&amp;func_code=DB_RECORDS&amp;service_type=MEDIA</a>.</p>

<p>———. “‘The Young Wind Once Was a Man.’” International Journal of Public Theology, vol. 8, no. 4, Nov. 2014, pp. 373–92, https://doi.org/10.1163/15697320-12341364.</p>

<p>———. “Research into Reconciliation and Forgiveness at the South African Truth and Reconciliation Commission and Homi Bhabha’s ‘Architecture of the New.’” Canadian Journal of Law and Society, vol. 30, 2015, p. 203, <a href="https://muse.jhu.edu/article/588008">https://muse.jhu.edu/article/588008</a>.</p>

<p>———. “‘...Oi, Oi! ... You Must Go by the Right Path’: Mofolo’s Chaka Revisited via the Original Text.” Tydskrif Vir Letterkunde, vol. 53, no. 2, 2016, pp. 87–97, <a href="https://doi.org/10.17159/tvl.v.53i2.6">https://doi.org/10.17159/tvl.v.53i2.6</a>.</p>

<p>Antjie Krog and Ndebele, Njabulo S. “A Case for Sheer Compulsive and Imaginative Depth.” Tydskrif Vir Letterkunde, vol. 53, no. 2, 2016, pp. 98–104.</p>

<p>Krog, Antjie, and Sindiwe Magona. “Mqhayi’s Chapter and Verse: Kees van Die Kalahari Becoming u-Adonisi Wasentlango.” Tydskrif Vir Letterkunde, vol. 52, no. 1, Mar. 2017, pp. 5–17, https://doi.org/10.4314/tvl.v52i1.1.</p>

<p>———. “A Reflection on Solomon Tshekisho Plaatje’s Mhudi by Antjie Krog.” Zubeida Jaffer, 17 Sept. 2018, <a href="https://www.zubeidajaffer.co.za/a-reflection-on-solomon-tshekisho-plaatjes-mhudi-by-antjie-krog/">https://www.zubeidajaffer.co.za/a-reflection-on-solomon-tshekisho-plaatjes-mhudi-by-antjie-krog/</a>.</p>

<p>———. “To Write Liberty.” Current Writing: Text and Reception in Southern Africa, vol. 30, no. 1, Jan. 2018, pp. 77–84, https://doi.org/10.1080/1013929X.2018.1439868.</p>

<p>———. “‘The Gwarrie Call That They Recognise’: An Analysis of the Translated Sesotho Poem “.” Current Writing: Text and Reception in Southern Africa, vol. 33, no. 1, Jan. 2021, pp. 50–62, https://doi.org/10.1080/1013929X.2021.1901417.</p>

<p>———. “Some New Perspectives on the Soweto Uprising: H. M. L. Lentsoane’s Poem ‘Black Wednesday’ (‘Laboraro Le Lesoleso’).” Tydskrif Vir Letterkunde, vol. 59, no. 3, 2022, pp. 113–30.</p>

<p>———. “Women’s Voices: African Poetry in Motion.” Journal for the Study of Religion, vol. 14, p. 15, <a href="https://www.jstor.org/stable/24764163.%20Accessed%2024%20Dec.%202022">https://www.jstor.org/stable/24764163. Accessed 24 Dec. 2022</a>.</p>

<h3 id="KrogTOC10">Critical Prose in Translation</h3>

<p>Krog, Antjie. La Douleur Des Mots (The Pain of Words). Arles: Actes Sud, 2004, </p>

<p>Krog, Antjie. Terra Del Mio Sangue (Land of my blood). Rome: Nutrimenti, 2006, https://www.poetryinternational.com/en/poets-poems/article/104-29843_Antjie-Krog. Poetry International.</p>

<h3 id="KrogTOC11">As Editor</h3>

<p>Krog, Antjie, and Johann De Lange. Die Trek Die Dye Aan (The Dress The Thighs).  Cape Town: Human and Rousseau, 1998, https://www.poetryinternational.com/en/poets-poems/article/104-29843_Antjie-Krog. Poetry International.</p>

<p>———. Met Woorde Soos Met Kerse (With Words Like With Candles). Cape Town: Kwela Books, 2002, https://www.poetryinternational.com/en/poets-poems/article/104-29843_Antjie-Krog. Poetry International.</p>

<p>Krog, Antjie. Die Sterre S&ecirc; “Tsau (The Stars say Tsau).” Cape Town: Kwela Books, 2004, https://www.poetryinternational.com/en/poets-poems/article/104-29843_Antjie-Krog. Poetry International.</p>

<p>Krog, Antjie, and Alfred Schaffer, editors. Nuwe stemme 3 (New Voices). Tafelberg: Tafelberg, 2005.</p>

<p>Krog, Antjie, and Megan Hall, editors. Stitching a Whirlwind: An Anthology of Southern African Poems and Translations. Oxford: Oxford University Press, 2018.</p>

<p>Schimke, Karin. ‘How Does One Take Part in a National Dialogue When Your Voice Carries This Baggage?’ Antjie Krog Interviews Award-Winning Poet Karin Schimke. Interview by Antjie Krog, 5 Mar. 2018, <a href="https://johannesburgreviewofbooks.com/2018/03/05/how-does-one-take-part-in-a-national-dialogue-when-your-voice-carries-this-baggage-antjie-krog-interviews-award-winning-poet-karin-schimke/">https://johannesburgreviewofbooks.com/2018/03/05/how-does-one-take-part-in-a-national-dialogue-when-your-voice-carries-this-baggage-antjie-krog-interviews-award-winning-poet-karin-schimke/</a>.</p>

<h3 id="KrogTOC12">Interviews</h3>

<p>Krog, Antjie. Michelle McGrane. “Literature Enables you to Examine your Life: Michelle McGrane interviews Antjie Krog.” LitNet. 23 Aug. 2006, https://oulitnet.co.za/nosecret/antjie_krog.asp.</p>

<p>Krog, Antjie. Interview with Dimitriu, Ileana. “Interviews: Translating and Being Translated: An Interview with Antjie Krog.” Scrutiny 2, vol. 12, no. 2, 2007, pp. 135–53.</p>

<p>Krog, Antjie. Interview with Duncan Brown. “Creative Non-Fiction: A Conversation.” Current Writing: Text and Reception in Southern Africa, vol. 23, no. 1, May 2011, pp. 57–70, <a href="https://doi.org/10.1080/1013929X.2011.572345">https://doi.org/10.1080/1013929X.2011.572345</a>.</p>

<p>Krog, Antjie. Interview with Bibliotheek Den Haag.  “Bij Writers Unlimited “The Series” (10 Oktober 2012). YouTube, uploaded by Bibliotheek Den Haag, 20 Oct. 2012, <a href="https://www.youtube.com/watch?v=3hJga6TM5p0">https://www.youtube.com/watch?v=3hJga6TM5p0</a>.</p>

<p>Krog, Antjie. Interview with Manuela Kalsky. “Antjie Krog Deel1.” YouTube, uploaded by Nieuw Wij, 20 Jan. 2014, <a href="https://www.youtube.com/watch?v=PqOTSqfbXYg">https://www.youtube.com/watch?v=PqOTSqfbXYg</a>.</p>

<p>Krog, Antjie. Inteview with Patton, Paul. “As I Was Saying in Berlin.” Life Writing, vol. 11, no. 2, 2014, pp. 177–88.</p>

<p> Krog, Antjie. “FVZS Discourse Caf&eacute;: Antjie Krog (FULL LENGTH),” YouTube, uploaded by BonfiireZA, 15 Oct. 2015, <a href="https://www.youtube.com/watch?v=fS1q_ZEJNJQ">https://www.youtube.com/watch?v=fS1q_ZEJNJQ</a>.</p>

<p>Krog Antjie. “Voices Of Africa Episode 5 - Woman, Womb, World.” Youtube, uploaded by Bjorn Rudner, 10 Apr. 2015, https://www.youtube.com/watch?v=iAKiyc15cfM.</p>

<p>Krog, Antjie. Interview with Njabulo S. Ndebele,. “A Case for Sheer Compulsive and Imaginative Depth: Interview.” Tydskrif Vir Letterkund, vol. 53, no. 2, 2016, pp. 98–104.</p>

<p>Krog, Antjie. Interview with Nathaniel Freed. “Interview with South African Poet Antjie Krog: Interview by Nathaniel Freed.” Buckness University Press, 28 Sept. 2017. <a href="https://upress.blogs.bucknell.edu/2017/09/28/794/">https://upress.blogs.bucknell.edu/2017/09/28/794/</a>.</p>

<p>Krog, Antjie. Interview with Literary Globe. “Literary Globe Interview with Antjie Krog.” YouTube, 18 Feb. 2018, https://www.youtube.com/watch?v=S1sgD2sss10.</p>

<p>Krog Antjie. Interview with Margriet van der Waal. “Interview Met Antjie Krog Tijdens de Stadsdichteravond (Interview with Antjie Krog during the Stadsdichteravond).” YouTube, 12 Feb. 2019, https://www.youtube.com/watch?v=4_HKYYX6j2E.</p>

<p>Krog, Antjie. Interview with Ellen Deckwitz “Antjie Krog &amp; Ellen Deckwitz: Indi&euml; En Zuid-Afrika, Geschiedenis in Gedichten.” YouTube. Uploaded by Bibliotheek Den Haag, Feb 20, 2019. <a href="https://www.youtube.com/watch?v=vOZ_WzhjjVA">https://www.youtube.com/watch?v=vOZ_WzhjjVA</a>.</p>

<p>Krog, Antjie. “Simone Atangana Bekono, Antjie Krog, Mukoma Wa Ngũgĩ &amp; Petina Gappah - Winternachten 2020.” Youtube, uploaded by Writers Unlimited, 29 Sept. 2020, <a href="https://www.youtube.com/watch?v=So-mvVwbjLc">https://www.youtube.com/watch?v=So-mvVwbjLc</a>.</p>

<p>Krog, Antjie. Interview with Peter McDonald.  “Art &amp; Action: An Exchange with Antjie Krog.” Newspaper, 3 Sept. 2020, https://www.torch.ox.ac.uk/article/art-1.</p>

<p>Krog, Antjie. Interview with African Studies Centre. “Antjie Krog En De Klimaatdichters.” YouTube, uploaded by African Studies Centre Leiden, 6 Dec. 2021, https://www.youtube.com/watch?v=IJKSKgsGww4.</p>

<p>Krog, Antjie. Interview with Daniel Hugo. “Ek Wou Nog S&ecirc;... (I Just Wanted To Say...)” YouTube, uploaded by AVBOB Poetry, 6 June 2021, https://www.youtube.com/watch?v=Kmia3PLfTqo.</p>

<p>Krog, Antjie. Interview with SABC News. “Antjie Krog on Her New Collection of Poetry Titled “Pillage.” Youtube, uploaded by SABC News Broadcast, 4 Dec. 2022, https://www.youtube.com/watch?v=zyzJAsMeMns.</p>

<h2 id="KrogTOC13">Secondary Works</h2>

<h3 id="KrogTOC14">General Overviews in English</h3>

<p>“Antjie Krog.” SA Online. <a href="https://www.sahistory.org.za/people/antjie-krog">https://www.sahistory.org.za/people/antjie-krog</a> Accessed on 24 March, 2023.</p>

<p>Cox, Brian, ed. African Writers. New York : London: Charles Scribner’s Sons ; Simon &amp; Schuster Prentice Hall International, 1997.</p>

<p> Emmanuel K. Akyeampong and Henry Louis Gates, Jr, ed. “Dictionary of African Biography, Volumes 1-6.” Oxford: Oxford University Press, 2012.</p>

<p>George, Olakunkle. A Companion to African Literatures. New York: John Wiley &amp; Sons, 2021. </p>

<p>Gikandi, Simon. Routledge Encyclopedia of African Literature. Milton Park: Routledge, 2003.</p>

<p>Atwell, David. The Cambridge History of South African Literatures. Cambridge: Cambridge University Press, 2012.</p>

<p>Klein, Leonard S., ed. African Literatures in the 20th Century: A Guide. New York: Ungar Pub. Co, 1986.</p>

<p>O’Hara, Barbara. “Third World Women’sLiterature: A Dictionary and Guide to Materials in English.” RQ, vol. 35, no. 4, summer 1996, pp. 565+. Gale Academic OneFile, link.gale.com/apps/doc/A18680139/AONE?u=googlescholar&amp;sid=googleScholar&amp;xid=30090cd3. Accessed 24 Mar. 2023.</p>

<h3 id="KrogTOC15">Book Reviews</h3>

<p>Andre, Rob. “Fynbos Fairies, Antjie Krog and Fiona Moodie : Book Review.” Veld &amp; Flora, vol. 102, no. 4, Dec. 2016, p. 190, https://doi.org/10.10520/EJC199261.</p>

<p>Barnett, Ursula A. “Book Review: Country of My Skull: Guilt, Sorrow, and the Limits of Forgiveness in the New South Africa.” World Literature Today, vol. 73, no. 4, 1999, pp. 802–03, https://www.jstor.org/stable/40155254.</p>

<p>Botha, Marisa. “Skinned by Antjie Krog.” Ariel: A Review of International English Literature, vol. 44, no. 4, 2013, pp. 233–35, https://doi.org/10.1353/ari.2013.0031.</p>

<p>“COUNTRY OF MY SKULL.” Kirkus Reviews, 1999, https://www.kirkusreviews.com/book-reviews/antjie-krog/country-of-my-skull/.</p>

<p>“Country of My Skull: Guilt, Sorrow, and the Limits of Forgiveness in the New South Africa by Antjie Krog.” Publishers Weekly, https://www.publishersweekly.com/9780812931280. Accessed 10 Jan. 2023.</p>

<p>Daymond, M. J. “Antjie Krog: An Ethics of Body and Otherness Ed. by Judith L&uuml;tge Coullie and Andries Visagie (Review).” Transformation, vol. 89, no. 1, 2015, p. 112.</p>

<p>Don Foster. “Not Quite Reconciliation.” Psychology in Society, no. 43, 2012, pp. 85–86, https://paperity.org/p/215279266.</p>

<p>Du Preez, Max. “Review: Begging to Be Black, Antjie Krog.” Rapport, 2009, https://groundwork.wordpress.com/2010/02/17/review-begging-to-be-black-antjie-krog/.</p>

<p>Dunton, Chris. “Synapse by Antjie Krog (Review).” Research in African Literatures, vol. 49, no. 4, 2018, pp. 201–04.</p>

<p>Gerhart, Gail M. “Book Review: Country of My Skull.” Foreign Affairs, vol. 77, no. 5, 1998, pp. 167–68, https://www.jstor.org/stable/20049112.</p>

<p>Honey, C. “Two Worlds in Rhythm: Book Reviews.” Financial Mail, vol. 162, Mar. 2001, p. 104.</p>

<p>Kratz, Henry. “Book Review: Otters in Bronslaai.” World Literature Today, vol. 56, no. 3, 1982, p. 562, https://www.jstor.org/stable/40137450.</p>

<p>Oliver, Gerrit. “The Fierce Belonging of Antjie Krog: Review of Country of My Skull by Antjie Krog : Book Review.” African Studies, vol. 57, Dec. 1998, p. 221.</p>

<p>Penfold, Tom. “Book Review: Antjie Krog.” Dr. Ben Khumalo-Seegelken, 7 Jan. 2017, https://www.benkhumalo-seegelken.de/suedafrika-texte/1891-book-review-antjie-krog/.</p>

<p>Toerien, Barend J. “Book Review: Down to My Last Skin.” World Literature Today, vol. 75, no. 3/4, 2001, p. 124, https://www.jstor.org/stable/40156791.</p>

<p>———. “Book Review: Gedigte 1989-1995 (Poems 1989-1995).” World Literature Today, vol. 71, no. 1, 1997, pp. 211–12, https://www.jstor.org/stable/40152762.</p>

<p>———. “Book Review: Jerusalemgangers (Jerusalemites).” World Literature Today, vol. 61, no. 1, 1987, p. 146, https://www.jstor.org/stable/40142662.</p>

<p>———. “Book Review: Kleur Kom Nooit Alleen Nie (Color Never Comes Alone).” World Literature Today, vol. 75, no. 3/4, 2001, pp. 124–25, https://www.jstor.org/stable/40156792.</p>

<p>———. “Book Review: Lady Anne.” World Literature Today, vol. 64, no. 4, 1990, pp. 688–89, https://www.jstor.org/stable/40147061.</p>

<p>Van der Elst, Jacques. “Nuwe Stemme 3 (New Voices 3), Antjie Krog &amp; Alfred Schaffer (Samest.): Book Review.” Tydskrif Vir Geesteswetenskappe, vol. 46, 2006, p. 394, http://journals.co.za/content/akgees/46/3/EJC19987.</p>

<p>Van Schafkwyk, A. &amp;. Saayman, W. A. “Country of My Skull: Two Reviews.” Missionalia : Southern African Journal of Mission Studies, vol. 26, p. 439, http://journals.co.za/content/mission/26/3/AJA02569507_148. Accessed 10 Jan. 2023.</p>

<p>Vijoen, Louise. “Lady Anne by Antjie Krog.” The Republic of South Africa in the Post Colonial Literature, http://www.postcolonialweb.org/sa/viljoen/5.html. Accessed 10 Jan. 2023.</p>

<p>Weyer, C. “Body Bereft, by A. Krog: Book Review.” English Academy Review, vol. 26, 2009, p. 120.</p>

<h3 id="KrogTOC16">Thesis and Dissertations</h3>

<p>Abrahams, Fernel Rodger. Die rol van die egosentriese outeur in die po&euml;sie van Antjie Krog, met spesifieke verwysing na Lady Anne (1989). University of Cape Town, 1992, https://open.uct.ac.za/handle/11427/22180.</p>

<p>Botha, Maria Elizabeth. Die Outobiografiese Kode in Antjie Krog Se Po&euml;tiese Oeuvre. Nelson Mandela Metropolitan University, 2011.</p>

<p>Crous, Matthys Lourens. Die Diskoers van Antjie Krog Se Lady Anne (1989). Stellenbosch University, 2002.</p>

<p>De Munster, Anke. An Investigation of the Process of Rebuilding Identity in Antjie Krog’s Literature and Its Effect on the Reader: An Analysis of Dogter van Jefta, Lady Anne and Country of My Skull. Universiteit Gent, 2013.</p>

<p>Dix, Brett Gavin. Cultural Memory and Myth in Seamus Heaney’s Bog Poems, and Antjie Krog’s Country of My Skull and Down to My Last Skin. University of Kwazulu-natal, 2007, https://researchspace.ukzn.ac.za/handle/10413/977.</p>

<p>Du Plessis, Catherine Jeanne. Poetry Portfolio : Things I’ll Never Say and Mini-Dissertation : The Fragmented Self : Female Identity in Personal Poetry, with Particular Reference to Selected Poems by Anne Sexton, Antjie Krog and Finuala Dowling. University of Pretoria, 2010, https://repository.up.ac.za/handle/2263/30351.</p>

<p>Fransman, Jolene. Literary Non-Fiction and the Unstable Fault Line of the Imaginative and the Reportorial : Antjie Krog’s, Country of My Skull, Pumla Gobodo-Madikizela’s, A Human Being Died That Night and Sindiwe Magona’s, Mother to Mother. Stellenbosch University, 2012.</p>

<p>Garman, Anthea. Antjie Krog, Self and Society: The Making and Mediation of a Public Intellectual in South Africa. University of the Witwatersrand, 2009, chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/https://wiredspace.wits.ac.za/server/api/core/bitstreams/43a5edd3-555c-4d21-aea1-6c69f8c178f3/content.</p>

<p>Honey, Marisa Freya. (Un)(Sub)Conscious Manipulation: Antjie Krog’s Translation of Nelson Mandela’s “Long Walk to Freedom.” University of Stellenbosch, 2006, http://hdl.handle.net/10019.1/2183.</p>

<p>Hough, Lucelle. Aal En Kulturele Identiteit in Mamma Medea van Tom Lanoye (2001) En Antjie Krog. Stellenbosch University, 2002.</p>

<p>Louise Weyer, Christine. Confession, Embodiment and Ethics  in the Poetry of Antjie Krog  and Joan Metelerkamp. Stellenbosch University, 2013, chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/https://core.ac.uk/download/pdf/37411493.pdf.</p>

<p>Louw, Maryna. Antjie Krog Se ‘n Ander Tongval as Liter&ecirc;re Nie-Fiksie. University of Johannesburg, 2012.</p>

<p>Malherbe, Lisa Susan. The Perpetrator’s Narrative and Myth : A Study of Country of My Skull and Ubu and the Truth Commission. Stellenbosch University, 2002.</p>

<p>Minnie, Tertia Johanna. Teks En Gemeenskap : ’n Skryfmatige Lesing van Lady Anne van Antjie Krog / Tertia Johanna Minnie. North-West University, 1992.</p>

<p>Olivier, H. M. Dissonansie in die digkuns van Antjie Krog. University of Cape Town, 2000, https://open.uct.ac.za/handle/11427/7821.</p>

<p>Rayneard, Max James Anthony. Performing Literariness: Literature in the Event in South Africa and the United States. University of Oregon, Sept. 2011, https://scholarsbank.uoregon.edu/xmlui/handle/1794/12083.</p>

<p>Scott, Heather Ashley. The Narrative of the ‘new’ South Africa: Bearing Witness to the Truth and Reconciliation Commission on Its 20th Anniversary. University of Cape Town, 2021.</p>

<p>Stuit, H. H. Ubuntu Strategies in Contemporary South African Culture. University of Amsterdam, 2013.</p>

<p>Van Niekerk, Jacomien. Om Te Hoort : Aspekte van Identiteit in Antjie Krog Se Transformasie-Trilogie. University of Pretoria, 2014.</p>

<p>Van Schalkwyk, Julia Mariana. Die Outobiografiese in Antjie Krog Se Gedigte En ’n Ander Tongval / J.M. van Schalkwyk . North-West University.</p>

<p>Voges, Remona. Die Hantering van Die Begrip ‘Interverbondenheid’ in Antjie Krog Se Bundel Mede-Wete. Stellenbosch University, 2017.</p>

<p>Vosloo, Frances Antoinette. Om Te Skryf Deur Te Vertaal En Te Vertaal Deur Te Skryf : Antjie Krog as Skrywer/Vertaler. Stellenbosch : University of Stellenbosch, Mar. 2010, <a href="https://scholar.sun.ac.za:443/handle/10019.1/4011">https://scholar.sun.ac.za:443/handle/10019.1/4011</a>.</p>

<h3 id="KrogTOC17">Secondary Sources in English, Excluding General Overviews and Book Reviews</h3>

<p>Britt, Michael. “Struggles Over Voice: Polyphony, Appropriation, and the Construction of Truth In Country of My Skull.” Current Writing, vol. 30, no. 2, 2008, p. 116.</p>

<p>Chapman, Michael. “‘To Petrus’: Coetzee, Krog, Critics.” Current Writing: Text and Reception in Southern Africa, vol. 22, no. 1, Jan. 2010, pp. 155–62, https://doi.org/10.1080/1013929X.2010.9678340.</p>

<p>Chew, Dalglish. “Accounting for Language: Narrative Ethics and Economic Reparations in Antjie Krog’s Country of My Skull.” Safundi, vol. 13, no. 1–2, 2012, pp. 91–114.</p>

<p>Cloete, Elsie. “Afrikaner Identity: Culture, Tradition and Gender.” Agenda, no. 13, 1992, pp. 42–56, https://doi.org/10.2307/4065612.</p>

<p>Coetzee, Carli. “They Never Wept, the Men of My Race’: Antjie Krog’s ‘Country of My Skull’ and the White South African Signature.” Journal of Southern African Studies, vol. 27, no. 4, 2001, pp. 685–96.</p>

<p>Coullie, Judith L&uuml;tge. “Remembering to Forget: Testimony, Collective Memory and the Genesis of the ‘New’ South African Nation in Country of My Skull.” Current Writing: Text and Reception in Southern Africa, vol. 19, no. 2, Jan. 2007, pp. 123–43, https://doi.org/10.1080/1013929X.2007.9678277.</p>

<p>Davies, Rebecca J. “Rebuilding the Future?” The Lancet, vol. 356, no. 9246, 2000, p. 2021, <a href="https://doi.org/10.1016/S0140-6736(05)73003-8">https://doi.org/10.1016/S0140-6736(05)73003-8</a>.</p>

<p>Dix, Brett Gavin. Cultural Memory and Myth in Seamus Heaney’s Bog Poems, and Antjie Krog’s Country of My Skull and Down to My Last Skin. 2007. University of Kwazulu-natal. https://researchspace.ukzn.ac.za/handle/10413/977.</p>

<p>Garman, Anthea. Antjie Krog, the ‘African’, Afrikaans, South African Intellectual. https://www.academia.edu/37626978/Antjie_Krog_the_African_Afrikaans_South_African_Intellectual. Athens.</p>

<p>———. “Antjie Krog, the TRC and the Ethical Performance of Listening.” Healing Through Narrative, University of Cape Town, 2006, https://www.academia.edu/3249629/Antjie_Krog_the_TRC_and_the_Ethical_Performance_of_Listening.</p>

<p>———. “Confession and Public Life in Post-Apartheid South Africa: A Foucauldian Reading of Antjie Krog’s Country of My Skull.” Journal of Literary Studies, vol. 22, 2006, p. 322, http://journals.co.za/content/litstud/22/3_4/EJC62411.</p>

<p>Harris, Ashleigh. “Accountability, Acknowledgement and the Ethics of Quilting in Antjie Krog’s Country of My Skull.” Journal of Literary Studies, vol. 22, no. 1–2, June 2006, pp. 27–54, https://go.gale.com/ps/i.do?p=AONE&amp;sw=w&amp;issn=02564718&amp;v=2.1&amp;it=r&amp;id=GALE%7CA156204965&amp;sid=googleScholar&amp;linkaccess=abs.</p>

<p>Highman, Kate. “Forging a New South Africa: Plagiarism, Ventriloquism and the ‘Black Voice’ in Antjie Krog’s Country of My Skull.” Journal of Southern African Studies, vol. 41, no. 1, 2015, pp. 187–206.</p>

<p>Jacobs, Ihette.  “Mede-Wete, Antjie Krog : Boekresensie.” Tydskrif Vir Letterkunde, vol. 52, no. 2, 2015, pp. 235–36.</p>

<p>Jacobs, J. U. “Reconciling Languages in Antjie Krog’s Country of My Skull.” Current Writing: Text and Reception in Southern Africa, vol. 12, no. 2, Jan. 2000, pp. 38–51, https://doi.org/10.1080/1013929X.2000.9678083.</p>

<p>Kollmann Adlam, Elizabeth. “Antjie Krog: An Ethics of Body and Otherness.” Life Writing, vol. 13, no. 3, 2013, pp. 401–04.</p>

<p>le Roux, Lizelle. “Where does evil reside? A comparative study of Hannah Arendt and Antjie Krog.” Pretoria Student Law Review, no. 3, 2009.</p>

<p>Marshall, Christine. “A Change of Tongue: Antjie Krog’s Poetry in English.” Scrutiny 2, vol. 12, no. 1, 2012, pp. 77–92.</p>

<p>McDonald, Peter. “Beyond Translation: Antjie Krog vs the ‘Mother Tongue.’” Artefacts of Writing: Ideas of the State and Communities of Letters from Matthew Arnold to Xu Bing, Oxford Academic, 2017, pp. 209–25.</p>

<p>Meira, Cook. “Metaphors for Suffering: Antjie Krog’s ‘Country of My Skull.’” Mosaic, vol. 34, no. 3, 2001, pp. 73–89.</p>

<p>Meyer, Stephan. “The Only Truth Stands Skinned in Sound ‘ 1 : Antjie Krog as Translator.” Scrutiny 2, vol. 7, no. 2, 2002, pp. 3–18.</p>

<p>Moss, Laura. “Nice Audible Crying”: Editions, Testimonies, and “Country of My Skull.” Research in African Literatures, vol. 37, no. 4, 2006, pp. 85–104, https://login.libproxy.unl.edu/login?qurl=https://www.jstor.org/stable/3821230.</p>

<p>Murray, J. “‘Accused by the Place and Face of the Other’ : Negotiations with Complicity in the Work of Antjie Krog and Yvonne Vera.” Literator, vol. 30, no. 3, 2009, pp. 1–27.</p>

<p>Phiri, Aretha. “The Race for Reparation(s), the (Im)Possibility of Repair in Toni Morrison’s Beloved and Antjie Krog’s Country of My Skull.” Safundi (Nashville, Tenn.), vol. 21, no. 1, 2020, pp. 69–84.</p>

<p>Pieterse, Annel. “We Who Belong to This Landscape: Antjie Krog and the Politics of Space.” Current Writing: Text and Reception in Southern Africa, vol. 19, no. 2, Jan. 2007, pp. 163–86, https://doi.org/10.1080/1013929X.2007.9678279.</p>

<p>Polatinsky, A. “Living with Grace on the Earth: The Poetic Voice in Antjie Krog’s A Change of Tongue/ Om Die Aarde Met Welwillendheid Te Bewoon.” Literator, vol. 30, no. 2, 2009, p. 69.</p>

<p>Renders, Luc. “Antjie Krog: An Unrelenting Quest for Wholeness.” Dutch Crossing, vol. 30, no. 1, 2006, pp. 43–62.</p>

<p>Robbe, Ksenia. “Translating Transition: The Politics of Nostalgia and Provincialization in Antjie Krog’s a Change of Tongue and Begging to Be Black.” Tijdschrift Voor Nederlandse Taal-En Letterkunde, vol. 131, no. 4, 2015, pp. 323–38, https://www.researchgate.net/publication/327049512_Translating_transition_The_politics_of_Nostalgia_and_provincialization_in_Antjie_Krog’s_a_change_of_tongue_and_begging_to_be_black.</p>

<p>ROBINSON, A. S. “The Creative Functioning of Biblical Imagery in a Complex Poetic Text—“die Jerusalemgangers (Jerusalem-gangers 1985)” by antjie krog.” Neotestamentica, vol. 28, no. 2, 1994, pp. 413–28.</p>

<p>Rodrigues, Elizabeth. “Antjie Krog and the Autobiography of Postcolonial Becoming.” Biography (Honolulu), vol. 37, no. 3, 2014, pp. 725–44.</p>

<p>Rostan, Kim. “The Ethics of Infidelity in Country of My Skull.” Current Writing: Text and Reception in Southern Africa, vol. 19, no. 2, Jan. 2007, pp. 144–62, https://doi.org/10.1080/1013929X.2007.9678278.</p>

<p>Sanders, Mike. “Truth, Telling, Auestioning: the Truth and Reconciliation Commission, Antjie Krog’s Country of My Skull’, and Literature after Apartheid.” Modern Fiction Studies, vol. 46, no. 1, 2000, pp. 13–41, https://www.jstor.org/stable/26285666?searchText=Antjie+Krog&amp;searchUri=%2Faction%2FdoBasicSearch%3FQuery%3DAntjie%2BKrog&amp;ab_segments=0%2FSYC-6744_basic_search%2Fcontrol&amp;refreqid=fastly-default%3A0c099327a486b36742bdeb9bbc11d039#metadata_info_tab_contents.</p>

<p>Schaffer, Kay, and Sidonie Smith. “Human Rights, Storytelling, and the Position of the Beneficiary: Antjie Krog’s ‘Country of My Skull.’” PMLA, vol. 121, no. 5, 2006, pp. 1577–84.</p>

<p>“Sharing Haunted Spaces: The Potential for Change in Marlene van Niekerk’s Agaat and There Was This Goat by Antjie Krog, Nosisi Mpolweni and Kopano Ratele.” English in Africa, vol. 39, no. 12, Aug. 2012, https://doi.org/10.4314/eia.v39i1.4.</p>

<p>Snyman, Gerrie. “Race in South Africa: A Hidden Transcript Turned Public? The Problem of Identifying with Esther / Mordecai or Haman in the Book of Esther.” Scriptura : International Journal of Bible, Religion and Theology in Southern Africa, vol. 84, no. 1, 2003, p. 438, http://journals.co.za/content/script/84/1/EJC100644.</p>

<p>Strauss, Helene. “From Afrikaner to African: Whiteness and the Politics of Translation in Antjie Krog’s A Change of Tongue.” African Identities, vol. 4, no. 2, Oct. 2006, pp. 179–94, https://doi.org/10.1080/14725840600761112.</p>

<p>Svicevic, Marko. “The Political Constructions of Justice: Reviewing Antjie Krog’s Country of my Skull and the Application of African Jurisprudence.” Pretoria Student Law Review, vol. 9, 2015.</p>

<p>Tagwirei, Cuthbeth. “Antjie Krog and the Post-Apartheid Public Sphere: Speaking Poetry to Power.” English Academy Review, vol. 33, no. 2, July 2016, pp. 105–07, https://doi.org/10.1080/10131752.2016.1249664.</p>

<p>Taljard, Marlies. “‘... But No Wings Buttress Now’: Selected Poems in Antjie Krog’s Mede-Wete Read through the Lens of Autobiographical Post-Secular Late Work.” Tydskrif Vir Geesteswetenskappe, vol. 61, no. 3, 2021, p. 690.</p>

<p>———. “The Universal Sanctity of Whiteness: Antjie Krog\’s Negotiation of Black Responses to White Transformation in A Change of Tongue.” Current Writing: Text and Reception in Southern Africa, vol. 19, no. 3, 2007, pp. 210–30, http://www.ajol.info/index.php/cw/article/view/42683.</p>

<p>Titlestad, Michael, and Mike Kissack. “Hospitality in Karel Schoeman’s Promised Land and Antjie Krog’s Country of My Skull.” Journal of Literary Studies, vol. 24, no. 1, 2008, pp. 58–81.</p>

<p>Upton, Jennifer. “Vulnerable Bodies in Antjie Krog’s Begging to Be Black.” Current Writing: Text and Reception in Southern Africa, vol. 28, no. 2, July 2016, pp. 173–83, https://doi.org/10.1080/1013929X.2016.1202046.</p>

<p>Van Coller, H. P. “Antjie Krog’s Translation of Henk van Woerden’s Novel ‘Een Mond Vol Glas.” Literato, vol. 23, no. 2, 2002, pp. 129–63.</p>

<p>van Coller, HP, and BJ Odendaal. “Antjie Krog’s Role as Translator: A Case Study of Strategic Positioning in the Current South African Literary Poly‐system.” Current Writing: Text and Reception in Southern Africa, vol. 19, no. 2, Jan. 2007, pp. 94–122, https://doi.org/10.1080/1013929X.2007.9678276.</p>

<p>Van Niekerk, Jacomien. “Mostly ‘Black’ and ‘White’: ‘Race’, Complicity and Restitution in the Non-Fiction of Antjie Krog.” Literator, vol. 37, no. 1, Aug. 2016, https://doi.org/10.4102/lit.v37i1.1264.</p>

<p>———. “The National Question in Antjie Krog’s ‘Transformation Trilogy’*.” Journal of Literary Studies, vol. 33, no. 1, Jan. 2017, pp. 42–58, https://doi.org/10.1080/02564718.2017.1290378.</p>

<p>Van Schalkwyk, Phil. “Country of My Skull / Skull of My Country: Krog and Zagajewski, South Africa and Poland : Research Article.” Literator : Journal of Literary Criticism, Comparative Linguistics and Literary Studies, vol. 27, 2006, p. 109, http://journals.co.za/content/literat/27/3/EJC61936.</p>

<p>van Vuuren, Helize. “Antjie Krog: Towards a Syncretic Identity.” Current Writing: Text and Reception in Southern Africa, vol. 21, no. 1–2, Jan. 2009, pp. 218–37, https://doi.org/10.1080/1013929X.2009.9678319.</p>

<p>Vandermerwe, Meg. “Imagining the ‘Forbidden’ Racial Other: Attitudes and Approaches in the Works of Antjie Krog, Marlene van Niekerk, Meg Vandermerwe and Zukiswa Wanner.” English in Africa, vol. 45, no. 2, 0 218AD, pp. 83–106, https://unl.primo.exlibrisgroup.com/discovery/fulldisplay?docid=cdi_proquest_journals_2098967617&amp;context=PC&amp;vid=01UON_LINC:UNL&amp;lang=en&amp;search_scope=MyInst_and_CI&amp;adaptor=Primo%20Central&amp;tab=Everything&amp;query=any,contains,Antjie%20Krog&amp;mode=basic.</p>

<p>Viljoen, Louise. “Antjie Krog as Cultural Mediator: Aspects of Her Writer’s Posture in the Low Countries.” LitNet, 10 June 2019, https://www.litnet.co.za/antjie-krog-as-cultural-mediator-aspects-of-her-writers-posture-in-the-low-countries/.</p>

<p>Viljoen, Louise. “Antjie Krog’s Mede-Wete/Synapse as a Challenge to New Ways of Comparative Reading.” Literator, vol. 37, no. 1, July 2016, https://doi.org/10.4102/lit.v37i1.1271.</p>

<p>———. “‘Straddling Languages’: Aspects of the Translational and the Transnational in the Work of Afrikaans Authors Breyten Breytenbach, Marlene van Niekerk and Antje Krog.” Journal of Literary Studies, vol. 33, no. 3, 2017, p. 25.</p>

<p>———. “The Mother as Pre‐text: (Auto)Biographical Writing in Antjie Krog’s a Change of Tongue.” Current Writing: Text and Reception in Southern Africa, vol. 19, no. 2, Jan. 2007, pp. 187–209, https://doi.org/10.1080/1013929X.2007.9678280.</p>

<p>Visagie, Andries. “Introduction: Antjie Krog: From a Poetics of Dissidence to Nation‐building and Beyond.” Current Writing: Text and Reception in Southern Africa, vol. 19, no. 2, Jan. 2007, pp. 1–4, https://doi.org/10.1080/1013929X.2007.9678271.</p>

<p>———. “Synapse Tracing between Self and Other in Mede-Wete by Antjie Krog / Sinaps-Opsporing Tussen Self En Ander in Antjie Krog Se Mede-Wete.” Tydskrif Vir Letterkunde, vol. 52, no. 2, 2015, p. 225.</p>

<p>Vosloo, Frances. “‘Inhabiting’ the Translator’s Habitus: Antjie Krog as Translator.” Current Writing: Text and Reception in Southern Africa, vol. 19, no. 2, Jan. 2007, pp. 72–93, https://doi.org/10.1080/1013929X.2007.9678275.</p>

<p>Vosloo, Robert R. “Traumatic Memory, Representation and Forgiveness: Some Remarks in Conversation with Antjie Krog’s Country of My Skull : Original Research.” In Die Skriflig, vol. 46, 2012, p. 1, http://journals.co.za/content/skrif/46/1/EJC129221.</p>

<p>Wallmach, Kim. “‘Seizing the Surge of Language by Its Soft, Bare Skull’: Simultaneous Interpreting, the Truth Commission and Country of My Skull.” Current Writing: Text and Reception in Southern Africa, vol. 14, no. 2, Jan. 2002, pp. 64–82, https://doi.org/10.1080/1013929X.2002.9678125.</p>

<p>Wessels, Michael. “Antjie Krog, Stephen Watson and the Metaphysics of Presence.” Current Writing: Text and Reception in Southern Africa, vol. 19, no. 2, Jan. 2007, pp. 24–48, https://doi.org/10.1080/1013929X.2007.9678273.</p>

<p>———. “The Khoisan Origins of the Interconnected World View in Antjie Krog’s Begging to Be Black.” Current Writing: Text and Reception in Southern Africa, vol. 24, no. 2, Oct. 2012, pp. 186–97, https://doi.org/10.1080/1013929X.2012.706928.</p>

<p>Wiegandt, Kai. “Guilt, Shame and the Politics of Moral Change in Antjie Krog’s and Zo&euml; Wicomb’s Literary Responses to South Africa’s Truth and Reconciliation Commission.” Journal of Postcolonial Writing, vol. 53, no. 4, 2017, pp. 440–53.</p>

<p>Wylie, Dan. “‘Now Strangers Walk in That Place’: Antjie Krog, Modernity, and the Making of //Kabbo’s Story.” Current Writing: Text and Reception in Southern Africa, vol. 19, no. 2, Jan. 2007, pp. 49–71, https://doi.org/10.1080/1013929X.2007.9678274.</p>

<p>Young, Sandra Michele. “Hospitality in a Postapartheid Archive: Reflections on There Was This Goat and the Challenge of Alterity.” Research in African Literatures, vol. 43, no. 2, 2012, pp. 115–37, https://doi.org/10.2979/reseafrilite.43.2.115.</p>

<h3 id="KrogTOC18">Secondary Sources in [Other Languages], Excluding General Overviews and Book Reviews</h3>

<p>Broodryk, Chris. “Met Die Oog Op More:’n Versdrama (Antjie Krog) (With an eye on more: a Verse Drama (Antjie Krog).” Tydskrif Vir Letterkunde, vol. 59, no. 2, 2022, pp. 88–90.</p>

<p>Crous, M. “Deur ’n Waaier Wat Die Bolig&hellip;’: ’n Vers Oor Die Huwelik Uit Antjie Krog Se Lady Anne (By a Fan That Blows the Bolig...’: A Verse About Marriage from Antjie Krog’sLady Anne).” Literator, vol. 16, no. 2, 1995, pp. 215–24.</p>

<p>Groenewald, Ilse. “Die Problematiek van Onthou: Die Proses van Herinnering in Antjie Krog Se Country of My Skull ( The Problematics of Remembering: The Process of Remembrance in Antjie Krog’sCountry of My Skull).” Journal of Literary Studies, vol. 28, no. 2, 2008, p. 63.</p>

<p>Kostopoulos, C. “’Om Te Kan Asemhaal’ : Transformerende Mimesis as Voorwaarde Vir Betrokkenheid in Die Po&euml;sie van Antjie Krog (‘To Be able to Breathe’: Transforming Mimesis as a Condition for Engagement in the Poetry of Antjie Krog).” Koers, vol. 76, no. 4, 2011, pp. 687–707.</p>

<p>Nel, Adele. “Die Kleur van Vers En Verf : Antjie Krog in Gesprek Met Marlene Dumas : Research Article ( The Color of Verse and Paint: Antjie Krog in Conversation With Marlene Dumas: Research Article).” Literator, vol. 22, no. 3, 2001, pp. 21–38.</p>

<p>Odendaal, Bernard, and Hennie Van Coller. “Kleur Kom Nooit Alleen Nie (Antjie Krog) En Die Burg van Hertog Bloubaard (H.J. Pieterse): ’n Poëtikale Beskouing (Deel 1) (Color Never Comes Alone (Antjie Krog) And The Castle of Hertog Bloubaard (H.J. Pieterse): A Poetic View (Part 1).” Stilet : Tydskrif van Die Afrikaanse Letterkundevereniging, vol. 15, p. 16, http://journals.co.za/content/stilet/15/1/EJC109737. Accessed 10 Jan. 2023.</p>

<p>Pakendorf, Gunther. “Körper, Beraubt. Ausgewählte Gedichte, Antjie Krog: Buchbesprechungen ( Body, deprived. Selected Poems, Antjie Krog: Book Reviews).” Acta Germanica : German Studies in Africa, vol. 43, p. 265, http://journals.co.za/content/german/43/1/EJC179309. Accessed 10 Jan. 2023.</p>

<p>Taljard, Marlies.. “Die Skryf Vind Plaas in Selfgeveg : Versoeningstrategie&euml; in Kleur Kom Nooit Alleen Nie Deur Antjie Krog : Research Article (The Writing Finds Place in Self-Fight: Reconciliation Strategies in Color Never Comes Alone By Antjie Krog: Research Article  )” Literator, vol. 27, no. 1, 2006, pp. 141–62.</p>

<p>Van Coller, Hennie P., and Danie Strauss. “Letterkundige En Wysgerige Kanttekeninge by Die Transformasie-Trilogie van Antjie Krog ( “Literary and Philosophical Sidenotes to The Transformation Trilogy of Antjie Krog).” Literator, vol. 40, no. 1, Apr. 2019, https://doi.org/10.4102/lit.v40i1.1512.</p>

<p>Van der Watt, Marike. “Koningin Lear: Vlaamse Shakespeare Getransformeer in Afrikaans ( Queen Lear: Flemish Shakespeare Transformed into Afrikaans).” Literator, vol. 40, no. 1, Aug. 2019, https://doi.org/10.4102/lit.v40i1.1632.</p>

<p>Viljoen, Louise. “Antjie Krog as Kulturele Bemiddelaar: Aspekte van Haar Skrywerspostuur in Die Lae Lande (Antjie Krog as Cultural Mediator: Aspects of Her Writer’sPosture in The Low Countries).” Litnet Akademies, vol. 16, no. 2, 2019, p. 47, https://journals.co.za/content/journal/10520/EJC-192c6d7e82.</p>

<p>Viljoen, Louise. “Monsters Vir Kinders En Volwassenes: ’n Vergelyking Tussen Antjie Krog Se Bundels Mankepank En Ander Monsters (1985) En Jerusalemgangers (1985) ( Monsters For Children And Adults: A Comparison Between Antjie Krog’sBundles Mankepank And Other Monsters (1985) And Jerusalemgangers (1985).” Stilet : Tydskrif van Die Afrikaanse Letterkundevereniging, vol. 23, no. 1, 2011, p. 87, http://journals.co.za/content/stilet/23/1/EJC109953.</p>

<p>Visagie, A. “Resensie-Artikel: Sinaps-Opsporing Tussen Self En Ander in Antjie Krog Se Mede-Wete (2014)  (Review Article: Synapse Detection Between Self and Other in Antjie Krog’sCo-Knowing (2014).” Tydskrif Vir Letterkunde, vol. 52, no. 2, 2015, p. 221.</p>

<p>Vosloo, Franci. “Vertaling En/as Abjeksie: Antjie Krog ( Translation And/as Abjection: Antjie Krog).” Stellenbosch Papers in Linguistics Plus, vol. 43, no. 0, July 2014, p. 359, <a href="https://doi.org/10.5842/43-0-213">https://doi.org/10.5842/43-0-213</a>.</p>

<h3 id="KrogTOC19">Secondary Sources, Media</h3>

<p>Krog, Antjie. Antjie Krog over The Cry of Winnie Mandela - Njabulo Ndebele. https://www.youtube.com/watch?v=Itw6t2Zi4BE. South Africa.</p>

<p>Krog, Antjie. Africa and Knowledge Seminar Series | Seminar Four | Professor Antjie Krog. https://www.youtube.com/watch?v=R3Rj7BdaD1Q. Africa and Knowledge Seminar Series, Online.</p>

<p>———. African Forgiveness - Too Sophisticated for the West. http://192.168.2.15/. International Literature Festival Berlin, Berlin.</p>

<p>———. Albert Verweylezing 2021 Door Antjie Krog. https://www.youtube.com/watch?v=5pkBgJOnzHE. Albert Verweylezing, Leiden.</p>

<p>———. Antjie Krog &amp; Andries Samuel (Moeder &amp; Zoon), Samen 1 Gedicht. https://www.youtube.com/watch?v=BbJja3sWPJM. Cultureel Persbureau.</p>

<p>———. Antjie Krog - ’N MISSIE VIR DIE NUWE VERBOND. https://www.youtube.com/watch?v=cmsUxfjwvEo. Poetry International, Amsterdam.</p>

<p>———. Antjie Krog - The Dancing in Other Words Spier Poetry Festival, 2013. https://www.youtube.com/watch?v=WNamu1Njkzc. Spier Poetry Festival, Stellenbosch, South Africa.</p>

<p>———. Antjie Krog, Alfred Birney, Reggie Baay, Ellen Deckwitz, Angelina Enny e.a. - Winternachten2020. https://www.youtube.com/watch?v=ulu5ior1-LI. International Literature Festival The Hague, The Hague.</p>

<p>———. Antjie Krog at the McGregor Poetry Festival 2015. https://www.youtube.com/watch?v=M9F8-488-D8. McGregor Poetry Festival.</p>

<p>———. Antjie Krog Op de Stadsdichteravond. https://www.youtube.com/watch?v=lNLn1bYFl2E. Stadsdichteravond.</p>

<p>———. “Antjie Krog: Should Power Listen to Poetry?” The Guardian, 26 Sept. 2012, https://www.theguardian.com/books/2012/sep/26/antjie-krog-should-power-listen-to-poetry.</p>

<p>———. Belonging to the Voices Who Live in It - Poetry-Lesung von Antjie Krog. https://www.youtube.com/watch?v=oO4T4pbe-CQ. Belonging to the Voices Who Live in It - Poetry-Lesung von Antjie Krog.</p>

<p>———. Gedichtendag 2015 | De Stem van Schrijfster Antjie Krog. https://www.youtube.com/watch?v=rG2FUEaXHzs. Gedichtendag 2015.</p>

<p>———. Lecture En T&ecirc;te - Saison Litt&eacute;raire 2013-2014 - Caf&eacute; Litt&eacute;raire Avec Antjie Krog. https://www.youtube.com/watch?v=3Gp9nvV8goU. Lecture en T&ecirc;te - saison litt&eacute;raire 2013-2014, France.</p>

<p>———. Mamma Medea: Antjie Krog En Tom Lanoye. https://www.youtube.com/watch?v=eYr0IG-9K90. Woordfees 2017.</p>

<p>———. “Moet hierie woorde soes moet kerse”: ’n oorsig oor verskeie vertalingsprojekte : Langenhovenlesing gelewer aan die Universiteit van Port Elizabeth op 18 Oktober 2001. Port Elizabeth.</p>

<p>———. My Verre-Verste Kind - Writers Unlimited 18-01-2014. https://www.youtube.com/watch?v=jqlwzm7bxFE. Writer’s Unlimited, The Hague.</p>

<p>———. Ontlaeringkongres - Antjie Krog Hoofrede Oor Letterkunde. https://www.youtube.com/watch?v=5ClCUFHnJc0. Ontlaeringkongres, Pretoria.</p>

<p>———. #SAS4_2015: Antjie Krog Oor Afrikaanse Identiteit. https://www.youtube.com/watch?v=ZTiPTc_si2w. Swart Afrikaanse Skrywersimposium.</p>

<p>———. This Mortal Body Workshop, Day 1, Session 2. https://www.youtube.com/watch?v=K-cvey9b3m8. This Mortal Body Workshop, Western Cape.</p>

<p>———. &Uuml;ber(W)Unden - Art in Troubled Times; Keynote Speech by Antjie Krog - PART 1. https://www.youtube.com/watch?v=H3glyF1pvVw. Art in Troubled Times conference, Johannesburg.</p>

<p>———. Voorlesing Deur Antjie Krog: Om ’n Mens Kos Te Gee. https://www.youtube.com/watch?v=7TLVW9Gbjpk. SU Woordfees, South Africa.</p>

<p>Krog, Antjie, and Pieter Odendaal. Rondeau in Four Parts - Antjie Krog Feat. Pieter Odendaal. https://www.youtube.com/watch?v=4bYr_MLAs64. Fugard Theatre., Cape Town.</p>

<p>Krog, Krog. Antjie Krog Op de Nacht van de Po&euml;zie 2017. https://www.youtube.com/watch?v=HSI7m7dKKbM. Nacht van de Po&euml;zie, Tivoli Vredenburg.</p>

<p>———. Liefdeslied Deur Antjie Krog. https://www.youtube.com/watch?v=zkvdqsSclBc. South Africa.</p>

<p>———. Ontwei: A Poem by Antjie Krog to Her Mother. https://www.youtube.com/watch?v=DOWSZCkAdG0. Franschhoek Literary Festival, Western Cape.</p>

<p>Library of Congress. Poet Antjie Krog. Youtube, 2017, https://www.youtube.com/watch?v=jp_ql1nqMVE.</p>

<h2 id="KrogTOC20">Tertiary Sources</h2>

<p>“Academic literature on the topic ‘Antjie Krog’” Grafiati. <a href="https://www.grafiati.com/en/literature-selections/antjie-krog/">https://www.grafiati.com/en/literature-selections/antjie-krog/</a>. Accessed on March 24, 2023. </p>

<p>“Antjie Krog.” Prabook. <a href="https://prabook.com/web/antjie.krog/3773928">https://prabook.com/web/antjie.krog/3773928</a>. Accessed on March 24, 2023.</p>

<p>“Antjie Krog.” Encyclopedia Britannica Kids. <a href="https://kids.britannica.com/kids/article/Antjie-Krog/602087">https://kids.britannica.com/kids/article/Antjie-Krog/602087</a>. Accessed on May 18, 2023.</p>

<p>“Antjie Krog Facts for Kids.” Kiddle Encyclopedia. <a href="https://kids.kiddle.co/Antjie_Krog">https://kids.kiddle.co/Antjie_Krog</a>.  Accessed on May 18, 2023.</p>

<p>“Antjie Krog.” DPedia. <a href="https://dbpedia.org/page/Antjie_Krog">https://dbpedia.org/page/Antjie_Krog</a>. Accessed on May 18, 2023.</p>

<p>“Antjie Krog.” Pantheon World.  <a href="https://pantheon.world/profile/person/Antjie_Krog/">https://pantheon.world/profile/person/Antjie_Krog/</a>. Accessed on May 18, 2023.</p>

<p>“Antjie Krog.” Alchetron. <a href="https://alchetron.com/Antjie-Krog">https://alchetron.com/Antjie-Krog</a>. Accessed on May 18, 2023.</p>

<h3 id="KrogTOC21">Works in Honor of Krog</h3>

<p>“Antjie Krog as WiR in Amsterdam - Letterenfonds.” Nederlands Letternfonds. <a href="https://www.letterenfonds.nl/en/entry/2228/antjie-krog-as-wir-in-amsterdam">https://www.letterenfonds.nl/en/entry/2228/antjie-krog-as-wir-in-amsterdam</a>.</p>

<p>Dessing, Maarten. “Five South African Poets You Should Know About.” </p>

<p>Springs Advertiser, 21 Mar. 2015, https://springsadvertiser.co.za/115584/five-south-african-poets-you-should-know-about/.</p>

<p>Garman, Anthea. “Antjie Krog and the Role of the Poet in South Africa’s Public Life.” The Conversation, 5 May 2022, http://theconversation.com/antjie-krog-and-the-role-of-the-poet-in-south-africas-public-life-181494.</p>

<p>Mccain Carmen. “Antjie Krog.” Beyond the Single Story, 1 Apr. 2018, https://beyondthesinglestory.wordpress.com/2018/04/01/antjie-krog/.</p>

<p>Rodrigues, Elizabeth. “Antjie Krog and the Autobiography of Postcolonial Becoming.” Biography, vol. 37, no. 3, 2014, pp. 725–44, https://www.jstor.org/stable/24570269.</p>

<p>Van Vuuren, Helize. “Antjie Krog: Towards a Syncretic Identity.” The Free Library. 2009, <a href="https://www.thefreelibrary.com/Antjie+Krog%3A+towards+a+syncretic+identity.-a0221205456">https://www.thefreelibrary.com/Antjie+Krog%3A+towards+a+syncretic+identity.-a0221205456</a>.</p>

<h2 id="KrogTOC22">Contributors</h2>

<p>Zainab Omaki</p>