<h1>Gabriel Okara Bibliography</h1>

<%= image_tag "poets/gabriel-okara.jpg", alt: "Gabriel Okara", class: "bibliography-image" %>

<p>By Ber Anena</p>

<p>Created as part of the <%= link_to "African Poetry Digital Portal", home_path %>
 project.</p>

<%# <p><a href="../item/42">See Gabriel Okara’s entry in the Index of Poets</a>.</p>

<p><a href="../item/12306">See Gabriel Okara’s entry in African Poetry and Poetics in the News</a>.</p> %>

<h3>Table of Contents</h3>
<ul class="toc">
  <li><a href="#OkaraTOC01">Introduction</a>
		<ul>
			<li><a href="#bio">Biography</a></li>
		</ul>
	</li>
  <li><a href="#OkaraTOC02">Primary Works</a>
    <ul>
      <li><a href="#OkaraTOC03">Poetry in English published as Gabriel Okara</a></li>
      <li><a href="#OkaraTOC04">Creative Prose in English as published as Gabriel Okara</a></li>
      <li><a href="#OkaraTOC05">Critical Prose in English as published as Gabriel Okara</a></li>
      <li><a href="#OkaraTOC06">Interviews</a></li>
    </ul>
  </li>
  <li><a href="#OkaraTOC07">Secondary Sources</a>
    <ul>
      <li><a href="#OkaraTOC08">General Overviews in English</a></li>
      <li><a href="#OkaraTOC09">Book reviews</a></li>
      <li><a href="#OkaraTOC10">Secondary Sources in English excluding general overviews and book reviews</a></li>
      <li><a href="#OkaraTOC11">Secondary Sources, Media</a></li>
    </ul>
  </li>
  <li><a href="#OkaraTOC12">Tertiary Sources</a></li>
  <li><a href="#OkaraTOC13">Works in Honor</a></li>
</ul>

<h2 id="OkaraTOC01">Introduction</h2>

<p>The following data has been collated to aid researchers interested in the literary works of Nigerian poet, novelist, scriptwriter, and playwright Gabriel Imomotimi Okara. It covers Okara’s poetry collections, novels, children’s books, essays as well as critical and academic work done about the writer’s work and life. Since our emphasis is on poetry, Okara’s poetic works are given central attention although his prose is also listed to show a fuller picture of his legacy.</p>

<p>The bibliography has been divided into three main categories for ease of data navigation. Primary Works consists of works by the author such as his poetry collections and singlularly published poems, novel, the authors commentaries and think pieces, as well as his children’s books. The Secondary Sources focuses on work written by others about the author’s writing or his life. These include general overviews, book reviews, media coverage of his life and death, and secondary sources that excludes general overviews and book reviews. This latter category is divided into two, one focuses on text and the other on audio and videos. Creating this distinction is meant to draw attention to the multimedia attention that Okara’s work receives, particularly on YouTube. Many of these videos include analysis of his specific poems by teachers of English and Literature, and other individuals. The third category focuses on Works in Honor of the author.&nbsp;</p>

<p>It’s worth noting that Okara’s poetry collections – <em>The fisherman’s Invocation, the Dreamer, His Vision</em> and <em>Gabriel Okara’s Collected Poems</em> – are not extensively reviewed. This is a sharp contrast to the dozens of book reviews, critical commentary and analysis of his novel, <em>The Voice.</em> However, Okara’s individual poems, notably “Once Upon a Time,” “Piano and Drums,” “You Laughed and Laughed and Laughed,” as well as “The Call of the River Nun,” received extensive reviews and analysis both in video and text format. The publications, both for Okara’s primary works and secondary sources date to as far back as 1963, a 60-year period.&nbsp;</p>

<p>Note: General Overviews include works where Gabriel Okara is substantially cited, or referenced alongside other authors. This distinguishes it from Secondary Sources (excluding General Overviews or Book Reviews) which are works that primarily center on the author’s work or his life.&nbsp;</p>

<p>The data was digitally collected with the assistance of online platforms such as WorldCat, Google Scholar, YouTube, Jstor, Amazon, and Wikipedia. The items have all been presented in the MLA citation format.</p>

<p>Okara is considered a literary giant and the trailblazer of modernist poetry in Anglophone Africa. His work will be useful to researchers interested in tracing the journey of modernism on African poetics. While this data includes Okara’s poetry collections as well as poems published singularly online, it’s by no means exhaustive.&nbsp;</p>

<p>Special appreciation to Professor Kwame Dawes and Dr. Lorna Dawes for their assistance, editorial review, and the creation of this Scalar resource in which the bibliography is housed. Many thanks to Tryphena Yeboah, Rezina Habtermariam, and Sarita Garica for their instrumental contributions in the creation and publication of this resource.&nbsp;</p>


<h3 id="bio">Biography</h3>

<p>b. April 21, 1921, Bumoundi, Nigeria. d. March 25, 2019</p>

<p>Gabriel Imomotimi Okara&nbsp;was a Nigerian poet, novelist, scriptwriter, and playwright. He is most remembered for <em>The Voice</em> (1964), an experimental novel he wrote in his mother tongue, Ijaw, and later translated it to English. His poetry collection, <em>The Fisherman’s Invocation</em> (1978) won the Commonwealth Poetry Prize the following year. His most renowned poems are “Piano and Drums,” “You Laughed and Laughed and Laughed,” and “Once Upon a Time.” Okara also wrote the poetry collection, <em>The Dreamer, His Voice</em> (2005), As I see it (2006), and the children’s books, <em>Little Snake and Little Frog</em> (1981), as well as <em>An Adventure to Juju Island</em> (1992). In 2016, the University of Nebraska Press published <em>Gabriel Okara: Collected Poems</em> in his honor. In his writing, Okara leaned into religion, African folklore, and imagery. He was regarded the “Nigerian Negritudist” for being instrumental in the Francophone-focused intellectual movement. He studied journalism in 1949 at Northwestern University in the United States before making a breakthrough in poetry. The poet also received an award at the Nigerian Festival of the Arts for his poem “The Call of the River Nun,” and in 2005, he received his country’s highest literary recognition, the Nigeria Prize for Literature (also known as the NLNG Prize for Literature) currently worth $100,000.</p>

<h2 id="OkaraTOC02">Primary Works</h2>

<h3 id="OkaraTOC03">Poetry in English, Published as Gabriel Okara</h3>

<p>Okara, Gabriel. Gabriel Okara: Collected Poems. Edited by Brenda Marie Osbey, University of Nebraska Press, 2016, <a href="https://www.amazon.com/Gabriel-Okara-Collected-African-Poetry/dp/0803286872">https://www.amazon.com/Gabriel-Okara-Collected-African-Poetry/dp/0803286872</a>.&nbsp;</p>

<p>———. The Dreamer, His Vision. University of Port Harcourt Press, 2004, <a href="https://books.google.com/books/about/The_Dreamer_His_Vision.html?id=v9DyAAAAMAAJ">https://books.google.com/books/about/The_Dreamer_His_Vision.html?id=v9DyAAAAMAAJ</a>.&nbsp;</p>

<p>———. The Fisherman’s Invocation. Heinemann Educational Books, 1978, <a href="https://books.google.com/books/about/The_Fisherman_s_Invocation.html?id=BcQIAQAAIAAJ">https://books.google.com/books/about/The_Fisherman_s_Invocation.html?id=BcQIAQAAIAAJ</a>.&nbsp;</p>

<p>———. “The Mystic Drum.” Dance Poetry, 2000, <a href="http://poetry.orchesis-portal.org/index.php/english/1921-1940/79-english/487-the-mystic-drum">http://poetry.orchesis-portal.org/index.php/english/1921-1940/79-english/487-the-mystic-drum</a>.&nbsp;</p>

<p>———. “The Silent Voice.” World Literature Today, vol. 77, no. 2, 2003, p. 39, <a href="https://doi.org/10.2307/40157989">https://doi.org/10.2307/40157989</a>.&nbsp;</p>

<p>———. “Waiting for Her Son.” World Literature Today, vol. 77, no. 2, 2003, p. 38, <a href="https://doi.org/10.2307/40157988">https://doi.org/10.2307/40157988</a>.&nbsp;</p>

<p>———. “We Shared.” Matatu, vol. 33, 2006, pp. 23–24 &amp; 367, <a href="http://libproxy.unl.edu/login?url=https://www.proquest.com/scholarly-journals/we-shared/docview/215057126/se-2">http://libproxy.unl.edu/login?url=https://www.proquest.com/scholarly-journals/we-shared/docview/215057126/se-2</a>. ProQuest.&nbsp;&nbsp;</p>

<p>———. “Welcome Home.” World Literature Today, vol. 77, no. 2, 2003, p. 38, <a href="https://doi.org/10.2307/40157987">https://doi.org/10.2307/40157987</a>.&nbsp;</p>

<p>“Poem: The Call of the River Nun by Gabriel Okara.” The Woyingi Blog, 2009, <a href="https://woyingi.wordpress.com/2009/08/14/poem-the-call-of-the-river-nun-by-gabriel-okara/">https://woyingi.wordpress.com/2009/08/14/poem-the-call-of-the-river-nun-by-gabriel-okara/</a>.</p>

<h3 id="OkaraTOC04">Creative Prose in English published as Gabriel Okara</h3>

<p>Okara, Gabriel. The Voice. Holmes &amp; Meier Pub, 1987, <a href="https://www.amazon.com/Voice-African-Writers-Gabriel-Okara/dp/0841900159">https://www.amazon.com/Voice-African-Writers-Gabriel-Okara/dp/0841900159</a>.</p>

<h3 id="OkaraTOC05">Critical Prose in English, published as Gabriel Okara</h3>

<p>Okara, Gabriel. “African Speech...English Words.” Transition, vol. 10, 1963, pp. 15–16, <a href="http://www.jstor.org/stable/51000341">http://www.jstor.org/stable/51000341</a>.&nbsp;</p>

<p>———. “The Word, Poetic Vision and Society.” Goatskin Bags and Wisdom: New Critical Perspectives on African Literature, Africa World Press, 2000, <a href="https://www.amazon.com/Goatskin-Bags-Wisdom-Perspectives-Literature/dp/0865436711">https://www.amazon.com/Goatskin-Bags-Wisdom-Perspectives-Literature/dp/0865436711</a>.&nbsp;</p>

<p>———. “Towards the Evolution of an African Language for African Literature.” Kunapipi, vol. 12, no. 2, 2018, <a href="https://ro.uow.edu.au/kunapipi/vol12/iss2/4">https://ro.uow.edu.au/kunapipi/vol12/iss2/4</a>.&nbsp;</p>

<h3 id="OkaraTOC06">Interviews</h3>

<p>Azuonye, Chukwuma, and Gabriel Okara. “Gabriel Okara in Conversation with Professor Azuonye.” Chinua Achebe Foundation Interview, 2006, https://scholarworks.umb.edu/africana_faculty_pubs/16.</p>

<p>Bokoru, Julius. “Achebe Is Not Dead, Says Nonagenarian Poet, Gabriel Okara.” Premium Times, 2013, https://www.premiumtimesng.com/entertainment/128484-achebe-is-not-dead-says-nonagenarian-poet-gabriel-okara-by-julius-bokoru.html.</p>

<p>Lindfors, Bernth. Dem-Say; Interviews with Eight Nigerian Writers. African and Afro-American Research Institute, 1974, https://unl.primo.exlibrisgroup.com/discovery/fulldisplay?&amp;context=L&amp;vid=01UON_LINC:UNL&amp;search_scope=MyInst_and_CI&amp;tab=Everything&amp;docid=alma991020654349706387.</p>

<p>———. “Interview with Gabriel Okara.” World Literature Written in English, vol. 12, no. 2, 1973, pp. 133–41, https://doi.org/10.1080/17449857308588258.</p>

<p>Okara, Gabriel, and Lee Nichols. Life and Work of Gabriel Okara. Audio, 1974, https://digital.lib.uiowa.edu/islandora/object/ui%3Avwu_136.</p>

<p>Okara, Gabriel, and Donatus Ibe Nwoga. The Voice, by Gabriel Okara. Audio, Transcription Feature Service, [London], 1964, https://www.worldcat.org/title/1323186500.</p>

<p>Okara, Gabriel, and Andrew Salkey. Gabriel Okara Interviewed by Andrew Salkey, Sept. 1964. Audio, 1964, https://www.worldcat.org/title/1323201421.</p>

<p>Otiono, Nduka. “Voice and Memory in the Poetic Imagination: Nduka Otiono in Conversation with Chinua Achebe, Brenda Marie Osbey, and Gabriel Okara.” Canadian Review of Comparative Literature / Revue Canadienne de Litt&eacute;rature Compar&eacute;e, vol. 47, no. 2, 2020, pp. 215–29, https://doi.org/10.1353/crc.2020.0014.</p>

<h2 id="OkaraTOC07">Secondary Sources</h2>

<h3 id="OkaraTOC08">General Overviews</h3>

<p>Foundation, Poetry. “Gabriel Okara.” Poetry Foundation, 2023, https://www.poetryfoundation.org/poets/gabriel-okara.</p>

<p>Gabriel Okara Short Biography / in Tamil. 2020, <a href="https://www.youtube.com/watch?v=yQyFO7KX70Q">https://www.youtube.com/watch?v=yQyFO7KX70Q</a>.</p>

<h3 id="OkaraTOC09">Book Reviews</h3>

<p>Beckmann, Susan. “Gabriel Okara, The Fisherman’s Invocation.” World Literature Written in English, vol. 20, no. 2, 1981, p. 230, <a href="https://unl.primo.exlibrisgroup.com/permalink/01UON_LINC/9hoc0n/cdi_chadwyckhealey_abell_R02413260">https://unl.primo.exlibrisgroup.com/permalink/01UON_LINC/9hoc0n/cdi_chadwyckhealey_abell_R02413260</a>.&nbsp;</p>

<p>Julien, Eileen. “The Fisherman’s Invocation.” World Literature Today, vol. 53, no. 3, 1980, pp. 476–476, <a href="https://unl.primo.exlibrisgroup.com/permalink/01UON_LINC/9hoc0n/cdi_crossref_primary_10_2307_40135256">https://unl.primo.exlibrisgroup.com/permalink/01UON_LINC/9hoc0n/cdi_crossref_primary_10_2307_40135256</a>.</p>

<h3 id="OkaraTOC10">Secondary Sources in English, Excluding General Overviews and Book Reviews</h3>

<p>Abaku, Cyril. “Gabriel Okara as a War Poet.” Goatskin Bags and Wisdom: New Critical Perspectives on African Literature, Africa World Pr, 1998, <a href="https://www.amazon.com/Goatskin-Bags-Wisdom-Perspectives-Literature/dp/0865436711">https://www.amazon.com/Goatskin-Bags-Wisdom-Perspectives-Literature/dp/0865436711</a>.&nbsp;</p>

<p>Addeh, Emmanuel. “Okara Answers the River Nun’s Final Call.” This Day, 2019, <a href="https://www.thisdaylive.com/index.php/2019/07/10/okara-answers-the-river-nuns-final-call/">https://www.thisdaylive.com/index.php/2019/07/10/okara-answers-the-river-nuns-final-call/</a>.&nbsp;</p>

<p>Ajitha, M., and M. A. II. Racism Faced by Natives with Reference to Gabriel Okara’s You Laughed And Laughed And Laughed. Language of India, 2009, www.languageinindia.com&nbsp; I.&nbsp;&nbsp;</p>

<p>Appiah-Adjei, Anena. “Review of the Call Of River Nun by Gabriel Okara.” Research Gate, <a href="https://www.researchgate.net/publication/294871807_REVIEW_OF_THE_CALL_OF_RIVER_NUN_BY_GABRIEL_OKARA.%20Accessed%207%20Feb.%202023">https://www.researchgate.net/publication/294871807_REVIEW_OF_THE_CALL_OF_RIVER_NUN_BY_GABRIEL_OKARA. Accessed 7 Feb. 2023</a>.&nbsp;</p>

<p>Asein, Samuel O. “The Significance of Gabriel Okara as Poet.” New Literatures Review, no. 11, 1983, pp. 63–74, <a href="https://doi.org/10.3316/ielapa.831111445">https://doi.org/10.3316/ielapa.831111445</a>.&nbsp;</p>

<p>Azuonye, Chukwuma. “The Call Of The River Nun! Poem Analysis.” Discussion Paper for AfrSty: Introduction to African Literature, Africana Studies Department, University of Massachusetts, Boston, MA, 2011, <a href="https://scholarworks.umb.edu/africana_faculty_pubs/10">https://scholarworks.umb.edu/africana_faculty_pubs/10</a>.&nbsp;</p>

<p>———. “‘The White Man Laughs’: Commentary on the Satiric Dramatic Monologues of Gabriel Okara.” Instructional Paper&nbsp; for AfrSty: Introduction to African Literature, Africana Studies Department, University of Massachusetts, Boston, MA, 2011, pp. 689–97, <a href="https://scholarworks.umb.edu/africana_faculty_pubs/3">https://scholarworks.umb.edu/africana_faculty_pubs/3</a>.&nbsp;</p>

<p>Beckmann, Susan. “Gabriel Okara, The Fisherman’s Invocation.” World Literature Written in English, vol. 20, no. 2, 1981, p. 230, <a href="https://unl.primo.exlibrisgroup.com/permalink/01UON_LINC/9hoc0n/cdi_chadwyckhealey_abell_R02413260">https://unl.primo.exlibrisgroup.com/permalink/01UON_LINC/9hoc0n/cdi_chadwyckhealey_abell_R02413260</a>.&nbsp;</p>

<p>Cholakkal, Sajeera. “Evincing Postmodern and Postcolonial Facets in Gabriel Okara’s Poem ‘Once Upon A Time.’” Research Journal of English Language and Literature, vol. 8, no. 1, 2020, chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/http://rjelal.com/8.1.20/276-280%20SAJEERA%20CHOLAKKAL.pdf.&nbsp;&nbsp;&nbsp;</p>

<p>Echeruo, Michael J. C. “Gabriel Okara: A Poet and His Seasons.” World Literature Today, vol. 66, no. 3, 1992, p. 454, <a href="https://doi.org/10.2307/40148369">https://doi.org/10.2307/40148369</a>.&nbsp;</p>

<p>Elimimian, Isaac I. “Language and Meaning in Gabriel Okara’s Poetry.” CLA Journal, vol. 38, no. 3, 1995, pp. 276–89, <a href="https://www.jstor.org/stable/44324962">https://www.jstor.org/stable/44324962</a>.&nbsp;</p>

<p>Gingell, S. A. “His River’s Complex Course: Reflections on Past, Present and Future in the Poetry of Gabriel Okara.” World Literature Written in English, vol. 23, no. 2, 2008, pp. 284–97, <a href="https://doi.org/10.1080/17449858408588834">https://doi.org/10.1080/17449858408588834</a>.&nbsp;</p>

<p>Green, Eldred Ibibiem. Gabriel Okara: The Man and His Art. Onyoma Research Publications, 2007, <a href="https://books.google.com/books/about/Gabriel_Okara.html?id=d_YBngEACAAJ">https://books.google.com/books/about/Gabriel_Okara.html?id=d_YBngEACAAJ</a>.&nbsp;</p>

<p>Gupta, Prayash. “Cultural Dichotomy in Okara’s Piano and Drums.” The Literary Herald, vol. 2, no. 1, 2016, pp. 305–13, chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/http://tlhjournal.com/uploads/products/31.prayash-gupta-article.pdf.&nbsp;&nbsp;</p>

<p>Ijimere, Obotunde, and Ulli Beier. Woyengi: Based on an Ijaw Myth Recorded by Gabriel Okara. ProQuest LLC, 2008, <a href="https://www.worldcat.org/title/434200273">https://www.worldcat.org/title/434200273</a>. WorldCat.</p>

<p>Julien, Eileen. “The Fisherman’s Invocation.” World Literature Today, vol. 53, no. 3, 1980, pp. 476–476, <a href="https://unl.primo.exlibrisgroup.com/permalink/01UON_LINC/9hoc0n/cdi_crossref_primary_10_2307_40135256">https://unl.primo.exlibrisgroup.com/permalink/01UON_LINC/9hoc0n/cdi_crossref_primary_10_2307_40135256</a>.&nbsp;</p>

<p>Knipp, Thomas R. “Gabriel Okara: The Poet as Lonely African.” Matatu, vol. 61, no. 1, 2001, <a href="https://doi.org/10.1163/18757421-90000368">https://doi.org/10.1163/18757421-90000368</a>.&nbsp;</p>

<p>Maduakor, Obi. “Gabriel Okara: Poet of the Mystic Inside.” World Literature Today, vol. 61, no. 1, 1987, p. 41, <a href="https://doi.org/10.2307/40142447">https://doi.org/10.2307/40142447</a>.&nbsp;</p>

<p>Mamudu, Ayo. “Okara’s Poetic Landscape.” Commonwealth (Dijon), vol. 10, no. 1, 1987, p. 111, <a href="https://www.proquest.com/openview/62026f519d969b3bbdb6b159adcbdc59/1?pq-origsite=gscholar&amp;cbl=1818263">https://www.proquest.com/openview/62026f519d969b3bbdb6b159adcbdc59/1?pq-origsite=gscholar&amp;cbl=1818263</a>.&nbsp;</p>

<p>“Poem: The Call of the River Nun by Gabriel Okara.” The Woyingi Blog, 2009, https://woyingi.wordpress.com/2009/08/14/poem-the-call-of-the-river-nun-by-gabriel-okara/.</p>

<p>Scaria, Anna Merin. Piano and Drums: A Study of Cultural Hegemony in the Selected Poems of Gabriel Okara. Conference Editorial Board, International Journal of Humanities, Engineering &amp; Pharmaceutical Sciences, 2015, pp. 34–35, chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/https://citeseerx.ist.psu.edu/document?repid=rep1&amp;type=pdf&amp;doi=d23685595cb4ab5e3eb17771774be9e301ec5f78.</p>

<p>“The Call Of The River Nun! Poem Analysis.” Unread Poets Society, 2020, https://unreadpoetssociety.com/2020/05/04/the-call-of-the-river-nun-poem-analysis/.</p>

<p>Veeramani, S. “Diasporic Consciousness in the Poem of Gabriel Okara’s “Once Upon a Time.” International Journal of Research, vol. 1, no. 7, 2014, pp. 1152–54, <a href="https://www.scribd.com/document/239006098/Diasporic-Consciousness-in-the-Poem-of-Gabriel-Okara-Once-Upon-a-Time-by-Dr-S-Veeramani">https://www.scribd.com/document/239006098/Diasporic-Consciousness-in-the-Poem-of-Gabriel-Okara-Once-Upon-a-Time-by-Dr-S-Veeramani#</a>.</p>

<h3 id="OkaraTOC11">Secondary Sources, Media</h3>

<p>“Artist of the Week Is Author Gabriel Okara.” Art House, Channels Television, 2018, https://www.youtube.com/watch?v=6xEQRlVj2ck.</p>

<p>11th English Poem || Once Upon A Time ||Gabriel Okara. 2020, https://www.youtube.com/watch?v=YkWEtgavNVU.</p>

<p>Abaku, Cyril. “Piano and Drums for Gabriel Okara at 96.” Vanguard, 2017, https://www.vanguardngr.com/2017/05/piano-drums-gabriel-okara-96/.</p>

<p>Academy, JB, and Students. English Week | Poem Enactment | Gabriel Okara. 2021, https://www.youtube.com/watch?v=6s9Fhb_uoF4.</p>

<p>Adebisi, Yemi. “What Okara Never Told Us About Achebe, Biafra.” Independent, 2019, https://independent.ng/what-okara-never-told-us-about-achebe-biafra/.</p>

<p>Alam, Omair. Once Upon a Time by Gabriel Okara. 2022, https://www.youtube.com/watch?v=Uq9bWGUMn50.</p>

<p>Arora, Chhagan. Explanation of The Mystic Drum by Gabriel Okara. 2020, https://www.youtube.com/watch?v=SdjTnGDxsoI.</p>

<p>Authors Celebrate Works of Renowned Poet, Gabriel Okara. TVC News Nigeria, 2019, https://www.youtube.com/watch?v=1bipxcoeHAI.</p>

<p>Barbados, MRD. Once Upon a Time by Gabriel Okara. 2019, https://www.youtube.com/watch?v=beRbmmWbl6A.</p>

<p>Bariana, Balwinder Kaur. Poem: Once Upon a Time by Gabriel Okara. 2020, https://www.youtube.com/watch?v=yOeoQt_eo20.</p>

<p>Benarji, Jasper. Gabriel Okara - Once Upon a Time. 2023, https://www.youtube.com/watch?v=aDvDi6OPjYo.</p>

<p>Bibliobuddha. You Laughed And Laughed And Laughed - Gabriel Okara. 2022, https://www.youtube.com/watch?v=nwuNJKfUgTQ.</p>

<p>C, D. Once Upon a Time | ENGLISH Explanation | Gabriel Okara. 2021, https://www.youtube.com/watch?v=ZiEp6Bkry1U.</p>

<p>Dewan, Jyoti. “Once Upon a Time” Poem by Gabriel Okara. 2020, https://www.youtube.com/watch?v=ovJux3HOIk0.</p>

<p>Edu Tainment. Once Upon a Time by Gabriel Okara. 2022, https://www.youtube.com/watch?v=7N7w0yxISig.</p>

<p>Education, GE. The Mystic Drum by Gabriel Okara. 2022, https://www.youtube.com/watch?v=S8-8Am6N7ro.</p>

<p>Entertainment, Barracks. Once Upon A Time by Gabriel Okara. 2020, https://www.youtube.com/watch?v=QrWreVepLHc.</p>

<p>Gabriel Okara Short Biography / in Tamil. 2020, https://www.youtube.com/watch?v=yQyFO7KX70Q.</p>

<p>IGCSE Poetry: “Once Upon A Time” by Gabriel Okara. 2015, https://www.youtube.com/watch?v=3iube-nnsr8.</p>

<p>Jamain, Hutton. The Recap: Once Upon a Time- Gabriel Okara. 2011, https://www.youtube.com/watch?v=VW_CHECKUXo.</p>

<p>JAMB 2022 PREP/Piano and Drums by Gabriel Okara. 2021, https://www.youtube.com/watch?v=XX6kGaQ8nVI.</p>

<p>Johnson, Sam. You Laughed and Laughed and Laughed by Gabriel Okara. 2021, https://www.youtube.com/watch?v=lQp0bYRZ7Oo.</p>

<p>Jones, A. Florence, et al. Language in English African Poetry Piano &amp; Drums by Gabriel Okara, Grade 12. 2020, https://www.youtube.com/watch?v=FyQGP7zBvhs.</p>

<p>K, Anusha. Once Upon a Time by Gabriel Okara. 2021, https://www.youtube.com/watch?v=e8je4VXSboY.</p>

<p>Kanna, A. S. Once Upon a Time by Gabriel Okara. 2021, https://www.youtube.com/watch?v=fP2OztNtoVg.</p>

<p>Khan S. S., Mukamil. Poem || Once Upon a Time Summary || Summary of Once upon a time || Once upon a time by Gabriel Okara. 2023, https://www.youtube.com/watch?v=Is_4L9vsEF0.</p>

<p>Kshatriya, Vijayeendra. Summary of the Poem: Once Upon a Time’ by Gabriel Okara. 2022, https://www.youtube.com/watch?v=H2ML2PxOtbM.</p>

<p>Maema, Christine. “Renowned Nigerian Poet Gabriel Okara Dies at 97.” CGTN Africa, 26 Mar. 2019, https://africa.cgtn.com/2019/03/26/renowned-nigerian-poet-gabriel-okara-dies-at-97/.</p>

<p>Mbonu-Amadi, Osa. “The Glorious Exit of Gabriel Imomotimi Okara (1921-2019).” Vanguard, 2019, https://www.vanguardngr.com/2019/03/the-glorious-exit-of-gabriel-imomotimi-okara-1921-2019/.</p>

<p>Meredith, Mary. “Once Upon a Time” by Gabriel Okara. 2014, https://www.youtube.com/watch?v=kl8XFC_rqeU.</p>

<p>Multiple Choice Questions Poem - Once Upon A Time by Gabriel Okara. 2021, https://www.youtube.com/watch?v=BWcbe_Xg_5g.</p>

<p>Nigeria’s Literary Icon, Gabriel Okara Dies At 97 |Network Africa|. Network Africa, 2019, https://www.youtube.com/watch?v=dTk5nowk8nA.</p>

<p>Nwadike, Ogu Bundu. “Nigeria: Celebrating Gabriel Okara At 93! It’s in the Mind!” Daily Independent, 2014, https://allafrica.com/stories/201405060340.html.</p>

<p>Obi. Gabriel Okara: Nigerians Pay Tributes to Foremost African Writer/Poet. TVC News Nigeria, 2019, https://www.youtube.com/watch?v=Uvjxh6qqoh8.</p>

<p>Ogunmade, Omololu. “Buhari Mourns Literary Icon, Gabriel Okara.” This Day, 2019, https://www.thisdaylive.com/index.php/2019/03/25/buhari-mourns-literary-icon-gabriel-okara/.</p>

<p>Olatunbosun, Yinka. “The River Nun Called, and Gabriel Okara Answered At Last.” This Day, 2019, https://www.thisdaylive.com/index.php/2019/03/31/the-river-nun-called-and-gabriel-okara-answered-at-last/.</p>

<p>Once Upon a Time - Gabriel Okara (Summary and Analysis). 2020, https://www.youtube.com/watch?v=89PZzhzCVsw.</p>

<p>Once Upon a Time - Gabriel Okara. 2021, https://www.youtube.com/watch?v=ZxCHQm1jS5A.</p>

<p>Once Upon a Time (Poem by Gabriel Okara). 2020, https://www.youtube.com/watch?v=MyT1beIhYiI.</p>

<p>Once upon a Time (Poem) || by Gabriel Okara || AP &amp; TS Tenth English. 2022, https://www.youtube.com/watch?v=p8ZlUvEnVUU.</p>

<p>Once Upon A Time (Tamil) - Gabriel Okara ||11th Standard Unit 1 Poem. 2021, https://www.youtube.com/watch?v=4Pn5K5XrkEY.</p>

<p>Once Upon a Time | Gabriel Okara | Ways with Words | UG 1 Sem | Uty of Calicut | EnglishSkillsOne. 2020, https://www.youtube.com/watch?v=QOJLkT7J-P0.</p>

<p>Once Upon a Time | Gabriel Okara |Poetic Devices | 11th English | Unit 1| Poem. 2021, https://www.youtube.com/watch?v=5QBt6BP2sDM.</p>

<p>Once Upon a Time | Tamil Summary | Gabriel Okara. 2020, https://www.youtube.com/watch?v=t-8_Kv9n5Y4.</p>

<p>Once Upon a Time by Gabriel Okara // Analysis. 2022, https://www.youtube.com/watch?v=2NJAmlAZI1Y.</p>

<p>Once Upon a Time by Gabriel Okara || Poem Analysis. 2022, https://www.youtube.com/watch?v=nDSD9USxKXs.</p>

<p>Once Upon A Time BY Gabriel Okara, a Nigerian Poet. 2020, https://www.youtube.com/watch?v=XtI1cGUF9hU.</p>

<p>Once Upon a Time by Gabriel Okara, English Literature O/L’s Poetry. Fep TV Sri Lanka, 2020, https://www.youtube.com/watch?v=_TplDu3VeO4.</p>

<p>Once Upon a Time by Gabriel Okara. 2022, https://www.youtube.com/watch?v=sflM6J3KIwk.</p>

<p>Once upon a Time by Gabriel Okara. 2022, https://www.youtube.com/watch?v=yzVDXCeeisk.</p>

<p>Once Upon a Time Summary and Analysis in Malayalam | Gabriel Okara | Ways with Words | CU. 2020, https://www.youtube.com/watch?v=i6qlRPnptak.</p>

<p>Once Upon A Time. Part 2. Poem Analysis, Questions and Answers. S1. A02. 2022, https://www.youtube.com/watch?v=SGL2_8b3eio.</p>

<p>Once Upon a Time: Poem by Gabriel Okara : Class 12th: General English. 2020, https://www.youtube.com/watch?v=Fp6JEapGO0c.</p>

<p>Once Upon a Time| Questions and Answers | Gabriel Okara. 2022, https://www.youtube.com/watch?v=-hwkqkeB_ic.</p>

<p>Online, Poetry. Once Upon a Time by Gabriel Okara (Summary and Analysis). https://www.youtube.com/watch?v=_2In5WZtKX4. Accessed 14 Feb. 2023.</p>

<p>Osahon, Julius. “Bayelsa Mourns Literary Icon, Gabriel Okara.” The Guardian Nigeria News, 26 Mar. 2019, https://t.guardian.ng/news/bayelsa-mourns-literary-icon-gabriel-okara/.</p>

<p>Padmashree. Once Upon a Time poem by Gabriel Okara / Explanation in English and Kannada ( ಕನ್ನಡ). 2020, https://www.youtube.com/watch?v=4aehdGX9C7Q.</p>

<p>Poem by Gabriel Okara: Once upon a Time. 2022, https://www.youtube.com/watch?v=iUz1IGjvd0Q.</p>

<p>Pragadeeswaran, R. Once Upon a Time / 11th Poem-1/ English/ Gabriel Okara. 2021, https://www.youtube.com/watch?v=1AsqNoQi5d4.</p>

<p>Robyhep. Once Upon a Time - Gabriel Okara&nbsp; By Robyhep. 2020, https://www.youtube.com/watch?v=4AIJ38Q-61I.</p>

<p>Sen, Anushree. Summary of Once Upon A Time by Gabriel Okara. 2018, https://www.youtube.com/watch?v=rHposlx2hIk.</p>

<p>Shyam, Little. Once Upon a Time by Gabriel Okara. 2022, https://www.youtube.com/watch?v=yU78HPUfn2c.</p>

<p>Sir, Prateek. Once upon a time poem by Gabriel Okara. 2020, https://www.youtube.com/watch?v=3F0lDYQTJH0.</p>

<p>Staff, Harriet. “Nigerian Negritudist Gabriel Okara Dies at 97.” Poetry Foundation, 2023, https://www.poetryfoundation.org/harriet-books/2019/03/nigerian-negritudist-gabriel-okara-dies-at-97.</p>

<p>The Mystic Drum by Gabriel Okara. 2022, https://www.youtube.com/watch?v=SeF8jSBvoxc.</p>

<p>TVC Breakfast 29th March 2019 | Gabriel Okara (1921 - 2019). TVC News Nigeria, 2019, https://www.youtube.com/watch?v=sg2ETy1498w.</p>

<p>Wheeler, Harry. Once Upon A Time, Gabriel Okara - A PPT Analysis for the GCSE English Literature Anthology. 2017, https://www.youtube.com/watch?v=hpDIzSevsKk.</p>

<p>Where I To Choose by Gabriel Okara / Summary. 2022, https://www.youtube.com/watch?v=xT6xMyZXxLI.</p>

<p>Withus, Study. “Once Upon a Time” by Gabriel Okara. 2020, https://www.youtube.com/watch?v=xhKcqVMEtiQ.</p>

<p>You Laughed and Laughed and Laughed by Gabriel Okara. 2022, https://www.youtube.com/watch?v=KrDpMtDmOTk.</p>

<p>Zeb, Jahan. Once Upon A Time By Gabriel Okara, a Nigerian Poet. 2022, https://www.youtube.com/watch?v=nY4qLpZLBQM.</p>

<h2 id="OkaraTOC12">Tertiary sources</h2>

<h3 id="OkaraTOC13">Works in honor</h3>

<p>Garba, Ismail B. “A Letter to Gabriel Okara.” Journal of Cultural Studies, vol. 3, no. 2, 2001, pp. 474–75, <a href="https://www.proquest.com/docview/847122481?pq-origsite=gscholar&amp;fromopenview=true">https://www.proquest.com/docview/847122481?pq-origsite=gscholar&amp;fromopenview=true</a>.</p>

<h3>Contributors</h3>

<p>Ber Anena</p>
