<h1>Keorapetse Kgositsile Bibliography</h1>

<%= image_tag "poets/keorapetse-kgositsile.jpg", alt: "Keorapetse Kgositsile", class: "bibliography-image" %>

<p>By Tryphena Yeboah</p>

<p>Created as part of the <%= link_to "African Poetry Digital Portal", home_path %>
 project.</p>

<%# <p><a href="../item/15998">See Keorapetse Kgositsile's entry in the Index of Poets</a>.</p>

<p><a href="../item/12223">See Keorapetse Kgositsile's entry in African Poetry and Poetics in the News</a>.</p> %>

<h2>Table of Contents</h2>

<ul class="toc">
 <li><a href="#KeorapetseTOC01">Introduction</a>
	<ul>
		<li><a href="#bio">Biography</a></li>
	</ul>
</li>
 <li><a href="#KeorapetseTOC02">Primary Works</a>
		<ul>
			<li><a href="#KeorapetseTOC03">Poetry in English published as Keorapetse Kgositsile</a></li>
			<li><a href="#KeorapetseTOC04">Poetry in Translation</a></li>
			<li><a href="#KeorapetseTOC05">Critical Prose in English as published Keorapetse Kgositsile</a></li>
			<li><a href="#KeorapetseTOC06">As Editor</a></li>
			<li><a href="#KeorapetseTOC07">Interviews</a></li>
		</ul>
 </li>
 <li><a href="#KeorapetseTOC08">Secondary Sources</a>
  <ul>
   <li><a href="#KeorapetseTOC09">General Overviews in English</a></li>
   <li><a href="#KeorapetseTOC10">Book reviews</a></li>
   <li><a href="#KeorapetseTOC11">Thesis and Dissertations</a></li>
   <li><a href="#KeorapetseTOC12">Secondary Sources in English excluding general overviews and book reviews</a></li>
   <li><a href="#KeorapetseTOC13">Secondary Sources, Media</a>
   </li>
  </ul>
 </li>
 <li><a href="#KeorapetseTOC14">Tertiary Sources</a>
  <ul>
			<li><a href="#KeorapetseTOC15">Works in Honor</a></li>
  </ul>
 </li>
 <li><a href="#KeorapetseTOC16">Contributors</a></li>
</ul>

<h2 id="KeorapetseTOC01">Introduction</h2>

<p>The Keorapetse Kgositsile bibliography was put together between December 2022 and March 2023. It is modeled after the Kamau Brathwaite Bibliography developed by Kelly Baker Josephs (York College, City University of New York) and Teanu Reid (Yale University) in conjunction with the Caribbean Digital event at Barnard College. The earliest items recorded here are Kgositsile’s “Point of Departure: Fire Dance Fire Song,” published in 1968 in the journal Negro Digest as well as “Black Arts: An Anthology of Black Creations,” of which Kgositsile was a contributor. In addition, Kgositsile worked as a writer for Craft Horizons magazine where he wrote commentaries on exhibitions in 1967 and 1968 (these items are listed under Critical Prose). The most recent entries are “Keorapetse Kgositsile: Collected Poems, 1969–2018,” (University of Nebraska Press, 2023) a collection spanning almost fifty years of his work as well as Uhuru Portia Phalafala’s upcoming textbook, “Keorapetse Kgositsile &amp; the Black Arts Movement: Poetics of Possibility” (2024) which presents a study of political activist Kgositsile’s work and his engagement with Black Arts and Black Power Movements. Uhuru Portia Phalafala and Andrew Martin, a librarian from the Amazwi Literary Museum, provided useful materials to expand this collection.</p>

<p>The bibliography is organized into five main categories: Primary Works, Secondary Sources, Tertiary Sources, Interviews, and Works in Honor of the writer. The Primary Works include Kgositsile’s collected and uncollected poems, his critical essays that deal with history, literature, and politics in South Africa, as well as his work as editor and writer of introductions to books. The interviews highlight recorded and written conversations between Kgositsile and several others. The earliest interview noted here is “Out of Exile: South African Writers Speak” a collection of interviews from a conference held in Johannesburg in December 1991 with prominent South African writers who protested apartheid and lived in exile (edited by Kevin Goddard and Charles Wessels). The Secondary Works feature book reviews and dissertations on the poet’s work, and media coverage of the poet; a significant portion of the articles are tributes and news publications on Kgositsile’s passing in 2018. There are also General Overviews, which feature works that make references to the poet and his work.</p>

<p>The Poetry in English section under Primary Works has the most items (26 entries) in the bibliography as it records all of Kgositsile’s publications from his first collection, Spirits Unchained (Broadside Press, 1969) to his most recent collection “Keorapetse Kgositsile: Collected Poems, 1969–2018,” published posthumously in January 2023. This is followed by the Secondary Sources which has fifteen items recorded, several of them critical essays written by South African writer and lecturer Uhuru Portia Phalafala. WorldCat and Google Scholar were the two key databases that were relied on in building this bibliography. ResearchGate was especially useful in identifying all of Phalafala’sresearch and articles on the poet, while several mediums like The Johannesburg Review of Books, Obsidian and Calalloo journals were used to source news of his work and appearance. Areas that could use further research include Book Reviews, Dissertations, Poetry in Translation, and Tertiary Sources. These collated items cover a wide-ranging archive of Keorapetse Kgositsile’s life and writing and also capture his themes of black solidarity, political activism, and anticolonialism as well as the musical component of his work.</p>

<p><strong>Notes</strong></p>

<ul>
	<li>The General Overviews include multimedia that engage with different aspects of Kgositsile’s work which are not book reviews and also not included in the secondary sources. It features larger works like Ndaba Baldwin’s “The Black Consciousness Reader” which examines the political and intellectual influences of Black artists and activists towards a South African revolution. The items in this category consider Kgositsile’s work broadly and in relation to other subjects.
	</li>
	<li>What delimits the secondary sources are specific texts that directly engage with and offer a comprehensive treatment of Kgositsile’s poems. There are several essays by scholar Uhuru Portia Phalafala whose research area (African and diasporic poetry and the Black literary archive) has led her to publish peer-reviewed papers and book chapters on South African writers including Kgositsile.
	</li>
	<li>Under Secondary Sources, I separated articles from videos in the Media category to create a distinction between both mediums and offer users a more efficient approach to searching for items.
	</li>
	<li>There were no restrictions on publication timelines in putting this together, hence, all entries included here feature early publications of Kgositsile’s work as well his most recent work. 
	</li>
</ul>

<h3 id="bio">Biography</h3>

<p>b. 1938-2018, Johannesburg South Africa</p>

<p>Keorapetse William Kgositsile is a poet, journalist, and political activist, and one of the leading voices in the pan-Africanist movement. He has published eleven books of poetry, including his latest collection “Keorapetse Kgositsile: Collected Poems, 1969–2018” (University of Nebraska Press, 2023). His poems explore subjects of political resistance, exile, justice and equality, and his critical work addresses African literature and South African culture. Kgositsile was South Africa’ssecond National Poet Laureate in 2006 and also served as the former Deputy Secretary of Arts and Culture for the African National Congress (ANC) from 1960-1970. Between 1962 to 1975, the poet lived in exile in the United States, where he later received his MFA in Creative Writing from Columbia University (1971). When apartheid ended in 1990, he returned to South Africa and was elected Vice President of the Congress of South African Writers (COSAW). His awards and honors include the Harlem Cultural Council Poetry Award, the Herman Charles Bosman Prize, and the 2008 Order of Ikhamanga. Kgositsile died on January 3 in Parktown, Johannesburg at the age of 79.</p>



<h2 id="KeorapetseTOC02">Primary Works</h2>

<h3 id="KeorapetseTOC03">Poetry in English, published as Author’s primary name</h3>

<p>Kgositsile, Keorapetse (contributor), et al. Freeword: An Anthology. Edited by Gunnar Rydstr&ouml;m. Stockholm: F&ouml;rfattares Bokmaskin, 1983.</p>

<p>Kgositsile, Keorapetse. “An Injury to One Is an Injury to All.” The Black Scholar, vol. 19, no. 4/5, 1988, pp. 5–5, http://www.jstor.org/stable/41068196.</p>

<p>———. Beyond Words: South African Poetics. London: Flipped eye publishing, 2009.</p>

<p>———. “For Billie Holiday.” TriQuarterly, vol. 69, no. 3, 1987, p. 349, <a href="https://www.proquest.com/openview/6ccf365d580dd7ffad7709c81452fd68/1?pq-origsite=gscholar&amp;cbl=1817081">https://www.proquest.com/openview/6ccf365d580dd7ffad7709c81452fd68/1?pq-origsite=gscholar&amp;cbl=1817081</a>.</p>

<p>———. “For Hu Xiancheng.” Black Renaissance, vol. 11, no. 2, 2012, pp. 63. ProQuest, http://libproxy.unl.edu/login?url=https://www.proquest.com/scholarly-journals/hu-xiancheng/docview/1674962725/se-2.</p>

<p>———. For Melba : Poems. Chicago: Third World Press, 1972.</p>

<p>———. “From the Archive | ‘No Serenity Here.’” New Frame, 14 Jan. 2021, https://www.newframe.com/from-the-archive-no-serenity-here/.</p>

<p>———. Heartprints: Poems. Translated by Hans Bestian. Bavaria: Schwiftinger Galerie-Verl, 1980.</p>

<p>———. Homage. Johannesburg, SA: Khanya Publishing, 2017.</p>

<p>———. Homesoil in My Blood: A Trilogy. Midrand, SA: Xarra Books, 2017.</p>

<p>———. If I Could Sing: Selected Poems. 1st ed. Cape Town: Kwela Books, 2002.</p>

<p>———. Keorapetse Kgositsile: Collected Poems, 1969–2018. Edited by Phillippa Yaa de Villiers and Uhuru Portia Phalafala. Lincoln: University of Nebraska Press, 2022.</p>

<p>Kgositsile, Keorapetse, Phillippa Yaa De Villiers, et al. Keorapetse Kgositsile: Collected Poems, 1969-2018. Lincoln: University of Nebraska Press, 2023.</p>

<p>Kgositsile, Keorapetse. ‘Crossing Borders without Leaving’. Staffrider. 4(2), 1991, 5–10.</p>

<p>Kgositsile, Keorapetse. My Name Is Afrika. New York City: Doubleday &amp; Company, Inc., 1971.</p>

<p>———. Places and Bloodstains: Notes for Ipelang. 1st ed. Nigeria: Achebe Publications, 1975.</p>

<p>———. “Song for Ilva Mackay and Mongane (Poems).” TriQuarterly, vol. 69, 1987, p. 349, https://www.proquest.com/openview/fb2405c7b38563a769ec4845ddd7e983/1?pq-origsite=gscholar&amp;cbl=1817081.</p>

<p>———. Spirits Unchained: Paeans. 1st ed. Detroit: Broadside Press, 1969.</p>

<p>———. The Present Is a Dangerous Place to Live. 2nd ed. Chicago: Third World Press, 1993.</p>

<p>———. The Young Are No Longer Young. Johannesburg: Khanya College, 2016.</p>

<p>———. This Way I Salute You: Selected Poems. Cape Town: Kwela Books, 2004.</p>

<p>Kgositsile, Keorapetse, MoAfrika ’AMokgathi, et al. To Breathe Into Another Voice: A South African Anthology of Jazz Poetry. South Africa: Real African Publishers, 2017.</p>

<p>Kgositsile, Keorapetse. To the Bitter End. 1. ed., 1. printing, Chicago: Third World Press, 1995.</p>

<p>———. When the Clouds Clear. South Africa: Congress of South African Writers, 1990.</p>

<p>———. “Wounded Dreams.” Black Renaissance, vol. 11, no. 2/3, 2012, pp. 65–65. http://libproxy.unl.edu/login?url=https://www.proquest.com/scholarly-journals/wounded-dreams/docview/1674962496/se-2.</p>

<p>Kgositsile, W. Keorapetse. “Ivory Masks in Orbit.” African American Review, vol. 50, no. 4, 2017, pp. 364–364, <a href="https://doi.org/10.1353/afa.2017.0050">https://doi.org/10.1353/afa.2017.0050</a>.</p>

<p>Kgositsile, Keorapetse. “I Know My Name.” The Black Position. (3), 1973, 60–69.</p>

<p>Kgositsile, Keorapetse. “We are all Involved.” Black Renaissance, vol. 11, no. 2, 2012, pp. 64. ProQuest, <a href="http://libproxy.unl.edu/login?url=https://www.proquest.com/scholarly-journals/we-are-all-involved/docview/1674962733/se-2">http://libproxy.unl.edu/login?url=https://www.proquest.com/scholarly-journals/we-are-all-involved/docview/1674962733/se-2</a>.</p>

<p>Kgositsile, Keorapetse. “Amandla,” in A. Alhamisi and H.K. Wangara (eds), Black Arts: An Anthology of Black Creations. Detroit: Black Arts Publications, 1969.</p>

<p>Kgositsile, Keorapetse. “June 16 Year of the Spear,” in S. Plumpp, Somehow We Survive: An Anthology of South African Writing. New York: Thunder’s Mouth Press, 1982.</p>

<p>Kgositsile, Keorapetse. “The Favorite Grandson”. Black World. Chicago, Illinois. November, 1972. </p>

<p>Kgositsile, Keorapetse. “Carbon Copy Whiteman” and “Inherent and Inherited Mistrusts.” Soulbook. Berkeley, California. 1 (1), pp190 &amp; 280, 1964</p>

<p>Kgositsile, Keorapetse. “For Those Who Love and Care” and “My People No Longer Sing.” Transition. Uganda. 23 5 (4), pp18, 1965.</p>

<p>Kgositsile, Keorapetse. “Shotgun” Transition. Uganda. 27 6 (2), 46, 1966.</p>

<p>Kgositsile, Keorapetse. “Axiomatic” and “Brother Malcolm’s Echo” in Jones, Hettie (eds) Poems Now. pp 91-92. New York: Kulchur, 1966.</p>

<p>Kgositsile, Keorapetse. “Elegy for David Diop.” Negro Digest, Chicago, Illinois. p67. 1967.</p>

<p>Kgositsile, Keorapetse. “Like the Tide: Cloudward” and “Could Be.” Journal of Black Poetry, 1(6). San Francisco, California. pp 2-3, 1967.</p>

<p>Kgositsile, Keorapetse. “To Gloria.” The Urban Review 2(2), 26. Netherlands: Springer Netherlands, 1967.</p>

<p>Kgositsile, Keorapetse. “The Elegance of Memory,” “Lumumba Section,” “Fire Dance,” and “Spirits Unchained: For Brother Max Stanford.” Negro Digest, Chicago, Illinois. pp 45-48. 1968.</p>

<p>Kgositsile, Keorapetse. “My Name is Afrika: for Nqabeni Mthimkulu,” “I Am Music People: For Lindsay Barrett,” “The Air I Hear,” “The New Breed: For Don Lee &amp; Mazisi Kunene” and “The Gods Wrote.” Pan-African Journal 1 (4), pp 213-214, 1968.</p>

<p>Kgositsile, Keorapetse. “Ivory Masks in Orbit: For Nina Simone,” “The Awakening” and “Towards a Walk in the Sun” in Jones, Leroi; Neal; Larry, eds. Black Fire: An Anthology of Afro-American Writing: New York Morrow, 1968.</p>

<p>Kgositsile, Keorapetse. “For Leroi Jones, April, 1965” and “New Dawn: For Afrika, Asia, South &amp; Afroamerica” in Alhamisi, Ahmed ; Wangara, Harun Kofi, eds. Black Arts: An Anthology of Black Creations. Detroit, Michigan: Black Arts Publications, 1969.</p>

<p>Kgositsile, Keorapetse. “Notes from No Sanctuary” and “Mayibuye iAfrika.” Journal of Black Poetry 1 (13), San Francisco, California. pp 50-51, 1970. </p>

<p>Kgositsile, Keorapetse. “For Ipeleng: Dedicated to Gerry T and the Students Who Unleashed it at Bennett.” Black World, Chicago, Illinois, 1971</p>

<p>Kgositsile, Keorapetse. “For Melba,” “Manifesto,” “Shotgun,” “Origins: For Melba,” “My People when Nothing Moves,” “For Those who Love and Care,” “My People No Longer Sing,” “Yes, Mandela, We Shall Be Moved,” “For Afroamerica,” and “Whistle for Pennies.” 7 South African Poets: Poems of Exile. Heinemann : London, 1971.</p>

<p>Kgositsile, Keorapetse. “In the Mourning,” “Beware of Dreams,” “Without Shadow,” “Mirrors, Without Song.” Okike 1 (3). Nuskka Nigeria, 1972.</p>

<p>Kgositsile, Keorapetse. “Here We are Like the Present” and “Letter to Skunder.” Okike (8), pp24-25. Nuskka Nigeria, 1975.</p>

<p>Kgositsile, Keorapetse. “Open Letter,” “Here We Are Like the Present,” “Song for Ilva Mackay and Mongane,” “For Gwigwi,” “Epitaph for Can Themba” and “For Zeke and Dennis” in Lindfors, Bernth, ed. South African Voices. Austin, Texas: African and Afro-American Studies and Research Center in Association with the Harry Ransom Center, The University of Texas at Austin, 1975.</p>

<p>Kgositsile, Keorapetse. “New Age,” “A Luta Continua: For Duma Nokwe,” “Manifesto,” “South Africa Salutes Uzbekistan,” “Open Letter” and “Child of the Crisis: For Zeke and Dennis” in Feinberg, Barry, ed. Poets to the People : South African Freedom Poems (African Writers Series; 230). London: Heinemann, 1980.</p>

<p>Kgositsile, Keorapetse. “My Sister,” “Chimid: A Memorial,” “Seaparankoe,” “June 16 Year of the Spear” and “A Luta Continua” in Somehow We Survive: an Anthology of South African Writing. Plumpp, Sterling (ed). New York: Thunder’sMouth Press, 1982.</p>

<p>Kgositsile, Keorapetse. “Baleka Dineo Tshidi Thuli,” “An Injury to One is an Injury to All” and “S O B.” The Black Scholar Fall 1988.</p>

<p>Kgositsile, Keorapetse. “Every Patriot a Combatant” in Nelson Mandelamandla. House, Amelia Blossom, ed.; Pieterse, Cosmo, ed. Washington: Three Continents, 1989. </p>

<p>Kgositsile, Keorapetse. “I Am.” Kromberg, Steve; Ogude, James, eds. Soho Square V: A Collection of New Writing from Africa. London : Bloomsbury, 1992.</p>

<h3 id="KeorapetseTOC04">Poetry in Translation</h3>

<p>Kgositsile, Keorapetse. Herzspuren: Gedichte. (Heartprints: Poems). East Germany: Schwiftinger Galerie-Verlag, 1980.</p>

<h3 id="KeorapetseTOC05">Critical Prose in English, published as Keorapetse Kgositsile</h3>

<p>Kgositsile, Keorapetse. “Keorapetse Kgositsile.” A Capsule Course in Black Poetry Writing. 1. ed., print, Detroit: Broadside Press, 1975, pp 12-20.</p>

<p>Kgositsile, Keorapetse. “Anguish Longer Than Sorrow.” Black Renaissance, vol. 11, no. 2/3, 2012, https://www.proquest.com/docview/1674962636?fromopenview=true&amp;pq-origsite=gscholar.</p>

<p>———. Approaches to Poetry Writing. Third World Press, 1994.</p>

<p>———. “Culture and Resistance in South Africa.” The Black Scholar, vol. 17, no. 4, 1986, pp. 28–31, http://www.jstor.org/stable/41067291.</p>

<p>———. “Language, Vision and the Black Writer: Dealing With Life.” Black World, vol. 21, no. 8, 1972, pp. 25–27.</p>

<p>———. “Panel on Literature and Commitment in South Africa.” African Issues, vol. 6, no. 1, ed 1976, pp. 34–46, https://doi.org/10.1017/S0047160700500560.</p>

<p>———. Places and Bloodstains: Notes for Ipelang. 1st ed. Nigeria: Achebe Publications, 1975.</p>

<p>———. “Point of Departure: Fire Dance, Fire Song.” Negro Digest, 1968.</p>

<p>———. “Reviews of the Exhibition ‘Art Towards Social Development’ and the Fuba Collection.” MEDU Art Ensemble Newsletter, 1983.</p>

<p> Keorapetse Kgositsile. “Exhibitions: Ann Wiseman.” Craft Horizons (Archive : 1941-1978), vol. 28, no. 3, American Craft Council, 1968, p. 58. </p>

<p>Keorapetse Kgositsile. “Exhibitions: Greenwich House Potters and Sculptors.” Craft Horizons (Archive : 1941-1978) 1968: 65–. Print.</p>

<p>Keorapetse Kgositsile. “Exhibitions: Fumio Yoshimura.” Craft Horizons (Archive : 1941-1978) 1968: 45–. Print.</p>

<p>Keorapetse Kgositsile. “Exhibitions: Jeff Schlanger.” Craft Horizons (Archive : 1941-1978) 1967: 39–. Print.</p>

<p>Kgositsile, Keorapetse. “‘Part of My Being’: Politics and Poetics According to Keorapetse Kgositsile.” Creative Activism: Conversations on Music, Film, Literature, and Other Radical Arts. Edited by Rachel Lee Rubin. London: Bloomsbury Publishing Plc, 2018, https://doi.org/10.5040/9781501337246.</p>

<p>Kgositsile, Keorapetse. “Race: What Time Is It?” Democracy X: Marking the Present, Re-Presenting the Past, 1st ed. Edited by Andries Walter Oliphant. Pretoria: University of South Africa, 2004.</p>

<p>Kgositsile, Keorapetse. “Malcolm X and the Black Revolution: the tragedy of a dream deferred”, in J.H. Clarke (ed.), Malcolm X: The Man and His Times. New York: Collier, 1970.</p>

<p>Kgositsile, Keorapetse. “Preface”, in T. Dent, Magnolia Street. New Orleans: T. Dent, 1976.</p>

<p>Kgositsile, Keorapetse. “An African Poet looks at the African Festival” Tuesday Magazine Jul. 1966: 12-13.</p>

<p>Kgositsile, Keorapetse. “Negritude: Stance or Ideology?” 8-9, Liberator. Boston, Oct. 1966.</p>

<p>Kgositsile, Keorapetse. “Towards our Theater: A Definitive Act.” 14-16, Negro Digest. Chicago, Illinois, Apr. 1967.</p>

<p>Kgositsile, Keorapetse. “Is the Black Revolutionist a Phony?” 9-15, Negro Digest. Chicago, Illinois, Jul. 1967.</p>

<p>Kgositsile, Keorapetse. “Black Writers Views on Literary Lions and Values.” Negro Digest. Chicago, Illinois, Jan. 1968.</p>

<p>Kgositsile, Keorapetse. “Africans and Afro-Americans : Toward Our Freedom.” Negro Digest. Chicago, Illinois, May 1968.</p>

<p>Kgositsile, Keorapetse. “The Impulse is Personal.” Negro Digest. pp 42-43. Chicago, Illinois, Jul. 1968.</p>

<p>Kgositsile, Keorapetse. “Young Black Poets.” Negro Digest. pp 38-48. Chicago, Illinois, Sep./Oct. 1968.</p>

<p>Kgositsile, Keorapetse. “Brother Malcolm and the Black Revolution.” Negro Digest. pp 4-11. Chicago, Illinois, Nov. 1968.</p>

<p>Kgositsile, Keorapetse. “Black Consciousness in Brazil.” Negro Digest. pp 43-48. Chicago, Illinois, May 1969.</p>

<p>Kgositsile, Keorapetse. “Culture and Liberation in Southern Africa.” Umma 6 (2), pp 140-146, 1976.</p>

<p>Kgositsile, Keorapetse. “Has God failed James Baldwin?” Liberator. pp10-11, Boston, Jan. 1967</p>

<h3 id="KeorapetseTOC06">As Editor</h3>

<p>Kgositsile, Keorapetse. Introduction, in Akinwole Alhamisi, Ahmed, and Harun Kofi Wangara (eds). Black Arts: An Anthology of Black Creations. 1st ed., edited by Keorapetse Kgositsile. Detroit: Black Arts Publications, 1969.</p>

<p>Kgositsile, Keorapetse. Introduction, in P. Abrahams, Wild Conquest. New York: Anchor Books, 1971.</p>

<p>Kgositsile, Keorapetse. Foreword. Portraits of African Writers, by George Hallett, Johannesburg: Wits University Press, 2006.</p>

<p>Kgositsile, Keorapetse, compiler and editor. The Word Is Here: Poetry from Modern Africa. 1st ed. New York City: Anchor Books, 1973.</p>

<p>Kgositsile, Keorapetse. Introduction, in L. Mashile, In a Ribbon of Rhythm. Cape Town: Oshun Books, 2015.</p>

<p>Kgositsile, Keorapetse. Introduction. Shapes, Shades and Faces, by Moferefere Lekorotsoana, Johannesburg: African Perspective Publishing, 2018.</p>

<h3 id="KeorapetseTOC07">Interviews</h3>

<p>Goddard, Kevin, and Charles Wessels. Out of Exile: South African Writers Speak. National English Literary Museum. Grahamstown, South Africa,1992. </p>

<p>Kgositsile, Keorapetse. Listen to Victor Dlamini’s 2008 Interview with Keorapetse ‘Bra Willie’ Kgositsile. Interview by Victor Dlamini, 15 Jan. 2018, https://johannesburgreviewofbooks.com/2018/01/15/in-memoriam-photo-editor-listen-to-victor-dlaminis-2008-interview-with-keorapetse-bra-willie-kgositsile/.</p>

<p>Phalafala, Uhuru Portia. Home Is Where the Music Is: A Conversation with Keorapetse Kgositsile. Cape Town: Chimurenga, 2021.</p>

<p>Phalafala, Uhuru Portia. “Home Is Where the Music Is: An Interview with South African Poet Laureate Keorapetse Kgositsile.” Journal of the African Literature Association, vol. 11, no. 2, 2017, pp. 246–53, https://doi.org/10.1080/21674736.2017.1375654.</p>

<p>Rowell, Charles H. “‘With Bloodstains to Testify’: An Interview With Keorapetse Kgositsile.” Callaloo, no. 2, 1978, pp. 23–42, https://doi.org/https://doi.org/10.2307/2930769.</p>

<p>Taylor-Guthrie, Danille. “Conversation with South African Poet Keorapetse Kgositsile.” Issue: A Journal of Opinion, vol. 24, no. 2, 1996, pp. 36–37, <a href="https://doi.org/10.2307/1166845">https://doi.org/10.2307/1166845</a>.</p>

<h2 id="KeorapetseTOC08">SECONDARY SOURCES</h2>

<h3 id="KeorapetseTOC09">General Overviews</h3>

<p>Anyidoho, Kofi. “For Willie Keorapetse Kgositsile.” Obsidian (Raleigh, N.C. : 2006), vol. 44, no. 2, 2018, pp. 68–70.</p>

<p>Barnard, Ian. “Out of Exile: South African Writers Speak. Interviews with Albie Sachs, Lewis Nkosi, Mbulelo Mzamane, Breyten Breytenbach, Dennis Brutus, Keorapetse Kgositsile.” Research in African Literatures, edited by Kevin Goddard and Charles Wessels, vol. 24, no. 3, 1993, p. 133–36. </p>

<p>Finn, Stephen M. “Transcolonial Metapoetry in South Africa.” Span: Journal of the South Pacific Assoc for Cwlth Lit and Language Studies, edited by Mich&egrave;le Drouart, no. 36, 1992, https://fremantlestuff.info/readingroom/litserv/SPAN/36/Finn.html.</p>

<p>Gabbay, Cynthia, and Karin Berkman. “‘The Story of an Alliance between Two Poets - One Cuban, One South African.’” The Conversation, Feb. 2019, https://shs.hal.science/halshs-03523330.</p>

<p>Kearse, Stephen. “Bleak Honesty.” The Nation (New York, N.Y.), vol. 308, no. 6, 2019, pp. 37–37.</p>

<p>Langa, Mandla. “‘Spending Time with Bra Willie Is the Closest Thing to Being in Touch with the Soul of This Country’: Read Mandla Langa’s Introduction to Keorapetse Kgositsile’s Homesoil in My Blood.” The Johannesburg Review of Books, 5 Mar. 2018, https://johannesburgreviewofbooks.com/2018/03/05/spending-time-with-bra-willie-is-the-closest-thing-to-being-in-touch-with-the-soul-of-this-country-read-mandla-langas-introduction-to-keorapetse-kgositsiles-homesoil-in-my-blood/.</p>

<p>Mangharam, Mukti Lakhi. “‘The Universal Is the Entire Collection Of Particulars’: Grounding Identity In A Shared Horizon Of Humanity.” College Literature, vol. 40, no. 3, 2013, pp. 81–98, <a href="https://doi.org/10.1353/lit.2013.0024">https://doi.org/10.1353/lit.2013.0024</a>.</p>

<p>Mphahlele, Ezekiel. “The Voice of Prophecy in African Poetry.” English in Africa, vol. 3, no. 1, 1976, pp. 31–45.</p>

<p>Ndaba, Baldwin, et al. The Black Consciousness Reader. Johannesburg: Jacana, 2021.</p>

<p>Parker, Gia. “Pan African Literary Forum Advances Diversity Across Africa.” Black Enterprise, vol. 39, no. 4, pp. 69–69. https://searchworks.stanford.edu/articles/bth__34974446.</p>

<p>“Pitching the Canon: A Writer’s Bibliography.” The Literary Review, vol. 52, no. 2, Jan. 2009, pp. 226–29, https://go.gale.com/ps/i.do?p=AONE&amp;sw=w&amp;issn=00244589&amp;v=2.1&amp;it=r&amp;id=GALE%7CA198659324&amp;sid=googleScholar&amp;linkaccess=abs.</p>

<p>Povey, John. “I Am the Voice: Three South African Poets: Dennis Brutus, Keorapetse Kgositsile, and Oswald Mbuyiseni Mtshali in SearchWorks Articles.” World Literature Written in English, Informa UK Limited, vol. 16, no. 2, 1977, pp. 263–80, https://doi.org/10.1080/17449857708588461. </p>

<p>Robolin, Stephane. Grounds of Engagement: Apartheid-Era African-American and South African Writing. University of Illinois Press, 2015, <a href="https://muse.jhu.edu/pub/34/monograph/book/41096">https://muse.jhu.edu/pub/34/monograph/book/41096</a>.</p>

<p>Willemse, Hein. “Keorapetse Kgotsitsile (1938-2018).” Tydskrif Vir Letterkunde, vol. 55, no. 1, 2018, pp. 170–73, https://doi.org/10.17159/2309-9070/tvl.v.55i1.4622.</p>

<h3 id="KeorapetseTOC10">Book Reviews</h3>

<p>Abrahams, Cecil. “Book Review: ‘This Way I Salute You,’ by Keorapetse Kgositsile.” The African Book Publishing Record 2005: 20–21. Print.</p>

<p>Bauerle, Richard F. “My Name Is Afrika.” Books Abroad, vol. 46, no. 2, University of Oklahoma Press, 1972, pp. 348–49, https://doi.org/10.2307/40126275.</p>

<p>Adeniran, Raphel. “#PoemReview: Anguish Longer Than Sorrow by Keorapetse Kgositsile.” Eelive, 25 Aug. 2019, https://www.eelive.ng/poemreview-anguish-longer-than-sorrow-by-keorapetse-kgositsile/.</p>

<p>Gagiano, Annie. “The Celebrants (Review of History Is the Home Address by Mongane Wally Serote and This Way I Salute You by Keorapetse Kgositsile).” Scrutiny 2, vol. 10, no. 1, Jan. 2005, pp. 107–12, <a href="https://doi.org/10.1080/18125440508566037">https://doi.org/10.1080/18125440508566037</a>.</p>

<p>McLoughtin, T. O., et al. “Reviews.” Current Writing: Text and Reception in Southern Africa, vol. 3, no. 1, Taylor &amp; Francis Group, 1991, pp. 147–210, https://doi.org/10.1080/1013929X.1991.9677881.</p>

<p>Povey, John. “My Name Is Afrika.” African Arts, vol. 5, no. 2, African Studies Center, University of California, Los Angeles, 1972, pp. 76–78, https://doi.org/10.2307/3334680.</p>

<p>Scott, Christopher. “For Melba.” Books Abroad, vol. 45, no. 2, University of Oklahoma Press, 1971, pp. 371–371, <a href="https://doi.org/10.2307/40125462">https://doi.org/10.2307/40125462</a>.</p>

<h3 id="KeorapetseTOC11">Thesis and Dissertations</h3>

<p>Phalafala, Portia Mahlodi. My Name Is Afrika: Setswana Genealogies, Trans-Atlantic Interlocutions, and NOW-Time in Keorapetse Kgositsile’s Life and Work. University of Cape Town Faculty of Humanities, 2016.</p>

<h3 id="KeorapetseTOC12">Secondary Sources in English, Excluding General Overviews and Book Reviews</h3>

<p>Ansell, Gwen, et al. “Singing with Words: Recalling Keorapetse Kgositsile.” New Frame, 23 Sept. 2020, https://www.newframe.com/singing-with-words-recalling-keorapetse-kgositsile/.</p>

<p>Berkman, Karin. “‘Remember Sharpeville’: Radical Commemoration in the Poetry of the Exiled South African Poets, Dennis Brutus and Keorapetse Kgositsile.” English in Africa, vol. 47, no. 1, Oct. 2020, pp. 25–46, https://doi.org/10.4314/eia.v47i1.2.</p>

<p>———. “Translation and Untranslatability in the Poetry of Dennis Brutus and Keorapetse Kgositsile.” Scrutiny2, vol. 25, no. 3, Sept. 2020, pp. 4–23, https://doi.org/10.1080/18125441.2020.1779797.</p>

<p>Crawford, Margo N. “Productive Rites of ‘Passing’: Keorapetse Kgositsile and the Black Arts Movement.” Black Renaissance, vol. 7, no. 3, 2007, pp. 112-120,142, <a href="https://www.proquest.com/docview/215524856?fromopenview=true&amp;pq-origsite=gscholar">https://www.proquest.com/docview/215524856?fromopenview=true&amp;pq-origsite=gscholar</a>.</p>

<p>d’Abdon, Raphael, et al. “Living Archives and the Project of Poetry Recurriculation in South Africa.” Scrutiny 2, vol. 25, no. 3, 2020, pp. 65–82, <a href="https://doi.org/10.1080/18125441.2020.1864460">https://doi.org/10.1080/18125441.2020.1864460</a>.</p>

<p>Jaji, Tsitsi. “Sound Effects: Synaesthesia As Purposeful Distortion In Keorapetse Kgositsile’s Poetry.” Comparative Literature Studies, vol. 46, no. 2, 2009, pp. 287–310, http://www.jstor.org/stable/25659717.</p>

<p>Jaji, Tsitsi Ella. “Epilogue: Singing Stones.” Africa in Stereo: Modernism, Music, and Pan-African Solidarity, Oxford: Oxford University Press, 2014, <a href="https://doi.org/10.1093/acprof:oso/9780199936373.001.0001">https://doi.org/10.1093/acprof:oso/9780199936373.001.0001</a>.</p>

<p>Keitany, Hillary. The Poetry of Keorapetse Kgositsile and Denis Brutus. Jan. 2019, https://www.academia.edu/41097131/The_poetry_of_Keorapetse_Kgositsile_and_Denis_Brutus.</p>

<p>Phalafala, Uhuru Portia. “Black Music and Pan-African Solidarity in Keorapetse Kgositsile’s Poetry.” Philadelphia: Routledge, Safundi, vol. 18, no. 4, 2017, p. 307, https://www.academia.edu/34252943/Black_music_and_pan_African_solidarity_in_Keorapetse_Kgositsiles_poetry.</p>

<p>———. Keorapetse Kgositsile &amp; the Black Arts Movement: Poetics of Possibility. Melton, UK: James Currey, 2024, https://www.powells.com/book/keorapetse-kgositsile-the-black-arts-movement-9781847012777.</p>

<p>———. “My Name Is Afrika: Keorapetse Kgositsile in the ‘Black World.’” Moving Spaces, Brill, 2019, pp. 161–76, https://doi.org/10.1163/9789004410992_009.</p>

<p>———. “Of Worlds Black and Red: South Africa’s Poet Laureates and Their World-Making Networks.” Research in African Literatures, vol. 50, no. 3, 2019, pp. 116–35, https://muse.jhu.edu/article/751229.</p>

<p>———. “Polyglot Internationalism and the Matriarchive: The Case of Keorapetse Kgositsile.” Interventions, vol. 22, no. 3, 2020, p. 346, <a href="https://www.academia.edu/42260500/Polyglot_Internationalism_and_the_Matriarchive_The_Case_of_Keorapetse_Kgositsile">https://www.academia.edu/42260500/Polyglot_Internationalism_and_the_Matriarchive_The_Case_of_Keorapetse_Kgositsile</a>.</p>

<p>———. “Setswana Roots En Route in Keorapetse Kgositsile’s Poetry.” English Studies in Africa, vol. 60, no. 1, 2017, pp. 60–78., https://doi.org/10.1080/00138398.2017.1332799. </p>

<p>———. “Time Is Always NOW: Animist Materialism in Keorapetse Kgositsile’s Temporal Order.” Scrutiny2, vol. 22, no. 2, May 2017, pp. 33–48, https://doi.org/10.1080/18125441.2017.1344873.</p>

<h3 id="KeorapetseTOC13">Secondary Sources, Media</h3>

<p>“For South Africa’s Poet Laureate, Wisdom Is the Word; Professor Keorapetse Kgositsile Speaks to Lesego Rampolokeng about the Celebration of Language, the Poetry of Music and the Poorly Read Mimics Who Litter Our Literary Scene.” The Sunday Independent, 2007, https://searchworks.stanford.edu/articles/edsgin__edsgcl.167171817. Gale OneFile: News.</p>

<p>“In Memoriam: Keorapetse W. Kgositsile: Poet Laureate of South Africa.” Journal of Pan African Studies, vol. 11, no. 3, Feb. 2018, pp. 1–4, https://go.gale.com/ps/i.do?p=AONE&amp;sw=w&amp;issn=08886601&amp;v=2.1&amp;it=r&amp;id=GALE%7CA534879596&amp;sid=googleScholar&amp;linkaccess=abs.</p>

<p>“South Africa - Parliament Statement on Passing of Struggle Stalwart Prof Keorapetse Kgositsile. in SearchWorks Articles.” M2 Presswire, 5 Jan. 2018, https://searchworks.stanford.edu/articles/edsbig__edsbig.A521462953.</p>

<p>A Reading by Keorapetse Kgositsile. 2012, https://www.youtube.com/watch?v=4f8OAtKgNfo.</p>

<p>City of Asylum Presents: A Reading with Keorapetse Kgositsile and Oliver Lake. 2012, https://www.youtube.com/watch?v=zGpFT6_fJPo.</p>

<p>De Waal, Shaun. “Weight of a Life Makes the Poem.” The Mail &amp; Guardian, 5 Jan. 2018, https://mg.co.za/article/2018-01-05-00-weight-of-a-life-makes-the-poem/.</p>

<p>Gottschalk, Keith. “A Tribute to Keorapetse Kgositsile, South Africa’s Only Poet Laureate | Creative Feel.” Creative Feel, 13 Feb. 2018, https://creativefeel.co.za/2018/02/a-tribute-to-keorapetse-kgositsile-south-africas-only-poet-laureate/.</p>

<p>Kaye, Ben. “Keorapetse Kgositsile, Earl Sweatshirt’s Father and South African Poet Laureate, Dies at 79.” Consequence, 3 Jan. 2018, https://consequence.net/2018/01/keorapetse-kgositsile-earl-sweatshirts-father-and-south-african-poet-laureate-dies-at-79/.</p>

<p>Keorapetse Kgositsile @poesiefestival Berlin 2009. 2009, https://www.youtube.com/watch?v=R6RXqJwOvMM.</p>

<p>Keorapetse Kgositsile at WAMFEST 2012. 2012, https://www.youtube.com/watch?v=xLF4y25PW7I.</p>

<p>Keorapetse Kgositsile Performing in Johannesburg. 2015, https://www.youtube.com/watch?v=FILNWe51J20.</p>

<p>Keorapetse Kgositsile: Conversations with African Poets and Writers. 2012, https://www.loc.gov/item/webcast-5526/.</p>

<p>Keorapetse Kgositsile’s Daughter Pays Tribute to Late Dad. 2018, https://www.youtube.com/watch?v=038Fy92Nb4g.</p>

<p>Keorapetse Kgositsile’s Sister Talking about His Brother. 2018, https://www.youtube.com/watch?v=qDyXKXzgzx0.</p>

<p>Lebo and Tumi Interview Prof William Kgositsile Part 1. 2014, https://www.youtube.com/watch?v=E4YtCFWgoFU.</p>

<p>Lebo and Tumi Interview Prof William Kgositsile Part 2. 2014, https://www.youtube.com/watch?v=GkIeKB1BoYY.</p>

<p>Lebo Mashile Pays Tribute to Prof. Kgositsile. 2018, https://www.youtube.com/watch?v=RgN4CZWxtto.</p>

<p>Malec, Jennifer. “Keorapetse ‘Bra Willie’ Kgositsile, South Africa’s National Poet Laureate, RIP.” The Johannesburg Review of Books, 3 Jan. 2018, https://johannesburgreviewofbooks.com/2018/01/03/keorapetse-bra-willie-kgositsile-south-africas-national-poet-laureate-rip/.</p>

<p>Obi-Young, Otosirieze. “Keorapetse ‘Bra Willie’ Kgositsile: South Africa Begins 3-Day ‘Special Official Funeral’ for Late National Poet Laureate.” Brittle Paper, 15 Jan. 2018, https://brittlepaper.com/2018/01/keorapetse-kgositsile-south-africa-honour-late-national-poet-laureate-special-official-funeral/.</p>

<p>Part 1 - Free the Word! In Conversation with South Africa Poet Laureate, Keorapetse Kgositsile. 2017, https://www.youtube.com/watch?v=IjmqqABB_oA.</p>

<p>Part 2 - Free the Word! In Conversation with South Africa Poet Laureate, Keorapetse Kgositsile. 2016, https://www.youtube.com/watch?v=7hRhxKLCcXk.</p>

<p>Playing Possum (Feat. Cheryl Harris &amp; Keorapetse Kgositsile) in SearchWorks Articles. https://searchworks.stanford.edu/articles/edsmid__edsmid.6809701. Accessed 1 Feb. 2023.</p>

<p>Prof Keorapetse Kgositsile on the Most Important Book in His Life. 2011, https://www.youtube.com/watch?v=D54QDViQGDA.</p>

<p>Russonello, Giovanni. “Keorapetse Kgositsile, 79, South African Poet and Activist, Dies.” The New York Times, 16 Jan. 2018, https://www.nytimes.com/2018/01/16/obituaries/keorapetse-kgositsile-79-south-african-poet-and-activist-dies.html.</p>

<p>SABC News. Remembering the Late Poet, Political Activist Keorapetse Kgositsile. 2018, https://www.youtube.com/watch?v=MulA-xYhNps.</p>

<p>Sisulu, Elinor. “Elinor Sisulu Remembers Keorapetse ‘Bra Willie’ Kgositsile (Including Tributes from Njabulo Ndebele, Fred Khumalo and Sandile Memela).” The Johannesburg Review of Books, 15 Jan. 2018, https://johannesburgreviewofbooks.com/2018/01/15/in-memoriam-elinor-sisulu-remembers-keorapetse-bra-willie-kgositsile-including-tributes-from-njabulo-ndebele-fred-khumalo-and-sandile-memela/.</p>

<p>Spier Poetry Festival 2016: Keorapetse Willie Kgositsile. 2016, https://www.youtube.com/watch?v=SqFPEARLcNs.</p>

<p>Uhuru Digital. Poetry by Keorapetse Kgositsile. 2018, https://www.youtube.com/watch?v=CaBz9PbroLM.</p>

<p>Watch a Video of Keorapetse ‘Bra Willie’ Kgositsile on the Importance of Platforms for African Literature. 2018, https://johannesburgreviewofbooks.com/2018/01/15/in-memoriam-watch-a-video-of-keorapetse-bra-willie-kgositsile-on-the-importance-of-platforms-for-african-literature/.</p>

<h2 id="KeorapetseTOC14">Tertiary Sources</h2>

<p>Akyeampong, Emmanuel Kwaku, et al., editors. Dictionary of African Biography. Oxford Univ. Press, 2012. 10.1093/acref/9780195382075.001.0001</p>

<p>“Keorapetse Kgositsile | South African Poet | Britannica.” Britannica, https://www.britannica.com/biography/Keorapetse-Kgositsile. Accessed 21 Jan. 2023.</p>

<p>“Keorapetse Kgositsile - Literature.” British Counsil, https://literature.britishcouncil.org/writer/keorapetse-kgositsile. Accessed 1 Feb. 2023.</p>

<p>“Keorapetse William Kgositsile.” South African History Online, https://www.sahistory.org.za/people/keorapetse-william-kgositsile. Accessed 21 Jan. 2023.</p>

<p>Noel-Tod, Jeremy, and Ian Hamilton, editors. Oxford Companion to Modern Poetry. 2 ed. Oxford University Press, Incorporated, 2013. 10.1093/acref/9780199640256.001.0001</p>

<h3 id="KeorapetseTOC15">Works in Honor</h3>

<p>A Humble Literary Giant; The Late Keorapetse Kgositsile Knew the Power of Heritage. in SearchWorks Articles. 27 Sept. 2020, https://searchworks.stanford.edu/articles/edsgit__edsgit.A636587594.</p>

<p>de Villiers, Phillippa Yaa. “Grace: For Keorapetse Kgositsile, on the Occasion of His 70th Birthday.” Lyrikline, Haus F&uuml;r Posie, https://www.lyrikline.org/en/poems/grace-5934. </p>

<p>Gottschalk, Keith. “A Tribute to Keorapetse Kgositsile, South Africa’s Poet Laureate.” The Conversation, http://theconversation.com/a-tribute-to-keorapetse-kgositsile-south-africas-poet-laureate-89700. Accessed 1 Feb. 2023.</p>

<p>Mavimbela, Vusi. “Tribute to Keorapetse Kgositsile; Your Poetic Eye Pierces Deep into and out of the Beauty and Predicament of the Human Condition, Writes Vusi Mavimbela in SearchWorks Articles.” The Star, 19 Jan. 2018, https://searchworks.stanford.edu/articles/edsnbk__16985C77BB030A58.</p>

<p>Mohlele, Nthikeng. “Nthikeng Mohlele Remembers Keorapetse ‘Bra Willie’ Kgositsile.” The Johannesburg Review of Books, 15 Jan. 2018, https://johannesburgreviewofbooks.com/2018/01/15/in-memoriam-nthikeng-mohlele-remembers-keorapetse-bra-willie-kgositsile/.</p>

<p>Russonello, Giovanni. “Keorapetse Kgositsile, 79, Poet Who Brought South African Freedom Struggle to U.S in SearchWorks Articles.” The New York Times, 17 Jan. 2018, https://searchworks.stanford.edu/articles/edsgac__edsgac.A523368719.</p>

<p>Vundla, Mandi. “Elegy for ‘Bra Willie’ Keorapetse Kgositsile. in SearchWorks Articles.” New Coin Poetry, vol. 55, no. 2, 2019, pp. 51–51, https://searchworks.stanford.edu/articles/aph__146088034.</p>

<h2 id="KeorapetseTOC16">Contributors</h2>

<p>Tryphena Yeboah</p>
