<h1>Kofi Awoonor Bibliography</h1>

<%= image_tag "poets/kofi-awoonor.jpg", alt: "Kofi Awoonor", class: "bibliography-image" %>

<p>By Jamaica Baldwin</p>

<p>Created as part of the <%= link_to "African Poetry Digital Portal", home_path %>

  project.</p>

<%# <p><a href="../item/38">See Kofi Awoonor's entry in the Index of Poets</a>.</p>

<p><a href="../item/12272">See Kofi Awoonor's entry in African Poetry and Poetics in the News</a>.</p> %>

<h2>Table of Contents</h2>
<ul class="toc">
  <!-- Does not exist yet 
   <li><a href="#Toc12338">Introduction</a></li> -->
  <li><a href="#Toc12339">Biography</a></li>
  <li><a href="#Toc12340">Primary Works</a>
    <ul>
      <li><a href="#Toc12341">Poetry in English Published As Kofi Awoonor</a></li>
      <li><a href="#Toc12342">Poetry in English published as George Awoonor Williams</a></li>
      <li><a href="#Toc12343">Poetry in Translation</a></li>
      <li><a href="#Toc12344">Creative Prose in English</a></li>
      <li><a href="#Toc12345">Creative Prose in Translation &amp; Drama</a></li>
      <li><a href="#Toc12346">Critical Prose in English Published as Kofi Awoonor.</a></li>
      <li><a href="#Toc12360">Critical Prose in English Published as George Awoonor Williams</a></li>
      <li><a href="#Toc12361">Critical Prose in Translation</a></li>
      <li><a href="#Toc12347">As Editor</a></li>
    </ul>
  </li>
  
  <li><a href="#Toc12348">Secondary Sources</a>
    <ul>
      <li><a href="#Toc12349">Interviews</a></li>
      <li><a href="#Toc12350">General Overviews</a></li>
      <li><a href="#Toc12351">Book reviews</a></li>
      <li><a href="#Toc12352">Critical Studies on Awoonor</a></li>
      <li><a href="#Toc12353">Media on Awoonor</a></li>
      <li><a href="#Toc12354">Thesis and Dissertations</a></li>
      <li><a href="#Toc12355">Works in Honor of Awoonor</a></li>
    </ul>
  </li>
  <li><a href="#Toc12357">Contributors</a></li>
</ul>
<!-- <h2 id="Toc12338">Introduction</h2> -->
<h2 id="Toc12339">Biography</h2>

<p>b. 1935-2013, Wheta, Ghana</p>

<p>Kofi Awoonor was born in 1935 in Wheta, Ghana. A critically acclaimed poet and a stateman, Awoonor is the author of the 1971 poetry collection titled <em>Night of my Blood</em>. Other collections include: <em>Ride Me, Memory</em> (1973), <em>The House by the Sea</em> (1978), <em>Until the Morning After</em> (1987), <em>The Promise of Hope: New and Selected Poems 1964-2013</em> (2014), and a novel titled <em>This Earth, My Brother</em> (1971). Awoonor attended the University of Ghana, Legon. He was awarded prizes such as Gurrey prize (1959), Commonwealth poetry award (1989), Ghana Association of Writers distinguished authors award (1991) and ECRAG national award for poetry in 1992 and 1994 respectively. He was killed in 2013 during the attack on West Mall Gate, Kenya.</p>

<h2 id="Toc12340">Primary Works</h2>
<h3 id="Toc12341"> Poetry in English Published as Kofi Awoonor</h3>

<p>Appiah, Anthony, and Henry Louis Gates, eds. <em>Africana: The Encyclopedia of the African and African American
    Experience.</em> 2nd ed. Oxford; New York: Oxford University Press, 2005.</p>

<p>Atwan, Robert, George Dardess, and Peggy Rosenthal, eds. <em>Divine Inspiration: The Life of Jesus in World
    Poetry.</em> New York: Oxford University Press, 1998.</p>

<p>Awoonor, Kofi. “Exiles (Poem).” <em>Issue: A Journal of Opinion</em> 9, no. 4 (1979): 60. <a
    href="https://doi.org/10.2307/1166914">https://doi.org/10.2307/1166914</a></p>

<p>———. <em>Latin American and Caribbean Notebook</em>. African Writers Library. Trenton, N.J:
  Africa World Press, 1992.</p>

<p>———. <em>Rediscovery, and Other Poems</em>. Ibadan: Mbari Publications, 1964.<a
    href="https://www.worldcat.org/title/rediscovery-and-other-poems/oclc/132030&amp;referer=briefresults">https://www.worldcat.org/title/rediscovery-and-other-poems/oclc/132030&amp;referer=briefresults</a></p>

<p>———. <em>Ride Me, Memory</em>. Greenfield Center, N.Y: Greenfield Review Press, 1973.</p>

<p>———. “The Anvil and the Hammer (Poem).” <em>Issue: A Journal of Opinion</em> 9, no.
  4 (1974) 44–44. <a href="https://doi.org/10.2307/1166906">https://doi.org/10.2307/1166906</a></p>

<p>———. <em>The House by the Sea: Poems</em>. New York: Greenfield Review Press, 1978.</p>

<p>———. “The Light Is On.”<em>Black Renaissance/Renaissance Noire.</em> 14, no. 1
  (Spring/Summer 2014): 58–58.</p>

<p>———. “The Wayfarer Comes Home: A Poem in Five Parts’ (1976).” University of
  Washington Libraries, 1976. <a
    href="https://digitalcollections.lib.washington.edu/digital/collection/">https://digitalcollections.lib.washington.edu/digital/collection/</a></p>

<p>———. <em>Until the Morning after: Selected Poems, 1963-85</em>. Greenfield Center, NY: Greenfield
  Review Press, 1987.</p>

<p>———. “We Have Found a New Land (Poem).” <em>Issue: A Journal of Opinion.</em> vol 9,
  no. 4 (1979): 31–31.<a href="https://doi.org/10.2307/1166901">https://doi.org/10.2307/1166901</a></p>

<p>Awoonor, Kofi, and G. Adali-Mortty. <em>Messages: Poems from Ghana</em>. African Writers Series 42. London:
  Heinemann, 1971.</p>

<p>Awoonor, Kofi, Vinokoo Akpalu, Amega Dunyo, and Komi Ekpe, eds. <em>Guardians of the Sacred Word: Ewe
    Poetry</em>. Traditional African Literature. New York: Nok Publ, 1974.</p>

<p>Awoonor, Kofi, Kofi Anyidoho, and Kwame Senu Neville Dawes. <em>The Promise of Hope: New and Selected Poems,
    1964-2013</em>. African Poetry Book Series. Lincoln: University of Nebraska Press, 2014.</p>

<p>Barnett, Catherine, and Tiphanie Yanique, eds. <em>Another English: Anglophone Poems from around the World</em>.
  First edition. Poets in the World Series. North Adams, Massachusetts: Poetry Foundation’s Harriet Monroe
  Poetry Institute/Tupelo Press, 2014.</p>

<p>Collins, Harold. “Karen L. Morell, Ed. in Person: Achebe, Awoonor, and Soyinka. Seattle: African Studies
  Program, Institute for Comparative and Foreign Area Studies, University of Washington, 1975.” <em>World
    Literature Written in English</em> 15, no. 1 (April 1, 1976): 61–68. <a
    href="https://doi.org/10.1080/17449857608588380">https://doi.org/10.1080/17449857608588380</a></p>

<p>Goodwin, K. L. <em>Understanding African Poetry: A Study of Ten Poets</em>. London; Exeter, N.H., USA: Heinemann,
  1982. <a href="http://books.google.com/books?id=3f5ZAAAAMAAJ">http://books.google.com/books?id=3f5ZAAAAMAAJ</a></p>

<p>Hunt, Douglas. <em>The Riverside Anthology of Literature</em>. Boston: Houghton Mifflin Co., 1997. <a
    href="https://archive.org/details/riversideantholo0000unse_t4z0">https://archive.org/details/riversideantholo0000unse_t4z0</a>.</p>

<p>Kalu, Anthonia C., ed. <em>The Rienner Anthology of African Literature</em>. Boulder: Lynne Rienner Publishers,
  2007.</p>

<p>Kgositsile, Keorapetse. <em>The Word Is Here; Poetry from Modern Africa.</em> Garden City, N.Y.:Doubleday, 1973.</p>

<p>Mapanje, Jack, ed. <em>Gathering Seaweed: African Prison Writing</em>. African Writers Series. Oxford: Heinemann,
  2002.</p>

<p>Moffett, Helen, and Es’kia Mphahlele, eds. <em>Seasons Come to Pass: A Poetry Anthology for Sourthern
    African Students</em>. 2nd ed. Cape Town: Oxford University Press, 2002.</p>

<p>Moore, Gerald, and Kofi Awoonor. <em>Night of My Blood Introduction</em>. First Edition. Doubeday, 1971.</p>

<p>Moore, Gerald, and Ulli Beier, eds. <em>The Penguin Book of Modern African Poetry</em>. 4th ed. Penguin
  Twentieth-Century Classics. London ; New York: Penguin Books, 2007.</p>

<p>———. <em>New Directions in Prose and Poetry. 39</em>. New Directions Paperbook 484, 1979.</p>

<p>———. Nextext Anthology. <em>Modern World Literature</em>. A Nextext Anthology. Evanston, Ill.:
  Nextext, 2001.</p>

<p>Nwoga, Donatus Ibe, ed. <em>Rhythms of Creation: An Anthology of Okike Poetry</em>. Enugu, Nigeria: Fourth
  Dimension Publishers, 1982.</p>

<p>Owusu, Comfort. <em>A Selection of African Poems for S.S.S.C.E English Language (Core) (Literature): 2005 and
    Beyond</em> . Accra: Author, 2002.</p>

<p>Reisman, Rosemary M. Canfield. <em>Critical Survey of Poetry.</em> Pasadena, Calif.: Salem Press, 2011.<a
    href="https://search.ebscohost.com/login.aspx?direct=true&amp;scope=site&amp;db=nlebk&amp;db=">https://search.ebscohost.com/login.aspx?direct=true&amp;scope=site&amp;db=nlebk&amp;db=</a></p>

<p>Review, The African Book. “The Cathedral | Kofi Awoonor.” <em>The African Book Review</em>(blog),
  December 9, 2015. <a
    href="https://theafricanbookreview.com/2015/12/09/the-cathedral-kofi-">https://theafricanbookreview.com/2015/12/09/the-cathedral-kofi-awoonor/.</a></p>

<p>Senanu, K. E., and Theo Vincent, eds. <em>A Selection of African Poetry</em>. Harlow: Longman, 1976.</p>

<p>———. “The Sea Eats the Land at Home.” <em>AIDS in Africa: Three Scenarios to
    2025</em>, 1/1/2005, 102–102.</p>

<p>Thiong’o, Ngũgĩ wa. “Kofi Awoonor: Hurũka Na Thayũ.” <em>Journal of Asian and African
    Studies</em> 50, no. 1 (2015): 3–6. <a
    href="https://doi.org/10.1177/0021909614546805">https://doi.org/10.1177/0021909614546805</a></p>

<h3 id="Toc12342">Poetry in English Published as George Awoonor Williams</h3>

<p>Aidoo, Christina Ama Ata, George Awoonor Williams, and Frank Parkes. “Ghana.” <em>Pr??sence
    Africaine</em> 57, no. 1 (1966): 300.</p>

<p>Awoonor- Williams, George. “Desire.” <em>Presafri Pr??Sence Africaine.</em> No. 57 (1966):
  304–5.</p>

<p>———. “I Heard a Bird Cry.” <em>Presafri Pr??Sence Africaine</em>, no. 57 (1966):
  303–4.</p>

<p>———. “The Nim Trees the Cemetery.” <em>Presafri Pr??Sence Africaine</em>, no. 57
  (1966): 305.</p>

<p>———. “The Return from Bali.” <em>Pr&eacute;sence Africaine</em>, no. 57 (1966): 306.</p>

<p>———. “The Years Behind.” <em>Presafri Pr??sence Africaine</em>, no. 47 (1963): 181.</p>

<p>Awoonor-Williams, George. “A Dirge.” <em>Afar African Arts</em> 1, no. 1 (1967): 50.</p>

<p>———. “Night of My Blood.” <em>African Arts African Arts</em> 1, no. 1 (1967): 50.</p>

<p>———. “Night of My Blood.” <em>African Arts</em> 1, no. 1 (1967): 50–51.</p>

<p>———. “The Years Behind.” <em>Transition: An International Review</em> , no. 20
  (1963): 19.</p>

<p>Awoonor-Williams, George, Aim&eacute; C&eacute;saire, Warren d’Azevedo, and Bernard B. Dad&iacute;e.
  “Po&eacute;mes.” <em>Pr&eacute;sence Africaine</em> XLVII, no. 3 (1963): 173.</p>

<p>Dunn, Sara, and Alan Scholefield, eds. <em>Poetry for the Earth</em>. 1st American ed. New York: Fawcett
  Columbine, 1992.</p>

<p>Jabbi, Bu-Buakei. <em>West African Poems: Fifteen Analyses</em>. Njala: Njala University College Dept. of
  English, 1974.</p>

<p>Mphahlele, Ezekiel. <em>African Writing Today.</em> Baltimore, Md.: Penguin Books, 1970.</p>

<p>Schubnell, Matthias, Tanja Stampfl, David Pryor, Hector Perez, Emily Clark, Mary Beth Swofford, and University of
  the Incarnate Word. <em>The Water and Culture Reader,</em> 2013.<a
    href="https://archive.org/details/watercultureread02edschu_l6f7">https://archive.org/details/watercultureread02edschu_l6f7</a></p>

<p>Shelton, Austin J. <em>The African Assertion: A Critical Anthology of African Literature</em>. New York: Odyssey
  Press, 1968.</p>

<p>S&ouml;rensen, Lennart, Linda Th&oslash;rgersen, and Bille Th&oslash;rgersen. <em>African Literature: An
    Anthology of African Texts</em>. Kbh.: Haase, 1973.</p>

<p>Tibble, Anne Northgrave. <em>African-English Literature; a Short Survey and Anthology of Prose and Poetry up to
    1965.</em> New York: October House, 1965.</p>

<h3 id="Toc12343">Poetry in Translation</h3>

<h4>Spanish</h4>

<p>Awoonor-Williams, George, William Shand, and Rodolfo Benasso. <em>Poes&iacute;a africana de hoy</em>.Buenos Aires:
  Editorial Sudamericana, 1968.</p>

<h4>French</h4>

<p>Awoonor, Kofi, and Sika Fakambi. <em>La pri&egrave;re de mon p&egrave;re</em>. French. Isabelle Sauvage, 2017.</p>
<h4>German</h4>

<p>Awoonor, Kofi. <em>Schreckliche Heimkehr nach Ghana: Allegor. </em>Lembeck: Erz&auml;lung: Afrika, 1985.</p>

<h2 id="Toc12344">Creative Prose in English</h2>

<p>Anyidoho, Kofi, and Kofi Awoonor. <em>Praise Song for the Land Poems of Hope, and Love, and Care.</em> 2002.</p>

<p>Awooner, Kofi. <em>Comes the Voyager at Last</em>. 1979.</p>

<p>Awoonor, Kofi. <em>Comes the Voyager at Last: A Tale of Return to Africa</em>. African Writers Library. Trenton,
  N.J: Africa World Press, 1992.</p>

<p>Awoonor, Kofi. <em>The Ghana Revolution : Background Account from a Personal Perspective_.</em> Oasis
  Publilshers, 1984.</p>

<p>———. <em>Fire in the Valley: Folktales of the Ewes.</em> Enugu, Nigeria: Nok, 1981.</p>

<p>———. <em>The writer in modern Africa: (African-Scandinavin Writers’ Conference, Stockholm
    1967)</em> . Edited by Per W&auml;stberg. Uppsala: Almqvist &amp; Wiksells Boktryckeri Aktiebolag, 1968.</p>

<p>———. <em>This Earth, My Brother.</em> London: Heinemann, 1972.</p>

<p>Williams, George Awoonor. “‘Just to Buy Corn’ (a Short Story).” <em>Eastern Horizon</em>
  3, no. 7 (1964): 57–62. <a
    href="https://archive.org/details/sim_eastern-horizon_1964-07_3_7/">https://archive.org/details/sim_eastern-horizon_1964-07_3_7/</a></p>

<p>———. “The Funeral’ (a Short Story).” <em>Eastern Horizon</em> 4, no. 5 (1965):
  56–60.<a
    href="https://archive.org/details/sim_eastern-horizon_1965-05_4_5/page/n1/mode/2up">https://archive.org/details/sim_eastern-horizon_1965-05_4_5/page/n1/mode/2up</a></p>

<p>———. “The Reverend’ (a Short Story).” <em>Eastern Horizon</em> 4, no. 6 (1965):
  49–54. <a
    href="https://archive.org/details/sim_eastern-horizon_1965-06_4_6/page/n1/mode/2up">https://archive.org/details/sim_eastern-horizon_1965-06_4_6/page/n1/mode/2up</a></p>

<h3 id="Toc12345">Creative Prose in Translation &amp; Drama</h3>

<h4>Dutch</h4>

<p>Awoonor, Kofi, and Irma van Dam. <em>Komt de reiziger weerom: relaas van de terugkeer naar Afrika.</em>
  Amsterdam: In de Knipscheer, 1994.</p>

<h4>Ewe (or English)</h4>

<p>Agbemabiese, Padmore, and Kofi Awoonor. <em>Migblem Di Kpo</em>. Woeli Publishing, Ghana, 1996.</p>

<p>———. <em>Senyee Wom Alea.</em> Woeli Publishing Services, Ghana, 1996.</p>

<h4>Drama</h4>

<p>Awoonor, Kofi. <em>Teatro africano</em>. Milano: Jaca Book, 1976.</p>

<p>Pieterse, Cosmo. <em>Short African Plays</em>. African Writers Series 78. London: Heinemann Educational, 1972.</p>

<p>———. <em>SHORT AFRICAN PLAYS</em>. LONDON: HEINEMANN, 1978.</p>

<h2 id="Toc12346"> Critical Prose in English Published as Kofi Awoonor</h2>

<p>Acheampong, I. k., Issac Osei, Kofi Awoonor, and John Goldblatt. “Notes in Transition.”
  <em>Transition</em>, no. 41 (1972): 37–49. <a
    href="https://www.jstor.org/stable/2935115">https://www.jstor.org/stable/2935115</a></p>

<p>Awoonor, Kofi. “A Study of the Influences of Oral Literature on the Contemporary Literature of
  Africa.” State University of New York, 1972. <a
    href="https://www.worldcat.org/title/study-of-the-influences-of-oral-literature-on-the-">https://www.worldcat.org/title/study-of-the-influences-of-oral-literature-on-the-</a></p>

<p>———. <em>Africa: The Marginalized Continent</em>. Accra: Woeli publ. services, 1994.</p>

<p>———. “Africa’s Literature Beyond Politics.” <em>Worldview</em> 15, no. 3
  (1972): 21–25. <a href="https://doi.org/10.1017/S008425590001473X">https://doi.org/10.1017/S008425590001473X</a></p>

<p>———. “CALIBAN ANSWERS PROSPERO: The Dialogue between Western and African
  Literature.” <em>Obsidian (1975-1982)</em> 7, no. 2/3 (1981): 75–98. <a
    href="https://www.jstor.org/stable/44">https://www.jstor.org/stable/44</a></p>

<p>———. <em>Come Back, Ghana: A Brief Political Analysis of Ghana’s Current Problems and
    Suggestions on How They Can Be Solved</em> . Ghana? publisher not identified,1976.</p>

<p>———. <em>Energy Statistics Sourcebook. </em>Tulsa: Pennwell, 1986.</p>

<p>———. <em>Ghana: A Political History from Pre-European to Modern Times</em>. Accra: Sedco Pub. :
  Woeli Pub. Services, 1990. <a
    href="http://catalog.hathitrust.org/api/volumes/oclc/22548242.html">http://catalog.hathitrust.org/api/volumes/oclc/22548242.html</a></p>

<p>———. <em>“Kwame Nkrumah: Symbol of Emergent Africa.</em> ProQuest,” 1972. <a
    href="https://www.proquest.com/openview/377704e8be828eadfe6323a2bba132f2/1?p">https://www.proquest.com/openview/377704e8be828eadfe6323a2bba132f2/1?p</a></p>

<p>———. “Nationalism: Masks and Consciousness.” <em>Books Abroad</em> 45, no. 2 (1971):
  207– 11. <a href="https://doi.org/10.2307/40125253">https://doi.org/10.2307/40125253</a></p>

<p>———. <em>The African Predicament: Collected Essays</em>. Accra, Ghana: Sub-Saharan Publishers,
  2006.</p>

<p>———. <em>The Breast of the Earth: A Survey of the History, Culture, and Literature of Africa
    South of the Sahara</em> . 1st ed. Garden City, NY: Anchor Press, Doubleday , 1975. <a
    href="http://books.google.com/books?id=v-EtAAAAMAAJ">http://books.google.com/books?id=v-EtAAAAMAAJ</a></p>

<p>———. <em>The Breast of the Earth: A Survey of the History, Culture, and Literature of Africa
    South of the Sahara.</em> Garden City, N.Y: Anchor Press, 1976.</p>

<p>———. <em>The Ghana Revolution: Background Account from a Personal Perspective.</em> Bronx, N.Y.
  (P.O. Box 125, Bronx 10451): Oases Publishers, 1984.</p>

<p>———. “The Music of Modern Africa.” <em>Worldview</em> 16, no. 8 (1973): 18–20.
  <a href="https://doi.org/10.1017/S0084255900022749">https:doi.org/10.1017/S0084255900022749</a></p>

<p>———. “Tradition and Continuity in African Literature.” <em>Dalhousie Review</em> 53,
  no. 4 (1974): 665–71. <a
    href="https://DalSpace.library.dal.ca//handle/10222/59631">https://DalSpace.library.dal.ca//handle/10222/59631</a>.</p>

<p>Fair, Ronald, Ishmael Reed, and Kofi Awoonor. “Fellow Writers Comment on Clarence Major’s
  Work.” <em>Black American Literature Forum</em> 13, no. 2 (1979): 73–74. <a
    href="https://doi.org">https://doi.org</a></p>

<p>Kilson, Marion, Wande Abimbola, and Kofi Awoonor. “Ifa Divination Poetry.” <em>Journal of Religion in
    Africa Journal of Religion in Africa</em> 9, no. 3 (1978): 227.</p>

<p>Kunene, Mazisi, Daniel Kunene, and Kofi Awoonor. “Panel on South African Oral Traditions.” Issue: A
  Journal of Opinion_ 6, no. 1 (1976): 5–13. <a
    href="https://doi.org/10.2307/1166">https://doi.org/10.2307/1166</a> 566.</p>

<p>Mphahlele, Ezekiel, J. P. Clark, Christopher Okigbo, Wole Soyinka, Chinua Achebe, Ayi Kwei Armah, Kofi Awoonor,
  et al. “The New Mood in African Literature.” <em>Africa Today</em> 19, no. 4 (1972): 54–70. <a
    href="https://www.jstor.org/stable/4185264">https://www.jstor.org/stable/4185264</a></p>

<p>Priebe, Richard, ed. <em>Ghanaian Literatures.</em> Contributions in Afro-American and African Studies, no. 120.
  New York: Greenwood Press, 1988.</p>

<p>Rothenberg, Jerome, and Diane Rothenberg, eds. <em>Symposium of the Whole: A Range of Discourse toward an
    Ethnopoetics.</em> Berkeley: University of California Press, 1983.</p>

<p>Smith, Rowland, ed. <em>Exile and Tradition: Studies in African and Caribbean Literature.</em> Dalhousie African
  Studies Series. London: Longman u.a., 1976.</p>

<p>Yitah, Helen, and Helen Lauer. <em>Philosophical Foundations of the African Humanities through Postcolonial
    Perspectives.</em> BRILL, 2019. <a
    href="https://doi.org/10.1163/9789004392946">https://doi.org/10.1163/9789004392946</a></p>


<h3 id="Toc12360">Critical Prose in English Published as George Awoonor Williams</h3>

<p>Beier, Ulli. <em>Introduction to African Literature an Anthology of Critical Writing from Black Orpheus.</em>
  Evanston Ill: Northwestern University Press, 1967. <a
    href="http://books.google.com/books?id=tKlkAAAAMAAJ">http://books.google.com/books?id=tKlkAAAAMAAJ</a></p>

<p>W&auml;stborg et al, Per, and African-Scandinavian Writers’ Conference. <em>The writer in modern
    Africa.</em> Uppsala: The Scandinavian Institute of African Studies, 1968. <a
    href="http://urn.kb.se/resolve?urn=urn:nbn:se:nai:diva-1335">http://urn.kb.se/resolve?urn=urn:nbn:se:nai:diva-1335</a></p>

<p>Williams, George Awoonor. “Modern African Literature.” <em>Eastern Horizon</em> 3, no. 8 (August
  1964): 5–10. <a
    href="http://archive.org/details/sim_eastern-horizon_1964-08_3_8">http://archive.org/details/sim_eastern-horizon_1964-08_3_8</a></p>


<h3 id="Toc12361">Critical Prose in Translation</h3>

<h4>Dutch</h4>

<p>Awoonor, Kofi, and Irma van Dam. <em>Komt de reiziger weerom: relaas van de terugkeer naar Afrika.</em>
  Amsterdam: In de Knipscheer, 1994.</p>


<h3 id="Toc12347">As Editor</h3>

<p>Awoonor, Kofi, and G. Adali-Mortty. <em>Messages: Poems from Ghana.</em> African Writers Series 42. London:
  Heinemann, 1971.</p>

<p>Awoonor, Kofi, Vinokoo Akpalu, Amega Dunyo, and Komi Ekpe, eds. <em>Guardians of the Sacred Word: Ewe
    Poetry.</em> Traditional African Literature. New York: Nok Publ,1974.</p>

<p>Mooij, Martin, Gerritsen, J, and Kofi Awoonor. <em>Dichters in tachtig: programmaboekje Poetry international
    1980.</em> Rotterdam: Rotterdamse kunststichting, 1980.</p>

<h2 id="Toc12348">Secondary Sources</h2>

<h3 id="Toc12349">Interviews</h3>

<p><em>Africa, Interviews with Black African Writers and Artists,</em> ca. 1962-1969_, 1962.</p>

<p>Awoonor, Kofi. “Interview with Kofi Awoonor.” <em>Kunapipi</em> 1, no. 2 (May 1, 2014). <a
    href="https://ro.uow.edu.au/kunapipi/vol1/iss2/11">https://ro.uow.edu.au/kunapipi/vol1/iss2/11</a></p>

<p>Awoonor, Kofi, and Robert Serumaga. “George Awoonor-Williams, Writer, Poet and Director of the Ghana Film
  Corporation, Interviewed by Robert Serumaga.” <em>Cultural Events in Africa.</em> No. 29 (1967).</p>

<p>Boni, Tanella. Tanella Boni: Does the West regard us as human beings? Interview by Sara Babiker. El Salto TV,
  July 9, 2021. <a href="https://www.youtube.com/watch?v=2dVY4SuSSqg">https://www.youtube.com/watch?v=2dVY4SuSSqg</a></p>

<p>Bozimo, Willy. “Politics? It’s for Scoundrels: Kofi Awoonor.” <em>Sunday Times_.</em> February
  6, 1977.</p>

<p>Ephson, Ben. “Historical Forces.” <em>West Africa,</em> November 4, 1985.</p>

<p>“Ghana: Visionary Writer Fights ‘Moneybag Politics’: An Interview with Kofi Awoonor.”
  <em>To The Point,</em> June 30, 1978.</p>

<p>Goldblatt, John, and Kofi Awoonor. “The Common Tongue.” <em>Transition</em>, no. 75–76 (1997):
  358–63.</p>

<p>Goldblatt, John, Issac Ossei, I.K. Acheampong, and Kofi Awoonor. “Notes In Transition.”
  <em>Transition</em> , no. 41 (1972): 37–49. <a
    href="https://www.jstor.org/stable/2935115#metadata_info_tab_contents">https://www.jstor.org/stable/2935115#metadata_info_tab_contents</a></p>

<p>“Kofi Awoonor on Poetry and Prison.” <em>West Africa</em>, April 17, 1978.</p>

<p>Kunene, Mazisi, Daniel Kunene, and Kofi Awoonor. “Panel on South African Oral Traditions.” <em>Issue:
    A Journal of Opinion</em> 6, no. 1 (1976): 5. <a
    href="https://doi.org/10.2307/1166566">https://doi.org/10.2307/1166566</a></p>

<p>Lindfors, Bernth. <em>Palaver; Interviews with Five African Writers in Texas: Chinua Achebe, John Pepper Clark,
    Dennis Brutus, Ezekiel Mphahlele and Kofi Awoonor.</em> Austin: African and Afro-American Research Institute,
  University of Texas at Austin, 1972.</p>

<p>Morell, Karen L, Chinua Achebe, Kofi Awoonor, Wole Soyinka, University of Washington, and African Studies
  Program, Institute for Comparative and Foreign Area Studies. “In Person--Achebe, Awoonor, and Soyinka at the
  University of Washington.” Class Discussion, Seattle, 1975.</p>

<p>Munroe, Ian, and Wayne Kamin. “Interview with Kofi Awoonor.” <em>Kunapipi</em> 1, no. 2 (November 1,
  1979). <a href="https://ro.uow.edu.au/kunapipi/vol1/iss2/11">https://ro.uow.edu.au/kunapipi/vol1/iss2/11</a></p>

<p>Pieterse, Cosmo, and Dennis Duerden. <em>African Writers Talking: A Collection of Interviews</em>. Studies in
  African Literature. London: Heinemann Educational, 1972.</p>

<p>Wilkinson, Jane, ed. <em>Talking with African Writers: Interviews with African Poets, Playwrights &amp;
    Novelists</em>. Studies in African Literature. London : Portsmouth, N.H: J. Currey ; Heinemann, 1992.</p>

<p>Willemse, Hein. “Kofi Awoonor in Conversation with Hein Willemse.” Tydskrif Vir Letterkunde_ 41, no.
  2 (May 4, 2018): 186–97. <a
    href="https://doi.org/10.4314/tvl.v41i2.29685">https://doi.org/10.4314/tvl.v41i2.29685</a></p>


<h3 id="Toc12350">General Overviews</h3>

<p>Adewale Maja-Pearce. <em>Awoonor, Kofi (1935-).</em> Oxford University Press, 2013.</p>

<p>Brockman, Norbert C. <em>An African Biographical Dictionary.</em> 2nd ed. Millerton, NY: Grey House Pub, 2006.</p>

<p>Cox, Brian, ed. <em>African Writers.</em> New York : London: Charles Scribner’s Sons ; Simon &amp; Schuster
  Prentice Hall International, 1997.</p>

<p>Darmani, Lawrence. <em>Poetry Appreciation for Literature in English.</em> Accra-North: Step Publishers, 2005.</p>

<p>Klein, Leonard S., ed. <em>African Literatures in the 20th Century: A Guide.</em> New York: Ungar Pub. Co, 1986.</p>

<p>“KOFI AWOONOR (1935-).” <em>Postcolonial African Writers.</em> Routledge, 1998. Lindfors, Bernth, and
  Reinhard Sander. <em>Kofi Awoonor. Dictionary of Literary Biography, Vol. 117: Twentieth-Century Caribbean and
    Black African Writers, First Series.</em> First. Detroit: Gale Research, 1992.</p>

<p>Noel-Tod, Jeremy, and Ian Hamilton, eds. <em>The Oxford Companion to Modern Poetry.</em> Second edition/edited by
  Jeremy Noel-Tod. Oxford: Oxford University Press, 2013.</p>


<h3 id="Toc12351">Book Reviews</h3>

<p>Abrahams, Cecil. “Book Review: The Breast of the Earth, a Survey of the History, Culture and Literature of
  Africa South of the Sahara.” Canajafristudrev Canadian Journal of African Studies / Revue Canadienne
  Des ??Tudes Africaines 11, no. 1 (1977): 143–45.</p>

<p>Achebe, Chinua, and Kofi Awoonor. “This Earth, My Brother.” <em>Transition</em> , no. 41 (1972): 69.
  <a href="https://doi.org/10.2307/2935118">https://doi.org/10.2307/2935118</a></p>

<p>Agyeman-Duah, Ivor. “Book Review: The Promise of Hope: New and Selected Poems, 1964-2013, Written by Kofi
  Awoonor. 2004.” <em>African and Asian Studies</em> 14, no. 1–2 (March 27, 2015): 157–59. <a
    href="https://doi.org/10.1163/15692108-12341323">https://doi.org/10.1163/15692108-12341323</a></p>

<p>Ajayi, Dami. “The Promise of Hope: A Review | Wawa Book Review,” March 25, 2016. <a
    href="https://wawabookreview.com/the-promise-of-hope-a-review/">https://wawabookreview.com/the-promise-of-hope-a-review/</a></p>

<p>Anyidoho, Kofi. “Book Review: Guardians of the Sacred Word: Ewe Poetry.” <em>Reseafrilite Research in
    African Literatures</em> 12, no. 3 (1981): 394–98.</p>

<p>Bordinat, Philip. “Kofi Awoonor. The Breast of the Earth: A Survey of the History, Culture, and Literature
  of Africa South of the Sahara. Garden City, New York: Anchor Press/Doubleday, 1975.” <em>World Literature
    Written in English</em> 15, no. 1 (April 1, 1976): 46–52. <a
    href="https://doi.org/10.1080/17449857608588377">https://doi.org/10.1080/17449857608588377</a></p>

<p>Bruner, Charlotte. “Review of Kofi Awoonor. Until the Morning After: Collected Poems, 1963-1985.”
  <em>Explorations in Sights and Sounds_</em> 9, no. 1 (January 1, 1989): 3–4. <a
    href="https://scholarscompass.vcu.edu/ess/vol9/iss1/4">https://scholarscompass.vcu.edu/ess/vol9/iss1/4</a></p>

<p>CONDE, Maryse. “Review of THIS EARTH, MY BROTHER...” <em>Pr&eacute;sence Africaine</em> , no. 82
  (1972): 152–53. <a href="https://www.jstor.org/stable/24350344">https://www.jstor.org/stable/24350344</a></p>

<p>Dameron, Charles. “Book Review: Guardians of the Sacred Word: Ewe Poetry.” <em>Booksabroad Books
    Abroad</em> 50, no. 1 (1976): 223–24.</p>

<p>Killiam, G.D. “Kofi Awoonor: The Breast of Earth.” *The Dalhousie Review,* 1976, 143–56. <a
    href="https://dalspace.library.dal.ca/bitstream/handle/10222/62949/dalrev_vol56_iss1_pp143_156.pdf?sequence=1"
    target="_blank">URL</a>.</p>

<p>Kilson, Marion. “Book Review: Ifa Divination Poetry.” <em>Jreligionafrica Journal of Religion in
    Africa</em> 9, no. 3 (1978): 227–28.</p>

<p>———. “‘Guardians of the Sacred Word. Ewe Poetry’ (Book Review).”
  <em>Journal of Religion in Africa/Religion En Afrique: Leiden</em> 9, no. 3 (January 1, 1978): 211. <a
    href="https://www.proquest.com/openview/877d161b0aa20cc80e47d3f582443802/1?p">https://www.proquest.com/openview/877d161b0aa20cc80e47d3f582443802/1?p</a></p>

<p>Larson, Charles R. “Review of This Earth, My Brother....” <em>Books Abroad</em> 46, no. 1 (1972):
  165–66. <a href="https://doi.org/10.2307/40126053">https://doi.org/10.2307/40126053</a></p>

<p>Moore, Gerald. “Review of The Breast of the Earth: A Survey of the History, Culture, and Literature of
  Africa South of the Sahara.” <em>The Modern Language Review</em> 72, no. 3 (1977): 651–53. <a
    href="https://doi.org/10.2307/3725413">https://doi.org/10.2307/3725413</a></p>

<p>Nazareth, Peter. “Review of The Breast of the Earth: A Survey of the History, Culture and Literature of
  Africa South of the Sahara.” <em>Research in African Literatures</em> 6, no. 2 (1975): 265–76. <a
    href="https://www.jstor.org/stable/3819068">https://www.jstor.org/stable/3819068</a></p>

<p>Palmer, Eustace. “Review of The Breast of the Earth.” <em>Research in African Literatures</em> 16,
  no. 4 (1985): 619–23. <a href="https://www.jstor.org/stable/3819497">https://www.jstor.org/stable/3819497</a></p>

<p>Panter-Brick, S.K. “Fiction and Politics: The African Writer’s Abdication.” <em>Journal of
    Commonwealth &amp; Comparative Politics Journal of Commonwealth &amp; Comparative Politics</em> 13, no. 1
  (1975): 79–86.</p>

<p>———. “Fiction and Politics: The African Writer’s Abdication.” <em>Journal of
    Commonwealth &amp; Comparative Politics Journal of Commonwealth &amp; Comparative Politics</em> 13, no. 1
  (1975): 79–86.</p>

<p>Parkes, Nii. “Review: My Hero Kofi Awoonor.” *The Guardian,* Sep 28, 2013, 5. <a
    href="http://search.proquest.com/docview/1437357450/fulltext/" target="_blank">URL.</a></p>

<p>Priebe, Richard. “Review of The Breast of the Earth: A Survey of the History, Culture, and Literature of
  Africa South of the Sahara.” <em>Books Abroad</em> 49, no. 4 (1975): 834–35. <a
    href="https://doi.org/10.2307/40130029">https://doi.org/10.2307/40130029</a></p>
Taylor, John. “Discovering New African Poets.” *Antioch Review,* no. 2, 2015, 372–80. <a
  href="https://web.p.ebscohost.com/ehost/pdfviewer/pdfviewer?vid=11&amp;sid=d998a52a-cfda-43a6-a0ca-14b7b062b9a4%40redis"
  target="_blank">URL.</a>

<p>Wright, Derek. “Kofi Awoonor: The Ambassador-Poet.” <em>Third World Quarterly</em> 17, no. 1 (March
  1996): 177–177. <a
    href="http://libproxy.unl.edu/login?url=https://search.ebscohost.com/login.aspx?direct=t">http://libproxy.unl.edu/login?url=https://search.ebscohost.com/login.aspx?direct=t</a></p>

<p>Yankson, Kofi. “This Earth, My Brother...: A Study in Despair.” <em>University of Cape Coast English
    Department Workpapers 4</em>, 1972.</p>

<h2 id="Toc12352">Critical Studies on Awoonor</h2>

<p>Achebe, Chinua, and Kofi Awoonor. “Introduction to This Earth, My Brother.” <em>Transition</em>, no.
  41 (1972): 69. <a href="https://doi.org/10.2307/2935118">https://doi.org/10.2307/2935118</a></p>

<p>Adika, Prince Kwame. “Post-Colonial Trauma &amp; the Poetics of Remembering in the Novels of Kofi
  Awoonor.” In <em>ALT 32 Politics &amp; Social Justice: African Literature Today_,</em> edited by Ernest M.
  Emenyonu, New Edition., 158–72. African Literature Today. Boydell &amp; Brewer, James Currey an imprint of
  Boydell &amp; Brewer, 2014.</p>

<p>Adjei, M. “Back-to-Africa’, ‘Double Consciousness’ and the African Diaspora: Confronting
  the Myth and the Reality in Ghanaian Fiction.” <em>Legon Journal of the Humanities</em> 23 (2012):
  33–55. <a href="https://doi.org/10.4314/ljh.v23i0">https://doi.org/10.4314/ljh.v23i0</a></p>

<p>Adjei, Muwali. “Looking Death in the Eye: The Human Condition, Morbidity &amp; Mortality in Kofi
  Awoonor’s Poetry.” In <em>ALT 32 Politics &amp; Social Justice: African Literature Today</em>, edited
  by Ernest M. Emenyonu, New Edition., 137–50. African Literature Today. Boydell &amp; Brewer, James Currey an
  imprint of Boydell &amp; Brewer, 2014.</p>

<p>Adu, K. B. O. “Rethinking The Wound: A Reading of Trauma in James Matthews’ Poems from a Prison Cell
  and Kofi Awoonor’s The House by the Sea.” Thesis, University Of Ghana, 2016. <a
    href="http://ugspace.ug.edu.gh/handle/123456789/23382">http://ugspace.ug.edu.gh/handle/123456789/23382</a></p>

<p>Agbozo, Gabriel Edzordzi. “Revisiting ‘Home’ in Ghanaian Poetry: Awoonor, Anyidoho and
  Adzei.” <em>CLCWeb: Comparative Literature and Culture 21,</em> no. 6 (September 9, 2019).</p>

<p>Akhuemokhan, Sophia. “The Man in Khaki and the Man in the Street: A Study of ‘This Earth, My
  Brother’ and ‘Sardines.’” <em>Okike : An African Journal of New Writing Okike,</em> no. 49
  (2008): 6–21.</p>

<p>Amoabeng, Kwaku, and Carrol Lasker. “Kofi Awoonor: An Annotated Bibliography.” <em>Africana Journal :
    A Bibliographic and Review Quarterly Africana Journal</em> 13, no. 1/4 (1982): 173– 214.</p>

<p>Amuzu, Koku. “Landscape as Expression of Alienation: Armah, Awoonor, Soyinka.” <em>English in
    Africa</em> 20, no. 1 (1993): 77–89. <a
    href="https://www.jstor.org/stable/40238707">https://www.jstor.org/stable/40238707</a></p>

<p>Anyidoho, Kofi. “Kofi Awoonor and the New Tradition of Songs of Abuse (Halo).” In <em>Toward Defining
    the African Aesthetic</em> , edited by Lemuel A. Johnson. Washington, D.C.: Three Continents Press, 1982.</p>

<p>Anyidoho, Kofi, Abena P. A Busia, Anne V Adams, African Literature Association, and Meeting, eds. <em>Beyond
    Survival: African Literature &amp; the Search for New Life.</em> Trenton, NJ: Africa World Press, 1999.</p>

<p>Apronti, E. O. “On Naming ‘Traditional Oral Literature.’ <em>Research Review Research
    Review</em> 9, no. 3 (1972): 126–36.</p>

<p>Ayivor, Kwame. “The Prodigal Hero Returns to His Aboriginal Home: A Reading of Kofi Awoonor’s This
  Earth, My Brother.” <em>Alternation</em> 6, no. 2 (January 1, 1999): 58–79. <a
    href="https://doi.org/10.10520/AJA10231757_153">https://doi.org/10.10520/AJA10231757_153</a></p>
  
<p>  ———. . “Individualism Versus Traditionalism in Four African Novels: Noni Jabavu,
    Es’kia Mphahlele, Ferdinand Oyono and Kofi Awoonor.” <em>Pretexts: Literary &amp; Cultural Studies
      8</em>, no. 1, 1999, 17–34. <a
      href="https://web-p-ebscohost-com.libproxy.unl.edu/ehost/pdfviewer/pdfviewer?vid=5&amp;sid=115401bf-30a7-420b-8739-10cf83bb1230%40redis"
      target="_blank">URL.</a>
  </p>

<p>Ayuk, Ojung. “Environmental Decadence: A Theme in Post-Independence African Fiction.” <em>Africana
    Journal : A Bibliographic and Review Quarterly Africana Journal</em> 13, no. 1/4 (1982): 142–51.</p>

<p>Babkar, Abdelkader. <em>Narrating the Nation in the African Novel: Chinua Achebe, Ngugi Wa Thiong’o, Ayi
    Kwei Armah and Kofi Awoonor,</em> 2016.</p>

<p>Bordinat, Philip. “Kofi Awoonor. The Breast of the Earth: A Survey of the History, Culture, and Literature
  of Africa South of the Sahara.” Garden City, New York: Anchor Press/Doubleday, 1975.” <em>World
    Literature Written in English</em> 15, no. 1 (1976): 46–52. <a
    href="https://doi.org/10.1080/17449857608588377">https://doi.org/10.1080/17449857608588377</a></p>

<p>Chinweizu. “Surfaces of Dillusion.” <em>Okike 6,</em> September 1974.</p>

<p>Colmer, Rosemary. “Kofi Awoonor: Critical Prescriptions and Creative Practice.” <em>ACLALS Bulletin
    5</em>, July 1978.</p>

<p>———. “The Restorative Cycle: Kofi Awoonor’s Theory of African
  Literature.”<em>New Literatures Review</em>, May 1977.</p>

<p>Coussy, Denise. <em>Litt&eacute;ratures du Nig&eacute;ria et du Ghana. 2,Po&eacute;sie, Th&eacute;atre,
    Musique.</em> Paris: Adpf, 2000.</p>

<p>Currey, James. “Literary Publishing After Nigerian Independence: Mbari as Celebration.” <em>Research
    in African Literatures</em> 44, no. 2 (2013): 8–16. <a
    href="https://doi.org/10.2979/reseafrilite.44.2.8">https://doi.org/10.2979/reseafrilite.44.2.8</a></p>

<p>———. “Magic and Realism from Ghana, the Gambia and Sierra Leone.” <em>Africa Writes
    Back:The African Writers Series and the Launch of African Literature.</em> 2008, 71–84.</p>

<p>Dathorne, O. R. “Tradition and the African Poet.” <em>Pr&eacute;sence Africaine,</em> no. 63 (1967):
  202–6. <a href="https://www.jstor.org/stable/24348961">https://www.jstor.org/stable/24348961</a></p>

<p>Deandrea, Pietro. <em>Fertile Crossings: Metamorphoses of Genre in Anglophone West African Literature</em> .
  Cross-Cultures 53. Amsterdam: Rodopi, 2002.</p>

<p>Duclos, Jocelyn-Robert. “‘The Butterfly and the Pile of Manure’: A Study of Kofi
  Awoonor’s Novel, This Earth, My Brother.” <em>Canadian Journal of African Studies / Revue Canadienne
    Des &Eacute;tudes Africaines</em> 9, no. 3 (1975): 511–21. <a
    href="https://doi.org/10.2307/484138">https://doi.org/10.2307/484138</a></p>

<p>Early, L. R. “Kofi Awoonor’s Poetry.” <em>ARIEL: A Review of International English
    Literature</em> 6, no. 1 (January 1, 1975). <a
    href="https://journalhosting.ucalgary.ca/index.php/ariel/article/view/32477">https://journalhosting.ucalgary.ca/index.php/ariel/article/view/32477</a></p>

<p>Egudu, Romanus N. <em>Four Modern West African Poets.</em> New York: NOK Publishers, 1977. <a
    href="http://books.google.com/books?id=BvtZAAAAMAAJ">http://books.google.com/books?id=BvtZAAAAMAAJ</a></p>

<p>Elimimian, Isaac Irabor. “Kofi Awoonor as a Poet.” <em>Orature in African Literature Today / Edited
    by Eldred Durosimi Jones.</em> 1992, 35–48.</p>

<p>———. <em>Theme and Style in African Poetry</em>. Lewiston: E. Mellen, 1991.</p>

<p>Emenyo̲nu, Ernest, ed. <em>Politics &amp; Social Justice.</em> African Literature Today 32. Woodbridge, Suffolk,
  UK : Ibadan, Nigeria: James Currey ; HEBN, 2014.</p>

<p>Emenyonu, Ernest N. <em>ALT 32 Politics &amp; Social Justice: African Literature Today.</em> Boydell &amp;
  Brewer, 2014. <a href="http://www.myilibrary.com?id=663891">http://www.myilibrary.com?id=663891</a></p>

<p>Furay, Michael. “African Literature in the Berkeley War.” <em>Research in African Literatures</em> , vol
  1, no. 1, Spring 1970, 70–75.</p>

<p>Glover-Meni, Nathaniel, and Samuel Bewiadzi Akakpo. “Literature and Culture: A Critique of Selected Works
  of Kofi Awoonor and Ama Ata Aidoo.” <em>Hybrid Journal of Literary and Cultural Studies</em> 2, no. 3 (July
  17, 2020): 47–61. <a href="https://royalliteglobal.com/hybrid-">https://royalliteglobal.com/hybrid-</a></p>

<p>Goodwin, K. L. <em>Understanding African Poetry: A Study of Ten Poets</em>. London ; Exeter, N.H., USA:
  Heinemann, 1982.</p>

<p>Haynes, John. “Song and Copy: The Relation Between Oral and Printed in Kofi Awoonor’s
  ‘Dirge.’” <em>The Journal of Commonwealth Literature</em> 20, no. 1 (1985): 118–29. <a
    href="https://doi.org/10.1177/002198948502000111">https://doi.org/10.1177/002198948502000111</a></p>

<p>———. <em>The Poetry of Africa: An Introduction for Students.</em> London: Macmillan, 1989.</p>

<p>Humanities Center, Richmond, VA, Ruby Lee Norris, Sally Harris Sange, and Richmond Humanities Center VA. <em>Last
    But Not Least My Poem An Exploration with Writers in the Classroom. Dialogue Series, Volume III</em> . Place of
  publication not identified: Distributed by ERIC Clearinghouse, 1977.</p>

<p>Hunter, Walt. <em>Forms of a World: Contemporary Poetry and the Making of Globalization</em>, 2019. <a
    href="https://doi.org/10.1515/9780823282241">https://doi.org/10.1515/9780823282241</a></p>

<p>———. “The No-Prospect Poem: Lyric Finality in Prynne, Awoonor, and Trethewey.” <em>The
    Minnesota Review: A Journal of Creative and Critical Writing</em> 85 (2015): 144–52.<a
    href="https://doi.org/10.1215/00265667-3144702">https://doi.org/10.1215/00265667-3144702</a></p>

<p>Hurley, E. Anthony, Ren&eacute;e Brenda Larrier, and Joseph McLaren, eds. <em>Migrating Words and Worlds:
    Pan-Africanism Updated</em> . Annual Selected Papers of the ALA, no. 4. Trenton, N.J: Africa World Press, 1999.</p>
<p>Igwe, Ezuma. B. “Three African Poets: A Critical Review.” <em>Journal of the New African Literature and
    the Arts</em> 11, no. 12 (1971): 83–90.</p>

<p>Johnson, Lemuel A., and African Literature Association, eds. <em>Toward Defining the African Aesthetic</em>. 1st
  ed. Annual Selected Papers of the ALA 6/1980. Washington, D.C: Three Continents Press, 1982.</p>

<p>Jones, Eldred D., ed. <em>Myth &amp; History: A Review.</em> African Literature Today 11. London: Heinemann u.a.,
  1980.</p>

<p>———, ed. Orature in African Literature Today: A Review. 1. publ. African Literature Today 18.
  London: Currey u.a., 1992.</p>

<p>Ker, David I. <em>The African Novel and the Modernist Tradition.</em> Studies in African and African American
  Culture 12. New York, NY Bern Frankfurt am Main Berlin Vienna: Lang, 2000.</p>

<p>Knipp, Thomas R. “Myth, History and Poetry of Kofi Awoonor.” <em>African Literature Today 1</em> ,
  1980, 39–61. <a
    href="https://archive.org/details/mythhistoryrevie0000jone/page/n5/mode/2up">https://archive.org/details/mythhistoryrevie0000jone/page/n5/mode/2up</a></p>

<p>Kolawole, Mary Ebun Modupe. “Kofi Awoonor as a Prophet of Conscience.” <em>African Languages and
    Cultures</em> 5, no. 2 (1992): 125–32. <a
    href="https://www.jstor.org/stable/1771777">https://www.jstor.org/stable/1771777</a></p>

<p>Kparevzua, Priscilla Queen. “Sociolinguistic Aspects of Meaning in Kofi Awoonor’s, This EartMy
  Brother... (1971) and Comes the Voyager at Last (1992).” <em>Hybrid Journal of Literary and Cultural
    Studies</em> 3, no. 1 (2021). <a
    href="https://www.royalliteglobal.com/hybrid-literary/article/view/419">https://www.royalliteglobal.com/hybrid-literary/article/view/419</a></p>

<p>“La litterature Negro-Africaine = Black African literature.” <em>Canadian journal of African studies
    Canadian Journal of African Studies</em> 9, no. 3 (1975): 407–566.</p>

<p>Lindfors, Bernth, and Reinhard Sander, eds. <em>Twentieth-Century Caribbean and Black African Writers. First
    Series.</em> Dictionary of Literary Biography, v. 117. Detroit: Gale Research Inc, 1992.</p>

<p>Maduakor, Obi. <em>Critical Theory &amp; African Literature Today: A Review.</em> Edited by Eldred Durosimi
  Jones. Trenton, N.J.: Africa World Press, 1994. <a
    href="http://catalog.hathitrust.org/api/volumes/oclc/32021084.html">http://catalog.hathitrust.org/api/volumes/oclc/32021084.html</a></p>

<p>———. “Kofi Awoonor as Critic.” <em>African Literature Today : A Journal of
    Explanatory Criticism African Literature Today,</em> no. 19 (1994): 8–21.</p>

<p>———. “The Legacy of Suffering: The African Slave Past in Contemporary West African
  Literature.” <em>Transgressing Boundaries : New Directions in the Study of Culture in Africa.</em> ed. by
  Brenda Cooper and Andrew Steyn. - Cape Town : University of Cape Town Press Etc., 1996, 153–61.</p>

<p>Mamudu, Ayo. “Kofi Awoonor as Poet.” <em>Kiab&agrave;b&agrave;.</em> 5 (1982): 173–93.</p>

<p>McKoy, Sheila Smith. “This Unity of Spilt Blood”: Tracing Remnant Consciousness in Kofi
  Awoonor’s “Comes the Voyager at Last.” <em>Research in African Literatures</em> 33, no. 2 (2002):
  194–209. <a href="https://www.jstor.org/stable/3820981">https://www.jstor.org/stable/3820981</a></p>

<p>Moody, Harold Leonard Birch. <em>Kofi Awoonor, This Earth, My Brother: A Critical View.</em> Edited by Yolande
  Cant&ugrave;. London: Collins u.a., 1985.</p>

<p>Moore, Gerald. <em>Twelve African writers.</em> London; Melbourne; Sydney: Hutchinson University library for
  Africa, 1980. <a
    href="https://www.worldcat.org/title/twelve-african-">https://www.worldcat.org/title/twelve-african-</a>
  writers/oclc/464522341&amp;referer=brief_results</p>

<p>Moore, Gerald, and Kofi Awoonor. <em>Night of My Blood Introduction</em>. First Edition. Doubeday, 1971.</p>

<p>———. “The Breast of the Earth: A Survey of the History, Culture, and Literature of Africa</p>

<p>South of the Sahara.” <em>The Modern Language Review</em> 72, no. 3 (1977): 651. <a
    href="https://doi.org/10.2307/3725413">https://doi.org/10.2307/3725413</a></p>

<p>Mphahlele, Es’kia. “The New Mood in African Literature.” <em>Africa Today Africa Today</em> 19,
  no. 4 (1972): 54–70.</p>

<p>NWOGA, Donatus I. “Shadows of Christian Civilization : The Image of the Educated African in African
  Literature.” <em>Pr&eacute;sence Africaine</em>, no. 79 (1971): 34–50. <a
    href="https://www.jstor.org/stable/24350423">https://www.jstor.org/stable/24350423</a></p>

<p>Ogunsanwo, Olatubosun. <em>Awoonor’s This Earthy My Brother. A Personal Memoir.</em> Research Online, 2017.</p>

<p>Ojaide, Tanure. “Contemporary Africa and the Politics in Literature,” 2015.</p>

<p>———. <em>Indigeneity, Globalization, and African Literature: Personally Speaking.</em> African
  Histories and Modernities. Houndmills, Basingstoke, Hampshire ; New York: Palgrave Macmillan, 2015.</p>

<p>———. “The Changing Voice of History: Contemporary African Poetry.”
  Gen&egrave;ve-Afrique : revue de la Soci&eacute;t&eacute; suisse d’&eacute;tudes africaines et de
  L’Institut universitaire d’&eacute;tudes du d&eacute;veloppement] = Geneva-Africa : journal of the Swiss
  Society of African Studies = Zeitschrift der Schweizerischen Afrika-Gesellschaft,_ 1989.</p>

<p>Ojo-Ade, Femi. “Madness in the African Novel: Awoonor’s This Earth, My Brother.” <em>African
    Literature Today 10</em> , n.d.</p>

<p>Okooampa-Ahoofe, Kwaame.Jr. “Kofi Awoonor: ‘Tribal’ Neo-Oralist.” <em>The Nassau
    Review,</em> vol 8, no. 2, 2001, 107–29.</p>

<p>Ola, V. U. “The Futility of Individual Aspiration in the African Novel.” <em>Utafiti : Journal of the
    Faculty of Arts and Social Science, University of Dar Es Salaam Utafiti</em> 8, no. 2 (1986): 20–28.</p>

<p>Opoku-Agyemang, Naana Jane, Paul E. Lovejoy, and David Vincent Trotman, eds. <em>Africa and Trans-Atlantic
    Memories: Literary and Aesthetic Manifestations of Diaspora and History</em> . Trenton, NJ: Africa World Press,
  2008.</p>

<p>Parekh, Pushpa Naidu, and Siga Fatima Jagne, eds. <em>Postcolonial African Writers: A Bio- Bibliographical
    Critical Sourcebook</em> . Westport, Conn: Greenwood Press, 1998.</p>

<p>Priebe, Richard, ed. <em>Ghanaian Literatures</em>. Contributions in Afro-American and African Studies, no. 120.
  New York: Greenwood Press, 1988.</p>

<p>Priebe, Richard K. <em>Myth, Realism, and the West African Writer</em>. 1. print. Comparative Studies in African
  Caribbean Literature Series. Trenton, NJ: Africa World Press,1988.</p>

<p>Ryan, Connor. “Regimes of Waste: Aesthetics, Politics, and Waste from Kofi Awoonor and Ayi Kwei Armah to
  Chimamanda Adichie and Zeze Gamboa.” <em>Research in African Literatures</em> 44, no. 4 (2013): 51–68.
  https:// doi.org/10.2979/reseafrilite.44.4.51</p>

<p>Saint-Andr&eacute;, Eliane. “Rites of Passage in the Poetry of Kofi Awoonor.” <em>Commonwealth
    (Dijon)</em> 8, no. 2 (Spring 1986): P. 67. <a
    href="https://www.proquest.com/openview/9ea442c133742983e400c3b691b14225/1?pq-origsite=gscholar&amp;cbl=1818263">https://www.proquest.com/openview/9ea442c133742983e400c3b691b14225/1?pq-origsite=gscholar&amp;cbl=1818263</a></p>

<p>Secovnie, Kelly O. “Ama Ata Aidoo and Kofi Awoonor: Pan-Africanism Reconstructed.” <em>Obsidian</em>
  8, no. 2 (2007): 113–28. <a
    href="https://www.jstor.org/stable/44489262">https://www.jstor.org/stable/44489262</a></p>

<p>Snyder, Emine. “New Directions in African Writings.” <em>Pan-African Journal Pan-African Journal</em>
  5, no. 2 (1972): 253–61.</p>

<p>Sterling, Cheryl. “Chapter Thirteen- Requiem to Kofi Awoonor Through His Novels ‘This Earth, My Brother
  and Comes The Voyager at Last.” <em>Transnational Trills in the Africana World,</em> 2019, 284-304.</p>

<p>T&aacute;&iacute;w&ograve;, Ol&uacute;fẹ́mi. <em>Kofi Awoonor: The Essays of a Humanist.</em> Brill, 2019. <a
    href="https://doi.org/10.1163/9789004392946_010">https://doi.org/10.1163/9789004392946_010</a></p>

<p>Taylor, John. “Poetry Today: Discovering New African Poets.” <em>The Antioch Review</em> 73, no. 2
  (2015): 372–80. <a
    href="https://doi.org/10.7723/antiochreview.73.2.0372">https://doi.org/10.7723/antiochreview.73.2.0372</a></p>

<p>Theroux, Paul. “A Study of Six African Poets: Voices out of the Skull.” <em>Introduction to African
    Literature: An Anthology of Critical Writing.</em> 1979, 120–41.</p>

<p>Thiong’o, Ngũgĩ wa. “Kofi Awoonor: Hurũka Na Thayũ.” <em>Journal of Asian and African
    Studies</em> 50, no. 1 (2015): 3–6. <a
    href="https://doi.org/10.1177/0021909614546805">https://doi.org/10.1177/0021909614546805</a></p>

<p>Tucker, Martin. “Kofi Awoonor: Restraint and Release.” <em>English in Africa</em> 6, no. 1 (1979):
  46–51. <a href="https://www.jstor.org/stable/40238445">https://www.jstor.org/stable/40238445</a></p>

<p>———. “Kofi Awoonor’s Prison.” <em>Worldview</em> 22, no. 11 (November 1979):
  22–24. <a href="https://doi.org/10.1017/S0084255900051342">https://doi.org/10.1017/S0084255900051342</a></p>

<p>Utudjian, Elaine Saint-Andre. “Aspects of Myth in Two Ghanaian Novels’ - ProQuest.” Accessed
  August 10, 2022. <a
    href="https://www.proquest.com/docview/1311491422?fromopenview=true&amp;imgSeq=1">https://www.proquest.com/docview/1311491422?fromopenview=true&amp;imgSeq=1</a></p>

<p>———. “Rites of Passage in the Poetry of Kofi Awoonor’ - ProQuest.” Accessed
  August 10, 2022. <a
    href="https://www.proquest.com/docview/1311480831?fromopenview=true&amp;imgSeq=1">https://www.proquest.com/docview/1311480831?fromopenview=true&amp;imgSeq=1</a></p>

<p>Wright, Derek. <em>New Directions in African Fiction.</em> Twayne’s World Authors Series, no. 869. New
  York : London: Twayne Publishers ; Prentice Hall International, 1997.</p>

<p>———. “Returning Voyagers: the Ghanaian Novel in the Nineties.” <em>J. Mod. Afr.
    Stud. The Journal of Modern African Studies</em> 34, no. 1 (1996): 179–92.</p>

<p>———. “Ritual and Reality in the Novels of Wole Soyinka, Gabriel Okara and Kofi
  Awoonor.” <em>Kunapipi</em> 9, no. 1 (July 20, 2017). <a
    href="https://ro.uow.edu.au/kunapipi/vol9/iss1/12">https://ro.uow.edu.au/kunapipi/vol9/iss1/12</a></p>

<p>—— “Scatology and Eschatology in Kofi Awoonor’s This Earth, My Brother...”
  <em>International Fiction Review</em>, January 1, 1988. <a
    href="https://journals.lib.unb.ca/index.php/IFR/article/view/13894">https://journals.lib.unb.ca/index.php/IFR/article/view/13894</a></p>

<p>Yaw Asante. “Kofi Awoonor (1935-2013).” <em>I</em><em>n Tydskrif Vir Letterkunde,</em> 51:74.
  Accessed November 4, 2022. [URL.](https://paperity.org/p/207734752.)</p>

<p>Yoon, Duncan M. “‘Our Forces Have Redoubled’: World Literature, Postcolonialism, and the
  Afro-Asian Writers’ Bureau.” <em>Cambridge Journal of Postcolonial Literary Inquiry</em> 2, no. 2
  (September 2015): 233–52. <a href="https://doi.org/10.1017/pli.2015.11">https://doi.org/10.1017/pli.2015.11</a></p>

<p>على, غادة حسين سيد, and Ghadah Husayn Sayyid Ali. “Two West African Voices in Search of Decolonization:
  Kofi Awoonor and Christopher Okigbo.” <em>مجلة البحث العلمي في الآداب</em> 17, no. العدد السابع عشر الجزء
  الثالث (August 1, 2016): 1–24. <a
    href="https://doi.org/10.21608/jssa.2016.11342">https://doi.org/10.21608/jssa.2016.11342</a></p>


<h3 id="Toc12353">Media on Awoonor</h3>

<p>Awoonor, Kofi. <em>A Poet Reads His Work, Kofi Awooner.</em> Stony Brook: Educational Communications Center,
  State University of New York at Stony Brook, 1978.</p>

<p>———. Kofi Awoonor Interviewed by Dennis Duerden in London, July 1968. Cassette Recording | LP
  Recording. London: Transcription Feature Service, 1968. <a
    href="https://www.worldcat.org/title/kofi-awoonor-interviewed-by-dennis-duerden-in-london-july-1968/oclc/1323091758&amp;referer=brief_results">https://www.worldcat.org/title/kofi-awoonor-interviewed-by-dennis-duerden-in-london-july-1968/oclc/1323091758&amp;referer=brief_results</a></p>

<p>———. “Kofi Awoonor Reading from His Poems.” Audio. Library of Congress, Washington,
  D.C.20540 USA. Accessed June 16, 2022. <a
    href="https://www.loc.gov/item/88740076/">https://www.loc.gov/item/88740076/</a></p>

<p>———. <em>Performance of Kofi Awoonor’s Radio Play, A Horse for the Master. (Audiotape of
    Radio Program).</em> London? Transcription Feature Service, 1968.</p>

<p>———. <em>Performance of Kofi Awoonor’s Radio Play, Ancestral Power. (Audiotape of Radio
    Program).</em> London? Transcription Feature Service, 1968.</p>

<p>———. <em>Performance of Kofi Awoonor’s Radio Play, Going Home. (Audiotape of Radio
    Program).</em> London? Transcription Feature Service, 1968.</p>

<p>———. <em>Performance of Kofi Awoonor’s Radio Play, On Which Shores. (Audiotape of Radio
    Program).</em> London? Transcription Feature Service, 1968.</p>

<p>———. <em>Performance of Kofi Awoonor’s Radio Play, The Offering. (Audiotape of Radio
    Program).</em> London? Transcription Feature Service, 1968.</p>

<p>———. <em>Performance of Kofi Awoonor’s Radio Play, The Return. (Audiotape of Radio
    Program).</em> London? Transcription Feature Service, 1968.</p>

<p>Awoonor, Kofi, Karen L Morell, Darrell Prowse, Ken Stevens, Henry M. Jackson School of International Studies,
  University of Washington, African Studies Program, University of Washington, and Instructional Media Services.
  <em>Kofi Awoonor: songs of the village</em>, 2013.</p>

<p>Karen Morell. <em>The Hunter and the Gazelle (Ewe Language Version),</em> 1985. <a
    href="http://archive.org/details/hunter_and_gazelle_uwlibraries_oclc19943398">http://archive.org/details/hunter_and_gazelle_uwlibraries_oclc19943398</a></p>

<p>Morell, Karen L. <em>Karen Morell Africa, New Orleans, and Trinidad Audiovisual Collection.</em> <em>, 1972.
  </em> Robert Serumago Interviews Ghanaian Author George Awoonor-Williams Concerning His Participation in the
  Afro-Asian Writers Conference, Held in Djakarta in 1963. (Audiotape). London? Transcription Feature Service,
  1964.</p>

<p>Serumaga, Robert. Interview with George Awoonor-Williams. <em>Transcription Feature Service. </em>1964.</p>

<p>University of Washington. <em>Kofi Awoonor, Poetry and Comments</em>, 1979. <a
    href="http://archive.org/details/uwlibraries_oclc14261670">http://archive.org/details/uwlibraries_oclc14261670</a></p>

<h3 id="Toc12354">Thesis and Dissertations</h3>

<p>Colmer, Rosemary Margaret. <em>The Development of the Sub-Saharan Black African Novel in English: With Special
    Reference to the Works of Achebe, Awoonor, Soyinka and Armah, and Their Relevance to the Emergence of New
    Concepts in African Aesthetics,</em> 1979.</p>

<p>Donkor, Nabi. <em>Exegesis of Local Expressions in the Writings of Ayi Kwei Armah and Kofi Awoonor (George
    Awoonor-Williams),</em> 1976, 1976.</p>

<p>Egudu, Romanus N. <em>The Matter and Manner of Modern West African Poetry in English: A Study of Okigbo, Clark,
    Awoonor-Williams and Peters</em>, 1966.</p>

<p>Exegesis of Local Expressions in the Writings of Ayi Kwei Armah and Kofi Awoonor
  (George Awoonor-Williams), 1976. Accessed November 4, 2022. <a
    href="https://radar.auctr.edu/islandora/object/cau.td%3A1976_donkor_nabi.pdf/datastream/TN/view/Exegesis%20of%20local%20expressions%20in%20the%20writings%20of%20Ayi%20Kwei%20Armah%20and%20Kofi%20Awoonor%20%28George%20Awoonor-Williams%29%2C%201976.jpg"
    target="_blank">URL.</a></p>

<p>Morrison, Kathleen A. <em>Spiritual Significance and Aesthetic Implications.</em> Ann Arbor, Mich.: University
  Microfilms International, 1993.</p>

<p>Ndong N’Na, Ygor-Juste (1978- ) (Author) Naumann, Universit&eacute; de Cergy-Pontoise, (Degree grantor),
  and 996. <em>La folie dans le roman africain du monde anglophone: Achebe, Ngugi, Awoonor, Armah, Head).</em> S.l.
  : s.n., 2008.</p>

<p>Neasman, Everett G. <em>Triangular African Diaspora in the Poetry of Kofi Awoonor, Charles Johnson’s Middle
    Passage, and Caryl Phillips’ Crossing the River,</em> 1998.</p>

<p>Okwu, Edward Chukwuemeka. <em>The Artist-Figure in Modern West African Poetry: An Approach to the Poetry of
    Awoonor, Okigbo and Soyinka,</em> 1978.</p>

<p>Ouedraogo, Amadou. <em>Le symbolisme aquatique dans les oeuvres de Wole Soyinka, Ayi Kwei Armah et Kofi
    Awoonor.</em> Variation: Lille-th&egrave;ses., 1988.</p>

<p>PUJO, JOSEPH (Author) Auteur. <em>PROBLEMES DE SOCIETE AU GHANA DANS LES OEUVRES DE AYI KWEI ARMAH, KOFI AWOONOR
    ET AMU DJOLETO.</em> Bouyssou, Roland. ; (Thesis advisor); Directeur de th&egrave;se. S.l.: s.n., 1984.</p>

<p>Walker, William Alexander. <em>Major Ghanaian Fiction in English: A Study of the Novels of Ayi Kwei Armah and
    Kofi Awoonor,</em> 1975.</p>


<h3 id="Toc12355">Works in Honor of Awoonor</h3>

<p>Anyidoho, Kofi. “Kofi Awoonor: In Retrospect.” In <em>ALT 32 Politics &amp; Social Justice: African
    Literature Today</em> , New Edition., 121–34. African Literature Today. Boydell &amp; Brewer, James Currey
  an imprint of Boydell &amp; Brewer, 2014.</p>

<p>———. “Song for Nyidevu.” In <em>ALT 32 Politics &amp; Social Justice: African
    Literature Today,</em> New Edition., 173–173. African Literature Today. Boydell &amp; Brewer, James Currey
  an imprint of Boydell &amp; Brewer, 2014.</p>

<p>Asante, Yaw. “Kofi Awoonor (1935-2013) : Tribute.” <em>Tydskrif Vir Letterkunde</em> 51, no. 1
  (September 1, 2014): 74–76. <a
    href="https://doi.org/10.4314/tvl.v51i1.6">https://doi.org/10.4314/tvl.v51i1.6</a></p>

<p>Asante, Yaw, and et al. “Tribute: Kofi Awoonor (1935-2013).” <em>Pretoria 51</em> , no. 1 (2014):
  74–76.</p>

<p>Bruchac, Joseph. “LETTERS: THE TRIAL OF KOFI AWOONOR–An Open Letter.” <em>The American Poetry
    Review</em> 5, no. 4 (1976): 47–47. <a
    href="https://www.jstor.org/stable/27775354">https://www.jstor.org/stable/27775354</a></p>

<p>Boyd, Herb. “Esteemed Author and Diplomat Kofi Awoonor Killed in Nairobi Attack.” <em>New York
    Amsterdam News</em>, September 26, 2013, 104 edition, sec. 39.
  [URL.](https://web-p-ebscohost-com.libproxy.unl.edu/ehost/pdfviewer/pdfviewer?vid=8&amp;sid=115401bf-30a7-420b-8739-10cf83bb1230%40redis).</p>

<p>Cole, Teju. “Letter from Nairobi: ‘I Will Say It Before Death Comes.’” <em>The New
    Yorker.</em> September 26, 2013. <a
    href="https://www.newyorker.com/books/page-turner/letter-from-">https://www.newyorker.com/books/page-turner/letter-from-</a>
  nairobi-i-will-say-it- before-death-comes</p>

<p>“Death of Kofi Awoonor in Nairobi Attack Is a Great Loss for Ghana and Poetry” <em>Poetry
    Foundation,</em> November 4, 2022.
  [URL.](https://www.poetryfoundation.org/video/77405/death-of-kofi-awoonor-in-nairobi-attack-is-great-loss-for-ghana-and-poetry).</p>

<p>Kazin, Alfred. “Appeal for Kofi Awoonor | Alfred Kazin.” Accessed July 19, 2022. <a
    href="https://www.nybooks.com/articles/1976/09/30/appeal-for-kofi-awoonor/">https://www.nybooks.com/articles/1976/09/30/appeal-for-kofi-awoonor/</a></p>

<p>Keleko, Yewande. “Awoonor Awarded Poetry Prize.” <em>West Africa.</em> No. 3745 (1989): 29.</p>

<p>“Kofi Awoonor - Ghanaian Poet and Statesman.” <em>Africa Research Bulletin: Political, Social and
    Cultural Series.</em> 50, no. 9 (2013): 19868A-19868A. <a
    href="https://doi.org/10.1111/j.1467-825X.2013.05356.x">https://doi.org/10.1111/j.1467-825X.2013.05356.x</a></p>

<p><em>Kwame Dawes Reads “The Weaver Bird” by Kofi Awoonor.</em> Accessed August 9, 2022. <a
    href="https://www.youtube.com/watch?v=-yNlrkiiJnE">https://www.youtube.com/watch?v=-yNlrkiiJnE</a></p>

<p><em>Memorial for Poet Killed in Kenya’s Westgate Mall Attack</em>. Accra: Associated Press, 2013. <a
    href="https://video.ebscohost.com/c/cysalf/details/1_focubgkt?q=SU%20awoonor%2C">https://video.ebscohost.com/c/cysalf/details/1_focubgkt?q=SU%20awoonor%2C</a></p>

<p>Mwanaka, Rinos, and Ricardo Flix. <em>Writing Grandmothers: Africa Vs Latin America Vol 2.</em> African Books
  Collective, 2019.</p>

<p>Negash, Ghirmai. “Kofi Awoonor: Poem for a Mentor and Friend.” In <em>ALT 32 Politics &amp; Social
    Justice: African Literature Today,</em> New Edition., 135–36. African Literature Today. Boydell &amp;
  Brewer, James Currey an imprint of Boydell &amp; Brewer, 2014. <a
    href="https://www.jstor.org/stable/10.7722/j.ctt7zstb2?turn_away=true">https://www.jstor.org/stable/10.7722/j.ctt7zstb2?turn_away=true</a></p>

<p>Nossiter, Adam. “Ghanaians Mourn a Poet And Scholar.” <em>New York Times.</em> September 24, 2013.</p>

<p>Ojaide, Tanure. <em>Indigeneity, Globalization, and African Literature: Personally Speaking.</em> African
  Histories and Modernities. Houndmills, Basingstoke, Hampshire ; New York: Palgrave Macmillan, 2015.</p>

<p>———. “Two Tributes: Chinua Achebe and Kofi Awoonor.” In <em>Indigeneity,
    Globalization, and African Literature,</em> by Tanure Ojaide, 267–71. New York: Palgrave Macmillan US,
  2015. <a href="https://doi.org/10.1057/9781137560032_19">https://doi.org/10.1057/9781137560032_19</a></p>

<p>Priebe, Richard. “Eulogy for an Artist, a Statesman, a Teacher &amp; Friend: Kofi Awoonor.” In
  <em>ALT 32 Politics &amp; Social Justice: African Literature Today.</em> New Edition., 151–57. African
  Literature Today. Boydell &amp; Brewer, James Currey an imprint of Boydell &amp; Brewer, 2014.</p>

<p>Roberts, Allen F. “‘Relations Between Thoughts and Hands.’” <em>African Arts</em> 50, no.
  1 (Spring 2017): 32.</p>

<p>Thiong’o, Ngũgĩ wa. “Kofi Awoonor: Hurũka Na Thayũ.” <em>Journal of Asian and African
    Studies</em> 50, no. 1 (2015): 3–6. <a
    href="https://doi.org/10.1177/0021909614546805">https://doi.org/10.1177/0021909614546805</a></p>

<p>Yitah, Helen, and Helen Lauer. <em>Philosophical Foundations of the African Humanities through Postcolonial
    Perspectives</em> . BRILL, 2019. <a
    href="https://doi.org/10.1163/9789004392946">https://doi.org/10.1163/9789004392946</a></p>

<h2 id="Toc12357">Contributors</h2>

<p>Jamaica Baldwin</p>