<h1>Wole Soyinka Bibliography</h1>

<%= image_tag "poets/wole-soyinka.jpg", alt: "Wole Soyinka", class: "bibliography-image" %>

<p>By Chinua Ezenwa-Ohaeto</p>

<p>Created as part of the <%= link_to "African Poetry Digital Portal", home_path %>
 project.</p>

<%# <p><a href="../item/3822">See Wole Soyinka‘s entry in the Index of Poets</a>.</p>

<p><a href="../item/12309">See Wole Soyinka‘s entry in African Poetry and Poetics in the News</a>.</p> %>


<h2>Table of Contents</h2>

<ul class="toc">
  <li><a href="#WoleTOC01">Introduction</a></li>
  <li><a href="#WoleTOC02">Primary Works</a>
    <ul>
      <li><a href="#WoleTOC03">Poetry in English published as Wole Soyina</a></li>
      <li><a href="#WoleTOC04">Poetry in Translation</a></li>
      <li><a href="#WoleTOC05">Creative Prose in English published as Wole Soyinka</a></li>
      <li><a href="#WoleTOC06">Creative Prose in Translation</a></li>
      <li><a href="#WoleTOC07">Drama</a></li>
      <li><a href="#WoleTOC08">Critical Prose in English</a></li>
      <li><a href="#WoleTOC09">As Editor</a></li>
      <li><a href="#WoleTOC10">Interviews</a></li>
    </ul>
  </li>
  <li><a href="#WoleTOC11">Secondary Sources</a>
    <ul>
      <li><a href="#WoleTOC12">General Overviews in English</a></li>
      <li><a href="#WoleTOC13">Book reviews</a></li>
      <li><a href="#WoleTOC14">Thesis and Dissertations</a></li>
      <li><a href="#WoleTOC15">Secondary Sources in English excluding general overviews and book reviews</a>
      <li><a href="#WoleTOC16">Secondary Sources, Media</a></li>
    </ul>
  </li>
  <li><a href="#WoleTOC17">Tertiary Sources</a>
    <ul>
      <li><a href="#WoleTOC18">Works in Honor</a></li>
    </ul>
  </li>
  <li><a href="#WoleTOC19">Contributors</a></li>
</ul>

<h2 id="WoleTOC01">Introduction</h2>

<p>This list, as much as it could, gathers the available and accessible digital materials within on Wole Soyinka’s poetry; and this was done with the use of online platforms like WorldCat, Google, Google Scholar, YouTube, Jstor, Project Muse, Amazon, Wikipedia, and Transition where most of Wole Soyinka’s works are archived. Also, I found valuable sources in the work-in-progress of Professors Ezenwa-Ohaeto and Ngozi Ezenwa-Ohaeto. Professor Ezenwa-Ohaeto was working on Wole Soyinka’s Biography until his death at Cambridge University, 2005.  </p>

<p>This list offers those interested in the work of Wole Soyinka of the necessity for systemic and comprehensive materials in his poetry. In that line, I profusely thank Professor Kwame Dawes and Lorna Dawes for their assistance and for creating the platform, the African Poetry Digital Portal for archiving digitally the works of African writers, which enabled and germinated the idea to gather these materials that make-up the list on Wole Soyinka. Also, I thank Zainab Omarki, Olufunke Ogundimu, and Tryphena Yeboah for their patience with me and for answering my questions. I believe that this work will draw the needed attention that will do fairness and responsiveness to the significance of Soyinka’s poetry. </p>

<p>Thanks.</p>

<p>Chinua Ezenwa-Ohaeto</p>

<h2 id="WoleTOC02">Primary Works</h2>

<h3 id="WoleTOC03">Poetry in English, published as Wole Soyinka</h3>

<p>Edoro, Ainehi. “‘I Think of Poems I Have Lost’ | Watch Soyinka Read ‘Lost Poems.’” Brittle Paper, &nbsp; &nbsp; &nbsp; 7 Oct. 2014, <a href="https://brittlepaper.com/2014/10/poems-lost-watch-soyinka-read-lost-poems/">https://brittlepaper.com/2014/10/poems-lost-watch-soyinka-read-lost-poems/</a>.</p>

<p>Soyinka, Wole. A Poem to All ‘Lost Poems’ by Wole Soyinka. 2019,<a href="https://www.youtube.com/watch?v=wg-9oI4VqGQ">https://www.youtube.com/watch?v=wg-9oI4VqGQ</a>.</p>

<p>———. A Shuttle in the Crypt. Hill and Wang, 1972.</p>

<p>———. “Abiku.” Neopoet, 16 Dec. 2017, <a href="https://www.neopoet.com/workshop/poems/abiku-wole-">https://www.neopoet.com/workshop/poems/abiku-wole-</a>&nbsp; soyinka-poets-west-africa-workshop-0.</p>

<p>———. “Civilian and Soldier.” Best Poems, 17 July 2015, <a href="https://www.best-poems.net/wole_soyinka/civilian_and_soldier.html">https://www.best-poems.net/wole_soyinka/civilian_and_soldier.html</a>.</p>

<p>———. “Dedication.” Best Poems, 2 May 2015, https://www.best-poems.net/wole_soyinka/dedication.html.</p>

<p>———. “Dedication From Moremi.” Best Poems, 14 Jan. 2019, https://www.best-poems.net/Wole_Soyinka/Dedication_From_Moremi.html.</p>

<p>———. Early Poems. Oxford University Press, 1998.</p>

<p>———. Early Poems. Oxford University Press, 1998.</p>

<p>———. “I Think It Rains.” Best Poems, 14 Jan. 2019, https://www.best-poems.net/Wole_Soyinka/I_think_it_rains.html.</p>

<p>———. Idanre &amp; Other Poems. 2nd ed., Hill and Wang, 1969.</p>

<p>———. Idanre &amp; Other Poems. Methuen, 1986.</p>

<p>———. “In the Small Hours.” Best Poems, 17 July 2015, https://www.best-poems.net/wole_soyinka/in_the_small_hours.html.</p>

<p>———. Mandela’s Earth and Other Poems. 1st ed., Random House, 1988.</p>

<p>———. Mandela’s Earth and Other Poems. 2nd ed., Fountain Publications, 1989.</p>

<p>———. Mandela’s Earth and Other Poems. Random House, 1988.</p>

<p>———. “Migrant.” Project Muse, 2021, https://muse.jhu.edu/article/856627.</p>

<p>———. “Muhammad Ali at the Ringside, 1985 - ProQuest.” ProQuest, 1 July 1987, https://www.proquest.com/openview/5dfcd55c19ab68748060d939e7316392/1?pq-origsite=gscholar&amp;cbl=1819563.</p>

<p>———. “Night.” Best Poems, 14 Jan. 2019, https://www.best-poems.net/wole-soyinka/night.html.</p>

<p>———. Ogun Abibiman. Collings, 1976.</p>

<p>———. “Poems by the Famous Poet - All Poetry.” All Poetry, 1934, https://allpoetry.com/Wole-Soyinka.</p>

<p>———. “Procession I - Hanging Day.” Best Poems, 17 July 2015, https://www.best-poems.net/poem/procession_i_hanging_day-by-wole_soyinka.html.</p>

<p>———. Samarkand: And Other Markets I Have Known. Methuen, 2002.</p>

<p>———. Selected Poems. Methuen, 2001.</p>

<p>———. “Telephone Conversation.” Best Poems, 14 Jan. 2019, https://www.best-poems.net/wole-soyinka/telephone-conversation.html.</p>

<p>———. “Telephone Conversation.” 2000, https://www.k-state.edu/english/westmank/spring_00/SOYINKA.html.</p>

<p>———. The Child Before a Mirror of Strangers: A Poem by Nigerian Nobel Laureate, Prof. Wole Soyinka. 2019, https://www.unicef.org/nigeria/child-mirror-strangers-poem-nigerian-nobel-laureate-prof-wole-soyinka.</p>

<p>———. Wole Soyinka Reads His Poems, Alajere and Gulliver. (Audiotape). Transcription Feature Service, 1967.</p>

<p>———. Wole Soyinka Reads Yoruba Poetry with Okuta Percussion. MIGILA, 1994.</p>

<p>Ulysses, a Poem by Wole Soyinka. 2020, https://www.youtube.com/watch?v=YUkkrD-O6Aw.</p>

<p>Wole, Soyinka Reading the Telephone Conversation. 2012, https://www.youtube.com/watch?v=EP2yLdmn_bg.</p>

<p>Wole Soyinka’s Tribute Poem to Mandela; “No! He Said.” SaharaTV, 2013, <a href="https://www.youtube.com/watch?v=yApwROIQm7o">https://www.youtube.com/watch?v=yApwROIQm7o</a>.</p>

<h3 id="WoleTOC04">Poetry in Translation</h3>

<p>Soyinka, Wole. Abiku. Translated by Barbara Klemm and Robert Lebeck, Verl. Thomas Reche, 2012.</p>

<p>———. Abiku: Gedichte. Translated by Julia Rotte and Hans Dieter Sch&auml;fer, Verlag Thomas Reche, 2012.</p>

<p>———. Idanre: Po&egrave;me. Nouvelles &eacute;ditions africaines, 1982.</p>

<p>———. Samarkand und andere M&auml;rkte: Gedichte. Ammann, 2004.</p>

<p>———. 撒馬爾干市集: 索因卡詩選. Translated by 楊澤. and 張定綺., Chu ban, 財團法人中華圖書出版事業發展基金會, 2003.</p>

<h3 id="WoleTOC05">Creative Prose in English published as Wole Soyinka</h3>

<p>Soyinka, Wole. Africa39: New Writing from Africa South of the Sahara. Edited by Ellah Wakatama Allfrey, Bloomsbury, 2014.</p>

<p>———. Africa39: New Writing from Africa South of the Sahara. Edited by Ellah Wakatama Allfrey, Bloomsbury USA, 2014.</p>

<p>———. Ak&eacute;: The Years of Childhood. 1st American ed, Random House, 1981.</p>

<p>———. Ak&eacute;: The Years of Childhood. Minerva, 1994.</p>

<p>———. Ak&eacute;: The Years of Childhood. Vintage Books, 1989.</p>

<p>———. Chronicles from the Land of the Happiest People on Earth - ’Soyinka’s Great. Bloomsbury Publishing Ltd, 2022.</p>

<p>———. Chronicles from the Land of the Happiest People on Earth. Bloomsbury Publishing Plc, 2021.</p>

<p>———. Chronicles from the Land of the Happiest People on Earth. Bloomsbury, 2021.</p>

<p>———. Chronicles from the Land of the Happiest People on Earth. First American edition, Pantheon Books, 2020.</p>

<p>———. Chronicles from the Land of the Happiest People on Earth. Knopf Doubleday Publishing Group, 2021.</p>

<p>———. Chronicles from the Land of the Happiest People on Earth. Knopf Doubleday Publishing Group, 2021.</p>

<p>———. Ibadan, the Penkelemes Years: A Memoir: 1946-1965. Methuen, 1994.</p>

<p>———. Ibadan: The Penkelemes Years ; a Memoir, 1946-65. Methuen, 2001.</p>

<p>———. Season of Anomy. Century Hutchinson, 1988.</p>

<p>———. Season of Anomy. First Vintage International Edition, Vintage International/Vintage Books, a Division of Penguin Random House LLC, 2021.</p>

<p>———. Silver Lining: An Anthology of Nigerian Literature. Edited by P. E. N. Nigeria et al., University Press PLC, 2019.</p>

<p>———. The Interpreters. : Heinemann, 1988.</p>

<p>———. The Interpreters. 2. kiad, Flamingo, 1987.</p>

<p>———. The Interpreters. 3rd impr, Fontana, 1974.</p>

<p>———. The Interpreters. 6th impr, Fontana, 1980.</p>

<p>———. The Interpreters. 6th impression, Collins ; Fontana, 1980.</p>

<p>———. The Interpreters. A. Deutsch, 1965, http://books.google.com/books?id=W4EIAQAAIAAJ.</p>

<p>———. The Interpreters. African Publ. Corp, 1972.</p>

<p>———. The Interpreters. Africana Pub. Corp, 1972, http://catalog.hathitrust.org/api/volumes/oclc/829652.html.</p>

<p>———. The Interpreters. Andr&eacute; Deutsch, 1996.</p>

<p>———. The Interpreters. Collier Books, 1970, http://catalog.hathitrust.org/api/volumes/oclc/114675.html.</p>

<p>———. The Interpreters. First Vintage International Edition, Vintage International/Vintage Books, a Division of Penguin Random House LLC, 2021, https://www.overdrive.com/search?q=9327A770-A22E-4304-B1F0-82FFD47DE8AC.</p>

<p>———. The Interpreters. Flamingo, 1986.</p>

<p>———. The Interpreters. Fontana, 1976.</p>

<p>———. The Interpreters. Fontana/Collins, 1972.</p>

<p>———. The Interpreters. Heinemann, 1970.</p>

<p>———. The Interpreters. Heinemann, 1981.</p>

<p>———. The Interpreters. Heinemann, 1988.</p>

<p>———. The Interpreters. Knopf Doubleday Publishing Group, 2021, http://public.eblib.com/choice/PublicFullRecord.aspx?p=6711823.</p>

<p>———. The Interpreters. Knopf Doubleday Publishing Group, 2021.</p>

<p>———. The Interpreters. Paperback edition, Heinemann, 1984.</p>

<p>———. The Interpreters. Repr, Heinemann, 1974.</p>

<p>———. The Interpreters. Repr, Heinemann, 1978.</p>

<p>———. The Interpreters. Vintage : Heinemann, 2021.</p>

<p>———. The Man Died. 1972.</p>

<p>———. The Man Died. 1998.</p>

<p>———. The Man Died: Prison Notes of Wole Soyinka. Noonday Press ed, Noonday Press, 1988.</p>

<p>———. The Man Died: Prison Notes of Wole Soyinka. Penguin, 1975.</p>

<p>———. The Man Died: Prison Notes. [1st U.S. ed.], Harper &amp; Row, 1972, http://catalog.hathitrust.org/api/volumes/oclc/678791.html.</p>

<p>———. The Man Died: Prison Notes. Rex Collings Ltd., 1972.</p>

<p>———. The Man Died: Prison Notes. Spectrum Books Ltd., 1988.</p>

<p>———. The Man Died: The Prison Notes of W.S. 1st Noonday Press ed, Noonday Press, 1988.</p>

<p>———. The Man Died: The Prison Notes of W.S. 1st Noonday Press ed, Noonday Press, 1988.</p>

<p>———. The Open Sore of a Continent: A Personal Narrative of the Nigerian Crisis. Oxford University Press, 1996.</p>

<p>———. You Must Set Forth at Dawn: A Memoir. Methuen, 1989.</p>

<p>———. You Must Set Forth at Dawn: A Memoir. Random House, 2006.</p>

<p>———. You Must Set Forth at Dawn: A Memoir. Trade paperback ed, Random House, 2007.</p>

<p>Adichie, Chimamanda Ngozi, et al. Africa’s Best Stories: An Anthology of Africa’s Best Short Stories. CreateSpace Independent Publishing Platform, 2010.</p>

<p>———. “A Short Story Wriiten by Wole Soyinka When He Was 19.” The New Black Magazine, 2008, http://www.thenewblackmagazine.com/view.aspx?index=1753.</p>

<p>———. Chronicles from the Land of the Happiest People on Earth. First American edition, Pantheon Books, 2020.</p>

<h3 id="WoleTOC06">Creative Prose in Translation</h3>

<p>Soyinka, Wole. Cr̤nicas desde el pa̕s de la gente m̀s feliz de la Tierra. ALFAGUARA, 2022.</p>

<p>———. Cr&oacute;nicas desde el pa&iacute;s de la gente m&aacute;s feliz de la Tierra. Translated by Inmaculada C. P&eacute;rez Parra, Primera edici&oacute;n en Castellano, Noviembre de 2021, Alfaguara : Penguin Random House Grupo Editorial, 2021.</p>

<p>———. Die Ausleger. Verlag nicht ermittelbar, 1983.</p>

<p>———. Die Ausleger. 1983.</p>

<p>———. Die Ausleger: Roman. Ungek&uuml;rzte Ausg, Deutscher Taschenbuch, 1986.</p>

<p>———. Die Ausleger Roman. Ungek&uuml;rzte Ausg., 2. Aufl., 13.-18. Tsd, Deutscher Taschenbuch-Verlag, 1987.</p>

<p>———. Die Ausleger Roman. 1. Aufl, Ammann, 2002, http://unisg.link/hm00059512.</p>

<p>———. Les Interpretes. Presence Africa, 2014.</p>

<p>———. Les interpr&egrave;tes. Pr&eacute;sence africaine, 1991.</p>

<p>———. Los interpretes. Emec&eacute;, 1987.</p>

<p>———. Os int&eacute;rpretes. Edi&ccedil;&otilde;es 70, 1980.</p>

<p>Soyinka, Wole, and Germaine Landr&eacute;. Les interpr&egrave;tes: roman. Pr&eacute;sence Africaine, 1979.</p>

<p>Soyinka, Wole, and Inge Uffelmann. Die Ausleger: Roman. 2. Aufl, Dt. Taschenbuch-Verl., 1986.</p>

<p>———. Die Ausleger: Roman. Walter, 1983.</p>

<p>———. Die gl&uuml;cklichsten Menschen der Welt Roman. 1. Auflage, Blessing, 2022, http://deposit.dnb.de/cgi-bin/dokserv?id=d402a77527bc495498018a09afab8914&amp;prov=M&amp;dok_var=1&amp;dok_ext=htm.</p>

<p>월레소잉카 ; 권명식譯., and Wole Soyinka. 해설자들. Ch’op’an, 志學社, 1986.</p>

<p>[尼日利亚] 沃莱&middot;索因卡著 ; 沈静, 石羽山 译., and Wole Soyinka. 诠释者. Translated by 沈静 and 石羽山, Di 1 ban, 北京燕山出版社, 2015.</p>

<p>渥雷 ・索因卡(Wole Soyinka)著 ; 張國禎, 顏斯華譯., et al. 詮釋者 = The interpreters. Chu ban, 唐山出版社, 傾向出版社, 2003.</p>

<p>索因卡著 ; 張國禎, 顔斯華譯., et al. 詮釋者. 敦理出版社, 1987.</p>

<h3 id="WoleTOC07">Drama</h3>

<p>Le&oacute;n, Tania, and Wole Soyinka. Oh Yemanja: Interlude and Scene 11 from the Opera Scourge of the Hyacinths : For Mezzo-Soprano, Violoncello and Piano. Peermusic, 1994.</p>

<p>Soyinka, Wole. A Dance of the Forests. 8. impr, Oxford University Press, 1988.</p>

<p>———. A Dance of the Forests. 8th ed., Oxford University Press, 1988.</p>

<p>———. A Play of Giants. Methuen, 1984.</p>

<p>———. A Shuttle in the Crypt. 1st ed., Hill and Wang, 1972.</p>

<p>———. Ak&eacute;: The Years of Childhood. Vintage, 1994.</p>

<p>———. Al&aacute;pat&agrave; &Agrave;p&aacute;ta: A Play for Yorubafonia, Class for Xenophiles. Bookcraft, 2011.</p>

<p>———. Before the Blackout. Orisun Acting Editions, 1965.</p>

<p>———. Camwood on the Leaves. Eyre Methuen, 1973.</p>

<p>———. Childe Internationale. Fountain Publications, 1987.</p>

<p>———. Collected Plays. Oxford University Press, 1973.</p>

<p>———. Collected Plays. Oxford University Press, 1973, http://catdir.loc.gov/catdir/enhancements/fy0603/74156793-d.html.</p>

<p>———. Collected Plays. Vol. 2. Oxford University Press, 1990.</p>

<p>Soyinka, Wole. Death And The King’s Horseman. W W Norton, 2023.</p>

<p>Soyinka, Wole. From Zia, with Love. Fountain Publications, 1992.</p>

<p>———. From Zia, with Love ; and, A Scourge of Hyacinths. Methuen Drama, 1992.</p>

<p>———. Jero’s Metamorphosis. Alexander Street Press, 2010, http://www.aspresolver.com/aspresolver.asp?BLD2;PL005877.</p>

<p>———. King Baabu: A Play in the Manner - Roughly - of Alfred Jarry. Methuen, 2002.</p>

<p>———. Kongi’s Harvest. Oxford University Press, 1993.</p>

<p>———. Kongi’s Harvest. Oxford University.Press, 1967.</p>

<p>———. Madmen and Specialists: A Play. 1st ed., Hill and Wang, 1971.</p>

<p>———. Madmen and Specialists: A Play. Hill and Wang, 1971.</p>

<p>———. Opera Wonyosi. 1st ed., Indiana University Press, 1981.</p>

<p>———. Opera Wonyosi. R. Collings, 1981.</p>

<p>———. Opera Wonyosi. 1st Midland Book ed, Indiana University Press, 1981.</p>

<p>———. Plays. Methuen Drama, 1998.</p>

<p>———. Requiem for a Futurologist. Rex Collings, 1985.</p>

<p>———. Scourge of Hyacinths: An Opera in Twelve Scenes : Libretto. Peermusic Classical, 1999.</p>

<p>———. Six Plays. Methuen, 1984.</p>

<p>———. Six Plays. Methuen, 1984.</p>

<p>———. The Bacchae of Euripides: A Communion Rite. [1st American ed.], Norton, 1974.</p>

<p>———. The Beatification of Area Boy: A Lagosian Kaleidoscope. Methuen Drama, 1995.</p>

<p>———. The Jero Plays. Methuen, 1986.</p>

<p>———. The Jero Plays. Eyre Methuen, 1973.</p>

<p>———. The Jero Plays (The Trials of Brother Jero and Jero’s Metamorphosis) – Booknook.Store. Spectrum Books, 1973, https://booknook.store/product/the-jero-plays-the-trials-of-brother-jero-and-jeros-metamorphosis/.</p>

<p>———. The Lion and the Jewel. Oxford University Press, 1993.</p>

<p>———. The Lion and the Jewel. 33rd ed., Oxford University Press, 1990.</p>

<p>———. The Lion and the Jewel. Alexander Street Press, 2010, http://www.aspresolver.com/aspresolver.asp?BLD2;PL005880.</p>

<p>———. The Lion and the Jewel; [Play]. Oxford University Press, 1969.</p>

<p>———. The Road. 6th ed., Oxford University Press, 1988.</p>

<p>———. The Road: [A Play]. Oxford University Press, 1965.</p>

<p>———. The Strong Breed. Orisun Press, 1969.</p>

<p>———. The Swamp-Dwellers. The Trials of Brother Jero. The Strong Breed. Mbari Publications, 1963.</p>

<p>———. The Trials of Brother Jero. 1995.</p>

<p>———. The Trials of Brother Jero. Oxford University Press, 1969.</p>

<p>———. The Trials of Brother Jero and the Strong Breed: Two Plays. Acting ed, Dramatists play service, 1969.</p>

<p>———. Three short plays. 7. impr, Oxford University Press, 1989.</p>

<p>———. Three short plays. 7th ed., Oxford University Press, 1989.</p>

<p>Soyinka, Wole, and Zodwa Motsa. The Invention ; &amp;, the Detainee. 1st ed., Unisa Press, 2005.</p>

<p>&nbsp;</p>

<h3 id="WoleTOC08">Critical Prose in English</h3>

<p>Soyinka, W. From A Common Back Cloth: A Reassessment of the African Literary Image. 2016, https://www.semanticscholar.org/paper/From-A-Common-Back-Cloth%3A-A-Reassessment-of-the-Soyinka/129e97e2d52f6ce386e2decc31c59ee2a363414c.</p>

<p>———. “From Chibok with Love.” The Journal of Pan-African Studies, 2015, https://www.semanticscholar.org/paper/From-Chibok-with-Love-Soyinka/c81df57c07477be779f7f429f71b8827d92161c9.</p>

<p>Soyinka, Wole. “A Name Is More Than the Tyranny of Taste.” Black Camera, vol. 12, no. 1, 2020, pp. 157–70, https://muse.jhu.edu/article/780260.</p>

<p>———. “A Name Is More Than the Tyranny of Taste.” Black Camera, vol. 5, no. 1, Nov. 2013, pp. 237–50, https://muse.jhu.edu/article/525957.</p>

<p>———. “A Name Is More Than the Tyranny of Taste.” Black Camera, vol. 5, no. 1, Nov. 2013, pp. 237–50, https://muse.jhu.edu/article/525957.</p>

<p>———. African Theatre: Blackout, Blowout &amp; beyond : Wole Soyinka’s Satirical Revue Sketches. Africa World Press, 2005.</p>

<p>———. “Africa’s Culture Producers.” Society, vol. 28, no. 2, Jan. 1991, pp. 32–40, https://doi.org/10.1007/BF02695500.</p>

<p>———. “Ali Mazrui and Skip Gates’ Africa Series.” The Black Scholar, vol. 30, no. 1, Mar. 2000, pp. 7–7, https://doi.org/10.1080/00064246.2000.11431064.</p>

<p>———. “America in Transition.” Transition, vol. 100, 2008, pp. 6–10, http://www.jstor.org/stable/20542536. JSTOR.</p>

<p>———. Art, Dialogue &amp; Outrage: Essays on Literature and Culture. New Horn Press ; Distributed by H. Zell Associates, 1988, https://bac-lac.on.worldcat.org/oclc/462112191.</p>

<p>———. Art, Dialogue, and Outrage: Essays on Literature and Culture. Pantheon Books, 1993.</p>

<p>———. “Between Truths and Indulgences: Africa’s Role in the Slave Trade and Its Consequences.” Transition, vol. 103, Nov. 2010, pp. 110–17, https://muse.jhu.edu/article/400448.</p>

<p>———. “Beware The Cyclops.” ProQuest, 2002, https://www.proquest.com/openview/99d8a34911f1c57f5f503f4e794b8b3d/1?pq-origsite=gscholar&amp;cbl=2041863.</p>

<p>———. Beyond Aesthetics: Use, Abuse, and Dissonance in African Art Traditions. Bookcraft, 2020.</p>

<p>———. Beyond Aesthetics: Use, Abuse, and Dissonance in African Art Traditions. Yale University Press, 2020.</p>

<p>———. Beyond Aesthetics: Use, Abuse, and Dissonance in African Art Traditions. First Edition, Yale University Press, 2019.</p>

<p>———. “Beyond the Berlin Wall.” Transition, no. 51, 1991, p. 6, https://doi.org/10.2307/2935074.</p>

<p>———. “Centralism and Alienation.” International Social Science Journal, vol. 53, no. 167, Dec. 2002, pp. 13–18, https://doi.org/10.1111/1468-2451.00287.</p>

<p>———. Climate of Fear: The Quest for Dignity in a Dehumanized World. 1st U.S. ed, Random House Trade Paperbacks, 2005, http://catdir.loc.gov/catdir/enhancements/fy0618/2004051377-s.html.</p>

<p>———. “Cross-Currents: The ‘New African’ After Cultural Encounters.” Writers in East-West Encounter: New Cultural Bearings, edited by Guy Amirthanayagam, Palgrave Macmillan UK, 1982, pp. 51–63, https://doi.org/10.1007/978-1-349-04943-1_5.</p>

<p>———. “Democracy and the Cultural Apologia.” Africa Spectrum, vol. 29, no. 1, 1994, pp. 5-13., http://www.jstor.org/stable/40174509. JSTOR.</p>

<p>———. “Discounting the Electorate.” West Africa Review, no. 5, 2004, https://www.africaknowledgeproject.org/index.php/war/article/view/306.</p>

<p>———. “Electoral Fraud and the Western Press.” Index on Censorship, vol. 12, no. 6, 1983, pp. 11–14, https://doi.org/10.1080/03064228308533626.</p>

<p>———. “Ethics, Bio-Ethics and Environment in Healing Designs : Guest Lecture.” African Journal of Reproductive Health, vol. 13, no. 4, Dec. 2009, pp. 9–23, https://doi.org/10.10520/EJC124053.</p>

<p>———. “Exile.” Index on Censorship, vol. 31, no. 3, 2002, pp. 62–69, https://doi.org/10.1080/03064220208537088.</p>

<p>———. “Exile.” Index on Censorship, vol. 31, no. 3, July 2002, pp. 61–69, https://doi.org/10.1080/03064220208537088.</p>

<p>———. “Exile : Thresholds of Loss and Identity.” Caliban, vol. 7, no. 1, 2000, pp. 61–70, https://doi.org/10.3406/calib.2000.1390.</p>

<p>———. “For Francis Abiola Irele—&quot;Olohun-Iyo&quot;.” Transition, vol. 124, no. 1, Sept. 2017, pp. 1–3, https://muse.jhu.edu/article/671467.</p>

<p>———. “From A Common Back Cloth: A Reassessment of the African Literary Image.” The American Scholar, vol. 32, no. 3, 1963, pp. 387–96, http://www.jstor.org/stable/41210056.</p>

<p>———. “From Drama and the African World View (1976).” Twentieth Century Theatre: A Sourcebook, Routledge, 1995.</p>

<p>———. “From Ghetto to Garrison: A Chronic Case of Orisunitis.” Research in African Literatures, vol. 30, no. 4, 1999, pp. 6–23, https://doi.org/10.1353/ral.2005.0052.</p>

<p>———. “From Myth, Literature, and the African World (1976).” I Am Because We Are: Readings in Africana Philosophy, edited by Fred Lee Hord et al., vol. 2, University of Massachusetts Press, 2016, pp. 104–13, http://www.jstor.org/stable/j.ctt1hd18x6.15. JSTOR.</p>

<p>———. Interventions II. 2010, https://www.africabib.org/rec.php?RID=406715149.</p>

<p>———. &Igrave;sar&agrave;: A Voyage around Essay. Bookcraft, 2014.</p>

<p>———. &Igrave;sar&agrave;: A Voyage around Essay. Methuen, 2001.</p>

<p>———. Isara, a Voyage around Essay. Fountain Publications, 1989.</p>

<p>———. Isara, a Voyage around Essay. 1st ed, Random House, 1989.</p>

<p>———. &Igrave;sar&agrave;, a Voyage around Essay. 1st Vintage international ed, Vintage Books, 1991.</p>

<p>———. “Jihad for Freedom.” Index on Censorship, vol. 18, no. 5, 1989, pp. 20–30, https://doi.org/10.1080/03064228908534641.</p>

<p>———. “Memories of Rajat.” Transition, vol. 69, 1996, pp. 10–12, http://www.jstor.org/stable/2935236. JSTOR.</p>

<p>———. “Migrant.” Transition, vol. 132, no. 1, 2021, pp. 462–63, https://muse.jhu.edu/article/856627.</p>

<p>———. “Morality and Aesthetics in the Ritual Archetype*.” Tragedy, May 2014, pp. 298–322, https://doi.org/10.4324/9781315844213-22.</p>

<p>———. Myth, Literature, and the African World. Canto ed, Cambridge University Press, 1990.</p>

<p>———. Myth, Literature, and the African World. Cambridge University Press, 1976, http://www.gbv.de/dms/bowker/toc/9780521211901.pdf.</p>

<p>———. Myth, Literature, and the African World. Canto ed, Cambridge University Press, 1990.</p>

<p>———. Neo-Tarzanism: The Poetics of Pseudo-Tradition. 1975, https://www.jstor.org/stable/2935057.</p>

<p>———. “Neo-Tarzanism: The Poetics of Pseudo-Tradition.” Transition, no. 48, 1975, p. 38, https://doi.org/10.2307/2935057.</p>

<p>———. Neo-Tarzanism: The Poetics of Pseudotraditionalism. 1975.</p>

<p>———. “New Imperialism.” Mkuki Na Nyota Publishers, 5 Dec. 2014, https://web.archive.org/web/20141205114632/http://www.mkukinanyota.com/books/1174.html.</p>

<p>———. New Imperialisms. Published by, Mkuki na Nyota Publishers for Mwalimu Nyerere Professorial Chair in Pan-African Studies, University of Dar es Salaam, 2010.</p>

<p>———. “No One’s in Charge of Nigeria.” Vanguard Newspaper, Dec. 2020, https://www.vanguardngr.com/2020/12/no-ones-in-charge-of-nigeria-soyinka/.</p>

<p>———. Of Africa. Yale University Press, 2012.</p>

<p>———. Of Africa. Yale University Press, 2014.</p>

<p>———. Ogun Is the Metaphor of My Actual Existence. 1975.</p>

<p>———. “On the Trail of Transition.” Transition, no. 75/76, 1997, p. 414, https://doi.org/10.2307/2935436.</p>

<p>———. “Open Letter to the Kenyan High Commissioner.” Index on Censorship, vol. 17, no. 1, 1988, pp. 42–42, https://doi.org/10.1080/03064228808534356.</p>

<p>———. “Power and Creative Strategies.” Index on Censorship, vol. 17, no. 7, Aug. 1988, pp. 7–9, https://doi.org/10.1080/03064228808534483.</p>

<p>———. “Rajat Neogy Remembered.” Transition, vol. 106, no. 1, Nov. 2011, p. A-11, https://muse.jhu.edu/article/456958.</p>

<p>———. “Religion and Human Rights.” Index on Censorship, vol. 17, no. 5, 1988, pp. 82–85, https://doi.org/10.1080/03064228808534439.</p>

<p>———. “Remembering Ali Mazrui.” Transition, vol. 117, no. 1, Apr. 2015, pp. 192–93, https://muse.jhu.edu/article/579302.</p>

<p>———. Requiem for a Futurologist. Rex Collings, 1985.</p>

<p>———. “Revisionism: History Lost and Found.” Journal of Contemporary African Studies, vol. 38, no. 2, Apr. 2020, pp. 173–85, https://doi.org/10.1080/02589001.2020.1794296.</p>

<p>———. Salutation to the Gut. Pocket Gifts ; UK &amp; USA distributor African Book Collective, 2002.</p>

<p>———. “Senghor: Lessons in Power.” Research in African Literatures, vol. 33, no. 4, Nov. 2002, pp. 1–2, https://muse.jhu.edu/article/29770.</p>

<p>———. “Shakespeare and the Living Dramatist in Shakespeare in the Twentieth Century.” Shakespeare and the Living Dramatist in Shakespeare in the Twentieth Century, no. 36, 1983, pp. 1–10.</p>

<p>———. “Technology and the Artist.” Science and Public Policy, 1978, https://doi.org/10.1093/spp/5.1.65.</p>

<p>———. “The Avoidance Word Still Screams Its Name: An Address to the ‘50th Anniversary of the 1st International Congress of Black Writers and Artists,’ in Paris, on September 19, 2006.” Transition, vol. 13, no. 3, 2007, pp. 8–17, https://muse.jhu.edu/article/241461.</p>

<p>———. The Blackman and the Veil: A Century on ; and, Beyond the Berlin Wall: Lectures Delivered by Wole Soyinka on 31st August and 1st September, 1990. SEDCO : W.E.B. Du Bois Memorial Centre for Pan-African Culture, 1993.</p>

<p>———. The Burden of Memory, the Muse of Forgiveness. Oxford University Press, 2000.</p>

<p>———. The Credo of Being and Nothingness. Spectrum Books Limited, 1991.</p>

<p>———. “The Critic and Society: Barthes, Leftocracy, and Other Mythologies.” African American Review, vol. 50, no. 4, 2017, pp. 635–48, https://doi.org/10.1353/afa.2017.0113.</p>

<p>———. “The Critic and Society: Barthes, Leftocracy, and Other Mythologies.” Black American Literature Forum, vol. 15, no. 4, 1981, p. 133, https://doi.org/10.2307/2904325.</p>

<p>———. “The Dance Is Not Over.” Transition, vol. 116, no. 1, Nov. 2014, pp. 3–13, https://muse.jhu.edu/article/561202.</p>

<p>———. The Deceptive Silence of Stolen Voices. Spectrum Books Limited, 2003.</p>

<p>———. “The Fourth Stage: Through the Mysteries of Ogun to the Origin of Yoruba Tragedy.” Black Theatre: Ritual Performance In The African Diaspora, edited by Paul Carter Harrison et al., Temple University Press, 2002, pp. 140–52, https://www.jstor.org/stable/j.ctt14bs6rh?turn_away=true&amp;searchText=wole%20soyinka&amp;searchUri=%2Faction%2FdoBasicSearch%3FQuery%3Dwole%2Bsoyinka%26efqs%3DeyJjdHkiOlsiWTJoaGNIUmxjZz09Il19&amp;ab_segments=0%2FSYC-6744_basic_search%2Ftest-2&amp;refreqid=fastly-default%3Af7acf19bea814d835bd68473639b2687. JSTOR.</p>

<p>———. “The Last Despot and the End of Nigerian History?” Index on Censorship, vol. 23, no. 6, 1994, pp. 67–76, https://doi.org/10.1080/03064229408535791.</p>

<p>———. “The Man Died.” Transition, no. 75/76, 1997, p. 380, https://doi.org/10.2307/2935435.</p>

<p>———. “The National Question in Africa: Internal Imperatives.” Development and Change, vol. 27, no. 2, 1996, pp. 279–300, https://doi.org/10.1111/j.1467-7660.1996.tb00590.x.</p>

<p>———. The Open Sore of a Continent: A Personal Narrative of the Nigerian Crisis. Oxford University Press, 1996.</p>

<p>———. The Open Sore of a Continent: A Personal Narrative of the Nigerian Crisis. Oxford University Press, 1997.</p>

<p>———. The Road Map of a Nation : A Narrative of the First African Road Safety Corps. Bookcraft, 2018.</p>

<p>———. The Seven Signposts of Existence: Knowledge, Honour, Justice and Other Virtues. Pocket gifts, 1999.</p>

<p>———. “The Transitional Politics of Human.” Index on Censorship, vol. 22, no. 2, 1993, pp. 2–3, https://doi.org/10.1080/03064229308535498.</p>

<p>———. “The Trouble With You, Ali Mazrui! - Response to Ali’s Millennial ‘Conclusion.’” West Africa Review, vol. 1, no. 2, 2000, https://www.africaknowledgeproject.org/index.php/war/article/view/422.</p>

<p>———. “The Writer in an African State.” Transition, no. 75/76, 1997, p. 350, https://doi.org/10.2307/2935430.</p>

<p>———. “Theatre in African Traditional Cultures: Survival Patterns.” The Twentieth Century Performance Reader, Oct. 2013, pp. 430–43, https://doi.org/10.4324/9780203125236-55.</p>

<p>———. Theatre Matters: Performance and Culture on the World Stage. Edited by Richard Boon and Jane Plastow, 1st ed., Cambridge University Press, 1998, https://doi.org/10.1017/CBO9780511554209.</p>

<p>———. “This Past Must Address Its Present (Dedicated to Nelson Mandela).” Black American Literature Forum, vol. 22, no. 3, 1988, p. 429, https://doi.org/10.2307/2904307.</p>

<p>———. Towards a True Theatre. 1975, https://www.jstor.org/stable/2935003.</p>

<p>———. Towards a True Theatre. 1981.</p>

<p>———. “Triple Tropes of Trickery.” Transition, vol. 58, 1991, pp. 178–83, http://www.jstor.org/stable/2934912. JSTOR.</p>

<p>———. “Twice Bitten: The Fate of Africa’s Culture Producers.” PMLA/Publications of the Modern Language Association of America, vol. 105, no. 1, 1990, pp. 110–20, https://doi.org/10.2307/462347.</p>

<p>———. “Two Poems for the Pen.” Index on Censorship, vol. 28, no. 2, 1999, pp. 94–96, https://doi.org/10.1080/03064229908536553.</p>

<p>Soyinka, Wole, and Tommie Shelby. “From Africa to the ‘Global Black’: Wole Soyinka Discusses His Tenure at Transition with Tommie Shelby.” Transition, vol. 106, no. 1, Nov. 2011, p. A-44, https://muse.jhu.edu/article/456964.</p>

<p>Young, Crawford, and Wole Soyinka. “The Impossible Necessity of Nigeria: A Struggle for Nationhood.” Foreign Affairs, vol. 75, no. 6, 1996, p. 139, <a href="https://doi.org/10.2307/20047835">https://doi.org/10.2307/20047835</a>.</p>

<h3 id="WoleTOC09">As Editor</h3>

<p>Irele, Abiola, and Wole Soyinka, editors. Special Issue: L&eacute;opold S&eacute;dar Senghor. Research in African Literatures, 2002, https://www.africabib.org/rec.php?RID=256265909.</p>

<p>Soyinka, Wole, Martin Banham, et al. African Theatre: Blackout, Blowout &amp; beyond : Wole Soyinka’s Satirical Revue Sketches. Africa World Press, 2005.</p>

<p>Soyinka, Wole, editor. Poems of Black Africa. 1st American ed, Hill and Wang, 1975.</p>

<p>———, editor. Poems of Black Africa. Heinemann, 1975.</p>

<p>———. Poems of Black Africa. Secker and Warburg, 1975, https://bac-lac.on.worldcat.org/oclc/491444019.</p>

<p>———, editor. Poems of Black Africa. Heinemann, 1975.</p>

<p>———. Poems of Black Africa: Edited and Introduced by Wole Soyinka. Heinemann, 1975.</p>

<p>Soyinka, Wole, Valerie Amos, et al., editors. The Gods Who Send Us Gifts: An Anthology of African Short Stories. Ayebia Clarke Publishing, 2017.</p>

<p>&nbsp;</p>

<h3 id="WoleTOC10">Interviews</h3>

<p>Academy of Achievement. Wole Soyinka, Academy Class of 2009, Full Interview. 2016, https://www.youtube.com/watch?v=DxlofwP56lk.</p>

<p>Al Jazeera. One on One with Wole Soyinka. 2011, https://www.youtube.com/watch?v=9eKpycSJHw0.</p>

<p>———. Talk to Al Jazeera - Wole Soyinka: “Islam Is Not in Danger.” 2014, https://www.youtube.com/watch?v=e--njgcStNc.</p>

<p>Al Jazeera English. Africa ... States of Independence - Interview: Wole Soyinka. 2010, https://www.youtube.com/watch?v=mIt-y9rDJ8U.</p>

<p>Arise News. One on One With Prof Wole Soyinka - Part One. 2021, https://www.youtube.com/watch?v=3XIHL0wriD8.</p>

<p>———. One on One With Prof Wole Soyinka - Part Two. 2021, https://www.youtube.com/watch?v=TjO5OAcNXW0.</p>

<p>CGTN Africa. TALK AFRICA: A Conversation with Wole Soyinka. 2017, https://www.youtube.com/watch?v=OFKYJBAnjV4.</p>

<p>Euba, Femi. “A Conversation between Femi Euba, Wole Soyinka and Biodun Jeyifo.” Atlantic Studies, vol. 19, no. 4, Oct. 2022, pp. 594–609, https://doi.org/10.1080/14788810.2021.1923387.</p>

<p>Fioupou, Christiane. “Interview de Wole Soyinka &agrave; Paris en f&eacute;vrier 1995.” Pr&eacute;sence Africaine, vol. 154, no. 2, 1996, p. 90, https://doi.org/10.3917/presa.154.0090.</p>

<p>———. “Interview of Wole Soyinka in Paris, February 1995.” Pr&eacute;sence Africaine, vol. 154, no. 2, 1996, p. 87, https://doi.org/10.3917/presa.154.0087.</p>

<p>Granqvist, Raoul, and John Stotesbury. African Voices: Interviews with Thirteen African Writers. Dangaroo Press, 1989.</p>

<p>Interview with Wole Soyinka, April 25, 2006. City Arts &amp; Lectures, Inc., 2006, http://digitalassets.lib.berkeley.edu/cityarts/ucb/ram/CA01064.ram.</p>

<p>Jeyifous, Biodun. “Wole Soyinka, a Transition Interview.” Transition, no. 42, 1973, p. 62, https://doi.org/10.2307/2935196.</p>

<p>Loyola Marymount University. Interview with Nobel Laureate Wole Soyinka. 2014, https://www.youtube.com/watch?v=D_yTEf-fvV4.</p>

<p>Ndibe, Okey. The Man Lives: A Conversation with Wole Soyinka on Life, Literature and Politics. Bookcraft, 2019.</p>

<p>Ndibe, Okey, and Wole Soyinka. Authors Conversation: Ndibe Chats Nobel Laureate Wole Soyinka Pt.2 |Channels Bookclub|. Channels TV, 21 Aug. 2018, https://www.youtube.com/watch?v=7zpoweYxjyI.</p>

<p>Nkosi, Lewis. Wole Soyinka Interviewed by Lewis Nkosi in Lagos, Aug. 1962. Transcription Feature Service, 1962.</p>

<p>Pieterse, Cosmo, and Dennis Duerden. African Writers Talking: A Collection of Interviews. Heinemann Educational, 1972, http://digitool.hbz-nrw.de:1801/webclient/DeliveryManager?pid=2506091&amp;custom_att_2=simple_viewer.</p>

<p>———. African Writers Talking: A Collection of Radio Interviews. Africana Pub. Corp, 1972.</p>

<p>Rose, Charlie, and Wole Soyinka. Wole Soyinka — Charlie Rose Interview (12th August 2008). Youtube, 18 Sept. 2017, https://www.youtube.com/watch?v=kdUpQVOpsiU.</p>

<p>Soyinka, Wole. A World of Amusement and Pity: Wole Soyinka. Interview by Olesegun Ojewuyi and Shawn-Marie Garrett, 1998.</p>

<p>———. An Interview. Interview by Anthony Appiah, 2003.</p>

<p>———. Article by Wole Soyinka and Anthony Appiah. Interview by Anthony Appiah, 1992.</p>

<p>———. Conversations Across the Diaspora with Guest Wole Soyinka. Interview by Sarah Ladipo Manyika, 30 Sept. 2021, https://www.youtube.com/watch?v=lK3QnoL2UZ8.</p>

<p>———. Conversations with History: Wole Soyinka. Interview by Harry Kreisler, 1 May 2008, https://www.youtube.com/watch?v=wosbdri9dRc.</p>

<p>———. Elif Shafak and Wole Soyinka | Studio B: Unscripted. Interview by Elif Shafak, 22 Nov. 2019, https://www.youtube.com/watch?v=xvcUANjP_6o.</p>

<p>———. Exclusive: Wole Soyinka on the State of Literature and Poor Standard of Education. Interview by The Guardian Nigeria, 9 Mar. 2021, https://www.youtube.com/watch?v=t3Zvar9OQB8.</p>

<p>———. In Conversation with Wole Soyinka, Nobel Laureate in Literature. Interview by Veronique Edwards., BBC News Africa, 30 Oct. 2017, https://www.youtube.com/watch?v=N6fTNv_waV0.</p>

<p>———. Interview with Wole Soyinka, April 25, 2006. Interview by Michael Krasny, 2006, http://digitalassets.lib.berkeley.edu/cityarts/ucb/ram/CA01064.ram.</p>

<p>———. Tigritude and Negritude: An Interview with Wole Soyinka. Interview by N. X. Ebony, 1975.</p>

<p>Soyinka, Wole. Wole Soyinka and Chris Abani in Conversation, Oct. 2, 2020. Interview by Chris Abani, 9 Oct. 2020, https://www.youtube.com/watch?v=CGfgksY0LUk.</p>

<p>———. Wole Soyinka in Conversation with Henry Louis Gates, Jr. Interview by Henry Louis Gates, Jr., 7 Sept. 2022, https://www.youtube.com/watch?v=ygCJHsAxGqA.</p>

<p>———. Wole Soyinka Interviewed by Dennis Duerden in London, Aug. 1965. Interview by Dennis Duerden, 1965.</p>

<p>———. Wole Soyinka Interviewed by Ezekiel Mphahlele in London, May 1962. Interview by Ezekiel Mphahlele, 1962.</p>

<p>———. Wole Soyinka Interviewed by Ezekiel Mphahlele in London, May 1962. (Audiotape). Interview by Ezekiel Mphahlele, 1962.</p>

<p>———. Wole Soyinka Interviewed by Lewis Nkosi in Lagos, Aug. 1962. Interview by Lewis Nkosi, 1962.</p>

<p>———. Wole Soyinka: Telling It as It Is. Interview by J. P. O’Malley, 2012.</p>

<p>———. Wole Soyinka: ‘This Book Is My Gift to Nigeria.’ Interview by Chibundu Onuzo, 25 Sept. 2021, https://www.theguardian.com/books/2021/sep/25/wole-soyinka-this-book-is-my-gift-to-nigeria.</p>

<p>Soyinka, Wole, and Dennis Duerden. Wole Soyinka Interviewed by Dennis Duerden in London, Aug. 1965. Transcription Feature Service, 1965.</p>

<p>Soyinka, Wole, and Christiane FIOUPOU. “Interview of Wole Soyinka in Paris, February 1995 / Interview de Wole Soyinka &Agrave; Paris En F&eacute;vrier 1995.” Pr&eacute;sence Africaine, no. 154, 1996, pp. 87–92.</p>

<p>Soyinka, Wole, and Biodun Jeyifo. Conversations with Wole Soyinka. University Press of Mississippi, 2001.</p>

<p>Soyinka, Wole, and Chuck Mike. Soyinka as Director: Interview with Chuck Mike. Department of Literature in English, University of Ife, 1986.</p>

<p>Soyinka, Wole, and Ezekiel Mphahlele. Wole Soyinka Interviewed by Ezekiel Mphahlele in London, May 1962. Transcription Feature Service, 1962.</p>

<p>Times Higher Education (THE), and Wole Soyinka. Interview with Nobel Laureate Wole Soyinka. 12 Dec. 2016, https://www.youtube.com/watch?v=5m4F-8VM6m0.</p>

<p>Wachanga, and Wole Soyinka. Wachanga’s Interview with Wole Soyinka. 31 Oct. 2021, https://www.youtube.com/watch?v=3-uWVYnOdpQ.</p>

<p>Wilkinson, Jane, editor. Talking with African Writers: Interviews with African Poets, Playwrights &amp; Novelists. J. Currey ; Heinemann, 1992.</p>

<h2 id="WoleTOC11">Secondary Sources</h2>

<h3 id="WoleTOC12">General Overviews in English</h3>

<p>Adenekan, Sulaiman. “The Pride of Africa: Nobel Laureate Wole Soyinka Clocks 85 Years Serving Humanity Poetically.” Trade Newswire, June 2019, https://www.tradenewswire.net/the-pride-of-africa-nobel-laureate-wole-soyinka-clocks-85-years-serving-humanity-poetically/.</p>

<p>Anisfield-wolf. “Wole Soyinka.” Anisfield-Wolf Book Awards, https://www.anisfield-wolf.org/winners/wole-soyinka/. Accessed 24 Dec. 2022.</p>

<p>AnswersAfrica.com. “Wole Soyinka - Biography, Wife, Children, Family, Quick Facts.” AnswersAfrica.Com, 10 Nov. 2015, https://answersafrica.com/a-comprehensive-biography-of-the-famous-nigerian-writer-wole-soyinka-2.html.</p>

<p>Biodun Jeyifo. “Soyinka, Wole.” The Oxford Encyclopedia of African Thought, 1 ed.. ed, Oxford University Press, 2010, http://www.oxfordreference.com/view/10.1093/acref/9780195334739.001.0001/acref-9780195334739-e-353.</p>

<p>Boyles, Linda. Wole Soyinka. Houghton Mifflin, 2005.</p>

<p>Computer Program. Wole Soyinka: (1934-) Biographies, Criticism, Journal Articles, Work Overviews. Gale, 2003, http://galenet.galegroup.com/servlet/LitRC?ai=83768&amp;ste=5&amp;tab=1&amp;vrsn=3&amp;ca=1&amp;ST=soyinka&amp;tbst=arp&amp;srchtp=athr&amp;n=10&amp;OP=contains&amp;frmMARC856=1&amp;locID=itsbtrial.</p>

<p>JoJo Naija. “Throwback Photos: Wole Soyinka And His Friends That Founded The Pyrates Confraternity.” Jojo Naija, 5 Aug. 2021, https://jojonaija.com/throwback-photos-wole-soyinka-and-his-friends-that-founded-the-pyrates-confraternity/.</p>

<p>Landow, George P. Wole Soyinka. https://www.vlebooks.com/vleweb/product/openreader?id=none&amp;isbn=9781786946294. Accessed 28 Dec. 2022.</p>

<p>Msiska, Mpalive-Hangson. Wole Soyinka. Oxford University Press, 1997.</p>

<p>Nelson, Juliann. “Case Histories: Wole Soyinka.” PEN America, 16 Apr. 2012, https://pen.org/case-histories-wole-soyinka/.</p>

<p>Olayebi, Bankole, editor. WS: A Life in Full. Bookcraft, 2004.</p>

<p>Osorio, Amparo In&eacute;s., and Gonzalo M&aacute;rquez Cristo. Discursos: Premios Nobel. Tomo III. Primera edici&oacute;n, Com&uacute;n Presencia Editores, 2004.</p>

<p>PH. “Professor Wole Soyinka Full Biography,Life And News - How Nigeria News.” How Nigeria News - Discover Nigerian Trends Online, https://howng.com/professor-wole-soyinka-full-biographylife-and-news/. Accessed 24 Dec. 2022.</p>

<p>Posey, Jacquie. “Nigerian Writer, Nobel Laureate Wole Soyinka to Speak at Penn.” Penn News, 13 Jan. 2014, https://web.archive.org/web/20140113151506/http://www.upenn.edu/pennnews/news/nigerian-writer-nobel-laureate-wole-soyinka-speak-penn.</p>

<p>Schlessinger, Bernard S., and June H. Schlessinger. The Who’s Who of Nobel Prize Winners, 1901-1995. Oryx Press, 1996.</p>

<p>Shades of noir. “Wole Soyinka.” Creatives Database, 15 July 2019, https://www.shadesofnoir.org.uk/creatives/portfolio/wole-soyinka/.</p>

<p>Soyinka, Wole. “Nobel Lecture 1986: This Past Must Address Its Present.” PMLA/Publications of the Modern Language Association of America, vol. 102, no. 5, 1987, pp. 762–71, https://doi.org/10.2307/462306.</p>

<p>“Soyinka, Wole (13 July 1934- ).” Encyclopedia, https://www.encyclopedia.com/arts/culture-magazines/soyinka-wole-13-july-1934. Accessed 23 Dec. 2022.</p>

<p>Soyinka, Wole, and Bankole Olayebi. WS: A Life in Full. Bookcraft, 2004, http://www.h-net.org/review/hrev-a0e4x0-aa.</p>

<p>“The Nobel Prize in Literature 1986.” NobelPrize.Org, https://www.nobelprize.org/prizes/literature/1986/soyinka/biographical/. Accessed 23 Dec. 2022.</p>

<p>Vermeulen, Julien. “Wole Soyinka. The Profile of a Nobel Prize Winner.” Afrika Focus, vol. 3, no. 1–2, Mar. 1987, https://doi.org/10.21825/af.v3i1-2.6605.</p>

<p>Wasson, Tyler, and Gert H. Brieger. Nobel Prize Winners: An H.W. Wilson Biographical Dictionary. H.W. Wilson, 1987.</p>

<p>Wilkinson, Jane, editor. Talking with African Writers: Interviews with African Poets, Playwrights &amp; Novelists. James Currey ; Heinemann, 1992.</p>

<p>“Wole Soyinka.” Granta, https://granta.com/contributor/wole-soyinka/. Accessed 2 Jan. 2023.</p>

<p>“———.” Nndb, 2019, https://www.nndb.com/people/018/000027934/.</p>

<p>“———.” Kirjasto, 2 Feb. 2015, https://web.archive.org/web/20150202210200/http://www.kirjasto.sci.fi/soyinka.htm.</p>

<p>“———.” Wikipedia, 24 Dec. 2022, https://en.wikipedia.org/w/index.php?title=Wole_Soyinka&amp;oldid=1129337445.</p>

<p>“Wole Soyinka: A Chronology.” Post Colonial Web, http://www.postcolonialweb.org/soyinka/soyinkatl.html. Accessed 24 Dec. 2022.</p>

<p>“Wole Soyinka Bio.” University of Alberta, https://sites.ualberta.ca/~afso/documents/soyinka. Accessed 23 Dec. 2022.</p>

<p>Wole Soyinka Biography. 2018, https://www.youtube.com/watch?v=aFr_KD-OnIw.</p>

<p>“Wole Soyinka: Biography, Poems &amp; Books.” Study.Com, https://study.com/academy/lesson/wole-soyinka-biography-poems-books.html. Accessed 1 Jan. 2023.</p>

<p>Wole Soyinka Recieving the Nobel Prize for Literature From King Gustaf of Sweden | December 1986. 2020, https://www.youtube.com/watch?v=M54BY4DBs3A.</p>

<p>Writers history. “Writers History - Soyinka Wole.” Writershistory, 4 Dec. 2014, <a href="https://web.archive.org/web/20141204202416/http://writershistory.com/index.php?option=com_content&amp;task=view&amp;id=510&amp;Itemid=41">https://web.archive.org/web/20141204202416/http://writershistory.com/index.php?option=com_content&amp;task=view&amp;id=510&amp;Itemid=41</a></p>

<h3 id="WoleTOC13">Book Reviews</h3>

<p>Abou-bakr R. “The Political Prisoner as Antihero: The Prison Poetry of Wole Soyinka and ’Ahmad Fu’ad Nigm.” Comparative Literature Studies, vol. 46, 2009, p. 261.</p>

<p>Admin. “Review: Wole Soyinka’s Novel The Happiest People in the World. - Culture.” News in Germany, 22 Apr. 2022, <a href="https://newsingermany.com/review-wole-soyinkas-novel-the-happiest-people-in-the-world-culture/">https://newsingermany.com/review-wole-soyinkas-novel-the-happiest-people-in-the-world-culture/</a>.</p>

<p>Akeh, Afam. Special: SOYINKA AT 80 - Centre for African Poetry. 22 July 2015, https://web.archive.org/web/20150722221853/http://www.centreforafricanpoetry.org/magazine/special-soyinka-at-80.</p>

<p>Akingbe, Niyi. “Subverting Nationalism: Historicizing Horrors of the Past in Femi Fatoba’s They Said I Abused the Government and Wole Soyinka’s Samarkand and Other Markets I Have Known.” Matatu, vol. 49, no. 1, 2017, pp. 28–53, https://doi.org/10.1163/18757421-04901003.</p>

<p>Alabi, Priscilla, and KalaLea. “Wole Soyinka on His New Satire of Corruption and Fundamentalism | The New Yorker Radio Hour.” WNYC Studios, 29 Oct. 2021, https://www.wnycstudios.org/podcasts/tnyradiohour/segments/wole-soyinka-his-new-satire-corruption-and-fundamentalism.</p>

<p>Amayi, By Zakayo. “Nobel Laureate Wole Soyinka’s Grumpy Battles to Defend Literary Legacy.” The Standard, 2013, <a href="https://www.standardmedia.co.ke/standard-entertainment/article/2000086475/soyinkas-grumpy-battles-to-defend-literary-legacy">https://www.standardmedia.co.ke/standard-entertainment/article/2000086475/soyinkas-grumpy-battles-to-defend-literary-legacy</a>.</p>

<p>Apata, Gabriel O. “Review: Bola Dauda and Toyin Falola, ‘Wole Soyinka: Literature, Activism, and African Transformation.’” Theory, Culture &amp; Society | Global Public Life, 2022, https://www.theoryculturesociety.org/blog/review-bola-dauda-toyin-falola-wole-soyinka.</p>

<p>Awelewa, Abayomi. “Wole Soyinka’s Life of Writing Holds Nigeria up for Scrutiny.” The Wire, 2022, https://thewire.in/books/wole-soyinkas-life-of-writing-holds-nigeria-up-for-scrutiny.</p>

<p>Banham, Martin. “Review of Wole Soyinka / African Popular Theatre : Centre for African Studies (LUCAS).” Lucas Leed, 1995, https://lucas.leeds.ac.uk/article/wole-soyinka-african-popular-theatre/.</p>

<p>Bauerle, Richard F. “Book Review: Wole Soyinka.” Books Abroad, vol. 46, 1972, p. 729, https://www.jstor.org/stable/40126724.</p>

<p>———. “Book Review: Wole Soyinka: An Introduction to His Writing.” World Literature Today, vol. 62, 1988, p. 324, https://www.jstor.org/stable/40143741.</p>

<p>Berman, Nina. “Book Review: Die Macht Des Wortes: Das Journalistische Interview Als Rezeptionsform Afrikanischer Literaturen in Der Frankophonen, Anglophonen Und Deutschsprachigen Presse: Am Beispiel von Ousmane Semb&egrave;ne (Senegal) Und Wole Soyinka (Nigeria).” Research in African Literatures, vol. 39, 2008, p. 173, https://www.jstor.org/stable/20109603.</p>

<p>Bolanle Oni Story. “Book Review: Ak&eacute;: The Years of Childhood.” The Pine-Scented Chronicles, 26 Feb. 2022, <a href="https://thetorogichronicles.com/2022/02/26/book-review-315-ake-the-years-of-childhood/">https://thetorogichronicles.com/2022/02/26/book-review-315-ake-the-years-of-childhood/</a>.</p>

<p>BookBrowse. “You Must Set Forth at Dawn by Wole Soyinka: Summary and Reviews.” BookBrowse.Com, 2006, https://www.bookbrowse.com/reviews/index.cfm/book_number/1865/you-must-set-forth-at-dawn.</p>

<p>Busby, Margaret. “Marvels of the Holy Hour.” The Guardian, 25 May 2007, <a href="https://www.theguardian.com/books/2007/may/26/biography.wolesoyinka">https://www.theguardian.com/books/2007/may/26/biography.wolesoyinka</a>.</p>

<p>Cassirer, Thomas. “Myth, Literature and the African World (Review).” The International Journal of African Historical Studies, vol. 11, no. 4, 1978, p. 755, https://doi.org/10.2307/217214.</p>

<p>Conteh-Morgan, John. “Book Review: Index of Subjects, Proverbs, and Themes in the Writings of Wole Soyinka.” Canadian Journal of African Studies / Revue Canadienne Des &Eacute;tudes Africaines, vol. 24, 1990, p. 270, https://www.jstor.org/stable/485265.</p>

<p>Cooksey, Thomas L. “Book Review: Wole Soyinka: Politics, Poetics and Postcolonialism.” South Atlantic Review, vol. 70, 2005, p. 136, https://www.jstor.org/stable/20064638.</p>

<p>cs2-admin. “Nigeria—Revisiting Language in Two Wole Soyinka Plays.” Critical Stages/Sc&egrave;nes Critiques, 3 June 2017, <a href="https://www.critical-stages.org/15/nigeria-revisiting-language-in-two-wole-soyinka-plays/">https://www.critical-stages.org/15/nigeria-revisiting-language-in-two-wole-soyinka-plays/</a>.</p>

<p>Crow, Brian. “Soyinka and His Radical Critics: A Review.” Theatre Research International, vol. 12, no. 1, 1987, pp. 61–73, <a href="https://doi.org/10.1017/S0307883300013304">https://doi.org/10.1017/S0307883300013304</a>.</p>

<p>Dinwiddy, Hugh. “Book Review: The Writings of Wole Soyinka.” African Affairs, vol. 74, 1975, p. 242, <a href="https://www.jstor.org/stable/721203">https://www.jstor.org/stable/721203</a>.</p>

<p>Dunton, Chris. “Book Review: Wole Soyinka: Politics, Poetics and Postcolonialism.” African Affairs, vol. 104, 2005, p. 150, <a href="https://www.jstor.org/stable/3518642">https://www.jstor.org/stable/3518642</a>.</p>

<p>Edeme, Victoria. “Soyinka, Nine Others Receive Cambridge Varsity Honorary Degrees.” Punch Newspapers, 23 June 2022, <a href="https://punchng.com/soyinka-nine-others-bag-cambridge-varsity-honorary-degrees/">https://punchng.com/soyinka-nine-others-bag-cambridge-varsity-honorary-degrees/</a>.</p>

<p>Emenyo̲nu, Ernest, et al. New Directions in African Literature: A Review. James Currey Publishers, 2006.</p>

<p>Enweze, Obi. “BOOK REVIEW: The Man Lives: A Conversation with Wole Soyinka on Life, Literature, and Politics by Okey Ndibe.” Premium Times Nigeria, 19 Oct. 2019, <a href="https://www.premiumtimesng.com/entertainment/artsbooks/358381-book-review-the-man-lives-a-conversation-with-wole-soyinka-on-life-literature-and-politics-by-okey-ndibe.html">https://www.premiumtimesng.com/entertainment/artsbooks/358381-book-review-the-man-lives-a-conversation-with-wole-soyinka-on-life-literature-and-politics-by-okey-ndibe.html</a>.</p>

<p>Ezugwu, Obinna. Salute To Kongi at 87 - Business Hallmark. 2021, <a href="https://hallmarknews.com/salute-to-kongi-at-87/">https://hallmarknews.com/salute-to-kongi-at-87/</a>.</p>

<p>Fioupou, Christiane. “Mpalive-Hangson Msiska, Postcolonial Identity in Wole Soyinka.” Commonwealth Essays and Studies, vol. 33, no. 1, Sept. 2010, pp. 121–22, <a href="https://journals.openedition.org/ces/8359">https://journals.openedition.org/ces/8359</a>.</p>

<p>———. “Postcolonial Identity in Wole Soyinka [Book Review].” Commonwealth Essays and Studies, vol. 33, 2007, p. 121, <a href="https://search.informit.org/documentSummary;dn=821889970967293;res=IELLCC">https://search.informit.org/documentSummary;dn=821889970967293;res=IELLCC</a>.</p>

<p>Foundation, Poetry. “Battle for Oxford Chair Heats Up as Wole Soyinka Responds to Incendiary Comments by Harriet Staff.” Poetry Foundation, 26 Dec. 2022, <a href="https://www.poetryfoundation.org/harriet-books/2015/05/battle-for-oxford-chair-heats-up-as-wole-soyinka-responds-to-incendiary-comments">https://www.poetryfoundation.org/harriet-books/2015/05/battle-for-oxford-chair-heats-up-as-wole-soyinka-responds-to-incendiary-comments</a>.</p>

<p>———. “Wole Soyinka Among Top Candidates for Oxford Professor of Poetry by Harriet Staff.” Poetry Foundation, 26 Dec. 2022, https://www.poetryfoundation.org/harriet-books/2015/05/wole-soyinka-among-top-candidates-for-oxford-professor-of-poetry.</p>

<p>Gardham, Duncan. Nobel Laureate Wole Soyinka Says England Is “cesspit” of Extremism. 2010, https://www.telegraph.co.uk/news/uknews/terrorism-in-the-uk/7130597/Nobel-laureate-Wole-Soyinka-says-England-is-cesspit-of-extremism.html.</p>

<p>Gibbs, James. “Biography into Autobiography: Wole Soyinka and the Relatives Who Inhabit ‘Ake.’” The Journal of Modern African Studies, vol. 26, 1988, p. 517, https://www.jstor.org/stable/160896.</p>

<p>———. “Book Review: A Writer and His Gods: A Study of the Importance of Yoruba Myths and Religious Ideas to the Writing of Wole Soyinka.” Research in African Literatures, vol. 15, 1984, p. 612, https://www.jstor.org/stable/3819360.</p>

<p>———. “Book Review: Before Our Very Eyes: Tribute to Wole Soyinka, Winner of the Nobel Prize for Literature.” Research in African Literatures, vol. 19, 1988, p. 408, https://www.jstor.org/stable/3819388.</p>

<p>———. “Book Review: Index of Subjects, Proverbs, and Themes in the Writings of Wole Soyinka.” Research in African Literatures, vol. 20, 1989, p. 512, https://www.jstor.org/stable/3819181.</p>

<p>———. “The Writer and the Road: Wole Soyinka and Those Who Cause Death by Dangerous Driving.” The Journal of Modern African Studies, vol. 33, no. 3, 1995, pp. 469–98, https://doi.org/10.1017/S0022278X00021212.</p>

<p>Guesmi, Haythem. “Beyond Aesthetics: Use, Abuse, and Dissonance in African Art Traditions by Wole Soyinka (Review).” Journal of West African History, vol. 8, no. 1, June 2022, pp. 170–72, https://muse.jhu.edu/article/857253.</p>

<p>Harvey, A. D. “‘Does the Queen Know about This?’ Wole Soyinka and the British Government 1969–1973.” The Journal of Commonwealth Literature, vol. 48, no. 3, 2013, pp. 327–29, <a href="https://doi.org/10.1177/0021989413496178">https://doi.org/10.1177/0021989413496178</a>.</p>

<p>Hogan, Patrick Colm. “Postcolonial Identity in Wole Soyinka (Review).” Research in African Literatures, vol. 39, no. 3, July 2008, pp. 204–05, https://muse.jhu.edu/article/242685.</p>

<p>Hochschild, A. “OF AFRICA. By Wole Soyinka.” NEW YORK TIMES BOOK REVIEW, 117, vol. November 4, 2012, p. 1.</p>

<p>Hochschild, Adam. “Assessing Africa.” The New York Times, 2 Nov. 2012, https://www.nytimes.com/2012/11/04/books/review/of-africa-by-wole-soyinka.html.</p>

<p>Hogan, Patrick Colm. “Book Review: Postcolonial Identity in Wole Soyinka.” Research in African Literatures, vol. 39, 2008, p. 204, https://www.jstor.org/stable/20109632.</p>

<p>“Honorary Degree : Centre for African Studies (LUCAS).” Centre for African Studies, 1973, https://lucas.leeds.ac.uk/article/honorary-degree/.</p>

<p>“Humanists UK Welcomes New Patron, Wole Soyinka.” Humanists UK, 2020, https://humanists.uk/2020/08/12/humanists-uk-welcomes-new-patron-wole-soyinka/.</p>

<p>Ibagere, Eniwoke. Nigeria’s Soyinka Back on Stage. 6 Aug. 2001, <a href="http://news.bbc.co.uk/2/hi/africa/1476167.stm">http://news.bbc.co.uk/2/hi/africa/1476167.stm</a>.</p>

<p>Ibrahim, Jibrin. “Book Review: Wole Soyinka Ou l’Ambition Democratique.” The Journal of Modern African Studies, vol. 27, 1989, p. 696, <a href="https://www.jstor.org/stable/161119">https://www.jstor.org/stable/161119</a>.</p>

<p>Irele, F. Abiola. “The Achievement of Wole Soyinka.” Philosophia Africana, vol. 11, 2008, p. 5, http://www.pdcnet.org/collection/show?id=philafricana_2008_0011_0001_0005_0019&amp;file_type=pdf.</p>

<p>———. “Wole Soyinka: Politics, Poetics, Postcolonialism (Review).” Theatre Journal, vol. 58, no. 1, Mar. 2006, pp. 149–50, https://doi.org/10.1353/tj.2006.0076.</p>

<p>Irobi, Esiaba. “Special Issue on Wole Soyinka.” Philosophia Africana, vol. 11, 2008, p. 1, <a href="http://www.pdcnet.org/collection/show?id=philafricana_2008_0011_0001_0001_0004&amp;file_type=pdf">http://www.pdcnet.org/collection/show?id=philafricana_2008_0011_0001_0001_0004&amp;file_type=pdf</a>.</p>

<p>Judd, The Brothers. Review of Wole Soyinka’s The Burden of Memory, the Muse of Forgiveness - BrothersJudd.Com. 1999, http://brothersjudd.com/index.cfm/fuseaction/reviews.detail/book_id/1062/Burden%20of%20Me.htm.</p>

<p>July, Robert W. “The Artist’s Credo: The Political Philosophy of Wole Soyinka.” The Journal of Modern African Studies, vol. 19, no. 3, 1981, pp. 477–98, <a href="https://doi.org/10.1017/S0022278X0001497X">https://doi.org/10.1017/S0022278X0001497X</a>.</p>

<p>Kemibon. “Wole Soyinka.” The Reader’s Review Blog, 2016, <a href="https://thereadersreviewblog.wordpress.com/tag/wole-soyinka/">https://thereadersreviewblog.wordpress.com/tag/wole-soyinka/</a>.</p>

<p>Kiguli, Susan Nalugwa. “Wole Soyinka: An Introduction: Presented at the African Humanities Program Regional Assembly, National Universities Commission Auditorium, Abuja, Nigeria, 11 February 2020.” Journal of Contemporary African Studies, vol. 38, no. 2, Apr. 2020, pp. 171–72, https://doi.org/10.1080/02589001.2020.1794295.</p>

<p>Kumar, K. N. Yoruba Tradition and Culture in Wole Soyinka’s. 2011, https://www.semanticscholar.org/paper/YORUBA-TRADITION-AND-CULTURE-IN-WOLE-SOYINKA%27S-%22THE-Kumar/f0c1d7cd059ad49a058c05d8618e2fa96bec85af.</p>

<p>Laux, Cameron. Wole Soyinka: The Books That Really Change the World? 2021, https://www.bbc.com/culture/article/20211005-wole-soyinka-the-books-that-really-change-the-world.</p>

<p>Lindfors, Bernth. Wole Soyinka, When Are You Coming Home? 1976, https://www.jstor.org/stable/2929658.</p>

<p>MacGaffey, Wyatt. “Beyond Aesthetics: Use, Abuse, and Dissonance in African Art Traditions: By Wole Soyinka, New Haven and London, Yale University Press in Association with the Hutchins Center for African and African American Research, 2019, Xviii + 132 Pp.” Canadian Journal of African Studies / Revue Canadienne Des &Eacute;tudes Africaines, vol. 54, no. 1, Jan. 2020, pp. 204–05, https://doi.org/10.1080/00083968.2020.1716503.</p>

<p>Madukwe, Bartholomew. “Nobel Laureate, Professor Wole Soyinka, Wednesday, Emerged Winner of the First Obafemi Awolowo Prize for Leadership.” Vanguard, 19 Dec. 2012, <a href="https://www.vanguardngr.com/2012/12/soyinka-wins-awolowo-prize-for-leadership/">https://www.vanguardngr.com/2012/12/soyinka-wins-awolowo-prize-for-leadership/</a>.</p>

<p>Maduakor, Obi. “Soyinka: Blackout, Blowout, and Beyond— Satirical Revue Sketches (Review).” Research in African Literatures, vol. 38, 2007, p. 225, https://muse.jhu.edu/article/221268.</p>

<p>Martel, Jenny S. “Beyond Aesthetics: Use, Abuse, and Dissonance in African Traditions by Wole Soyinka (Review).” African Arts, vol. 54, 2021, p. 93, https://muse.jhu.edu/article/802472.</p>

<p>Maximiliano E. Korstanje. “Book Review of ‘The Climate of Fear: The Quest for Dignity in a Dehumaized World’ by Wole Soyinka.” Sociation Today, vol. 9, no. 1, 2011, <a href="http://www.ncsociology.org/sociationtoday/v91/fear.htm">http://www.ncsociology.org/sociationtoday/v91/fear.htm</a>.</p>

<p>Munshi, Neil. Wole Soyinka on Nigeria: ‘It’s like Something Has Broken in Society’ | Financial Times | Ghostarchive. 21 Sept. 2021, https://ghostarchive.org/archive/5tDzv.</p>

<p>Nast, Cond&eacute;. “Briefly Noted.” The New Yorker, 20 Sept. 2021, https://www.newyorker.com/magazine/2021/09/27/chronicles-from-the-land-of-the-happiest-people-on-earth-savage-tongues-three-girls-from-bronzeville-and-home-land-security.</p>

<p>Newell, Stephanie. “Book Review: Wole Soyinka: Politics, Poetics, and Postcolonialism.” Africa: Journal of the International African Institute, vol. 74, 2004, p. 693, https://www.jstor.org/stable/3556856.</p>

<p>“Nigerian Nobelist Charged With Treason.” Washington Post, https://www.washingtonpost.com/archive/politics/1997/03/13/nigerian-nobelist-charged-with-treason/8ec258ba-0f45-41dc-910d-494556e24827/. Accessed 24 Dec. 2022.</p>

<p>Nigeria’s Renowned Nobel Laureate, Wole Soyinka - LifeAndTimes News. 30 June 2017, https://lifeandtimesnews.com/nigerias-renowned-nobel-laureate-wole-soyinka/.</p>

<p>“Nobel Laureate Prize Winner, Prof Wole Soyinka, Joins UJ.” University of Johannesburg, 2017, https://www.uj.ac.za/news/nobel-laureate-prize-winner-prof-wole-soyinka-joins-uj/.</p>

<p>Odom, Glenn A. “‘The End of Nigerian History’: Wole Soyinka and Yor&ugrave;b&aacute; Historiography.” Comparative Drama, vol. 42, 2008, p. 205, https://muse.jhu.edu/journals/comparative_drama/v042/42.2.odom.html.</p>

<p>Ogede, Ode S. “Book Review: The Poetry of Wole Soyinka.” Research in African Literatures, vol. 33, 2002, p. 228, <a href="https://www.jstor.org/stable/3820710">https://www.jstor.org/stable/3820710</a>.</p>

<p>———. “The Poetry of Wole Soyinka (Review).” Research in African Literatures, vol. 33, no. 3, Aug. 2002, pp. 228–31, <a href="https://doi.org/10.1353/ral.2002.0083">https://doi.org/10.1353/ral.2002.0083</a>.</p>

<p>Ojaide, Tanure. “Book Review: Who’s Afraid of Wole Soyinka? Essays on Censorship.” World Literature Today, vol. 66, 1992, p. 568, <a href="https://www.jstor.org/stable/40148556">https://www.jstor.org/stable/40148556</a>.</p>

<p>———. “Book Review: Wole Soyinka: An Appraisal.” World Literature Today, vol. 69, 1995, p. 420, <a href="https://www.jstor.org/stable/40151329">https://www.jstor.org/stable/40151329</a>.</p>

<p>———. “Wole Soyinka: A Quest for Renewal (Review).” Research in African Literatures, vol. 31, no. 1, 2000, pp. 179–80, <a href="https://doi.org/10.1353/ral.2000.0028">https://doi.org/10.1353/ral.2000.0028</a>.</p>

<p>Oke, Obinna. Opinion: Prof. Wole Soyinka Is ‘Dead.’ 12 Aug. 2017, https://www.gbaramatuvoicenews.com/opinion-prof-wole-soyinka-is-dead/.</p>

<p>Okri, Ben. “A Celebration of Wole Soyinka.” Literary Review, 1986, https://literaryreview.co.uk/a-celebration-of-wole-soyinka.</p>

<p>Onikoyi, Babatunde. “Negritude: A Dialogue between Senghor and Soyinka by Manthia Diawara (Review).” African Studies Review, vol. 60, 2017, p. 288, <a href="https://muse.jhu.edu/article/668493">https://muse.jhu.edu/article/668493</a>.</p>

<p>“Opening a Window on a Literary Giant: On Writing Wole Soyinka: Literature, Activism, and African Transformation.” LSE Review of Books, 1 Oct. 2021, https://blogs.lse.ac.uk/lsereviewofbooks/2021/10/01/opening-a-window-on-a-literary-giant-on-writing-wole-soyinka-literature-activism-and-african-transformation/.</p>

<p>Osakwe, Mabel I. “Wole Soyinka’s Poetry as Bilingual’s Creativity.” World Englishes, vol. 18, no. 1, 1999, pp. 63–77, https://doi.org/10.1111/1467-971X.00122.</p>

<p>Oyebade, Wole, and Charles Coffie Gyamfi. “Nigeria: My Battle With Prostate Cancer - Wole Soyinka.” AllAfrica, 25 Nov. 2014, https://allafrica.com/stories/201411261267.html.</p>

<p>Prakash, T. V. “Book Review: Critical Perspectives on Wole Soyinka.” Research in African Literatures, vol. 14, 1983, p. 102, <a href="https://www.jstor.org/stable/3818754">https://www.jstor.org/stable/3818754</a>.</p>

<p>Priebe, Richard K. “Book Review: Wole Soyinka: An Appraisal.” Research in African Literatures, vol. 27, 1996, p. 200, https://www.jstor.org/stable/3820175.</p>

<p>Quayson, Ato. “Book Review: Wole Soyinka.” Research in African Literatures, vol. 36, 2005, p. 139, <a href="https://www.jstor.org/stable/30131150">https://www.jstor.org/stable/30131150</a>.</p>

<p>———. “Wole Soyinka (Review).” Research in African Literatures, vol. 36, no. 2, 2005, pp. 139–41, https://doi.org/10.1353/ral.2005.0132.</p>

<p>“Review: Wole Soyinka Writes a Crime Thriller and Political Satire.” The Indian Express, 5 Oct. 2021, https://indianexpress.com/article/books-and-literature/review-wole-soyinka-writes-a-crime-thriller-and-political-satire-7552762/.</p>

<p>Riggio, Milla Cozart. “Wole Soyinka: Politics, Poetics, and Postcolonialism (Review).” TDR: The Drama Review, vol. 50, no. 2, June 2006, pp. 170–71, <a href="https://muse.jhu.edu/article/199267">https://muse.jhu.edu/article/199267</a>.</p>

<p>Roberts, James. “Nobel Winner Charged with Treason.” The Independent, 13 Mar. 1997, https://www.independent.co.uk/news/nobel-winner-charged-with-treason-1272509.html.</p>

<p>Rohmer, Martin. “Book Review: Wole Soyinka Revisited.” Research in African Literatures, vol. 25, 1994, p. 108, https://www.jstor.org/stable/3820042.</p>

<p>Saili, Ganesh. “Book Review | Wole Soyinka’s Dark Narrative of Nigeria.” The New Indian Express, Nov. 2021, <a href="https://www.newindianexpress.com/lifestyle/books/2021/nov/28/book-review-wole-soyinkas-dark-narrative-of-nigeria-2388170.html">https://www.newindianexpress.com/lifestyle/books/2021/nov/28/book-review-wole-soyinkas-dark-narrative-of-nigeria-2388170.html</a>.</p>

<p>Schmidt, Nancy J. “Book Review: Wole Soyinka Revisited.” The International Journal of African Historical Studies, vol. 27, 1994, p. 216, <a href="https://www.jstor.org/stable/221012">https://www.jstor.org/stable/221012</a>.</p>

<p>Slemon, Stephen. “Soyinka and the Canon’s Mouth.” Modern Drama, vol. 45, no. 3, Sept. 2002, pp. 338–48, https://doi.org/10.3138/md.45.3.338.</p>

<p>“Soyinka Family&nbsp;Announces Burial Rites for&nbsp;Iyetade Soyinka | Sahara Reporters.” Sahara Reporters, 3 Jan. 2014, https://saharareporters.com/2014/01/03/soyinka-family%C2%A0announces-burial-rites-for%C2%A0iyetade-soyinka.</p>

<p>Suberu, Rotimi T. “Book Review: The Politics of Wole Soyinka.” African Affairs, vol. 94, 1995, p. 424, https://www.jstor.org/stable/723412.</p>

<p>Talajooy, Saeed. “Intellectuals as Sacrificial Heroes:” Comparative Literature Studies, vol. 52, no. 2, July 2015, pp. 379–408, <a href="https://doi.org/10.5325/complitstudies.52.2.0379">https://doi.org/10.5325/complitstudies.52.2.0379</a>.</p>

<p>Trela, Bailey. “Beyond Aesthetics – Wole Soyinka.” Full Stop, 2020, http://www.full-stop.net/2020/01/24/reviews/bailey-trela/beyond-aesthetics-wole-soyinka/.</p>

<p>Ugochukwu, Fran&ccedil;oise. “Ogun’s Children: The Literature and Politics of Wole Soyinka Since the Nobel (Review).” Africa: The Journal of the International African Institute, vol. 77, no. 2, Apr. 2007, pp. 286–87, https://doi.org/10.1353/afr.2007.0038.</p>

<p>Ugwu, Francis. “I Don’t Need Religion - Wole Soyinka.” Daily Post Nigeria, 21 Nov. 2022, <a href="https://dailypost.ng/2022/11/21/i-dont-need-religion-wole-soyinka/">https://dailypost.ng/2022/11/21/i-dont-need-religion-wole-soyinka/</a>.</p>

<p>“UI Renames Its Arts Theatre ‘Wole Soyinka Theatre’ | Sahara Reporters.” Sahara Reporters, 2018, https://saharareporters.com/2018/07/30/ui-renames-its-arts-theatre-wole-soyinka-theatre.</p>

<p>Uzoatu, Uzor Maxim. The Essential Soyinka; African Writing Online [Many Literatures, One Voice], Issue No. 7. https://www.african-writing.com/seven/uzoruzoatu.htm. Accessed 24 Dec. 2022.</p>

<p>Whitehead, Anne. “Journeying Through Hell: Wole Soyinka, Trauma, and Postcolonial Nigeria.” Studies in the Novel, vol. 40, 2008, p. 13, https://www.jstor.org/stable/29533857.</p>

<p>Wilson, Joseph. “Soyinka, Wole – Postcolonial Studies.” Scholar Blogs, 1997, https://scholarblogs.emory.edu/postcolonialstudies/2014/06/12/soyinka-wole/.</p>

<p>Wright, Derek. “Book Review: Wole Soyinka: An Introduction to His Writing.” Research in African Literatures, vol. 21, 1990, p. 109, <a href="https://www.jstor.org/stable/3819284">https://www.jstor.org/stable/3819284</a>.</p>

<p>“Wole Soyinka.” Transition, vol. 2, 1965, p. 54, https://www.jstor.org/stable/2934613. JSTOR,.</p>

<p>“Wole Soyinka on Nigeria: ‘It’s like Something Has Broken in Society.’” Financial Times, 22 Sept. 2021.</p>

<p>“Wole Soyinka, the First Black Writer to Win the Nobel Prize in Literature.” AALBC.Com, the African American Literature Book Club, https://aalbc.com/authors/author.php?author_id=Wole+Soyinka. Accessed 27 Dec. 2022.</p>

<p>“Wole Soyinka Wins International Humanist Award.” Humanists UK, Aug. 2014, https://humanists.uk/2014/08/10/wole-soyinka-wins-international-humanist-award/.</p>

<p>“Wole Soyinka, Writer | Townsend Center for the Humanities.” Townsend Centre for Humanities, 2010, https://townsendcenter.berkeley.edu/events/wole-soyinka-writer.</p>

<p>“Wole Soyinka’s Film Banned.” Index on Censorship, vol. 14, no. 3, 1985, pp. 41–41, https://doi.org/10.1080/03064228508533902.</p>

<p>Y&uacute;dice, George. “Running in the Family, and: Family Installments: Memories of Growing up Hispanic, and: Hunger of Memory: The Education of Richard Rodriguez, and: Ak&eacute;: The Years of Childhood (Review).” Minnesota Review, vol. 22, no. 1, 1984, pp. 148–52, https://muse.jhu.edu/article/446432/summary.</p>

<h3 id="WoleTOC14">Thesis and Dissertations</h3>

<p>Bakare, Babatunde Allen. A Critical Inquiry into the Evolution of Socio-Political Performances in Traditional Nigeria Yoruba Alarinjo and Contemporary Itinerant Theatre through a Review of Selected Works of Hubert Ogunde, Wole Soyinka, Ola Rotimi and Femi Osofisan. Stellenbosch : Stellenbosch University, Dec. 2018, https://scholar.sun.ac.za:443/handle/10019.1/104920.</p>

<p>Bolaji, Victor. A Stylistic Analysis of Some Selected Poems of Wole Soyinka. 5 Aug. 2022, <a href="https://www.schoolthesis.com/a-stylistic-analysis-of-some-selected-poems-of-wole-soyinka/">https://www.schoolthesis.com/a-stylistic-analysis-of-some-selected-poems-of-wole-soyinka/</a>.</p>

<p>Booth, James. “Myth, Metaphor, and Syntax in Soyinka’s Poetry.” Research in African Literatures, vol. 17, no. 1, 1986, pp. 53–72, https://www.jstor.org/stable/3819424.</p>

<p>Brodie, Clara Sophia. “The Story We Had To Tell”: How Chinua Achebe and Wole Soyinka Reclaimed Nigerian Identity Through Their Writing. Wellesley College, 2013, http://repository.wellesley.edu/thesiscollection/89/.</p>

<p>David, Mary T. The Quester in Disguise in Soyinka’s Works: A Study of the Recurring Theme of Regeneration and Healing. University of Ife, 1985.</p>

<p>Esubiyi, Towheyon Akanbi. Towards a Poetics of Nigerian Fiction. University of Iowa, 1987.</p>

<p>Gabriel, Kay. Euripides, Moderniste: Tragic Adaptation and Avant-Garde Classicism in the Twentieth Century. Princeton University, 2020, https://dataspace.princeton.edu/handle/88435/dsp01gf06g560f.</p>

<p>Ganesh, B. The Politics of the Cipher : Hip-Hop, Antiphony, and Multiculturalism. UCL (University College London), 2017, https://discovery.ucl.ac.uk/id/eprint/1549862/.</p>

<p>Gottschalk, Bradford T. Wole Soyinka and Response Theory: Encountering Texts from a Different Culture. University of Wisconsin--Madison, 1991, http://catalog.hathitrust.org/api/volumes/oclc/23260119.html.</p>

<p>Ifowodo, Ogagaoghene. Re-Constructing Identities: History, Trauma And Healing In The Post-Colonial Narrative. Cornell University, 2010.</p>

<p>Iji, Edde M. Brecht, Artaud, Soyinka: A Twentieth Century Triangle of Theatrical Radicalism. University of Wisconsin--Madison, 1981.</p>

<p>Kauppila, Jesse Boardman. Robert Davidson and Wole Soyinka: Aboriginal Experience in “Third Spaces.” 2007.</p>

<p>Khan, Amara. The Use of Masks in Indian and Nigerian Theatre : A Comparative Study of Girish Karnad and Wole Soyinka. University of Leeds, 2015, <a href="https://etheses.whiterose.ac.uk/13435/">https://etheses.whiterose.ac.uk/13435/</a>.</p>

<p>Lakanse, Obakanse, and Anthony V. William. “The Poet as a Visionary: a Reading of Wole Soyinka’s Animistic Spells. <a href="https://citeseerx.ist.psu.edu/document?repid=rep1&amp;type=pdf&amp;doi=2f7d8f4ce3c0990a22f0225d1b8544a8ba20ad9c">https://citeseerx.ist.psu.edu/document?repid=rep1&amp;type=pdf&amp;doi=2f7d8f4ce3c0990a22f0225d1b8544a8ba20ad9c</a></p>

<p>Larsen, Stephan. A Writer and His Gods: A Study of the Importance of Yoruba Myths and Religious Ideas to the Writing of Wole Soyinka. University of Stockholm, Department of the History of Literature, 1983.</p>

<p>Ogungbesan, Kolawole. “Whole Soyinka and the Poetry of Isolation.” Canadian Journal of African Studies / Revue Canadienne Des &Eacute;tudes Africaines, vol. 11, no. 2, Jan. 1977, pp. 295–312, https://doi.org/10.1080/00083968.1977.10803776.</p>

<p>Ojaide, Tanure. The Poet’s Persona: Voice and Viewpoint in the Poetry of Wole Soyinka. Syracuse University, 1981.</p>

<p>Okwu, Edward Chukwuemeka. The Artist-Figure in Modern West African Poetry: An Approach to the Poetry of Awoonor, Okigbo and Soyinka. University of California, 1978.</p>

<p>Olaiya, Kolawole Pius. The Poetics and Politics of Wole Soyinka and Athol Fugard. University of Toronto, 2007, <a href="https://tspace.library.utoronto.ca/handle/1807/111480">https://tspace.library.utoronto.ca/handle/1807/111480</a>.</p>

<p>Picardie, Michael. Towards a Philosophy of Theatre Inspired by Aristotle’s Poetics and Post-Structuralist Aesthetics in Relation to Three South African Plays. University of South Wales, 2014, https://pure.southwales.ac.uk/en/studentthesis/towards-a-philosophy-of-theatre-inspired-by-aristotles-poetics-and-poststructuralist-aesthetics-in-relation-to-three-south-african-plays(031e80c8-04cc-4060-86df-770d67477b26).html.</p>

<p>Purisch, Christine Winter. Wole Soyinka, a Critical Analysis of His Poetry. Duquesne University, 1972.</p>

<p>Quayson, Laud Ato. Tradition(s) and the Individual Talent : The Development of a Nigerian Tradition of Writing (with Special Reference to the Works of Rev. Samuel Johnson, Amos Tutuola, Wole Soyinka and Ben Okri). University of Cambridge, 1994, <a href="https://ethos.bl.uk/OrderDetails.do?uin=uk.bl.ethos.261547">https://ethos.bl.uk/OrderDetails.do?uin=uk.bl.ethos.261547</a>.</p>

<p>Radi, Mohamed. “Light, Color and Myth in Wole Soyinka’s Idanre and Other Poems.” Nile Valley Journal of Human, Social and Educational Studies and Research, vol. 24, Oct. 2019, pp. 39–50, https://doi.org/10.21608/jwadi.2019.85147.</p>

<p>Shalaby, Mahmoud Moustafa. Politics and Poetics in the Drama of Salāḥ ’Abd al-Sabūr and Wole Soyinka. University of Edinburgh, 2013, http://hdl.handle.net/1842/7788.</p>

<p>Syal, P. A Stylistic Analysis of Idanre by Wole Soyinka and Relationship by Jayanta Mahapatra, in the Context of Non-Native Literature in English. University of Lancaster, 1986, https://ethos.bl.uk/OrderDetails.do?uin=uk.bl.ethos.379734.</p>

<p>Topper, Ryan. Ancestral Trauma, Animist Poetics : African Literature’s Regenerative Death Drive. University of Leeds, 2017, <a href="https://etheses.whiterose.ac.uk/19273/">https://etheses.whiterose.ac.uk/19273/</a>.</p>

<p>Warren, Nagueyalti. “Unto these hills: Soyinka’sspiritual journey in Idanre.” Journal of Pan African Studies 8.5: pp 81-92, 2015.</p>

<p>Yakubu, Udu. “Reading Soyinka’sPoetry: an Archetypal–Semiotic Approach.” G&egrave;g&eacute;: Ogun Studies in English 4.1, 2004.</p>

<h3 id="WoleTOC15">Secondary Sources in English Excluding General Overviews and Book Reviews</h3>

<p>Abiyamo. WOLE SOYINKA, Nigeria’s First Nobel Laureate. 19 Dec. 2013, https://web.archive.org/web/20131219113420/http://www.abiyamo.com/wole-soyinka-nigerias-first-nobel-laureate/7/.</p>

<p>Abou-bakr, Randa. “The Political Prisoner as Antihero: The Prison Poetry of Wole Soyinka and ’Ahmad Fu’ad Nigm.” Comparative Literature Studies, vol. 46, no. 2, June 2009, pp. 261–86, https://doi.org/10.1353/cls.0.0080.</p>

<p>Adeniran, Tunde. The Politics of Wole Soyinka. Bookcraft, 2014.</p>

<p>Adu-Gyamfi, Y. “Orality in Writing: Its Cultural and Political Significance in Wole Soyinka’s Ogun Abibiman.” RESEARCH IN AFRICAN LITERATURES, vol. 33, 2002, p. 104.</p>

<p>Afolayan, Bosede Funke. “The Court Poet/Praise Singer in Wole Soyinka’s Death and the King’s Horseman and Ola Rotimi’s Ovonramwen Nogbaisi: A Critical Appraisal.” Afrika Focus, vol. 32, no. 1, Sept. 2019, https://doi.org/10.21825/af.v32i1.11788.</p>

<p>Agyeman-Duah, Ivor, and Lucy Newlyn, editors. May Their Shadows Never Shrink: Wole Soyinka and the Oxford Professorship of Poetry. Ayebia Clarke Publishing Limited, 2016.</p>

<p>Alabi, Oluwafemi Sunday. The Poetics of Abuse in Wole Soyinka’s The Trial of Brother Jero. 1 Nov. 2020, https://papers.ssrn.com/abstract=3824498.</p>

<p>Asalache, Khadambi. The Making of a Poet: Wole Soyinka. 1968, https://www.jstor.org/stable/24348618.</p>

<p>Bamisaye, R. B. Images &amp; Symbols in the Poems of Wole Soyinka &amp; Christopher Okigbo. Adlek Prints, 2000.</p>

<p>Berkman, Karin. “Literary Celebrity and Political Activism: Wole Soyinka’s Nobel Prize Lecture and the Anti-Apartheid Struggle.” Critical Arts, vol. 34, no. 1, Jan. 2020, pp. 73–86, https://doi.org/10.1080/02560046.2019.1691246.</p>

<p>Bewaji, John Ayotunde Isola, and Rotimi Omosulu. Fragmented Identities of Nigeria: Sociopolitical and Economic Crises. Rowman &amp; Littlefield, 2022.</p>

<p>Boaheng, Isaac. “Formulating a Translation Model for Postcolonial African Literature Through the Study of Selected Works of Chinua Achebe, Wole Soyinka, Efua Sutherland and Ola Rotimi.” International Journal of Literature, Language and Linguistics, vol. 5, no. 1, June 2022, pp. 86–97, https://doi.org/10.52589/IJLLL-D5KNUDRU.</p>

<p>Booth, J. “Myth and Syntax in Soyinka’s Poetry.” Research in African Literatures, vol. 17, 1986, p. 53.</p>

<p>Brake, Timothy R. Vande. “Wole Soyinka’s Christian Moment, 1958–1965.” Christianity &amp; Literature, vol. 71, no. 1, May 2022, pp. 55–77, https://muse.jhu.edu/article/855441.</p>

<p>Brodie, Clara Sophia. “The Story We Had To Tell”: How Chinua Achebe and Wole Soyinka Reclaimed Nigerian Identity Through Their Writing. Wellesley College, 2013, http://repository.wellesley.edu/thesiscollection/89/.</p>

<p>Collier, Gordon, et al. Engaging with Literature of Commitment. Volume 1: Africa in the World. BRILL, 2012, https://doi.org/10.1163/9789401207843.</p>

<p>Conteh-Morgan, John, et al. “Index of Subjects, Proverbs, and Themes in the Writings of Wole Soyinka.” Canadian Journal of African Studies / Revue Canadienne Des &Eacute;tudes Africaines, vol. 24, no. 2, 1990, p. 270, https://doi.org/10.2307/485265.</p>

<p>Coutinho, Eduardo de Faria. Identities in Process: Studies in Comparative Literature. Aeroplano Editora, 2009.</p>

<p>Crehan, S. “The Spirit of Negation in the Works of Soyinka.” Research in African Literatures, vol. 21, 1990, p. 15.</p>

<p>Das, Ajay. Wole Soyinka: Politics, Poetics and Post Colonialism. Shikhar Publications, 2017.</p>

<p>Das, Sanjukta. “A Complexion Dialogue In Wole Soyinka’s A Telephone Conversation.” International Journal of Interdisciplinary Research in Arts and Humanities (IJIRAH), vol. 7, no. 2, Dec. 2022, pp. 30–31, https://doi.org/10.5281/zenodo.7496231.</p>

<p>Dasenbrock, Reed Way. “Wole Soyinka’s Nobel Prize.” World Literature Today, vol. 61, no. 1, 1987, pp. 4–9, https://www.jstor.org/stable/40142439.</p>

<p>Dauda, Bola, and Toyin Falola. Wole Soyinka: Literature, Activism, and African Transformation. Bloomsbury Academic, 2022.</p>

<p>Davis, Caroline. “Publishing Wole Soyinka.” Creating Postcolonial Literature, by Caroline Davis, Palgrave Macmillan UK, 2013, pp. 142–61, https://doi.org/10.1057/9781137328380_10.</p>

<p>Davis, Geoffrey V., and Hena Maes-Jelinek. Crisis and Creativity in the New Literatures in English. BRILL, 1990.</p>

<p>Eggan, Taylor A. “Wole Soyinka: Art, Politics, and the (African) World.” A Companion to World Literature, edited by Ken Seigneurie, 1st ed., Wiley, 2019, pp. 1–10, https://doi.org/10.1002/9781118635193.ctwl0275.</p>

<p>Emenyo̲nu, Ernest, et al. New Directions in African Literature: A Review. James Currey Publishers, 2006.</p>

<p>Emenyo̲nu, Ernest. Teaching African Literature Today. James Currey ; And of Boydell &amp; Brewer ; HEBN Publishers, 2011, http://bvbr.bib-bvb.de:8991/F?func=service&amp;doc_library=BVB01&amp;doc_number=024421981&amp;line_number=0001&amp;func_code=DB_RECORDS&amp;service_type=MEDIA.</p>

<p>Emodi, Livina. Metaphor as Conceptual Constructs of Corruption and Identity in Selected Wole Soyinka’s Poems. 24 Mar. 2022, https://doi.org/10.2139/ssrn.4065904.</p>

<p>Fioupou, Christiane. “Mpalive-Hangson Msiska, Postcolonial Identity in Wole Soyinka.” Commonwealth Essays and Studies, vol. 33, no. 1, Sept. 2010, pp. 121–22, https://doi.org/10.4000/ces.8359.</p>

<p>Gibbs, James. “The Portrait of the Artist as a Younger Traveller: A Reader’s Response to Wole Soyinka’s You Must Set Forth at Dawn.” CROSS CULTURES, vol. 148, 2012, p. 173.</p>

<p>———. and Bernth Lindfors. Research on Wole Soyinka. Africa World Press, 1993.</p>

<p>———, editor. Critical Perspectives on Wole Soyinka. First edition, Three Continents Press, 1980.</p>

<p>———. Wole Soyinka. Macmillan, 1986.</p>

<p>———. Wole Soyinka: A Bibliography of Primary and Secondary Sources. Greenwood Press, 1986, https://bac-lac.on.worldcat.org/oclc/465504045.</p>

<p>Idegu, Emmy Unuja. “Beyond the Yoruba Cosmology: A Contestation of the Africanness of Wole Soyinka’s Submission in Myth, Literature and the African World.” African Performance Review, vol. 1, no. 2 &amp; 3, Sept. 2007, pp. 99–113, https://doi.org/10.5281/zenodo.5082720.</p>

<p>“Ideas &amp; Trends; Elie Wiesel And Wole Soyinka Win Nobel.” The New York Times, 19 Oct. 1986, https://www.nytimes.com/1986/10/19/weekinreview/ideas-trends-elie-wiesel-and-wole-soyinka-win-nobels.html.</p>

<p>Jones, Eldred D. The Writing of Wole Soyinka. 3rd ed, J. Currey ; Heinemann, 1988.</p>

<p>Joseph, Celucien L. “‘Shipwreck of Faith’: The Religious Vision and Ideas of Wole Soyinka.” Toronto Journal of Theology, vol. 32, no. 1, 2016, pp. 51–69, https://doi.org/10.3138/tjt.3845.</p>

<p>Joseph, Celucien L. Radical Humanism and Generous Tolerance: Soyinka on Religion and Human Solidarity. Hamilton Books (R and L) : Hamilton Books, 2016, https://search.ebscohost.com/login.aspx?direct=true&amp;scope=site&amp;db=nlebk&amp;db=nlabk&amp;AN=1413692.</p>

<p>Joseph, Walunywa. “Post-Colonial African Theory and Practice: Wole Soyinka’s Anarchism.” ProQuest, 1997, https://www.proquest.com/openview/84211e260b64212d7c42aa62d8aa9af0/1?pq-origsite=gscholar&amp;cbl=18750&amp;diss=y.</p>

<p>Journeying Through Hell: Wole Soyinka, Trauma, and Postcolonial Nigeria. University of North Texas, 2008, http://muse.jhu.edu/content/oai/journals/studies_in_the_novel/v040/40.1-2.whitehead.html.</p>

<p>July, Robert W. “The Artist’s Credo: The Political Philosophy of Wole Soyinka.” The Journal of Modern African Studies, vol. 19, no. 3, 1981, pp. 477–98, https://doi.org/10.1017/S0022278X0001497X.</p>

<p>Kalu, Anthonia C., editor. The Rienner Anthology of African Literature. Lynne Rienner Publishers, 2007.</p>

<p>Larsen, Stephan. A Writer and His Gods: A Study of the Importance of Yoruba Myths and Religious Ideas to the Writing of Wole Soyinka. University of Stockholm, Dept. of the History of Literature, 1983.</p>

<p>Lee, Michelle. Poetry Criticism. Volume 118. Gale, 2011, http://go.galegroup.com/ps/i.do?id=GALE%7C4LRJ&amp;v=2.1&amp;it=aboutJournal&amp;p=LitRC&amp;u=uvictoria.</p>

<p>Lindfors, Bernth, and Bala Kothandaraman. The Writer as Myth Maker: South Asian Perspectives on Wole Soyinka. Africa World, 2005.</p>

<p>———, and Geoffrey V. Davis. African Literatures and Beyond: A Florilegium. BRILL, 2013, https://doi.org/10.1163/9789401209892.</p>

<p>———. Early Soyinka. Africa World Press, 2008, http://bvbr.bib-bvb.de:8991/F?func=service&amp;doc_library=BVB01&amp;doc_number=016789771&amp;line_number=0001&amp;func_code=DB_RECORDS&amp;service_type=MEDIA.</p>

<p>Maduakor, Obiajuru. “Soyinka as a Literary Critic.” Research in African Literatures, vol. 17, no. 1, 1986, pp. 1–38, https://www.jstor.org/stable/3819421.</p>

<p>Mahal, Ramandeep. Decolonization and Hybridity: A Study of the Works of Wole Soyinka. 2022, p. 667794 Bytes, https://doi.org/10.6084/M9.FIGSHARE.19316234.V1.</p>

<p>Maja‐Pearce, Adewale. “Punching Holes inside People: Words of Wole Soyinka.” Third World Quarterly, vol. 9, no. 3, July 1987, pp. 986–92, <a href="https://doi.org/10.1080/01436598708420010">https://doi.org/10.1080/01436598708420010</a>.</p>

<p>———. Whoʼs Afraid of Wole Soyinka?: Essays on Censorship. Heinemann International ; Heinemann Educational Books, 1991.</p>

<p>McCabe, Douglas. “Histories of Errancy: Oral Yoruba Abiku Texts and Soyinka’s ‘Abiku.’” Research in African Literatures, vol. 33, no. 1, Feb. 2002, pp. 45–74, https://doi.org/10.1353/ral.2002.0027.</p>

<p>Moji A Olateju. Eliciting Acts as Cultural Reflectors in Wole Soyinka’s Childe Internationale. 2016, https://paperity.org/p/84248398.</p>

<p>Moolla, F. Fiona. “The Body Unbound: Ritual Scarification and Autobiographical Forms in Wole Soyinka’s Ak&eacute;: The Years of Childhood.” The Journal of Commonwealth Literature, vol. 47, no. 1, 2012, pp. 27–46, https://doi.org/10.1177/0021989411432518.</p>

<p>Moore, Gerald. Wole Soyinka. 2nd ed, Evans Bros., 1978.</p>

<p>Msiska, M. H. “Cultural Studies, Power, and the Idea of the Hegemonic in Wole Soyinka’s Works.” CROSS CULTURES, vol. 168, 2013, p. 1.</p>

<p>Msiska, Mpalive-Hangson. Wole Soyinka. Northcote House, in association with the British Council, 1998.</p>

<p>Neogy, Rajat. “On Being an African Intellectual.” Transition, no. 123, 2017, p. 44, https://doi.org/10.2979/transition.123.1.05.</p>

<p>Niyi Akingbe. Writing Violence: Problematizing Nationhood in Wole Soyinka’s A Shuttle in the Crypt. 2017, https://paperity.org/p/247849164.</p>

<p>Nwabueze, Emeka, editor. Wole Soyinka and the Poetics of Commitment. CNC Publications, 2018.</p>

<p>Ogunba, Oyin. Soyinka: A Collection of Critical Essays. Syndicated Communications, 1994.</p>

<p>———. The Movement of Transition: A Study of the Plays of Wole Soyinka. Ibadan University Press, 1975.</p>

<p>Ogundele, Wole. Criticism and the Tradition of Political Poetry in Africa: The Example of Wole Soyinka. 1991.</p>

<p>Ogunyemi, Yemi D. The Aesthetic and Moral Art of Wole Soyinka. Academica Press, 2017.</p>

<p>———. The Literary Political Philosophy of Wole Soyinka. PublishAmerica, 2009.</p>

<p>Ojaide, Tanure. The Poetry of Wole Soyinka. Malthouse Press, 1994.</p>

<p>Okome, Onookome. Ogun’s Children: The Literature and Politics of Wole Soyinka since the Nobel Prize. Africa World Press, 2004.</p>

<p>Okoye, Chike. “Speculative Vertices, Ogun Mythopoesis, and (the) Fourth/Further Stage(s).” Tydskrif Vir Letterkunde, Jan. 2021, https://doi.org/10.17159/tl.v58i2.8965.</p>

<p>Okoye-Ugwu, Stella. “Is It Obscurity or the Polemics of Symbolism?: A Study of Wole Soyinka’s Poetry.” Asian Journal of Language, Literature and Culture Studies, Sept. 2018, pp. 1–7, https://journalajl2c.com/index.php/AJL2C/article/view/2.</p>

<p>Oladejo, Tolulope Odunayo, and Alfred Fatuase. A Critical Discourse Analysis of Wole Soyinka’s ‘Telephone Conversation.’ 12 Jan. 2022, https://doi.org/10.2139/ssrn.4007484.</p>

<p>Oni, Duro, and Bisi Adigun, editors. The Wole Soyinka Impulse: Essays on Wole Soyinka. Bookcraft, 2019.</p>

<p>Osakwe, Mabel I. “Wole Soyinka’s Poetry as Bilingual’s Creativity.” World Englishes, vol. 18, no. 1, 0 1999, pp. 63–77.</p>

<p>Page, Malcolm. Wole Soyinka: Bibliography, Biography, Playography. TQ Publications, 1979.</p>

<p>Palmer, Eustace Taiwo. “Wole Soyinka’s Season of Anomy.” World Literature Written in English, vol. 17, no. 2, Nov. 1978, pp. 435–49, https://doi.org/10.1080/17449857808588546.</p>

<p>Quayson, Ato. Strategic Transformations in Nigerian Writing: Orality &amp; History in the Work of Rev. Samuel Johnson, Amos Tutuola, Wole Soyinka &amp; Ben Okri. J. Currey ; Indiana University Press, 1997.</p>

<p>———. Tragedy and Postcolonial Literature. Cambridge University Press, 2021.</p>

<p>Soyinka, Wole, and Judith Greenwood. Soyinka: Blackout, Blowout &amp; beyond : Wole Soyinka’s Satirical Revue Sketches. Edited by Martin Banham and Chuck Mike, James Currey ; Africa World Press, 2005, http://bvbr.bib-bvb.de:8991/F?func=service&amp;doc_library=BVB01&amp;local_base=BVB01&amp;doc_number=024640298&amp;line_number=0001&amp;func_code=DB_RECORDS&amp;service_type=MEDIA.</p>

<p>Soyinka, Wole, and Simon Gikandi. Death and the King’s Horseman: Authoritative Text : Backgrounds and Contexts, Criticism. 1st ed, Norton, 2003, http://catdir.loc.gov/catdir/toc/fy035/2002026539.html.</p>

<p>Stratton, Florence. “Wole Soyinka: A Writer’s Social Vision.” Black American Literature Forum, vol. 22, 1988, p. 531, https://www.jstor.org/stable/2904314.</p>

<p>Suell, David Thomas. “Leave the Dead Some Room to Dance: Postcolonial Founding and the Problem of Inheritance in Wole Soyinka’s A Dance of the Forests.” Political Theory, vol. 48, no. 3, 2020, pp. 330–56, https://doi.org/10.1177/0090591719878403.</p>

<p>Ugwuanyi, Lo. “I Am Therefore You Are: An Existentialist Perspective on Wole Soyinka’s Writings.” UJAH: Unizik Journal of Arts and Humanities, vol. 12, no. 2, Dec. 2011, pp. 65–91, https://doi.org/10.4314/ujah.v12i2.3.</p>

<p>Wright, Derek. “Soyinka Past and Present.” The Journal of Modern African Studies, vol. 30, p. 715, https://www.jstor.org/stable/161285. Accessed 29 Dec. 2022.</p>

<p>———. Wole Soyinka: Life, Work, and Criticism. York, 1996.</p>

<p>———. Wole Soyinka Revisited. Twayne ; Maxwell Macmillan Canada ; Maxwell Macmillan International, 1993, http://www.gbv.de/dms/bowker/toc/9780805782790.pdf.</p>

<h3 id="WoleTOC16">Secondary Sources, Media</h3>

<p>Abrahams, Cecil Anthony, and Horace I. (Horace Ishmael) Goddard. A Common Tongue. AFO Enterprises, 1986.</p>

<p>Al Jazeera. ———. Talk to Al Jazeera - Wole Soyinka: “Islam Is Not in Danger.” 2014, https://www.youtube.com/watch?v=e--njgcStNc.</p>

<p>AP Archive. JERUSALEM: WRITER WOLE SOYINKA REACTS TO DEATH OF SANI ABACHA. 2015, https://www.youtube.com/watch?v=Tu3R2nKxvUc.</p>

<p>Arise News. One on One With Prof Wole Soyinka - Part One. 2021, https://www.youtube.com/watch?v=3XIHL0wriD8.</p>

<p>———. One on One With Prof Wole Soyinka - Part Two. 2021, https://www.youtube.com/watch?v=TjO5OAcNXW0.</p>

<p>Beier, Ulli, editor. Wole Soyinka on “Identity.” IWALEWA-Haus, University of Bayreuth, 1992.</p>

<p>CGTN Africa. TALK AFRICA: A Conversation with Wole Soyinka. 2017, https://www.youtube.com/watch?v=OFKYJBAnjV4.</p>

<p>Channels Television. My Journey So Far As A Nobel Laureate - Wole Soyinka. 2020, https://www.youtube.com/watch?v=QzeuXM0u7Uk.</p>

<p>———. Security Challenges: Prof Soyinka Says Selective History Partly Responsible. 2022, https://www.youtube.com/watch?v=gYddRyHeO-4.</p>

<p>CNBCAfrica. Professor Wole Soyinka - Nobel Laureate. 2010, https://www.youtube.com/watch?v=rQ_uRef2ZT0.</p>

<p>Diawara, Manthia. Negritude: A Dialogue between Wole Soyinka and Senghor. Third World Newsreel, 2015.</p>

<p>Egbunike, Louisa, and Wole Soyinka. Wole Soyinka’s Return to Literature. Intelligence Squared, 23 Dec. 2021, https://www.youtube.com/watch?v=I6esqjvtusc.</p>

<p>eNCA. Wole Soyinka Renounces US Green Card. 2016, https://www.youtube.com/watch?v=URrkOtYLO3g.</p>

<p>Films on Demand. Wole Soyinka: Child of the Forest. Films Media Group ; McIntyre Media [distributor], 2009, http://digital.films.com/PortalPlaylists.aspx?aid=8601&amp;xtid=41966.</p>

<p>Intelligence Squared. Wole Soyinka’s Return to Literature. 2021,&nbsp;</p>

<p>MO nieuwssite. Wole Soyinka on Family (V). 2016, https://www.youtube.com/watch?v=X6ZxNPS7PH4.</p>

<p>Nasta, Susheila, editor. Writing across Worlds: Contemporary Writers Talk. Routledge, 2004.</p>

<p>Okoro, Dike, editor. Futurism and the African Imagination: Literature and Other Arts. Routledge, 2022.</p>

<p>Onikoyi, Babatunde. “Negritude: A Dialogue between Senghor and Soyinka by Manthia Diawara (Review).” African Studies Review, vol. 60, no. 2, 2017, pp. 288–89.</p>

<p>REDTV. Exclusive - Wole Soyinka. 2019, https://www.youtube.com/watch?v=JYla4gX579M.</p>

<p>Stanford, Simon, and Wole Soyinka. “It Really Made Life Virtually Impossible.” Wole Soyinka on Being Awarded the 1986 Nobel Prize. 29 Sept. 2014, https://www.youtube.com/watch?v=1xqV6Ml8xUI.</p>

<p>The NexusInstitute. Nexus Conference 2018. 2019, https://www.youtube.com/watch?v=9zeYC3wxKoE.</p>

<p>TVC News Nigeria. STRAIGHTalk with Professor Wole Soyinka. 2013, https://www.youtube.com/watch?v=y8AaKGWYRGU.</p>

<p>Winkler, Alice. &lrm;What It Takes: Wole Soyinka: The Literary Lion on Apple Podcasts. https://podcasts.apple.com/us/podcast/wole-soyinka-the-literary-lion/id1025864075?i=1000455869358. Accessed 25 Dec. 2022.</p>

<p>Writers Talk: Wole Soyinka. Kanopy Streaming, 2014, http://www.kanopystreaming.com/node/59069.</p>

<h2 id="WoleTOC17">Tertiary Sources</h2>

<h3 id="WoleTOC18">Works in Honor of Soyinka</h3>

<p>Agyeman-Duah, Ivor, and Promise Ogochukwu Okekwe, editors. Crucible of the Ages: Essays in Honour of Wole Soyinka at 80. Bookcraft, 2014.</p>

<p>———, editors. Essays in Honour of Wole Soyinka at 80. Ayebia Clarke, 2014.</p>

<p>Damrosch, David. Around the World in 80 Books. Unabridged, Penguin Random House Audio, 2021, https://www.overdrive.com/search?q=C8860FC7-8A74-44A8-80D0-03969AFEBCDB.</p>

<p>David, Mary T. Wole Soyinka: A Quest for Renewal. Spectrum Books Limited, 2019.</p>

<p>Ezenwa-Ohaeto. “Before Our Very Eyes: Tribute to Wole Soyinka, Winner of the Nobel Prize for Literature.” Research in African Literatures, vol. 18, 1987, p. 558, https://www.jstor.org/stable/3819567.</p>

<p>Jeyifo, Biodun. Ogun’s Errant Warrior: Celebrating Biodun Jeyifo at 70. Edited by Femi Osofisan and Wumi Raji, Kraft Books Limited, 2018.</p>

<p>Oni, Duro, and Bisi Adigun, editors. The Soyinka Impulse: Essays on Wole Soyinka. Bookcraft, 2019.</p>

<p>Soyinka, Wole, and Dapọ. Adelugba. Before Our Very Eyes: Tribute to Wole Soyinka, Winner of the Nobel Prize for Literature. Spectrum Books, 1987.</p>

<p>Soyinka, Wole, and Biodun Jeyifo. Soyinka at 50. 1984.</p>

<p>Soyinka, Wole, and Adewale Maja-Pearce, editors. Wole Soyinka: An Appraisal. Heinemann, 1994.</p>

<p>Wole Soyinka in Ibadan: Genius in Time &amp; Space : In Commemoration of His 80th Birthday and Award of Honorary Degree of Doctor of Letters (D.Litt.), University of Ibadan, Nigeria. University of Ibadan, 2014.</p>

<h2 id="WoleTOC19">Contributors</h2>

<p>Chinua Ezenwa-Ohaeto</p>
